[2016-05-03 13:42] etimberg commented on #2444
@Ofenlord you can get this info for numerical scales (linear and logarithmic):

[code]

[2016-05-03 13:51] istiti commented on #2437
thx this looks right I have little error:

[2016-05-03 13:52] Ofenlord commented on #2444
Nice, thank u very much

[2016-05-03 13:53] etimberg commented on #2437
Sorry about that. I forgot the second parameter. I updated my previous comment.

[2016-05-03 13:56] istiti commented on #2437
this helps me, thx a lot !! best and beautful plugins

[2016-05-03 13:56] #2437 closed

[2016-05-03 14:47] #2444 closed

[2016-05-03 14:49] arnaudbesnier opened #2445 "Bower warning: invalid-meta The "name" is recommended to be lowercase, can contain digits, dots, dashes"
Just to let you know that while updating my chartjs version, I received this warning:
[code]

Here are the logs:

[code]

[2016-05-03 15:08] ehzhang commented on #2436
No problem, thanks for the great library :)

[2016-05-03 15:08] #2436 closed

[2016-05-03 16:39] timesqueezer commented on #726
I really like Chart.js and would love to have this feature, so I thought I'll give it a [try myself](https://github.com/timesqueezer/Chart.js).
As I'm new to this project maybe you guys could provide some feedback on my way of integrating the timeline into the infrastructure. As you mentioned you don't want the core lib to be too cluttered with stuff that's not used very often, so I thought about

[2016-05-03 16:59] sassomedia commented on #2298
Guess I spoke too soon... the shim worked fine locally, though once the code was minified and ran from the server, I was getting errors due to the Chart object not containing various properties, i.e. `Chart.defaults.global.elements` was missing.

@JelteMX when running your command, I'm getting following error:
[code]
anything else you did prior to that?

[2016-05-03 18:32] danday74 opened #2446 "Chart.js v2 - Charts.js v2 charts do not display inside angular2 attribute directive"
This is a problem specific to chart.js v2
This works fine in chart.js v1

NOTE that github repo ... https://github.com/valor-software/ng2-charts
is using chart.js v1

http://stackoverflow.com/questions/37011559/chart-js-v2-charts-do-not-display-inside-angular-2-but-chart-js-v1-works-perfec

Please provide angular2 support for chart.js v2
angular2 has a release candidate today! please prioritize th

[2016-05-03 18:36] adityaanandmc commented on #2431
That didn't seem to work for me!! -  It didn't display the bar graph, just the line graph
This instead did work :

[code]

[2016-05-03 19:23] sassomedia commented on #2298
Turns out that the build errors were due to copy/pasting the literal command up there that includes a `>`, which basically creates a file with "browserify" name, so that obviously won't work. Probably was meant to be a `$` to indicate a terminal command.

In any case, just running `browserify src/chart.js -s chartjs -o build.js` still gave me an error;
[code]
anything that I'm missing?

[2016-05-03 19:25] etimberg commented on #2298
@sassomedia I updated one of the dependencies to come from NPM rather than straight from git. Try wiping `node_modules` and re-running `npm install`

[2016-05-03 19:29] davetimmins commented on #2438
OK thanks

[2016-05-03 19:29] #2438 closed

[2016-05-03 19:51] ChuckNorrison commented on #2443
https://jsfiddle.net/kzco8m49/

[2016-05-03 20:10] RedHatter opened #2447 "Get data point positions?"
I am attempting to do some custom drawing to "label" the data points. In order to do this I need the x and y of each data point. How do I access this information?

	var draw = Chart.controllers.line.prototype.draw;
	Chart.controllers.line = Chart.controllers.line.extend({
		draw: function() {
			draw.call(this, arguments[0]);

			var ctx = this.chart.chart.ctx;
            var points = // how do I

[2016-05-03 20:23] etimberg commented on #2443
@ChuckNorrison are you referring to the color of the grid lines?

[2016-05-03 20:24] etimberg commented on #2447
@RedHatter on the point objects: `_model.x` and `_model.y` are probably what you need

[2016-05-03 20:31] ChuckNorrison commented on #2443
thats right, i want to change the grid color. it seems it is all the time #666 than #ff0000 i tried in the fiddle

[2016-05-03 20:39] RedHatter commented on #2447
I'm sorry if this is a stupid question, but where is the _model object? I don't see it anywhere in this.chart.

[2016-05-03 20:40] etimberg commented on #2447
@RedHatter they're on the point objects. Inside of your `$.each` they would be the 'v'

[2016-05-03 20:42] RedHatter commented on #2447
Ah. The problem is I don't know how to get the point objects. In my current code my `$.each` doesn't loop over anything.

    var points = // how do I get the data points positions?
    $.each (points, function (k, v)

[2016-05-03 20:43] etimberg commented on #2443
I updated your fiddle: https://jsfiddle.net/b5kk2bqs/1/

The suggestion to set the rectangle border was incorrect to change the grid lines. Initially I thought you had a bar chart and were looking to change the border of the individual bars.

[2016-05-03 20:49] ChuckNorrison commented on #2443
Thanks for the fix. it was dumb not to find the zeroLineColor in the docs ;)

[2016-05-03 21:11] dannysindra commented on #1818
Hi, I would like to show the canvas legend vertically. The HTML solution will not work for me because the chart + legend will be exported together as image.

Is there any way to show the legend vertically on canvas? Preferably on the left / right side of the chart (I saw that in the doc the legend can only be placed on top or bottom).

[2016-05-03 21:12] dannysindra opened #2449 "How to show legend vertically on canvas, using v2?"
Hi, I would like to show the canvas legend vertically - I am using v2. The HTML solution will not work for me because the chart + legend will be exported together as image.

Is there any way to show the legend vertically on canvas? Preferably on the left / right side of the chart (I saw that in the doc the legend can only be placed on top or bottom).

[2016-05-03 21:17] etimberg commented on #2449
@dannysindra this is not currently possible. I would happily merge a PR adding this though

Duplicate of #1838

[2016-05-03 21:17] #2449 closed

[2016-05-03 21:21] etimberg commented on #2447
oops, I missed that in your sample.

In v2.0.2 it would be `this.getDataset()._metaData`
In v2.1 (soon to be released) you will need to do:
[code]

[2016-05-03 21:35] Dayz001 commented on #78
+ 1

[2016-05-03 21:37] danday74 commented on #2446
this might be a CDN issue?

https://rawgit.com/nnnick/Chart.js/9368c6079d989527dcd2072b6f18780b53e3113c/Chart.js
the above works fine BUT

https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0-alpha/Chart.js
the above FAILS!

even though its the same version???

see https://plnkr.co/edit/dYJuHrtEfVi5sPMpAQVP?p=preview
(it breaks if you use the link for the CDN)

[2016-05-03 22:52] sassomedia commented on #2298
@etimberg thanks, that did the trick. Now running `browserify` does work and I'm able to load the chart, however it's the unminified code complete with moment.js (which I already have), so it's massive.

[2016-05-03 23:16] etimberg commented on #2298
@sassomedia I think you need to block browserify from pulling in moment. In our gulpfile we do:

[code]

[2016-05-03 23:19] etimberg commented on #2429
2.1.0 released. `lineTension` will now work

[2016-05-03 23:19] #2429 closed

[2016-05-04 00:04] zachpanz88 commented on #73
This was accomplished in #2448, so I think it is safe to close.

[2016-05-04 00:04] #73 closed

[2016-05-04 00:10] etimberg commented on #73
To add on, #2448 made it into the 2.1.0 release

[2016-05-04 00:45] etimberg commented on #2385
Initial zoom plugin is https://github.com/chartjs/Chart.Zoom.js

[2016-05-04 00:45] etimberg commented on #726
Wrote an initial zoom plugin: https://github.com/chartjs/Chart.Zoom.js

[2016-05-04 00:45] etimberg commented on #2026
Wrote an initial zoom plugin: https://github.com/chartjs/Chart.Zoom.js
Does not have range selection, but it could be added

[2016-05-04 00:52] etimberg commented on #2026
@mathiask88 as part of that I added functionality to go from pixel to scale value. `getValueForPixel(pixel)` will do the trick

[2016-05-04 01:08] sassomedia commented on #2298
@etimberg thanks for the pointer, I was able to get it working with
`browserify -s chartjs -u moment src/chart.js > build.js`
which results in the same size as the unminified gulp generated file (Chart.js), however this one's AMD compatible.

Although, trying to further minify it with either;
`browserify -s chartjs -u moment -t uglifyify src/chart.js > build.js` or
`browserify -s chartjs -u moment

[2016-05-04 01:21] dannysindra commented on #2449
Hi @etimberg , I would be glad if I can help. Do you know which file I should be looking at to implement this?

[2016-05-04 01:26] etimberg commented on #2449
@dannysindra I think all of the work would be in https://github.com/chartjs/Chart.js/blob/master/src/core/core.legend.js

Some stuff would need to go into `fit` and `draw`. May also need to change the `handleEvent` function when vertical

[2016-05-04 01:40] etimberg commented on #2407
Closing as 2.1.0 has been released

[2016-05-04 01:40] #2407 closed

[2016-05-04 01:42] etimberg commented on #2430
I don't think is currently possible. It would require an updated `Chart.element.Line.prototype.draw` method that drew different backgrounds

[2016-05-04 01:43] etimberg commented on #2432
@Minifish57 Unfortunately you will have to change them because the config has changed.

[2016-05-04 01:43] #2432 closed

[2016-05-04 01:43] etimberg commented on #2435
@mrdnote this is as designed.

[2016-05-04 01:47] etimberg commented on #2374
`lineTension` should now work with the v2.1.0 release

[2016-05-04 01:47] #2374 closed

[2016-05-04 01:48] etimberg commented on #723
Site has been updated. This is no longer an issue

[2016-05-04 01:48] #723 closed

[2016-05-04 01:55] etimberg commented on #1032
Closing since v2 has released and we have dropped IE8 support

[2016-05-04 01:55] #1032 closed

[2016-05-04 01:58] etimberg commented on #1323
I added some documentation on this at http://www.chartjs.org/docs/#getting-started-colors
I think this would do well as an external library for generating patterns. Then they can be attached to the chart config

[2016-05-04 02:04] etimberg commented on #1323
I updated the fiddle for v2: https://jsfiddle.net/b0g6d8zL/1/
I still get an error when setting hover styles. I think we can fix that easily enough.

[2016-05-04 02:12] etimberg commented on #1976
There's a talk on general strategies for implementing a11y in the canvas https://www.w3.org/Talks/2014/0510-canvas-a11y/#1

I don't know what would be expected for a chart.

[2016-05-04 02:30] fviazzi opened #2450 "Set dataset starting point on X-axis"
I need to have only one line with two different colors. I thought of using two different datasets, but they both start on the first label of X-axis.

It should be something like this:
![desired](https://cloud.githubusercontent.com/assets/9953517/15003847/930c6d3c-1186-11e6-99c7-3be661271860.jpg)
Darker dataset should start on x-axis 3rd item (05-15)

But now I'm getting something like this:
![curr

[2016-05-04 02:33] tannerlinsley commented on #2450
if you are using the category scale, you can just use `null` for the first two values of the darker dataset and the last value of the first. Null values are not drawn by default

[2016-05-04 02:36] fviazzi commented on #2450
Hey @tannerlinsley, thanks for your quick answer!

Let me try that and get some feedback for you!

[2016-05-04 04:53] joeshub commented on #2106
I wonder if I'm having a similar issue?

By default too many labels are shown which are auto-rotated. The last point on each lines gets cut off on the right edge.
<img width="765" alt="screen shot 2016-05-04 at 12 31 58 pm" src="https://cloud.githubusercontent.com/assets/764006/15005243/7180b830-11f4-11e6-9517-ccd9509bb0d2.png">
[code]

On the flip side, when setting unitStepSize to a smaller numb

[2016-05-04 06:08] model3volution commented on #2361
Agreed.  The documentation states it is an existing type via Chart.controllers.bubble, but gives no documentation on what specific customization options there are and construction.

[2016-05-04 08:20] MartinKei commented on #608
This works, allegedly: https://github.com/chartjs/Chart.js/commit/d1b411f4fc2d7b9cafa2d235c9ee008d149a22e3

This is the link from above but corrected to point to the correct github repo.

It didn't work for me, though. I have to look further in the issue why it doesn't work here with my code.

[2016-05-04 08:31] joeshub opened #2451 "scaleLineColor in 2.0"
Is there any way to achieve scaleLineColor: 'transparent' in 2.0?

[2016-05-04 08:34] joeshub opened #2452 "Left and Right yAxes with the same data"
In 2.0 is it possible to basically mirror/duplicate the left yAxes on the right side without having to duplicate the exact same dataset for each the left and the right axis?

[2016-05-04 08:53] danjford commented on #1032
Has this been fixed in 1.x?

[2016-05-04 09:04] JelteMX commented on #2298
@sassomedia good finds. I'll check it out myself. I needed an unminified version with moment.js included, because our dojo-build server combines and minifies several files. The current gulpfile does not work for me, but it would be a good idea if there would be a AMD build command included in versions to come.

[2016-05-04 10:50] etimberg commented on #2452
@joeshub thr only other way would be to set the max and min to the same thing for both axes

[2016-05-04 10:51] etimberg commented on #2451
To turn off grid lines?

[2016-05-04 13:00] labs20 commented on #2399
A "z-index" of sorts is really needed.
Same problem here
+1

[2016-05-04 14:54] mounirsamy commented on #979
i think this other solution split new line with ','
go to  Chart.Tooltip = Chart.Element.extend
in the chart.core.js or if you use single file in chart.js

replace this function with the following one

-----------------------------------------------------------------------------------------------------------------------
       Chart.Tooltip = Chart.Element.extend({
                       draw: fun

[2016-05-04 15:01] esso23 opened #2453 "Straight horizontal lines in line chart are invisible"
When I have 2 identical values with different labels:
[2016-05-03T16:59:34+02:00 , 55.6]
[2016-05-03T17:16:19+02:00 , 55.6]

the values are drawn (tooltip is displayed when I hover), but the line is invisible.

Why do I have 2 different values in a row? This chart represents temperature gathered from a remote device. When the device is unreachable (lost internet connection,...) there should be a g

[2016-05-04 15:04] zachpanz88 commented on #2451
These options might help: http://www.chartjs.org/docs/#scales

[2016-05-04 15:07] crisward opened #2454 "v1 docs"
Sorry if this has already been asked, but do you have the version 1 docs anywhere.
I have a project using chartjs v1, and need to make some minor tweaks.

Thanks.

[2016-05-04 15:14] zachpanz88 commented on #2454
https://github.com/chartjs/Chart.js/tree/v1.1.1/docs

[2016-05-04 15:17] crisward commented on #2454
Thanks for the rapid response!!!

[2016-05-04 15:18] JerryLosey opened #2455 "Radar Key Background Color"
Is it possible to change the key background color on the radar?  See my screenshot.
http://i.imgur.com/JrLoyXt.png

[2016-05-04 15:21] tannerlinsley commented on #2455
From the docs, try `showLabelBackdrop` set to `false`, or change the color to transparent
[code]

[2016-05-04 15:25] #2454 closed

[2016-05-04 15:27] etimberg commented on #2455
@tannerlinsley is correct.

[2016-05-04 15:27] #2455 closed

[2016-05-04 15:29] JerryLosey commented on #2455
@tannerlinsley, life saver.  Thanks!

[2016-05-04 15:45] SeanJM commented on #2422
Can confirm it is with the width set to '100%' and a height set to a fixed amount.

[2016-05-04 15:49] Phoenixsong opened #2456 "Wrong version number"
The Chart.js files for build 2.1.0 have the version number 2.0.2 in the comment at the top.

[2016-05-04 15:59] bayssmekanique commented on #2191
I'm having similar experiences.  The charts all load with the initial page load fine, but when I change the data, every other chart (starting with the first) does not reappear.

The first chart I can make appear by mousing over the canvas area (though it takes a few seconds after the mouse over to appear).  The other charts I can not make appear by mousing over.

If I resize the screen at all, the

[2016-05-04 16:25] etimberg commented on #2191
@bayssmekanique are you sharing the data object between charts?

[2016-05-04 16:33] bayssmekanique commented on #2191
The series and labels are shared between the charts, but the data is independent for each chart.  Should I try splitting the labels and series to see if that corrects the issue?

[2016-05-04 16:35] fviazzi commented on #2450
Just updating, using null values solve the issue.

@tannerlinsley thanks again for your help!

[2016-05-04 16:35] #2450 closed

[2016-05-04 17:01] etimberg commented on #2191
Prior to v2.1.0 the series (dataset) objects needed to be unique per chart. Starting with v2.1 they can be shared

[2016-05-04 17:14] tannerlinsley commented on #2450
My pleasure
On Wed, May 4, 2016 at 11:36 AM fviazzi <notifications@github.com> wrote:

[2016-05-04 17:14] bayssmekanique commented on #2191
I created distinct labels and series objects to test and am experiencing the same issue with entirely distinct objects.

[2016-05-04 17:22] etimberg commented on #2191
@bayssmekanique is it possible to put your stuff in a fiddle?

[2016-05-04 17:30] zachpanz88 commented on #2447
You can use the following code. Replace `n` with the dataset that you want and replace `i` with the point that you want. Both are zero-based indexes.
[code]

[2016-05-04 17:38] SylarRuby opened #2457 "Question: Different values for tooltip and label"
My chart as follows:

[code]

On the `x axis` I get my time `4th May`. How to get a different value for tooltip: `4th May 2016`? When I mouseover I get the same value of the `x axis`. On my `x axis` I wish not to display the year, only on the mouseover. Is this possible?

[2016-05-04 17:39] zachpanz88 commented on #2445
According to [bower](https://github.com/bower/spec/blob/master/json.md#name), names must be lowercase. I think they used to allow case-insensitive names, but that changed now

[2016-05-04 17:46] bayssmekanique commented on #2191
I'm not able to put it in a fiddle, but I have been able to isolate the issue.

I believe that `stop()` is being called on the chart prior to it being rendered, or more probably, it is being called late on the previous chart and in turn being called too early on the current chart.  When I comment out the line `Chart.animationService.cancelAnimation(this);` inside the `stop` function, everything re

[2016-05-04 17:55] #2447 closed

[2016-05-04 17:57] etimberg commented on #2457
@SylarRuby add this in your config

[code]

[2016-05-04 17:57] #2457 closed

[2016-05-04 18:07] RedHatter opened #2458 "Draw on axis as well as graph?"
I would like to draw on the entire canvas, but in the following code `(0, 0)` is only the top left of the graph. How do I draw on the axis as well?

	var draw = Chart.controllers.line.prototype.draw;
	Chart.controllers.line = Chart.controllers.line.extend({
		draw: function() {
			draw.call(this, arguments[0]);

			// draw line
			var ctx = this.chart.chart.ctx;
			ctx.beginPath();
			ctx.moveTo(0

[2016-05-04 18:25] mirraj2 commented on #2429
So, why do I need to pass it into the dataset instead of a global property?

[2016-05-04 18:32] etimberg commented on #2429
@mirraj2 if you want to set it for all lines:

`Chart.defaults.global.elements.line.tension = <value>;`

[2016-05-04 19:19] zprisk commented on #2384
Changing this.tooltip.update(); to this.tooltip.update(true); appears to make the custom tool tips work as I would expect! Nice job @brizido

[2016-05-04 19:55] bayssmekanique commented on #2191
I found the bug and have a solution.  At line 2153 of release v1.1.1 in the `cancelAnimation` function, the `helpers.findNextWhere()` method is returning on object, but the code is written to expect an integer representing the index within the `this.animations` array.  To solve this, I replace the inner function with a simpler looping method and splice the object out of the array once found.

Solu

[2016-05-04 21:05] tkmiller3 opened #2459 "Line chart not rendering on iOS"
In some cases simple line charts that work fine on desktop browsers are not rendering on iOS.  An example of this issue can be found in the "samples" directory: **line.html**.  It appears to throw an error when the Chart() constructor is called because subsequent javascript is not being executed; however, no error is thrown in any desktop browser.  The behavior is the same on Safari and Chrome on

[2016-05-04 21:20] zprisk opened #2460 "2.0 Bar Scale Enhancement Idea - Outlier Data | Scale Break"
![screen shot 2016-05-04 at 4 17 27 pm](https://cloud.githubusercontent.com/assets/5308126/15029747/9e6bca2c-1214-11e6-9e16-55ec06cfeffc.png)

Hello,

I am just curious if there is any scale functionality I am missing which would allow for breaking the scale, which could improve the graph above. As you can see the one outlying data set is so significantly differently it makes all of the other ones

[2016-05-04 21:22] dannysindra opened #2461 "In v2.1.0, How to get meta inside animation callback?"
[code]

This piece of code used to display label inside bar charts. When I upgrade ChartJS to version 2.1.0, the **dataset.metaData** attribute is not available anymore. I read on the release note that there is a utility function for that - which one is it? Can I access the function from inside the animation's onComplete() callback? Thanks!

[2016-05-04 21:38] zachpanz88 commented on #2461
You can use the following code. Replace `n` with the dataset that you want (zero-based index).
[code]

[2016-05-04 21:53] etimberg commented on #2460
@zprisk there is currently nothing to allow breaking the scale.

[2016-05-04 21:54] etimberg commented on #2461
@dannysindra a sample file that does this is: https://github.com/chartjs/Chart.js/blob/master/samples/data_label_combo-bar-line.html#L67-L77

[2016-05-04 21:54] #2461 closed

[2016-05-04 23:01] zachpanz88 commented on #2384
Fixed with PR #2416, fix should be included in next release.

[2016-05-04 23:01] #2384 closed

[2016-05-04 23:46] dannysindra commented on #2461
Thank you guys! Really appreciate it!

[2016-05-05 02:35] joeshub commented on #2451
Looking at the docs I can't find it, sorry if I'm missing it. I want to remove the line on the Y Axis. See screenshot. Thank you!

<img width="102" alt="screen shot 2016-05-05 at 10 33 06 am" src="https://cloud.githubusercontent.com/assets/764006/15034865/f29aeb58-12ac-11e6-988c-4467f18f7d9f.png">

[2016-05-05 03:02] joeshub commented on #2452
@etimberg i see, I tried that but it ends up with uneven ticks which is not ideal. Also in that same scenario deselecting a bar from the legend no longer animates the lines for some reason.

If I do duplicate the data I end up with duplicate items in the legend and unselecting each one ends up basically with the corresponding axis being in a different state than the opposite side. I guess what I'm

[2016-05-05 03:31] saothienhat commented on #1006
I faced the same issue and I fount that one reason why height of chart is changed is (this.endPoint - this.startPoint).
In my case, I added many X-Labels for chart and it causes of problem.
Detail:

- Add many dump X-Labels such as 0.331, 1.485, etc. These added dump data are calculated base on existed real data (0, 0.33, 1, 1.1, etc.).
- During calculating, there are many dump data are generated

[2016-05-05 04:11] Tartarus762 opened #2464 "Multiple axis on the same plane"
I have a graph with multiple, different scales on the same side, let's say left. This works as expected, however, if I hide one or more of the scales and update the chart, the visible scale is still the same distance from the edge of the chart as when there was more than one scale.

For example, scale one goes from 0-10 and sits flush with the left edge of the chart, scale 2 goes from 0-100 and si

[2016-05-05 07:12] Eldair commented on #2141
Hello,
Still happening with opera dev. version
@etimberg as you said, most probably browser issue (fixed/updated in chrome, not in opera)

[2016-05-05 07:56] jhiemer commented on #2222
@nathanmal that looks really awesome. Great work!

[2016-05-05 10:25] etimberg commented on #2464
@Tartarus762 I feel like this is a bug in the code that measures the axis width. It should be returning 0 if display:false. Can you post a fiddle?

[2016-05-05 10:28] etimberg commented on #2452
@joeshub is it possible to post a fiddle with what you have so far? There are some ways to keep the grid lines the same for each axis.

[2016-05-05 10:29] etimberg commented on #2451
Hmm, I think the only way is to set the line color for that scale to transparent.

[2016-05-05 11:06] srijitcoder opened #2465 "How to show the YAxis scale in this format with K(Thousand), M(Million) and B(Billion) in Chart.Js?"
![1](https://cloud.githubusercontent.com/assets/10809211/15042175/689415b4-12df-11e6-9b62-68cbbe6d0b16.PNG)
<br>
How to show the YAxis scale in this format with K(Thousand), M(Million) and B(Billion)  in Chart.Js?
in Bar chart

[2016-05-05 11:58] etimberg commented on #2465
See #2311

[2016-05-05 11:58] #2465 closed

[2016-05-05 13:15] etimberg opened #2466 "Need to reduce library size"
With the addition of horizontal bars, v2 is huge! We need to refactor code to improve minification. I think we can shave off 20KB or more from the minified size
## Largest individual source files

Minified size determined using: http://jscompress.com

Listed in decreasing order of minfied size

| File | Starting Unminified Size | Starting Minified Size | Current Minified Size |
| :-: | :-: | :-: |

[2016-05-05 13:18] etimberg commented on #2466
@tannerlinsley @derekperkins @zachpanz88 can you help expand the table at the top?

From the Chart.js folder, the following will find all src files and order them by size from largest to smallest.
[code]

[2016-05-05 13:24] tomduncalf opened #2467 "Line chart with tension of 0 renders incorrectly"
As demonstrated at http://jsbin.com/wawowateru/2/edit?html,js,output a line chart with tension of `0` (to get straight lines) renders incorrectly. This worked correctly at https://github.com/chartjs/Chart.js/commit/3166895772fe81ddd8b8a690e5a7354f09c5d766 so a regression must have crept in.

For now, a workaround is to use a very small tension (e.g. `0.000001` - http://jsbin.com/zadiwohuxa/1/edit?

[2016-05-05 14:45] Tutuchan commented on #2381
I tried to take a look at this problem but I'm not sure I'm in the right track as I'm not really proficient with JavaScript.

I modified the *draw* function in [controller.dougnut.js](https://github.com/chartjs/Chart.js/blob/7eb47313e4666156892b7d155d4af3e420f06cca/src/controllers/controller.doughnut.js#L242-L247) to be able to take a `lastIndex` parameter in order to redraw one of the arcs after

[2016-05-05 14:45] etimberg commented on #2467
I'm kinda surprised by this given that https://github.com/chartjs/Chart.js/blob/master/src/elements/element.line.js hasn't been touched in months but that might be the problem. I think the tension got removed from the points

[2016-05-05 15:11] etimberg commented on #2381
@Tutuchan i think the angles in the doughnut controller need to be updated for the size of the border. https://github.com/chartjs/Chart.js/blob/7eb47313e4666156892b7d155d4af3e420f06cca/src/controllers/controller.doughnut.js#L236 The circumference is in radians, but somehow the border width should also be taken into account

[2016-05-05 15:15] tomduncalf commented on #2467
Hm yes, that would make sense – not sure what the best way to address this is without context

[2016-05-05 15:34] etimberg commented on #2467
Either the tension [here](https://github.com/chartjs/Chart.js/blob/master/src/elements/element.line.js#L27) needs to come from the line view and not the point view

or

https://github.com/chartjs/Chart.js/blob/master/src/controllers/controller.line.js#L197-L208 needs to also set the tension

[2016-05-05 16:53] ashiguruma commented on #1323
What about checking for a `CanvasPattern` in `setHoverStyle`?

[code]

I agree it would be nice to have the pattern generation taken care of by an external library.

[2016-05-05 17:02] etimberg commented on #1323
Yeah, that's a good idea. Should make a helper function because it will be used in all controllers

[2016-05-05 17:27] zachpanz88 commented on #2466
I added all of the biggest files. I left out smaller files because their size was so small that any reduction would not be significant to the overall build.

[2016-05-05 17:28] etimberg commented on #2466
Thanks @zachpanz88

[2016-05-05 21:33] GenaritoBike opened #2469 "mouse hover - line diagram"
Hello,
it is possible to capture mouse events while moving in a linear diagram? I mean the entire surface as is the case in the [Line chart with route profile](http://navigovat.mobilmania.cz/Getfile.aspx?id_file=517501480)

Sorry, my english is bad

Thank you very much
Milos

[2016-05-05 21:45] zachpanz88 commented on #2305
There really isn't a version 1 branch. You can check out the code for the last version 1 (1.1.1) [here](https://github.com/chartjs/Chart.js/tree/v1.1.1). I am not sure how much development will be going on for version 1, because it would be (almost) just as easy to update to version 2 than to update to a new release of version 1.

[2016-05-05 21:52] zachpanz88 commented on #2466
I think we should increase the docs about creating custom builds (is this still supported in v2?), which would allow users to create their own file with only the charts they need. [This](https://github.com/chartjs/Chart.js/blob/v1.1.1/docs/06-Advanced.md#creating-custom-builds) is all I found (v1.1.1).

[2016-05-05 21:58] etimberg commented on #2466
Yeah, we can add it back. Certainly stuff like the controllers and scales can be dropped without too much work

[2016-05-06 00:50] hbrls commented on #2466
+1 and that's why I'm still with v1

[2016-05-06 03:43] brodiefairhall commented on #2049
Having the same issue with 2 and 2.1

[2016-05-06 03:49] flexdeviser opened #2471 "line-chart the position of points problem. type of xAxis is 'time'"
hi,
please check online demo
[DemoCode](http://embed.plnkr.co/hQDXEX/)

you will find out the points didn't located on the right position.
![image](https://cloud.githubusercontent.com/assets/3424332/15064113/12a3e958-1394-11e6-9bc6-64e6d993e0de.png)

[2016-05-06 07:43] william-silversmith commented on #2414
After struggling with this a while, I found this super helpful JSFiddle in one of the closed issues (#1962): https://jsfiddle.net/01zetgd8/2/

The trick is:
{
...
type: 'scatter',
data: [{ x: $x, y: $y }, ... ],
...
}

[2016-05-06 08:44] olyckne opened #2472 "My graphs broke from 2.0.2 to 2.1.0. Follow semver?"
I had `^2.0.2` in my `package.json`, so when running a clean npm install I got the new `2.1.0`
and my chart went from working
![chart-202](https://cloud.githubusercontent.com/assets/1079027/15068151/8b269bf6-1375-11e6-95c8-352f2f70ded8.png)

to not working (I've set black on the points so we can see them)
![chart-210](https://cloud.githubusercontent.com/assets/1079027/15068160/9e9ba2f8-1375-11e6-8

[2016-05-06 08:50] olyckne commented on #2472
And right when I posted I figured it out.

I had to rename tension to lineTension here:
[code]

Didn't think I needed to do that. Again semver

[2016-05-06 11:21] etimberg commented on #2471
Thanks for the report @flexdeviser

[2016-05-06 11:22] etimberg commented on #2467
PR to fix this in #2473

[2016-05-06 11:34] etimberg commented on #2472
hi @olyckne

I'm sorry that we broke your chart(s). We may have, wrongly, assumed that not many people were using the meta objects yet. We are committed to keeping the config fully backwards compatible and we don't forsee needing any changes in stuff like this again.

Regarding your tension issue, I have just merged #2473 which fixes them and am preparing for v2.1.1 release that will include those

[2016-05-06 11:42] tomduncalf commented on #2467
Nice, thank you!

On 6 May 2016 at 12:22, Evert Timberg <notifications@github.com> wrote:

[2016-05-06 11:58] etimberg commented on #2471
@flexdeviser PR to fix this in #2475
The points are correct, the grid lines are in the wrong spot.

[2016-05-06 12:05] olyckne commented on #2472
I guess that is a fair assumptions to make though. Sometimes you're wrong :)
Glad I noticed it before we did a new release, and it was a pretty easy fix.

Any idea why the chart suddently isn't taking up the whole canvas?
It makes my really small chart look a lot different.
Guess it might be something with the axes that I've set to `display: false`, but they're still taking up space?

2.0.2:
![202

[2016-05-06 13:04] bart-blommaerts opened #2476 "Line chart ignores beginAtZero if no y-values are present"
In ChartJS 2.1.0 a line chart ignores the beginAtZero option, if no y-values are present. This was also mentioned in https://github.com/chartjs/Chart.js/pull/1581#issuecomment-151992967 . I want to avoid having negative values.

Config:
[code]

Screenshot:

![capture](https://cloud.githubusercontent.com/assets/3988458/15073776/be2e5770-139b-11e6-871a-19060da3afe1.PNG)

[2016-05-06 13:13] caioaugustofr opened #2477 "Display inline chart values"
Hello,

What I want is what is mentioned on #770 , but for charts v2.

I have a bar chart and I would like to display the data value inside the bar, without the need to roll the mouse over.

I also have a line chart, with big point size, and I would like to display it's value inside the point. So, what I want is a chart like that:

![image](https://cloud.githubusercontent.com/assets/18737421/15074

[2016-05-06 13:26] etimberg commented on #2472
@olyckne looks like that is getting set at https://github.com/chartjs/Chart.js/blob/master/src/core/core.scale.js#L281

We can either add a check for display: false or you could set the following in the scale config
[code]

[2016-05-06 13:38] olyckne commented on #2472
Thanks!
tickMarkLength: 0 works, but I think taking display: false into account makes sense.

[2016-05-06 13:53] tomduncalf opened #2478 "Angled labels on x-axis can cause start of y-axis grid lines to be rendered incorrectly (v2.0)"
With angled tick labels on the x-axis, the start of the y-axis grid lines gets offset, which looks incorrect as it introduces a gap before the chart starts.

Actual result:

![image](https://cloud.githubusercontent.com/assets/5458070/15075009/26039394-139a-11e6-92c8-a139fb794d24.png)

(start of y-axis grid lines is offset, leaving blank space before the chart)

Expected result:

![image](https://c

[2016-05-06 16:26] tomduncalf opened #2480 "Mirrored left hand tick labels still allocates unused spaces for labels"
When setting `mirror: true` for y-axis ticks, a blank space is left where the labels would have been if they were not mirrored. I would expect the first grid line to be flush to the left hand edge of the canvas in this situation, as the space is not needed.

![image](https://cloud.githubusercontent.com/assets/5458070/15079318/b21106f4-13af-11e6-875c-0db0955a11ba.png)

Test case: http://jsbin.com/x

[2016-05-07 02:50] shlomiassaf opened #2481 "[question] Chart returning Controller"
Hi,

What is the reason behind a `Chart` instantiation returning a `Controller` instance?

[code]

Since `Chart` has reference to it's controller (`chartInstance.controller`) I don't understand the logic behind it.

This was very confusing...

[2016-05-07 04:33] didiergm opened #2482 "stacked lines"
Version 2.1.0;

I have 2 datasets showing 3 lines with almost identical values so stacking is a great way to have a visibility on those 3 lines.
I have tried to get stacked lines to work by setting as per the docs charts.defaults.line.stacked to true; tried setting it in the options when launching the chart; looking at the code, it seems to be an option of the Y-axis (from what I understand) but h

[2016-05-07 05:58] shlomiassaf opened #2483 "Chart should have a reference to itself."
When using `CommonJS` with ES6 modules syntax (Babel, TypeScript...) there is limited support for `import` statements.

It is only possible to load a reference to the `Chart` object as a whole:
[code]

This is also possible:
[code]

But it will not allow to get a reference to `Charts` itself.

In order to get this possible:
[code]

`Chart` should reference itself, so `Chart.Chart === Chart`

in **

[2016-05-07 07:24] didiergm commented on #2482
A bit more details: each data point in all three lines have the same values it seems that this is what is causing the non stacking I will ensure this is the casse and report back later (in a couple of days)

[2016-05-07 08:20] jhiemer commented on #2222
@nathanmal is this chart type an extension? And if so, any chance to try it with the current release?

[2016-05-07 11:55] #2471 closed

[2016-05-07 12:19] etimberg commented on #2467
Released in version 2.1.1.

[2016-05-07 12:19] #2467 closed

[2016-05-07 12:25] etimberg commented on #2482
@didiergm could you post a fiddle?

[2016-05-07 12:26] etimberg commented on #2483
@shlomiassaf i'd be happy to merge a PR for this

[2016-05-07 13:15] etimberg commented on #2481
I agree this is confusing. It also makes detecting if an object is a chart instance harder. At a minimum we should document this but ideally we'd improve it.

[2016-05-07 13:31] boozedog commented on #2414
+1

[2016-05-07 13:36] shlomiassaf commented on #2481
I assume changing it is a big thing because it will introduce breaking API change, what about setting a static Boolean value on the **Chart** class telling it to return the chart instance instead of the controller?

This is an opt-in method that will not break anything.

[2016-05-07 13:38] etimberg commented on #2481
it would definitely break the API. It'd also increase the code size if proxied requests through to the controller. I'm ok with having something opt-in if it's going to be useful for a lot of users

[2016-05-07 14:31] mamarilmanson opened #2485 "Remove Dataset Label"
How would I be able to delete the dataset label for legend on the chart? I would like to set my own way of label/legend for the chart...

and is it possible to have custom color for each dot on the linechart?

thanks... :)

[2016-05-07 14:40] nickdegiacomo commented on #608
Does [d1b411f](https://github.com/chartjs/Chart.js/commit/d1b411f4fc2d7b9cafa2d235c9ee008d149a22e3) work for V2?

[2016-05-07 14:52] etimberg commented on #2485
@mamarilmanson to change the legend labels, use the following in your config:

[code]

The default implementation is https://github.com/chartjs/Chart.js/blob/master/src/core/core.legend.js#L44-L59

[2016-05-07 14:52] #2485 closed

[2016-05-07 14:53] etimberg commented on #2485
To have a custom color for each dot on a line chart, set the `pointBackgroundColor` attribute of the dataset to an array of colors.

[2016-05-07 14:59] mamarilmanson commented on #2485
@etimberg ~ re legend labels... I would mean remove it...

like this...
![chart](https://cloud.githubusercontent.com/assets/3820189/15092814/3ffe140a-14a7-11e6-9062-a0e0b195b8bf.jpg)

from the left one to the right? :)

[2016-05-07 15:01] etimberg commented on #2485
oh, you want the entire thing gone?

in your config:
[code]

[2016-05-07 15:04] etimberg commented on #2239
@scerelli can you post a fiddle? From the screenshots, I'm not sure what you meant by 'the graph can't connect the dots'. The points are connected in the order specified.

[2016-05-07 15:06] etimberg commented on #2241
@ianpugh regarding the plugin stuff, it released in v2.1.0. I've written an initial [zoom plugin](https://github.com/chartjs/Chart.Zoom.js) that could be used as a reference for implementing a plugin

[2016-05-07 15:08] etimberg commented on #2294
Closing as resolved

[2016-05-07 15:08] #2294 closed

[2016-05-07 15:09] etimberg commented on #2062
Merging with #2299

[2016-05-07 15:09] #2062 closed

[2016-05-07 15:37] etimberg commented on #2398
Closing since we won't update the default legend on-click at this time

[2016-05-07 15:37] #2398 closed

[2016-05-07 15:37] mamarilmanson commented on #2485
This is the one! Thanks! :)

[2016-05-07 15:37] etimberg commented on #2401
Closing since 2.1 has been released with a fix for this

[2016-05-07 15:37] #2401 closed

[2016-05-07 15:44] etimberg commented on #2389
@nnnick can you deploy a new site build to fix this?

[2016-05-07 15:45] etimberg commented on #2456
Fixed with release of 2.1.1

[2016-05-07 15:45] #2456 closed

[2016-05-07 15:46] etimberg commented on #2443
Closing as resolved.

[2016-05-07 15:46] #2443 closed

[2016-05-07 15:47] #2330 closed

[2016-05-07 15:48] etimberg commented on #2472
@olyckne v2.1.1 released with the tension fix included. I will work on the display: false sizing shortly

[2016-05-07 16:39] mamarilmanson opened #2487 "TypeError: Cannot read property 'childNodes' of undefined (Ionic Framework)"
I  deeply apologize if I have no words to describe it... I will simply upload the image as to this is the closest I can to reporting this issue... :)

![chart](https://cloud.githubusercontent.com/assets/3820189/15093276/0003484e-14b5-11e6-8753-fa5c3926b375.png)

[2016-05-07 18:24] #2472 closed

[2016-05-07 19:44] etimberg commented on #2478
One option is to set the `maxRotation` to 0 on the x axis, but it's only slightly better: http://jsbin.com/yifuxuqura/1/edit?html,js,output

[2016-05-07 19:57] thomthom commented on #815
I second @kzemek comment - #711 seem to focus only on pie charts. It would be good if colours were defined as in a way that one didn't have to merge the data with presentation.

Ideally one have a style set for a given project - such that charts get a consistent styling from a single central location.

@dany28 's comment sounded interesting. Perhaps it can be considered for a PR?

[2016-05-07 20:44] #2480 closed

[2016-05-07 21:04] #2476 closed

[2016-05-07 21:34] ashiguruma commented on #1323
I've added a helper method and some tests. If you're happy with the format and naming I'll add this to other chart types.

[2016-05-07 21:52] etimberg commented on #1323
@ashiguruma looking good. The one thing I would caution would be that it shouldn't necessarily be hover background specific (someone could set a pattern for a line stroke for instance) so the helper might need a rename

[2016-05-07 22:08] etimberg commented on #1323
also, heads up that this will become a lot simpler once #2491 is merged since I'm trying to consolidate all of the hover style functions

[2016-05-07 23:08] milesich commented on #2430
You could use 2 different datasets. One that contains data for red background and the other for blue background.

[2016-05-08 01:11] milesich opened #2492 "Chart does not show with bars and time scale"
With Chartjs v2.1.0 bars were overlapping if not all labels fit on the axis. https://jsfiddle.net/khtpr11u/

With Chartjs v2.1.1 the whole chart is not showing if not all label fit on the axis. https://jsfiddle.net/6bayscgh/1/

[2016-05-08 01:32] etimberg commented on #2492
@milesich I have a PR to fix this in #2493

It prevents the chart from crashing and failing to render. The sizing of the bars is not great, but that's already tracked in #2415 and #2265

I think that the fix proposed in #2216 to make the tickWidth calculation handle variable widths would improve the sizing for bars on time scales

[2016-05-08 01:40] etimberg commented on #2466
Made some progress on the doughnut / polar area controllers. I actually think the polar area controller could derive from the doughnut controller because they are almost identical

[2016-05-08 15:11] #2492 closed

[2016-05-08 15:35] etimberg commented on #2492
@milesich there's now a v2.1.2 that includes #2493

[2016-05-08 16:10] milesich commented on #2492
Thanks, I will try it.

[2016-05-08 18:50] fulldecent opened #2494 "Update scale to use callback rather than userCallback"
This corrects the code to match what is in the documentation.

Reference and discussion: https://github.com/chartjs/Chart.js/pull/2479

[2016-05-08 19:02] #2305 closed

[2016-05-08 19:03] fulldecent commented on #2305
@etimberg this statement sounds like a good representation of the policy and I have codified it in the documentation. This also gives us permission to close some issues.

[2016-05-08 19:05] fulldecent commented on #399
Closing as v1 is mainly for bug fixes, see https://github.com/chartjs/Chart.js/blob/master/docs/08-Notes.md

[2016-05-08 19:05] #399 closed

[2016-05-08 19:07] fulldecent commented on #550
@omarsedki Could you please let us know if LiveGap will support Chart.js v2?

[2016-05-08 19:07] fulldecent commented on #801
Closing for lack of test case.

[2016-05-08 19:07] #801 closed

[2016-05-08 19:09] fulldecent commented on #1266
Closing as v1 is mainly for bug fixes, see https://github.com/chartjs/Chart.js/blob/master/docs/08-Notes.md

[2016-05-08 19:09] #1266 closed

[2016-05-08 19:51] omarsedki commented on #550
yes, i think  a beta version  of it will be  online  at the end of june.

[2016-05-08 23:53] etimberg commented on #2265
@peterzebird I upgraded your plunkr to v2.1.2 and it's looking a little better
http://plnkr.co/edit/guSgb1u6rzZITHhIv4VM?p=preview

[2016-05-09 00:17] Tartarus762 commented on #2464
Sorry for the delay, here's a fiddle: https://jsfiddle.net/qsuz48zL/3/

Unfortunately, I ended up having to put all the js inside a script tag in the html section because it was loading in the incorrect order, but this showcases the bug.

[2016-05-09 00:47] etimberg commented on #2464
Thanks @Tartarus762

I upgraded your fiddle to the latest v2 release (v2.1.2) and this issue is fixed
https://jsfiddle.net/Ls3o1dj9/

[2016-05-09 00:47] #2464 closed

[2016-05-09 02:20] flexdeviser opened #2495 "the last one of time scale's label covered by the other one."
After you fixed time scale grid line problem, I got a new one.
The label of xAxis looks bad. Because the last one of them covered by the other one.
![image](https://cloud.githubusercontent.com/assets/3424332/15102216/f600a748-15df-11e6-97b3-5b53de5233f0.png)

[2016-05-09 02:44] etimberg commented on #2495
@flexdeviser try turning the auto skip feature on. The time scale has it off by default.

In your scale config
[code]

[2016-05-09 03:24] flexdeviser commented on #2495
@etimberg Thank you very much. It looks better now.

[2016-05-09 06:06] bart-blommaerts commented on #2476
Works as expected in 2.1.2. Thanks for the quick fix.

[2016-05-09 06:35] ashiguruma commented on #1323
Good point. I've renamed the method. In light of #2491 should I hold off updating all chart types?

[2016-05-09 10:12] romainhe opened #2496 "Custom css on points"
Hi,

Can chartjs 2.X allow to add custom css rules to items ?  I found anything on doc.

For exemple I want to add a box-shadow to chart' points

Thx !

[2016-05-09 11:12] #2495 closed

[2016-05-09 12:24] etimberg commented on #1323
No, you can go ahead and update them all. I'll take care of any merging due to 2491

[2016-05-09 12:26] etimberg commented on #2496
@romainhe CSS cannot be used on points because they are drawn on the canvas. You could replace `Chart.elements.Point.prototype.draw` with a function that does the drawing you need

[2016-05-09 12:26] #2496 closed

[2016-05-09 14:28] h-rueda opened #2497 "The segmentShowStroke option is not available in version 2.1.2"
Previous versions of Charts.js (1.1.1 or 1.1.0) had the `segmentShowStroke` option for the Pie and doughnut charts.

This option seems not longet available in Chart.js v2.1.2

Is it possible to have this option back in future versions ?

[2016-05-09 14:36] brettatoms opened #2498 "stacked bars don't line up in 2.1.2"
![screen shot 2016-05-09 at 10 17 56 am](https://cloud.githubusercontent.com/assets/332554/15116001/8d5043da-15cf-11e6-9616-e2f98a1a1794.png)

See https://jsfiddle.net/h9s48sn4/1/

[2016-05-09 14:51] nagubal commented on #2498
You need to define both axes (xAxes and yAxes) as stacked
[code]
See [fiddle](https://jsfiddle.net/7mntmre7/)

[2016-05-09 14:54] henriquewinchester commented on #1006
I'm testing chartjs, this is my .js file copied from the website:
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
  datasets: [
      {
          label: "My First dataset",
          backgroundColor: "rgba(255,99,132,0.2)",
          borderColor: "rgba(255,99,

[2016-05-09 14:57] brettatoms commented on #2498
Well damn, I could have sworn I tried that.  :)

[2016-05-09 14:57] #2498 closed

[2016-05-09 15:56] etimberg commented on #2497
@h-rueda you can turn off the border by setting the width to 0

In your config to turn off for all arcs
[code]

[2016-05-09 15:56] #2497 closed

[2016-05-09 18:05] dannysindra commented on #78
Hi guys, starting from chart.js v2.1, I was able to get the pie chart to show labels in percentages. Here is my code - hopefully it will work for everyone. Put this inside your chart options:

[code]

<img width="389" alt="screen shot 2016-05-09 at 11 05 43 am" src="https://cloud.githubusercontent.com/assets/10548708/15122872/dd935412-15d5-11e6-9b43-b906eeec8fb5.png">

Cheers

[2016-05-09 18:43] djoos commented on #78
Anyone any tips on achieving a label inside of a donut chart? (as per the original issue)
It would be great to find out how to do this in 2.x...

Thanks in advance!

[2016-05-09 19:36] rb8888 opened #2499 ""Unable to parse color from string""
I'm created a working line chart, but once I started to use rgba (e.g. "rgba(255,0,0,0.6)") instead of hexidecimal (e.g."#e4f619") for colors, the tooltips no longer work.  If I look at the console, I see the following when I hover over a tooltip:
`Uncaught Error: Unable to parse color from string "rgba(255,0.0,0.6)"s @ Chart.min.js:10s @ Chart.min.js:10o.color @ Chart.min.js:13t.controllers.line.

[2016-05-09 19:54] lproenzav commented on #559
create a global variable and use that variable while creating chart. e-g

var mychart;
function drawChart() {
var ctx = document.getElementById("age-wise-chart-line").getContext("2d");
mychart= new Chart(ctx).Line(lineData, lineOptions);
}
Now you can use mychart.clear() or mychart.destroy()

I've done that but I get an error:
TypeError: myNewChart.destroy is not a function
myNewChart.destroy();

[2016-05-09 20:10] etimberg commented on #2499
@rb8888 can you post a fiddle?

[2016-05-09 20:25] zachpanz88 commented on #2499
It says your string was `"rgba(255,0.0,0.6)"`. Did you mean to use `"rgba(255,0,0,0.6)"`? I think you accidentally used a period instead of a comma.

[2016-05-09 20:33] etimberg commented on #2499
good catch @zachpanz88

[2016-05-09 20:37] rb8888 commented on #2499
Hi all,
Yup, once I fixed the typo, everything works.  Sorry for the false alarm.

Thank you,
Roger

On Mon, May 9, 2016 at 1:34 PM, Evert Timberg <notifications@github.com>
wrote:

[2016-05-09 21:03] #2499 closed

[2016-05-09 21:32] etimberg commented on #2458
@RedHatter this should draw on the axis. Can you post a fiddle?

[2016-05-09 21:33] etimberg commented on #2453
@esso23 can you post a fiddle for this?

[2016-05-09 21:57] epiespen commented on #250
It seems the chart may have some sort of padding, any way of removing this so that the line actually goes from edge to edge?
![image](https://cloud.githubusercontent.com/assets/10612746/15129378/85725b68-1641-11e6-8d4f-90e3a2a96c01.png)

[2016-05-09 22:14] #2494 closed

[2016-05-09 22:35] zprisk opened #2502 "2.x .update() instanciating"
TYPE: Doughnut

I am running into an issue where I am updating the .config.data (datasets & labels) with new data and then calling .update() on the chart. Everything appears to work great at first glace. The chart updates, animates, and everything. However, when hovering over certain pieces (it will show the correct tool tip data, too), all of the sudden the original, first set of data will appear

[2016-05-09 22:41] zachpanz88 commented on #2502
@zprisk Can you please post a fiddle?

[2016-05-09 23:36] zprisk commented on #2502
@zachpanz88 Upon further review, this does not appear to be a bug, I don't think. What I believe is happening is in my wrapper of ChartJS is instancing new instances (Chart.instances).

[2016-05-09 23:50] #2502 closed

[2016-05-10 00:39] rohandalvi commented on #559
declare a global hash and save each chart object in that hash by the div identifier. Much simpler and scalable.

[2016-05-10 08:13] emilz0r opened #2503 "Tooltip not showing with tooltip mode "label" and datapoint value NULL on same x value in multi line chart."
Tooltip not showing on multi line chart with tooltip mode set to "label" when datapoint with value NULL exists at the same x value as the one I hover over.

I am hiding some lines with a custom made legend by looping through datasets and setting data points to NULL. This worked fine on charts.js version 1.0.2. The tooltip then showed the labels and values for the points that had data. In version 2

[2016-05-10 08:35] h-rueda opened #2504 "Chart.js doesn't honor the size of the <canvas> tag"
I wanted to draw a small size pie chart

My canvas tag is
[code]

But Chart.js ends up drawing the pie chart in a much bigger size.

[2016-05-10 08:55] h-rueda commented on #2504
Even if a define the size of the div tag, it will not be honored by Chart.js

[code]

[2016-05-10 09:01] tomduncalf commented on #2480
Thanks!

[2016-05-10 09:21] tomduncalf commented on #2504
Have you tried setting:

[code]

in your options?

[2016-05-10 09:38] esso23 commented on #2453
You can close this, I managed to make it work and the problem was in my own code. Sorry to waste your time.

[2016-05-10 09:48] h-rueda commented on #2504
Yes, I had those options, but they didn't solve my problem.

After experimenting a little bit, I realized that the problem was caused by the legend, which takes indeed a lot of space.

The following piece of code disabled the legend and allowed the drawing of my small pie charts
`Chart.defaults.global.legend.display = false;`

I consider this issue closed.

[2016-05-10 10:42] #2504 closed

[2016-05-10 11:00] zachpanz88 commented on #2503
@emilz0r Can you please post a fiddle?

[2016-05-10 11:05] #2453 closed

[2016-05-10 11:05] etimberg commented on #2453
Thanks for coming back to let me know @esso23

[2016-05-10 11:19] epiespen opened #2506 "Edge to edge line chart"
I want to have the line start at the most left pixel and end at the most right one. In my case I get some sort of padding, displaying the background color of the div containing the canvas.

Is there any way of changing padding on the existing line chart? In the screenshot you see the padding is inside of the canvas as the point label is actually all the way to the left, overlapping the padding.

!

[2016-05-10 11:37] tfenster opened #2507 "Mix stacked and non-stacked based on fill"
Hello,

I tried to implement a stacked line chart with one additional line which should be not stacked. In my case the easy solution was to stack only the datasets with fill=true and ignore the one dataset with fill=false. From my point of view this makes as sense as stacking without fill would be unusual. The adjustment is quite easy (one line in the controller and one line in the scale). Would y

[2016-05-10 12:02] emilz0r commented on #2503
Thanks for your reply. Here is a fiddle:
https://jsfiddle.net/x3mqch2h/

This is copied off of the sample tooltip-hooks.html
The only change is that the third datapoint on the second dataset is set to NULL, instead of randomScalingFactor().
What happens is that when you hover over the point on the dotted line where the other line is cut, there is no tooltip. I would expect the tooltip to show data

[2016-05-10 13:43] bvacchiano commented on #89
I know this is long closed, but I wanted to share some insight on this topic in case others needed it. I got chart.js working in IE8 and I had to do several different things to get it working.

**Load the [excanvas JS lib](https://github.com/arv/explorercanvas) into your project**
`<head><script type="PATHTOJSFOLDER/js/excanvas.js"></script></head>`
(while you're at it make sure that the Chart.js

[2016-05-10 14:22] etimberg commented on #89
@bvacchiano that's great. Do you think something like that should be in the official docs?

[2016-05-10 14:34] bvacchiano commented on #89
@etimberg  - yeah definitely worth mentioning. Right now the docs just state that you can use the library anywhere that the `<canvas>` html tag can be used. I think the docs could be expanded upon a little to include how to get `<canvas>` working for legacy browsers like IE8. Let me know if I can help out writing the docs on this. Would be happy to.

[2016-05-10 14:42] etimberg commented on #89
@bvacchiano We'd love help with the docs on this. The [docs folder](https://github.com/chartjs/Chart.js/tree/master/docs) has markdown files that are used to generate the doc portion of the site. Once any changes are in, I can get @nnnick to deploy them up to the site.

[2016-05-10 15:14] michaeloxborrow commented on #449
Well?! What is the correct way to deal with this?
The pie chart occupies an area much smaller than it's container's width.

[2016-05-10 16:31] ashiguruma commented on #1323
Done. Will take a look at how to simplify pattern generation with a library/plugin.

[2016-05-10 17:54] etimberg commented on #1323
@ashiguruma looks good. can you PR it?

[2016-05-10 19:30] nkoterba commented on #2253
Question regarding the generated HTML labels.

Should the generateLegend actually respect legend label properties like `width`?

Or just the colors?

[2016-05-10 23:46] tannerlinsley opened #2513 "Dangling label on time scale still :("
![screen shot 2016-05-10 at 6 45 43 pm](https://cloud.githubusercontent.com/assets/5580297/15165931/7a12154e-16df-11e6-8cc1-392bec115527.png)

Not sure of the cause yet...

[2016-05-11 00:40] etimberg commented on #2513
looks like the time scale has another label .....

[2016-05-11 00:56] tannerlinsley commented on #2513
Label :) yes.. Not tooltip hahaha.  One of those days

[2016-05-11 01:40] etimberg commented on #2513
hmmm, as a debug, what is the max value of the time scale? should be available as `scale.lastTick`

[2016-05-11 05:18] douwevdijk opened #2514 "animation - onProgress, get corresponding yValue ( Bar Chart )"
Hi there,

In the 1.n version of this library I was able to retrieve the corresponding y value for each dataset / bar during the animation onProgress callback(s). Unfortunately that is, currently, not possible anymore. The y value is still there but has the same value on each onProgress callback event ( and thus the same as the onComplete callback ). Does anyone know how to get the current y value

[2016-05-11 06:43] kurti-vdb commented on #1265
Any examples on how to plot the data? Access to the complete object in the tooltip is no problem at all, but a flat zero line in the chart is generated. See [http://stackoverflow.com/q/37134326/4746087]()

[2016-05-11 07:03] emilz0r commented on #2503
Info: Did the same thing, replacing randomScalingFactor() with null on the samples: bar.html and bar-stacked.html. In theese charts, the tooltip showes up, but it lists the null point with a value NaN. This could probably be set to what you want through a tooltip callback.

Don't know if this helps at all, but thought I'd share the observation anyway.

[2016-05-11 07:23] scerelli commented on #2239
@etimberg sorry for the late response. I solved this problem by changing the date format

[2016-05-11 07:23] #2239 closed

[2016-05-11 09:13] Joey92 opened #2516 "Ability to assign legends to multiple datasets or hiding labels of datasets in the legend"
I have a Bar chart with x and y axes stacked:

[code]

The data displayed there are ticket sales and cancellations. There are different types of tickets (VIP, Normal, etc.)

Looks something like this:
![Chart](http://i.imgur.com/fTyL0qx.png)

Now, to show sales and cancellation of a ticket type for a day, I'd have to create 2 datasets. One for the sale and one for the cancellations.
Enabling the l

[2016-05-11 11:23] Kopleman commented on #2503
Have same problem with `null` values, it works on 2.0.2, but not on 2.1.2

[2016-05-11 12:09] rishabh-garg opened #2518 "How can I set default padding 0 in Chart.js 1.x"
Hi,
I need to set default padding of chart equal 0. How cam I set it.I have gone through all configuration of charts but not find any thing.
Take a look of my need (I area covered by black rect is what i want to remove)
![myissue](https://cloud.githubusercontent.com/assets/13940465/15180408/15115e82-179f-11e6-955f-d10c434d9b8e.png)

Any Suggestion??

[2016-05-11 12:17] etimberg commented on #2514
Can you post what you have in a fiddle? I think I know the answer to your question, but I want to be sure I'm answering the right question.

[2016-05-11 12:19] etimberg commented on #2516
This would be a good feature. I can merge a PR that allows returning a hidden state from generate labels and filtering those out of the legend

[2016-05-11 12:20] etimberg commented on #2518
Can you post a fiddle?

[2016-05-11 12:21] Joey92 commented on #2516
Hey, good to know :)

I can prepare a PR where I think it has to be done.

[2016-05-11 13:02] Kopleman opened #2519 "type: 'time' X-scale null bug"
fiddle: [https://jsfiddle.net/fhnrdqun/1/](https://jsfiddle.net/fhnrdqun/1/),
If the first value of any datasets is `null`, the chart is not correct.
Verision: `2.1.2`

[2016-05-11 15:12] metatribal commented on #2477
I would like to see an example of this as well.  I've tried a few variations on the methods suggested here: http://stackoverflow.com/questions/31631354/how-to-display-data-values-on-chart-js , but have not had any luck making them work with Chart.js 2

Thanks.

[2016-05-11 17:10] etimberg commented on #2477
There's a sample that shows how to do this for bars: https://github.com/chartjs/Chart.js/blob/master/samples/data_label_combo-bar-line.html

[2016-05-11 17:23] metatribal commented on #2477
I tried adding the animation block to the config options, but I get the following error:

	Uncaught TypeError: chartInstance.controller.getDatasetMeta is not a function

Any ideas?

[2016-05-11 18:55] etimberg commented on #2477
@metatribal you need chart.js >= 2.1.0

[2016-05-11 18:57] metatribal commented on #2477
Ok. I will update and try again this evening.  Thanks!
On May 11, 2016 12:56 PM, "Evert Timberg" <notifications@github.com> wrote:

[2016-05-11 22:49] Atmos206 commented on #1861
WHY THE FUCK HASN'T THIS BEEN ANSWERED?

[2016-05-11 22:49] Atmos206 commented on #1861
I really REALLY need this to be answered. It was very easy pre-2.x

[2016-05-12 01:10] mamarilmanson opened #2520 "Callback Function"
Is there a callback function where it returns when the chart is fully loaded and ready for animation? I need it to present a loading screen before loading the charts.... The chart loads fast but along with it is fetching data from a database which may take varying times of completion... Please help... Thank you... :)

[2016-05-12 01:48] etimberg commented on #2520
OnAnimatonComplete is the closest thing we have

[2016-05-12 02:02] mamarilmanson commented on #2520
any examples? I'm a bit lost on how to implement it... sorry... :)

[2016-05-12 02:17] etimberg commented on #2520
Here's a sample that uses the callbacks to update a progress bar. https://github.com/chartjs/Chart.js/blob/master/samples/AnimationCallbacks/progress-bar.html

Since your database time takes the most, you could probably just render when that's done. The chart is fairly quick to setup and its synchronous.

[2016-05-12 02:23] mamarilmanson commented on #2520
It's from line 62 right? Thanks... will try it... :)

[2016-05-12 03:49] slloyd88 opened #2521 "getDatasetAtEvent needs better documentation"
I am trying to use getDatasetAtEvent to get the data at a point on the graph so that I can use that data to drill down but I am unable to find a single example on how to use it.  The documentation just says

myLineChart.getDatasetAtEvent(e);
// => returns an array of elements

How do I get the info out of the elements? I need the info shown in the tooltip on hover

[2016-05-12 05:14] rishabh-garg commented on #2518
http://jsfiddle.net/8xw8J/824/

[2016-05-12 05:46] radiusmediaaus opened #2522 "Chart JS V2 Default Font Color not working"
Can't get the defaultFontColor to work in my chart at all.

Really need help on this.

Thanks

[code]

[2016-05-12 06:16] douwevdijk commented on #2514
Hi, I tried to reproduce in a fiddlle but my code has too many lines :) But basically I grab the the values from each dataset like so:
[code]

Hope this helps. Thanks for your support.

[2016-05-12 08:25] jaajapie1 opened #2523 "Can i remove border from pie chart."
![piechart](https://cloud.githubusercontent.com/assets/16282859/15208413/9ffed626-1855-11e6-8b49-4cb8b88b61d5.JPG)

[2016-05-12 09:21] stephan-nordnes-eriksen opened #2525 "gridLines.drawTicks = false apparently not working"
I have the following graph settings:

[code]

This produces the following graph:

![image](https://cloud.githubusercontent.com/assets/2276383/15209768/4cd304a8-1833-11e6-8ed3-5457a4dcf353.png)

As you can see, the zeroLineColor of the Y axis is red, even though it is both set to transparent(`rgba(0,0,0,0.0`) and is set to `drawTicks = false`.

----
I am using the newest version of chart.js which i

[2016-05-12 09:33] stephan-nordnes-eriksen commented on #2525
And here is a jsbin example: [http://jsbin.com/wegugibafo/edit?html](http://jsbin.com/wegugibafo/edit?html).

[2016-05-12 09:44] sknick opened #2526 "destroy() not defined if config isn't given to Chart on construction"
I have discovered that the destroy() method of the Chart object isn't being added to the object prototype if the second "config" parameter to the Chart constructor isn't defined. While the documentation indeed doesn't indicate that the config parameter is optional, the library also doesn't otherwise obviously fail when you don't pass it--you just can't invoke destroy(). My workaround is to pass th

[2016-05-12 10:47] etimberg commented on #2520
line 69

[2016-05-12 10:50] etimberg commented on #2523
@jaajapie1

in your config:

[code]

[2016-05-12 10:50] #2523 closed

[2016-05-12 10:52] etimberg commented on #2522
@radiusmediaaus
The default font color is global:
`Chart.defaults.global.defaultFontColor`

[2016-05-12 10:52] #2522 closed

[2016-05-12 10:56] etimberg commented on #2514
@douwevdijk You need a version >= 2.1.0 to do this

[code]

[2016-05-12 10:57] AllenJB commented on #2385
I've created a plugin that extends on the panning idea: Display 2 charts - 1 showing a large data range and 1 showing a smaller window of that data range: https://github.com/AllenJB/chart.window.js

It needs a bit of work (and testing beyond my own simple case) before I'd be ready to create a release, but this may help others trying to achieve the same thing.

[2016-05-12 10:58] etimberg commented on #2525
@stephan-nordnes-eriksen

In your config for the y axis you have `color: "#F00",` this sets the grid-line color to red. I think the same color is used to draw the border, hence why the line is red at the edge

[2016-05-12 11:03] radiusmediaaus commented on #2522
Ok thanks, still not sure where I am suppose to place this in the code above.  Can you guide me please?

[2016-05-12 11:03] ox42 opened #2527 "Bug with responsiveness on ios - safari, chrome, ..."
Hey guys. First of all great job - I really like Chart.js and especially v2. It works great on almost all browsers I've tested, but it doesn't work on ios for me -> neither on my iPad (Safari or Chrome), nor on mac (screenshots attached). If I disable responsiveness, then it works. No errors can be found in the console when this happens.

Default
![error1](https://cloud.githubusercontent.com/asset

[2016-05-12 11:27] zachpanz88 commented on #2527
#2459 also reported a similar problem.

[2016-05-12 11:44] ox42 commented on #2527
I think I need to provide more detail here, as we've just got this one working. It slipped my mind (didn't think it's important) that we first start with a "Loading" screen (during which we draw stuff), and then we show the screen (I think that's the important part). All of this works great, but (for some reason) doesn't work on iOS.

If we show the screen and then create the chart -> all is fine

[2016-05-12 11:45] Joey92 commented on #2516
I created a Pull Request. I was not able to add a test for it though.

#2528

[2016-05-12 13:15] zachpanz88 commented on #2527
I think the problem deals with the iframe created by Chart.js when responsive is turned on. @etimberg

[2016-05-12 13:51] ThomasSouv opened #2529 "HorizontalBarChart - display values"
Hi,
Is it possible to display values next to the horizontal bars?
I tried to follow the example "data_label_combo-bar-line.html" but it doesn't seem to work.
Any ideas?
Thanks.

[2016-05-12 14:18] etimberg commented on #2529
@ThomasSouv can you post a fiddle?

[2016-05-12 14:19] etimberg commented on #2527
I'm guessing that's the issue. But, i tested the zoom and pan plugin on iOS and it worked fine

[2016-05-12 15:23] ionutt commented on #2503
+1

[2016-05-12 16:25] ThomasSouv commented on #2529
Sorry it was my mistake.
What I did when creating the graph:
`options: {
    ...
},
animation: {
   ...
}`

Instead of `options: { ..., animation: { ... } }`

So following the example provided in "data_label_combo-bar-line.html" works fine with horizontal bar.
Sorry for opening an issue for that.

[2016-05-12 16:25] #2529 closed

[2016-05-12 17:59] etimberg commented on #2514
ah, ok. I thought you were wanting to get the value of the point in data coordinates (ie on the scale). If you wanting the animating values, you should look in `element._view` for the coordinate

[2016-05-12 19:52] tannerlinsley commented on #2513
Looks like it is, in fact, Apr 14th.  I'm not sure where it's getting the 15th from!

[2016-05-12 20:00] tannerlinsley opened #2532 "Animation Start Points seem off"
This seems to be happening with both bars and points/lines in the latest release

<img width="400 alt="screen shot 2016-05-12 at 2 59 25 pm" src="https://media.giphy.com/media/26vULBKLqG3r21nd6/giphy.gif">

[2016-05-12 20:26] etimberg commented on #2513
that's weird ... I'm guessing when the labels are generated, the ticks array has the 15th in it?

[2016-05-12 23:01] etimberg commented on #2526
@sknick I was thinking more about this. I believe that the reason for not going further if there is a config is that you won't know what type of chart to create. Maybe we can bail out earlier in this case and not do anything

[2016-05-12 23:05] etimberg commented on #1135
There is the start of a solution at https://github.com/bbc/Chart.Bands.js

[2016-05-12 23:05] etimberg commented on #1142
Check out https://github.com/bbc/Chart.Bands.js

[2016-05-12 23:28] etimberg commented on #671
Closing since we aren't going to add this to the core. If someone wants to implement this as an extension hop on our slack channel to discuss

[2016-05-12 23:28] #671 closed

[2016-05-12 23:33] etimberg commented on #731
Closing. At this time we aren't going to add this to the core. We have a time scale now in v2 that could form the basis of a scale like this. We'd be happy to help anyone implement a scale that did this.

[2016-05-12 23:33] #731 closed

[2016-05-12 23:43] nux17 opened #2533 "Time scale label changing color when resizing"
Using the following options :

`var chartOptions = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Food',
                    data: [],
                    lineTension: 0.25,
                    fill: false,
                    borderColor: '#444',
                    yAxisID: '1-food'
                },

[2016-05-13 00:05] etimberg commented on #2533
@nux17 can you drop this in a fiddle?

[2016-05-13 02:33] etimberg commented on #511
I started a plugin to track this https://github.com/chartjs/Chart.Annotation.js

It can already do horizontal and vertical lines

[2016-05-13 03:43] sknick commented on #2526
Ya, either bail or assume a default. I think "bar" is normally inferred by default when a config is given without a type, right? You could use that as a default.

[2016-05-13 07:50] alessandrobelli commented on #73
I have an issue: the tooltip is switched  when I use Horizontal bars.
Here's an example, from the documentation example.
https://jsfiddle.net/2facyuLp/

[2016-05-13 09:56] nux17 commented on #2533
Well, sure, but the fiddle isn't rendering the same way...
https://jsfiddle.net/25ngek9r/

Here I made a short video to show this.
https://vid.me/Gpu6

[2016-05-13 10:46] nux17 commented on #2533
The fiddle is working, the difference on output was because I had another version of Chart.js overrided by angular-chart. The resizing error happens on the fiddle.

[2016-05-13 10:50] nux17 commented on #2533
Seems that errors happens when inserting a hex color value for ticks.fontColor (eg. #00A7B5), using rgb() value fix that issue.

[2016-05-13 10:51] douwevdijk commented on #2514
That works, thanks!

[2016-05-13 10:52] #2514 closed

[2016-05-13 10:54] AllenJB opened #2535 "lineTension vs tension"
Example: https://jsfiddle.net/AllenJB/wgyuyxdo/

In v2, the documented option for changing line tension is lineTension, but this does not appear to work in practice.

[2016-05-13 13:19] willianby commented on #187
I was Able to reproduce this issue on Android 4.3 Samsumg galaxy s3 and Chart.js version 1.0.2.
With only one data item when draw finishes the chart dissapear and the fix was:
on Chart.js 1.0.2
`calculateCircumference : function(value){
      var perc = (Math.abs(value) / this.total);
      if (perc == 1) {
          return Math.PI*2.0 - 0.000001;
      else {
          return (Math.PI*2.0)*perc;

[2016-05-13 13:19] willianby commented on #696
I was Able to reproduce this issue on Android 4.3 Samsumg galaxy s3 and Chart.js version 1.0.2.
With only one data item when draw finishes the chart dissapear and the fix was:
on Chart.js 1.0.2
`calculateCircumference : function(value){
      var perc = (Math.abs(value) / this.total);
      if (perc == 1) {
          return Math.PI*2.0 - 0.000001;
      else {
          return (Math.PI*2.0)*perc;

[2016-05-13 14:02] ThaJay commented on #73
Great work!
now the docs need updating though ^^

[2016-05-13 15:44] alessandrobelli commented on #73
Sorry I didn't explain that well.
Actually that's a bug: it show the column value where the bar value should be.
Example:
**59**
My First dataset: February

[2016-05-13 16:36] zachpanz88 commented on #73
Please [create a new issue](https://github.com/chartjs/Chart.js/issues/new). This thread was for the creation of a horizontal bar chart, which has been finished, and is now closed. Thanks.

[2016-05-13 16:40] etimberg commented on #73
As a work around, you can change the tooltip callback to  fix this. Updating the default is a separate issue

[2016-05-13 16:42] alessandrobelli opened #2536 "HorizontalBar chart tooltip values switched"
I have an issue: the tooltip have the label switched with the column name when I use Horizontal bars.
Here's an example, from the documentation example.
https://jsfiddle.net/2facyuLp/

Example:
59
My First dataset: February

Should be:
February
My First dataset: 59

[2016-05-13 16:48] zachpanz88 opened #2537 "Outline on horizontal bar chart is not correct"
The outline around bars is incorrect for horizontal bars. It extends around the left, top, and right, like a normal bar chart should. Instead, the horizontal bar should have an outline around the top, right, and bottom.

Horizontal (Bug) Example: https://jsfiddle.net/pzx1LtqL/1/
Normal (Working) Example: https://jsfiddle.net/fm99oqqn/1/

[2016-05-13 16:59] ThaJay commented on #2537
+1
the `borderSkipped:'left'` option seems to have no effect

[2016-05-13 17:03] ThaJay opened #2538 "horizontal bar chart increases row height on resize when maintainAspectRatio is set to false"
- [x] I have read the [guidelines for contributing](https://github.com/chartjs/Chart.js/blob/master/CONTRIBUTING.md)
- [x] I have included an example of my issue on a website such as [JS Bin](http://jsbin.com/), [JS Fiddle](http://jsfiddle.net/), or [Codepen](http://codepen.io/pen/).

Steps to reproduce:
- `new Chart(ctx, {type: 'horizontalBar', data})`
- `maintainAspectRatio: false`
- resize your

[2016-05-13 17:04] philiiiiiipp commented on #1328
Hey @alexmcmillan did you manage to fix this in the end?

[2016-05-13 17:24] gitaarik opened #2539 "Using `stepSize` and `maxTicksLimit` together doesn't work."
- [x] I have read the [guidelines for contributing](https://github.com/chartjs/Chart.js/blob/master/CONTRIBUTING.md)
- [x] I have included an example of my issue on a website such as [JS Bin](http://jsbin.com/), [JS Fiddle](http://jsfiddle.net/), or [Codepen](http://codepen.io/pen/). ([Template](http://codepen.io/pen?template=JXVYzq))

I want to have a chart with a minimal `stepSize` of `1`, basic

[2016-05-13 17:30] etimberg commented on #2536
Just need to add a new default tooltip callback for the horizontal bar config

[2016-05-13 17:31] etimberg commented on #2537
@ThaJay borderSkipped works: https://jsfiddle.net/tmp3cj5q/1/

[2016-05-13 17:33] etimberg commented on #2539
@gitaarik to filter the labels, you could change the callback function that generates the tick strings. For every other label just return an empty string. If you return `null` or `undefined` the grid line will also be hidden

[2016-05-13 17:52] gitaarik commented on #2539
Ok thanks, that is a way to solve my problem:
http://codepen.io/anon/pen/MyRopv

Though I think it would be nicer if the options would work together. But it does the job for now.

[2016-05-13 23:10] etimberg commented on #2532
hmmm, couldn't reproduce this with the sample files

[2016-05-13 23:14] etimberg commented on #2535
@AllenJB `lineTension` is supposed to work. I will investigate.

[2016-05-13 23:22] #2537 closed

[2016-05-13 23:25] #2535 closed

[2016-05-13 23:49] #2536 closed

[2016-05-13 23:54] etimberg commented on #966
Closing since we aren't going to implement this at this time. We'd welcome any extensions that made it possible.

[2016-05-13 23:54] #966 closed

[2016-05-13 23:54] #2519 closed

[2016-05-13 23:55] tannerlinsley commented on #2532
Hmm. I'm not seeing it anymore.  Closing until it resurfaces I guess.

[2016-05-13 23:55] #2532 closed

[2016-05-13 23:57] etimberg commented on #1570
Closing since I don't think this will become a core chart type. We can happily help direct others on how to implement it as an extension

[2016-05-13 23:57] #1570 closed

[2016-05-14 00:04] potatopeelings commented on #1861
@andi-b  - as a temporary workaround, you can use the new `pluginService` to do this. Here's a fiddle doing that http://jsfiddle.net/q15ta78q/ (yaay pluginService!)

[code]

and then

[code]

[2016-05-14 01:20] etimberg commented on #1861
@potatopeelings that's a great use of the plugin service!

[2016-05-14 01:35] alexmcmillan commented on #1328
@philiiiiiipp It was quite a while ago... sorry I can't remember what I ended up doing.  I think I restructured my app so that the initial server-side render didn't require chart.js.

[2016-05-14 05:57] savalanpour opened #2546 "When all the data are zero. "ticks.beginAtZero" Does not work properly."
data : [0,0,0,0,0,0,0,0,0,0];

[2016-05-14 09:07] wdcao opened #2547 "real time chart in the latest version of Chartjs"
I want to create such a real time chart [example in jsbin](http://jsbin.com/yitep/5/edit?html,js,output).

But the addData() and remove() functions are in the older version. So could anyone please tell me about how these two functions are implemented in the latest version?

I know that there is a function update(), but this function alone cannot create the effect of "shifting the whole chart", whi

[2016-05-14 09:50] #2547 closed

[2016-05-14 09:53] albertodonato commented on #2435
I have the same issue. With 1.0 the point would be skipped, but the line/fill would be continous.
Is it possible to achieve the same result with 2.x?

[2016-05-14 11:05] joaogarin opened #2548 "example on time scale"
Hello,

Is there any example on how to use time scale?

I am not being able to understand what the chart data should be like for time scales.

Best regards
Joao Garin

[2016-05-14 11:06] joaogarin commented on #2548
This is what my code now looks like. it displays the time scale but does not show any data..

[code]

[2016-05-14 11:26] joaogarin commented on #2548
Figured out my labels where missing and that is where the mapping to the time is done. Will close the issue

[2016-05-14 11:26] #2548 closed

[2016-05-14 11:58] etimberg commented on #2546
This was fixed in 2.1.3

[2016-05-14 11:58] #2546 closed

[2016-05-14 12:07] simonbrunel commented on #2547
@wdcao, did you close this issue because you figured out how to implement it in v2? if yes, I'm curious to know your solution :)

[2016-05-14 21:20] etimberg commented on #319
Closing since at this point I don't think we will support this in the core. We can happily help someone to create a plugin to add this functionality.

[2016-05-14 21:20] #319 closed

[2016-05-14 21:32] etimberg commented on #2533
@nux17 this works fine. In your fiddle, the color is not correct. It is written as '#00A7BG' instead of '#00A7B5'. The former is not valid hexadecimal which is what causes the problem.

[2016-05-14 21:32] #2533 closed

[2016-05-14 22:10] etimberg opened #2554 "Need an automated build system"
* Needs to be able to build the files
* Would like it to publish to NPM as well
* Should not do either of the above if tests fail
* The CDN distribution should continue as it is now

[2016-05-14 22:12] etimberg commented on #2554
Some initial work was done in #2552 which was temporarily reverted until the NPM / CDN stuff can be finalized

[2016-05-14 22:17] simonbrunel commented on #2554
Submitted a new PR #2555

[2016-05-14 22:24] etimberg commented on #979
This is possible in v2. Setting the tooltip mode to 'label' will always show the multi-tooltip

[2016-05-14 22:24] #979 closed

[2016-05-15 06:21] yycsrkl opened #2556 "Chart.js double images in Android"
i am using chart.js to make a line chart, and in ios, it works fine, but when it comes to native browser in Android 4.2.2(HuaWei), and when i refresh the page, this line chart start show double image, but strangely, when i open this page in the first time, it works fine, the double image just happen when i try to reload this page.
u guys have any ideas?
thanks in advance

![screenshot_2016-05-15-1

[2016-05-15 10:42] stephan-nordnes-eriksen commented on #2525
I made it red so you could see that it was indeed the gridline. It should have not been there at all if I understand the meaning of `zeroLineWidth` and `zeroLineColor`correctly.

[2016-05-15 13:35] GijsGoudzwaard opened #2557 "Responsive line chart not working"
https://jsfiddle.net/5rLgg1ay/

Version 2.1.3

[2016-05-15 14:05] zachpanz88 commented on #2557
Your div styling around the canvas is preventing it from being responsive.

[2016-05-15 15:22] etimberg commented on #2556
@yycsrkl what version of chart.js are you using?

[2016-05-15 16:03] tuierbufei commented on #770
+1 mark

[2016-05-15 17:03] mamarilmanson opened #2558 "Redraw Problem..."
I have a function that draws data from a database... when I changed a setting to exclude a certain item for example day 2... it doesn't include day 2 as I expected... but when I delete day 2 from the database and when back to the chart the day 2 is still there... I'm using Ionic btw...

After entering data...
![1](https://cloud.githubusercontent.com/assets/3820189/15275567/f29394ae-1b01-11e6-84b3-

[2016-05-15 17:12] mamarilmanson commented on #2558
Seems not a problem with chartjs... needed to fix some of my logic now...

[2016-05-15 17:12] #2558 closed

[2016-05-15 18:39] haschu opened #2559 "Callbacks for colors"
Hi there,

I got a case, where I need to dynamically set colors of single bars depending on the data value.

I would suggest to use a callback like this:
[code]

[2016-05-15 20:15] etimberg commented on #2559
@haschu I'm not sure this is the best way to do it. Given the way each chart is written, this would require a lot of duplicated code.

A better way to do this would be to use the plugin system introduced in v2.1.0. See my fiddle below for a quick implementation of this. Ideally the plugin would read from the config to get the thresholds and change the values accordingly

https://jsfiddle.net/kw6t0

[2016-05-15 20:15] #2559 closed

[2016-05-15 21:32] haschu commented on #2559
@etimberg Thanks for your response! I didn't know about the plugin system - really great tool!
Maybe your solution is something for more advanced users.

I solved this using the callback implementation (as I described above) like this:

In core.helper.js:
[code]

And then in the elements file (in this case element.rectangle.js):
[code]

Thats it.
IMHO it isn't that munch duplicate code.

For insta

[2016-05-16 00:52] yycsrkl commented on #2556
@etimberg the newest version, version 2.1.1, could u please help me, sir?

[2016-05-16 02:43] etimberg commented on #2556
Could you post a fiddle of your code?

[2016-05-16 05:32] Kopleman opened #2560 "No last tick on X time scale."
Hello and thank you for great Chart.js.
I dont know exactly is is a bug or maybe i missed some option but I have a strange behaviour of X time-scale - every chart that i have with huge amount of points/time(thats way i cant create plunker, sorry)  have same thing there is no last time tick on X scale
![2016-05-16_08-20-18](https://cloud.githubusercontent.com/assets/3992563/15281085/985ab30c-1b40-1

[2016-05-16 06:16] yycsrkl commented on #2556
@etimberg sure,i will post one later

[2016-05-16 08:03] Yuko7245 opened #2561 "through the select icon,I want to draw different chart in a canvas,but after I switch different options,when I long touch the chart ,it will change to the chart that I have seen when I switch options"

[2016-05-16 08:28] yycsrkl commented on #2556
@etimberg sir, i have a bit problem with the jsfiddle, i am thinking maybe i can put my code there.

here is my code about line chart:
<script type="text/javascript">
//// Chart.defaults.global
Chart.defaults.global.maintainAspectRatio = false;
Chart.defaults.global.defaultFontFamily = "'STXihei', 'SimHei', 'Microsoft YaHei', 'Arial', sans-serif";
Chart.defaults.global.events = ["touchstart", "tou

[2016-05-16 08:42] yycsrkl commented on #2556
@etimberg sir, this is the address, https://jsfiddle.net/EricYang/szj2u82q/

[2016-05-16 09:32] GijsGoudzwaard commented on #2557
@zachpanz88 Should it not fill the parent?

[2016-05-16 09:55] philiiiiiipp commented on #1328
Ok, so my quick-fix was to create an alias pointing to an empty object within my server webpack config

[code]

[2016-05-16 12:07] zachpanz88 commented on #2561
Please include an example of your issue on a website such as [JS Bin](http://jsbin.com/), [JS Fiddle](http://jsfiddle.net/), or [Codepen](http://codepen.io/pen/). ([Template](http://codepen.io/pen?template=JXVYzq))

[2016-05-16 12:16] haschu commented on #2559
Turns out that, after diving more into it, using the plugin system is way more elegant.

For anybody who came across the same problem, this does the job:
[code]

[2016-05-16 12:36] Rachit200 opened #2562 "Line chart is chopped off for the max value in y-axis"
Look at the last point which is having the value 100 is being chopped off.
http://codepen.io/Rachit2000/pen/LNoEVK?#anon-login

[2016-05-16 12:54] etimberg commented on #2560
@Kopleman I think this is an rounding error in the code. There is some code to determine if the 2nd last and last labels will overlap. If so, the code prioritizes the last label for display. Looks like this is accidentally triggering in this case

[2016-05-16 12:55] etimberg commented on #2562
Duplicate of #2278

[2016-05-16 12:55] #2562 closed

[2016-05-16 14:29] kamilzasada opened #2563 "[Opera 37.0.2178.43] Dissapearing charts"
I found a bug in Opera. When the browser is maximized and user minimize browser window to system tray, all charts dissapeared. It looks like `<canvas>` is cleared and browser has problems with repainting charts. My solution for this problem is: `canvas { transform: translateZ(0); }`.

[2016-05-16 15:13] dibsyjr1 commented on #2557
@GijsGoudzwaard what @zachpanz88 is saying is that because you've given the container a fixed height and width the line chart isn't acting responsively. Yeah the canvas fills the parent, but the parent is always a fixed size, so no matter what size the window is, the canvas won't change size because of the container.

[2016-05-16 16:15] zprisk opened #2564 "2.0 - Stacked horizontalBar Tooltips Display Bug"
- [x] I have read the [guidelines for contributing](https://github.com/chartjs/Chart.js/blob/master/CONTRIBUTING.md)
- [ ] I have included an example of my issue on a website such as [JS Bin](http://jsbin.com/), [JS Fiddle](http://jsfiddle.net/), or [Codepen](http://codepen.io/pen/). ([Template](http://codepen.io/pen?template=JXVYzq))

Hey all,

I think I've stumped upon a bug with how stacked hor

[2016-05-16 16:44] zachpanz88 commented on #2564
This was reported in #2536, and I believe it was fixed with #2542, which has not made it into a final release yet.

[2016-05-16 16:46] etimberg commented on #2564
@zprisk as a work-around you can manually set the tooltip callbacks to the ones in #2542 until the defaults are updated

[2016-05-16 16:59] achirkof opened #2565 "Show/Hide chart by click custom legend"
Hello!
Thanks for this very cool library!
My question is how it is possible to repeat functionality for show/hide chart for custom legend? Yes, this functionality working for charts by default. But I have to change default legend to custom and lost show/hide function.

I made a default legend hidden and generate my own like this:

[code]
How I can keep this custom legend and add show/hide function

[2016-05-16 17:00] kelpycreek commented on #12
Any word on where the documentation for this can be found?

[2016-05-16 17:26] etimberg commented on #2565
@achirkof you'll need to attach your own event listeners to your HTML legend and then emulate the hidden functionality

The function that does this for the regular legend is: https://github.com/chartjs/Chart.js/blob/master/src/core/core.legend.js#L16-L26

[2016-05-16 17:28] carloslu opened #2566 "Line ChartJS with onAnimationComplete function is not running"
Hi. I'm new using chartjs, I was playing with some process but this simple chart is not working
I need to have a line chart with data values displayed..
can you help me please...!! I will be very appreciate your support.
the code used is
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Chart.js demo</title>
	<style>

table
{
	border: 1px;
	border-color: #FC0;
	border-style

[2016-05-16 17:30] carloslu commented on #2566
[Chartjs_demo_windows_onload2.txt](https://github.com/chartjs/Chart.js/files/266597/Chartjs_demo_windows_onload2.txt)

[2016-05-16 17:47] zachpanz88 commented on #2566
Please include an example of your issue on a website such as [JS Bin](http://jsbin.com/), [JS Fiddle](http://jsfiddle.net/), or [Codepen](http://codepen.io/pen/). ([Template](http://codepen.io/pen?template=JXVYzq))

[2016-05-16 18:45] zprisk commented on #2564
@zachpanz88 Ah, sorry! I did not see that one when I searched. Thank you!

@etimberg Awesome, I will probably just wait until that is released.

Thanks to you both for your continued support and hard work on this library. It is awesome!

[2016-05-16 18:49] carloslu commented on #2566
thx you for your attencion to my request..!! attached is the html zipped file that I use...
[Chartjs_demo_windows_onload2.zip](https://github.com/chartjs/Chart.js/files/266732/Chartjs_demo_windows_onload2.zip)

[2016-05-16 19:17] adileo commented on #2503
I tried to fix it: #2567

[2016-05-16 19:28] achirkof commented on #2565
Git it! Thank you very much!
[code]

#### The most important parts are:
`onClick` function call for each legend label
[code]
and function
[code]
Also make `chart` instance of `Window` adding `window.` before:
[code]

[2016-05-16 20:46] #2564 closed

[2016-05-16 23:54] Atmos206 commented on #1861
@potatopeelings This worked great for me! Thank you!!!

[2016-05-17 02:00] etimberg commented on #2216
@cpboyd I made some progress on this tonight. I still need to make sure I haven't broken anything for bars on time scales and do the same fix for the horizontal bar

## Before
![before](https://cloud.githubusercontent.com/assets/6757853/15309084/7e33d14a-1bb1-11e6-99fe-9830254be1f1.png)

## After
![after](https://cloud.githubusercontent.com/assets/6757853/15309087/82f7f4e0-1bb1-11e6-8741-bbf23685a

[2016-05-17 07:55] sknick opened #2570 ""hidden" property of dataset not updated when default onclick handler of legend runs"
Evidently the "hidden" property of a dataset is not updated when the default onclick handler of a chart's legend runs (in this case, I'm specifically using a bar chart). Basically, the default handler is hiding/unhiding the dataset when its corresponding legend item is clicked--which is what I want to happen. However, because I update the chart's datasets on a polling timer, I want to be able to a

[2016-05-17 08:48] reddo opened #2571 "Apply borderSkipped to doughnut chart"
I would like to achieve an enlarging effect when I hover over the slices. The workaround I have now is like this: https://jsfiddle.net/reddo/hvkaugq2/

I'd like to get rid of the borders between the datasets but keep the ones between the slices to achieve the look I want.

If there's an easier way to grow each slice individually when I hover over them, I'm open to suggestions.

UPDATE:

I figured

[2016-05-17 10:27] JAIOMP opened #2572 "Documentation problem on API documentation of chart.js"
![screen shot 2016-05-17 at 3 23 08 pm](https://cloud.githubusercontent.com/assets/15261217/15319153/17375c14-1c47-11e6-9473-92cd27bdd4c0.png)

It's need to be in small letter(the red circled area **ctx.createPattern)** because it's not taking it in browser as a function and giving some error

[2016-05-17 10:33] ThaJay commented on #2537
Thanks, obviously I got the configuration object structure wrong

[2016-05-17 12:47] zachpanz88 commented on #2572
Fixed in 974ff00464d7743182f842a2c7786c334b9ca82c

[2016-05-17 12:47] #2572 closed

[2016-05-17 13:18] etimberg commented on #2570
@sknick prior to v2.1 this was done. However, it causes problems when sharing data between multiple charts. If you click on the legend in one chart, it would trigger in another.

However, you can still get this information:

[code]

[2016-05-17 13:25] etimberg commented on #2571
@reddo I like your chart. At the moment, there is no built-in way for high-lighting chart sections; yours is the best I've seen. You could try making it into a plugin: http://www.chartjs.org/docs/#advanced-usage-creating-plugins

It might make it more modular

[2016-05-17 13:56] sknick commented on #2570
Thanks!

[2016-05-17 14:46] reddo commented on #2571
Where can I see some of the current plugins?

[2016-05-17 15:05] ThaJay commented on #2299
isDatasetVisible does not seem to be a part of helpers at this time in 2.1.3. I noticed you're using 2.0.2 in the fiddle @etimberg.
I found `this.isDatasetVisible` to be valid but now its dataset is undefined. Could you point me in the right direction? or should I SO this question?

It would be great if this functionality can become a standard option again (it was in 1.x)

[2016-05-17 15:18] etimberg commented on #2299
@ThaJay here's an updated version of the fiddle: https://jsfiddle.net/a077grhm/3/

This is on our radar to add back. If someone wants to PR it I'd happily merge it. They'd need a new mode string to set the tooltip to this mode, and a new function to that does what the fiddle does. I'd be happy to discuss refactoring this. I think that these functions should be stored somewhere else so they're easi

[2016-05-17 15:36] ThaJay commented on #2299
Nice thanks!
It would have taken me days to figure out all those small api changes, but your fiddle works for us.
So far, you guys have impressed me with your fast and high quality responses on here, very good work.

[2016-05-17 15:38] etimberg commented on #2299
Glad it works for your use case. I'll try and add this back before the next release so that you don't need any hacks to make it work :smiley:

[2016-05-17 16:16] gitaarik commented on #2539
Unfortunately setting `stepSize` to `1` has a effect I don't like. When you look at my fiddle:
http://codepen.io/anon/pen/MyRopv

You see the yAxis goes to `19`. Without the `stepSize` option it will go to `20`:
http://codepen.io/anon/pen/ONYzwg

I like this behaviour better because it's easier to read when it goes in steps of 5 up to 20, instead of steps of 4 up to 19.

So if the `minStepSize` op

[2016-05-17 16:43] Qlipoth opened #2573 "label scale formatting not working"
Hello !  What happened to the formatting of the scale of values? I have some data values and i want to conver it in time format by moment.js. In old version of Chart.js i did
`var options = {
                  scaleLabel: '<%= (moment().set({'+
                                    '"hour": parseInt(parseInt(value) / 3600),'+
                                    '"minute": parseInt(parseInt(value) /

[2016-05-17 18:10] Ceane opened #2574 "Hiding cross axis scale grid lines not working"
I am trying to remove the vertical line, highlighted by the red square, from my chart. Every option I pass isn't working out, my current config is below the image. Does this library have support for this?

[JSFiddle of example chart](https://jsfiddle.net/87kuzcL9/)

<img width="691" alt="screen shot 2016-05-17 at 11 02 35 am" src="https://cloud.githubusercontent.com/assets/1743355/15333604/3a96424

[2016-05-17 18:31] etimberg commented on #2574
Could you drop this in a fiddle?

[2016-05-17 18:52] Ceane commented on #2574
@etimberg Sure thing, I've updated my comment above with the [JSFiddle](https://jsfiddle.net/87kuzcL9/). I do wonder if this is just a simple option missing in my config however.

[2016-05-17 18:54] ppires commented on #2219
I'm using version 2.1.3 and having the same issue. Was this fixed for the `Version 2.1` milestone?

[2016-05-17 19:31] marciopcm opened #2576 "Remove tooltip from bar chart and bold text"
Hi!

1 - it is possible to remove tooltip from the bar chart?
2 - It is possible to set bold style to the text inside the bars?

Thanks!

[2016-05-17 19:53] #2574 closed

[2016-05-17 20:15] brianswart opened #2577 "Disabling Bar Chart Animation"
See my stack overflow question here: [http://stackoverflow.com/questions/37210260/chart-js-2-1-2-bar-chart-animation-issue](url)

In version 1.something of chart.js you could disable the animation in the bar chart options. I no longer see a way to do that in version 2.1.2. I want to have animation enabled on the first load but disable it on subsequent refreshes from the timer. How can I do this?

[2016-05-17 21:19] Tril0x commented on #2522
Try the following near the top of your code:

var ctx = document.getElementById("performance-chart").getContext("2d");
**Chart.defaults.global.defaultFontColor = '#fff';**
**Chart.defaults.global.defaultColor = 'rgba(0,0,0,0.1)';**
            var myChart = new Chart(ctx, {

[2016-05-17 22:04] #2216 closed

[2016-05-17 22:38] etimberg commented on #2577
@brianswart what you could do is initially set the animation duration to be some value.

Then, on update you could explicitly override the animation duration by passing 0 as the first parameter to update.
[code]

[2016-05-17 22:38] #2577 closed

[2016-05-17 22:41] etimberg commented on #2576
@marciopcm

1. To remove the tooltips add the following in your config
[code]

2. We don't draw text inside bars so you must have added code for that. Before the `fillText` call, you need to do
[code]

[2016-05-17 22:41] #2576 closed

[2016-05-17 23:08] sergiofigueras opened #2579 "Question about stack chart opacity"
Hello guys,

I'm in a problem with line chart using ChartJS 2. Basically, when I create a stacked linechart with multiple series, it seems that the fill color just is with some kind of opacity that I don't want. I tried to change it several ways but no success yet.

In fact, I would like the blue session in a deep blue as the line is, the green one too, and all the others. But some kind of opacity

[2016-05-17 23:32] etimberg opened #2580 "Show Lines option should work per dataset"
`options.showLines` disables all lines. We should allow doing this per dataset.

[2016-05-17 23:36] etimberg commented on #2579
@sergiofigueras could you post a fiddle?

[2016-05-18 00:52] emcniece commented on #1284
@etimberg Has this changed for v2.1.3? I can't find these properties anywhere in [Chart.js](https://github.com/chartjs/Chart.js/blob/master/dist/Chart.js)...

[2016-05-18 01:09] etimberg commented on #1284
@emcniece i don't think these exist anymore

[2016-05-18 02:27] jmurphzyo commented on #1572
I would have made one but their docs are just ..

[2016-05-18 07:11] RoxKilly opened #2581 "Do you support Bubble charts?"
I came across your projects while trying to find an easy to use customizable and interactive charting JavaScript library.  I've browsed through the docs and all seems fine with one exception: there is no mention of Bubble Charts.  Are these supported by another name? Searching for `Bubble chart` here brings up issue #1643, in which they are briefly discussed.

Does Chart.js plot bubble charts?
Tha

[2016-05-18 07:23] rjurado01 commented on #1889
I modify the library to do this:

First I add `tooltip` option to `_model` in `updateElement` function of each type (radar, doughnut, line...). Bar example:

[code]

Then I modify Core.Tooltip.draw to add `showTooltip` condition to `if`:

[code]

Finally I define this option in my datasets:

[code]

[2016-05-18 07:47] olyckne commented on #2299
I've built a plugin for this which we use on PriceSpy (https://m.pricespy.co.uk/product/3499390/statistics)
The difference is that we show a tooltip until we reach a new one (we have so many data points it will be a lot of "blinking" otherwise)

Would be nice to have in core.

If it might be of any help this is the function that's called on onclick, onmousemove and ontouchmove.
I guess it need som

[2016-05-18 08:33] leighquince opened #2582 "Chart resizing issues"
When creating a graph that is placed on a resizable element the size alters each time. (here is a gif as it's hard to word)

 ![http://i.giphy.com/JjoQRjqKOj4Oc.gif](http://i.giphy.com/JjoQRjqKOj4Oc.gif)

[fiddle](https://jsfiddle.net/ksr9ucvb/1/) where this was taken from

[2016-05-18 08:49] JAIOMP opened #2583 "Do you support 3D charts ?"
My question is that do you support 3d charts or not.If you support 3D charts please give me the link of your documentation.

[2016-05-18 08:58] maiduchuy commented on #2451
That is exactly what @joeshub is asking.

I'm facing this issue as well.

[2016-05-18 09:37] haschu commented on #2581
@RoxKilly Bubbly charts are supported. Go checkout the [sample](https://github.com/chartjs/Chart.js/blob/master/samples/bubble.html)

[2016-05-18 09:39] haschu commented on #2583
@JAIOMP There isn't 3d support yet.

[2016-05-18 10:43] etimberg commented on #2583
There is no 3d chart support.

[2016-05-18 10:43] #2583 closed

[2016-05-18 10:44] etimberg commented on #2581
Bubble charts are supported. There is an open issue to write docs for them.

[2016-05-18 10:44] #2581 closed

[2016-05-18 11:00] etimberg commented on #2451
@maiduchuy we added a new `gridLines.drawBorder` option that will be in the next release that will allow turning that off in an easier way

[2016-05-18 11:01] etimberg commented on #2582
Woah, never seen that before. As an immediate work-around, setting a max-height style on the graph container should contain it.

[2016-05-18 11:01] gianinavergara commented on #797
@derekperkins Hi. I wanted to create a drilldown similar to link posted by **chicagosky**. The pie chart in chart.js 2.0 seem to be doing the trick, except for proper labelling. I have commodities as labels (outer circle) and each commodity belongs in one of four sectors (inner circle). Is there a way to be able to change the labels in the inner circle, currently it has similar labels as the commo

[2016-05-18 11:20] haschu opened #2584 "Overlapping ticks when using "maxRotation: 0""
Hi,

the auto-skip feature, which detects overlapping ticks, works great - but if you set `maxRotation: 0` it breaks.
Checkout this [plunk](https://plnkr.co/edit/HDGQcS1ad7YrbktZDSdT?p=preview).

[2016-05-18 11:41] marciopcm commented on #2576
Thanks! it worked!

[2016-05-18 11:56] zachpanz88 commented on #2582
I've noticed that circular charts move downwards as they are resized. Linear graphs (like bar, line) elongate downwards as they are resized. Even with a `max-height` attribute, it moves down within that container. This problem only occurs when `maintainAspectRatio: false`.

[2016-05-18 12:11] zachpanz88 commented on #2418
Chart.js is not supported until Firefox 35, which was released Jan 13, 2015. Anyone who is still using an earlier version of Firefox will not have Chart.js support.

[2016-05-18 12:23] zachpanz88 commented on #2563
I have tested this and found that the problem only occurs on Windows 8 and 8.1, and no other Windows or OS X. Which OS are you using?

[2016-05-18 12:41] enriquemt commented on #735
I would like to have an opition to put the value and the name of the label

[2016-05-18 12:58] simonbrunel commented on #2418
Examples are working in FF 25 if `responsive: false` (and jquery related code removed). So might simply be the responsive implementation which need to be fixed?

![image](https://cloud.githubusercontent.com/assets/3874900/15359300/f2af3ea8-1d08-11e6-82fc-6653073bd9a6.png)

[2016-05-18 14:02] etimberg commented on #2582
@zachpanz88 I'm guessing we are not accounting for padding / margin somewhere. When we resize, we resize to what we think the maximum size is. But if the padding on the container and margin on the canvas is not respected, the parent has to increase in size leading to this problem.

When `maintainAspectRatio` is true, the height is generated from the max width.

[2016-05-18 14:02] etimberg commented on #2563
Yeah, I think this is an opera problem. Does Chrome do the same?

[2016-05-18 14:21] n30t3h1 opened #2585 "IE Support Issue"
Hello,

Within my company we use IE11, but because some of our applications are incompatible with newer browsers it is set to emulate IE8. This does not support the canvas tag. Are there any modifications I could make to the code to use a different tag? There is another chart building library that uses `<div></div>`, but it is not as robust as chart.js.

Any advice is appreciated.
- [ ] I have rea

[2016-05-18 14:29] Jaded-Design opened #2586 "legendTemplate missing from 2.0?"
Will you be bringing back support for legend templates? In 1.0 you could use legendTemplate to add all sorts of additional functionality, like highly interactive charts.

For example, we used legendTemplate to make the legend for product sales trends clickable so you could drill into different product lines and areas and the chart would automatically rebuild with new parameters.

Maybe we're missi

[2016-05-18 14:29] etimberg commented on #2585
@n30t3h1 there was a very helpful comment last week from @bvacchiano over in #89
It has everything you need to get it working in IE8 since you'll need polyfills.

[2016-05-18 14:29] #2585 closed

[2016-05-18 14:32] n30t3h1 commented on #2585
Thank you!

[2016-05-18 14:34] etimberg commented on #2586
@Jaded-Design the templates have been replaced by callback functions.

To change the html legend, in your config:

[code]

[2016-05-18 15:16] zachpanz88 commented on #2563
I haven't ever seen it in any other browser.

[2016-05-18 16:13] nickbijmoer opened #2587 "[Help] Highlight segment when it passes rad X"
Hello guys,

I was wondering, is it possible to highlight a segment when it passes rad X?

[2016-05-18 16:20] kamilzasada commented on #2563
Yes, this is problem only in Opera. I've tested on Windows 8.1. I planned to wait for fix in Opera, but I found out that `transfrom: translateZ(0)` helps in my case.

[2016-05-18 16:25] maiduchuy commented on #2451
@etimberg That's great to hear, thank you!

[2016-05-18 17:23] haschu opened #2589 "Last tick is overlapping."
In some cases, the next to the last tick is overlapping. It's a bit hart to describe, so I made a screenshot.
This usually happens if you set a small `maxRotation`.

![bildschirmfoto 2016-05-18 um 19 17 05](https://cloud.githubusercontent.com/assets/13450260/15368346/91c4ef82-1d2d-11e6-953f-f09765678c23.png)

[2016-05-18 17:37] zachpanz88 commented on #2563
I think this is an Opera problem. Nothing we can do.

[2016-05-18 17:37] #2563 closed

[2016-05-18 18:52] haschu commented on #2589
See PR: #2590

[2016-05-18 19:10] pliablepixels opened #2591 "timeline x-axis for past times"
Hi there, I am trying to use the new x-axis: 'time' option to try and chart a timescale

The data is for a few hours old: (s is y axis) - its 3:11PM now, but the data is for 08:40:06 to 08:40:13
https://gist.github.com/pliablepixels/efefe4e45ce0ddbeeba92031076c14ac

The config is
[code]

What I am observing is all the data gets bunched together on the x-axis. However, when I try the line-time-scal

[2016-05-18 19:11] Jaded-Design commented on #2586
Wow, not sure how I missed this... My apologies.

Thanks for the quick response.

[2016-05-18 19:11] #2586 closed

[2016-05-18 19:11] GijsGoudzwaard commented on #2557
Would it be possible to make the line chart fill the parent? @zachpanz88 @dibsyjr1

[2016-05-18 19:29] pliablepixels commented on #2591
I've confirmed that this is indeed the problem - using the 'time' scale on the x-axis defaults to keeping the max range as the current time - if I modify the line-time-scale example to use a different time from now, all the data gets bunched up together and the x axis extends to current time. So I guess the question is how to restrict it to the time range in the data set?

[2016-05-18 19:53] pliablepixels commented on #2591
Codepen of modified timeline example: http://codepen.io/pliablepixels/pen/ONeLEw
I've changed ``newDateString`` to start at an earlier time

[2016-05-18 20:03] pliablepixels commented on #2591
Problem solved, I had to but a min & max explicitly, inside ``time:{`` of xAxes but outside of ``displayFormat:{``

[2016-05-18 20:03] #2591 closed

[2016-05-18 20:19] haschu commented on #2584
PR: #2592

[2016-05-18 21:48] etimberg commented on #2587
@nickbijmoer which version are you using?

[2016-05-18 22:20] #2584 closed

[2016-05-18 22:22] zachpanz88 commented on #2557
Using `max-height` and `max-width` could keep it responsive and would make it fill the whole div. However, it will maintain the same aspect ratio as the original canvas by default.

[2016-05-18 23:11] piti118 opened #2593 "Misleading Documentation on Getting Started"
The example use labels Red Blue Yellow Green Purple but the bar chart produced has no color. I first though something was wrong with my script.

This is a jsfiddle copied straight from documentation.

https://jsfiddle.net/khmjgrj9/

[2016-05-19 00:09] zachpanz88 commented on #2593
I have also noticed that when it does show colors in other places, sometimes they don't line up, ex. Pie/Doughnut http://www.chartjs.org/docs/#doughnut-pie-chart-introduction

[2016-05-19 01:18] etimberg commented on #2361
Done in #2594

[2016-05-19 01:18] #2361 closed

[2016-05-19 01:36] etimberg commented on #2364
Closing. The readme now includes a link to the minified build.

[2016-05-19 01:36] #2364 closed

[2016-05-19 01:46] #2288 closed

[2016-05-19 01:46] #2406 closed

[2016-05-19 02:15] #2593 closed

[2016-05-19 02:15] etimberg commented on #2593
Fiddle based on PR: https://jsfiddle.net/burk1nrq/2/

[2016-05-19 05:29] GijsGoudzwaard commented on #2557
Thanks that did it!

[2016-05-19 05:29] #2557 closed

[2016-05-19 06:43] markpnb commented on #73
Hi,

That project I worked on with the horizontal bar charts is now live.

I'm sorry I was too busy to get it together earlier, too much going on.

I understand someone has done something simillar, this can be used to
compare

http://www.scamwatch.gov.au/about-scamwatch/scam-statistics

regards
Mark

On Wed, Feb 24, 2016 at 11:45 AM, Tanner Linsley <notifications@github.com>
wrote:

[2016-05-19 06:58] nickbijmoer commented on #2587
@etimberg currently https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js

[2016-05-19 07:11] nelsou commented on #2418
It doesn't work on firefox 24.7.0 under linux too ...

[2016-05-19 09:57] ramarro123 opened #2598 "updating datasets while disabilng a series (via legend) issue"
if data are updated via ajax  (simulated on fidlde with a setTO)
and the chart it's updated with the new datasets, the legend
it's redraw, loosing the previous 'configuration'.

This means that if i disable 4 of 5 items, the wait to get fresh datas, every time they come, the legend get all 'reactivated' and i have to re-set the previous view settings.

here is a test case:
https://jsfiddle.net/jsf

[2016-05-19 11:03] #2589 closed

[2016-05-19 12:07] haschu opened #2599 "Last tick overlapping when using "time scale""
The bug mentioned in #2589 still exists when using a time scale. #2590 only fixes the `core.scale.js` class.

See (ignore the custom chart type, just look at the y-scale):
![bildschirmfoto 2016-05-19 um 14 00 42](https://cloud.githubusercontent.com/assets/13450260/15392979/e5dc207a-1dca-11e6-866a-cdfad662956b.png)

[2016-05-19 12:14] haschu commented on #2599
PR: #2600

[2016-05-19 12:27] JAIOMP opened #2601 "How can i decrease the width(distance) between two x axis labels in bar graph"
![screen shot 2016-05-19 at 5 51 05 pm](https://cloud.githubusercontent.com/assets/15261217/15393357/7aa99b82-1dea-11e6-9227-3fa2a9d3e304.png)

Is there any way to decrease the distance between two labels(name of people) represented by the red arrow.Give me the solution.

[2016-05-19 14:18] rodrigolanes commented on #2379
But how can I use datasets label (Series) to show?

[2016-05-19 15:14] zachpanz88 opened #2602 "Radar charts do not look good when all datasets are hidden"
Radar charts change to scales that include extremely long decimals which really do not look good when all datasets are disabled through the legend. For example, try disabling the two datasets on this chart in the documentation: http://www.chartjs.org/docs/#radar-chart-introduction.

[2016-05-19 15:31] etimberg commented on #2602
This is a string formatting mixed with javascript number problem. Not sure what the best course of action is in this case

[2016-05-19 16:18] zachpanz88 commented on #2602
Round to a single decimal point?

[2016-05-19 17:32] etimberg commented on #2602
works in this case. Maybe the radialLinear scale should use the same function as the linear scale. https://github.com/chartjs/Chart.js/blob/master/src/scales/scale.linear.js#L10-L33

Essentially it tries to determine the correct number of data places dynamically.

[2016-05-19 17:50] nickbijmoer commented on #2587
http://stackoverflow.com/questions/37307827/chart-js-doughnut-highlight-segment-when-it-reaches-x-degrees?noredirect=1#comment62136933_37307827 here you have a more detailed case of what I mean :)

[2016-05-19 20:15] tennety opened #2603 "2.x: Is there an npm release without the moment dependency?"
My project already uses moment.js and adding moment to my bundle as part of chartjs adds a lot to the bundle size, especially with all the locale files. Is there a way to use chartjs but load moment on my own?
Thanks!

[2016-05-19 20:33] etimberg commented on #2603
@tennety you either `Chart.js` or `Chart.min.js` from the dist folder rather than one of the bundle versions.

[2016-05-19 20:33] #2603 closed

[2016-05-19 20:43] haschu opened #2604 "TypeError: Cannot read property 'null' of undefined"
I couldn't reproduce the issue in a plunk, therefore I made a screenshot from the browser console:

![bildschirmfoto 2016-05-19 um 22 33 15](https://cloud.githubusercontent.com/assets/13450260/15408728/efa7835a-1e11-11e6-8c4b-93c2bb5183a6.png)

This happens for some reasons in one of our projects.

The problem is in `scale.time.js`:
[code]

`null,null` is passed to: `this.getLabelMoment(datasetInd

[2016-05-20 00:18] zachpanz88 opened #2605 "Chart Library Comparison Table"
This is the start of a comparison table between multiple charting libraries, as previously discussed, which can be included somewhere on the website in the future.

This list does not have much right now, so please feel free to add anything that you feel is important.

| Feature | Chart.js | D3 | HighCharts | Chartist |
| ------- | -------- | --- | ---------- | -------- |
| Completely Free | ✓ | ✓

[2016-05-20 01:46] jakesyl commented on #2605
@zachpanz88 I think [chartist](https://github.com/gionkunz/chartist-js) would be a good thing to have here.

[2016-05-20 02:20] jakesyl commented on #2527
@ox42 what version of ios are you running?

[2016-05-20 02:58] zachpanz88 commented on #2605
@jakesyl I was thinking about that too. I'll do some research and update the chart.

[2016-05-20 07:05] Big-Gremlin opened #2606 "Tooltips doesn't work if dataset value is NaN"
I tried the tooltip mode 'label'. It works, if all datasets have valid values.

But sometimes I need an interrupted line. So I use NaN as value.

https://jsfiddle.net/ruc5ubL2/1/

If you hover point 1 or 2 or 4 or 5 it works fine.
But point 3 shows no tooltip.

In older version it works.

https://jsfiddle.net/ym9tf61a/

I need the values of both datasets (its ok if dataset1 has NaN).

As an idea y

[2016-05-20 07:38] olyckne commented on #2335
I wrote a plugin for this. (I might be able to publish it)
Basically it does what I commented here: https://github.com/chartjs/Chart.js/issues/2299#issuecomment-219951352

[2016-05-20 10:00] P4Thi0ut commented on #2451
@etimberg Thank you, this is a small detail that can make a huge difference in the chart design!

[2016-05-20 10:08] nickgoodliff opened #2607 "Using pointStyle "rectRot" on retina display causes points to be drawn incorrectly"
If you use a pointStyle of "rectRot" and view the chart on a retina display then the points are drawn in the top 25% of the canvas (i.e. the x and y coordinates of the points are halved). This affects Line and Scatter charts.

I'm guessing this has something to do with the rotating of the rectangle for the point.

http://jsbin.com/gebamox/edit?html,output

[2016-05-20 10:27] Baklap4 commented on #608
Is this working in V2.1.2?

[2016-05-20 11:59] zachpanz88 commented on #2606
Your fiddle isn't working for me, are you sure that it works?

Also, this has already been reported in #2503.

[2016-05-20 12:08] ndown commented on #892
You can specify your Max-Value by using the ScaleOverride in your options:

[code]
this is how it is calculated in Core:

`max: this.options.scaleStartValue + (this.options.scaleSteps * this.options.scaleStepWidth)`

I think this is what you are looking for?

[2016-05-20 12:15] emilz0r commented on #2503
@adileo I saw that your commit was merged into chartjs:master. Does this mean that it the fix will be included in the next release (2.1.4), or is it already available? Sorry for asking basic github question.

I managed to fix my end, by using tooltip callbacks and a custom tooltip function, but would love to use a "native" fix.

[2016-05-20 12:15] Big-Gremlin commented on #2606
Hey @zachpanz88
thx for your answer.

I checked both fiddles. They are running on firefox, but not on chrome. I don't know why. In my application it works fine on both browsers.

As you said, this issue is already reported. I'm sorry. I missed it :/

[2016-05-20 12:26] kazoooka opened #2608 "Stop animation and continue on Click?"
So i'd like to be able to always only animate one step of the animation of a graph on a mouseclick. Is that possible by stopping the animation in the Chart.defaults.global.animation.onProgress and then continue one step of the animation when getting a click event in the canvas?
Best Regards
kazoooka

[2016-05-20 12:32] etimberg commented on #2503
It will be in the next release

[2016-05-20 12:39] adileo commented on #2503
Nice ;), it's my first pull request on github, hope to help again fixing some bugs. Great project btw @etimberg

[2016-05-20 12:56] #2503 closed

[2016-05-20 12:59] etimberg commented on #2607
@nickgoodliff thanks for the report. Only the `rectRot` point style has this problem, correct?

[2016-05-20 13:00] etimberg commented on #2607
A note. This can be reproduced on non retina screens as well. Ctrl + mousewheel page zoom increases the `window.devicePixelRatio` and shows the same issue.

[2016-05-20 13:01] etimberg commented on #2608
@kazoooka that might be possible. I don't think there is anything that allows pausing the animation. You may need to manually animate outside of the chart library to achieve the effect you want

[2016-05-20 13:05] #2606 closed

[2016-05-20 13:12] kazoooka commented on #2608
Could you maybe elaborate on how i could achive this please?

[2016-05-20 13:25] nickgoodliff commented on #2607
Yes, just the rectRot.

Potentionial fix in element.point.js:

`case 'rectRot':
	ctx.beginPath();
	size = 1 / Math.SQRT2 * radius;
	ctx.moveTo(x - size, y);
	ctx.lineTo(x, y + size);
	ctx.lineTo(x + size, y);
	ctx.lineTo(x, y - size);
	ctx.closePath(x - size, y);
	ctx.fill();
	break;`

This gets rid of need for rotation.

[2016-05-20 13:32] kpmanuel commented on #2573
I would also like to know this. I'm trying to format the values as a currency.

[2016-05-20 15:08] etimberg commented on #2573
You can provide a custom function to do the string.

[code]

[2016-05-20 15:08] #2573 closed

[2016-05-20 15:14] kpmanuel commented on #2573
Yes, the developer I'm working with found out a solution that worked. We're using Chart.js v2.0.

`callback : function (value) { return '$' + Number(value).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}`

[2016-05-20 15:18] sloan58 commented on #2573
Thanks!

[2016-05-20 19:06] Hiestaa opened #2609 "[Bar Chart] Tooltip placement with multiple datasets and stacked xAxes"
Hello and thanks for this amazing work!

Here is a bug report for an issue with the tooltip placement happening with the Chart of 'bar' type, when stacking multiple datasets on the X axes. First, let me start with an image to be explicit:

<img width="607" alt="screen shot 2016-05-20 at 2 56 53 pm" src="https://cloud.githubusercontent.com/assets/5394706/15438735/96dedca2-1e9b-11e6-84c6-773611c4753

[2016-05-20 21:12] nathanmal commented on #2222
Heya yes unfortunately i had to take a break for a while, but i'm back and i've updated the chart type for the new Charts.js 2.0

Have a look: https://jsfiddle.net/nathanmal/f2trua1f/

still some bugs to be worked out i think, i'll post this in the slack dev group

[2016-05-21 01:00] agnessav opened #2610 "[font-family]"
Is it possible to change the font of the chart's labels with something like css's @font-face?

[2016-05-21 01:04] etimberg commented on #2610
To change globally, modify `Chart.defaults.global.defaultFontFamily`. Other options allow changing for individual areas.

[2016-05-21 01:04] #2610 closed

[2016-05-21 05:21] jasper502 commented on #2573
Works great except if you have negative values.  You get $-100 for example.

[2016-05-21 05:41] jasper502 commented on #2573
This works great: http://openexchangerates.github.io/accounting.js/

[2016-05-21 06:35] jhiemer commented on #2222
@nathanmal that is really really nice! Do you have it as an extension? I would like to use & test it and help to find bugs/fix them.

[2016-05-21 10:52] ox42 commented on #2527
To be honest, it was on multiple devices (as I said before), but unfortunately I've already made changes to the site so it's hard to test now - and I do regularly update my devices to latest OS. However, I did start a new session on browserstack just now, and the fiddle mentioned above fails, so that's one version right there that doesn't work as expected.
   /start#os=OS+X&os_version=Yosemite&bro

[2016-05-21 18:20] agnessav opened #2611 "[question] removing y-axis"
Hi, is it possible to remove just the y-axis vertical line?

<img width="973" alt="screen shot 2016-05-21 at 19 12 08" src="https://cloud.githubusercontent.com/assets/17513109/15450051/1dd6ab62-1f88-11e6-9628-dbec7ebe2152.png">

[2016-05-21 21:23] jewkesy commented on #2602
Any idea why the scale would default back to -1 to 1, rather than maintain the data scale of 0 to 100 as in the example?

[2016-05-22 02:04] zachpanz88 commented on #2611
This was already mentioned in #2451 and a solution will be coming in the next release.

[2016-05-22 08:02] MaZZly commented on #78
Yes please add functionality for this..

Tried with the html element solution but that won't work if you want it to be responsive..
Also can't always calculate the position from the canvas as the amount of labels might mess upp the position of the donut itself

[2016-05-22 11:04] nealoke commented on #2538
Same issue with a line chart I am making :/

[2016-05-22 11:47] nealoke commented on #2538
@ThaJay if you want a workaround for now, set a max height on the container of the chart which limits how far the chart stretches out in height. To avoid inconsistency I also set a height and max height of the same amount (keeping it constant across all screen heights)

[2016-05-22 12:11] potatopeelings commented on #78
Here's one way to do it using the newly added plugin service - http://jsfiddle.net/s9tu1c9y/

Yaay plugins!

![jaddx1](https://cloud.githubusercontent.com/assets/300494/15453888/d34f2ae6-2069-11e6-8b57-7b8bdc548558.png)

----

If you don't need the plugin to figure out the font size, you can probably take out a bit of code - this bit of code treats the text as a line while trying to fit it in the

[2016-05-23 00:39] Aupajo commented on #1754
@etimberg Is that example available anywhere?

[2016-05-23 04:19] Delca opened #2613 "Calling .destroy() on a animated graph does not stop the graph animation"
I receive datasets asynchronously and plot them as soon as I can, thus destroying and creating a new chart each time. This lead me to discover that destroying a Chart object through .destroy() does not seem to prevent the animation manager from continuing to animate it.

Here is a [JSBin example](http://jsbin.com/piviri/edit?html,js,output) where the animation is set to last for 8 seconds but the

[2016-05-23 08:22] reddo commented on #2571
@etimberg How can I update the gradient on window resize? right now the gradient stays the same while the actual chart is resied and this causes some nasty layout.
Here's the chart as it's first generated:

![screen shot 2016-05-23 at 11 21 21](https://cloud.githubusercontent.com/assets/1180060/15464528/9862d760-20d8-11e6-8794-7c16a1bb610a.png)

and after resize it looks like this:

![screen shot

[2016-05-23 10:48] Charlie-Lucas opened #2614 "Generate Color object"
Hello, i use your library to allow to customers to add some graphics on his website. I also created a form with symfony 2 to generate data.
But i use a [color picker](https://github.com/it-blaster/color-picker-type-bundle) that can allow to use a color picker based on [Iris](https://github.com/Automattic/Iris). But it instantiate an Object Color and i got this error "Unable to parse color from str

[2016-05-23 11:50] zachpanz88 commented on #2614
Can you please try to reproduce your issue on a website such as [JS Bin](http://jsbin.com/), [JS Fiddle](http://jsfiddle.net/), or [Codepen](http://codepen.io/pen/). ([Template](http://codepen.io/pen?template=JXVYzq))

[2016-05-23 12:28] Charlie-Lucas commented on #2614
I tried to reproduce on js fiddle but the bug doe not appear it may not come from chart.js. Sorry for this

[2016-05-23 12:28] #2614 closed

[2016-05-23 13:00] zachpanz88 commented on #2435
I think that an option should be added that allows you to toggle whether the line is broken or not. I looked into this a little bit, but I could not determine where it decides to not draw the line when null.

[2016-05-23 13:34] DenisCCK opened #2615 "[Question] Issues with basic loading animation on a simple chart"
Hello guys,

First of all thank you for this library, it's awesome ! I would like to use some charts in my Polymer project, but i meet some issues with the loading animation (default). On a simple polarArea chart, the animation does not trigger unless i set the wrapper (#egChart) on width and height 100%.

Here is my code :
![capture d ecran 2016-05-23 a 15 25 15](https://cloud.githubusercontent.c

[2016-05-23 14:48] MoPHL commented on #78
@dannysindra  thank you very much for your example, it works very well, but the percentages flicker every time I mouse over the pie chart, is there any way to avoid this?

[2016-05-23 16:06] DenisCCK commented on #2615
Ok, i fixed the canvas dimension in JS and it works fine and consistently.

Width and height attributes can't take percentage so i did it in JS :
![capture d ecran 2016-05-23 a 17 25 09](https://cloud.githubusercontent.com/assets/16136694/15475635/55ad6ae2-210b-11e6-91f6-b0279293deee.png)

Thanks anyway !

[2016-05-23 16:06] #2615 closed

[2016-05-24 00:06] dannysindra commented on #78
@MoPHL I have not solved that part completely, but there is a way to prevent flicker on "mouseover" event (still flicker on "mouseclick").

To do it simply empty the events list array:
[code]

Empty array will not do, so I supplied empty string inside the array to make it work.

[2016-05-24 00:47] brodiefairhall commented on #2582
This is the exact problem I have.

[2016-05-24 04:34] maheshp27 opened #2616 "getSegmentsAtEvent in chart js 2.0 not working"
Hello ,

I am chart.js V2 lib for building charts in my mobile app. I am able to build required charts, but facing issue while clicking on segment of Doughnut chart. I want to fetch other data on clicked of segment.
Getting below error : Uncaught TypeError: countryDonutChart.getSegmentsAtEvent is not a function.

Please guide to solve this issue.

Thanks,
Mahesh

[2016-05-24 06:53] tiesont commented on #2616
As noted in the [CONTRIBUTING doc](https://github.com/chartjs/Chart.js/blob/master/CONTRIBUTING.md#reporting-bugs), you should provide some sort of sample code demonstrating the problem you're having.

[2016-05-24 07:59] EsleEnoemos opened #2617 "Polar Area Chart fails to render section"
The Polar Chart renders fails to render sections in some cases.
A live example is the example from the documentation at http://www.chartjs.org/docs/#polar-area-chart
Clicking the legends in the example turns the corresponding section on/off beautifully with an animation, except for when you click "Grey".
This causes the "Grey" section to animate out, but the "Yellow" section also disappears...
Cli

[2016-05-24 08:30] MoPHL commented on #78
@dannysindra I have also tried disabling the events, but I still need to retain the tooltips, etc.

[2016-05-24 09:42] EsleEnoemos commented on #2617
Taking the code from the example at http://www.chartjs.org/docs/#polar-area-chart, and removing the "Grey" section (value, backgroundColor, and label) will yield the same result. The "Yellow" piece will not render.
There's space for the Yellow section, but nothing is rendered.
If you continue and also remove one of the other sections, another piece will fail to render... and so on

[2016-05-24 09:44] kol9n93 opened #2618 "Chart labels as links"
Good day. Is there way to display chart labels as links in anchor tag like this <a href='http://google.com'>labelName</a>?

[2016-05-24 10:54] user-a opened #2619 "Chart Disappears after opening an ionic modal"
Hi, I am using chartjs with my ionic phonegap app. To display graphs I am using angular-chart.js as suggested in [this tutorial](https://www.thepolyglotdeveloper.com/2015/08/using-charts-in-your-ionic-framework-mobile-app/).
I have responsive set on my line graph and everything works fine until I open up a modal window. it disappears and doesn't work until I restart the app. if I set responsive to

[2016-05-24 13:24] etimberg commented on #2616
getSegmentsAtEvent is no longer there.

[2016-05-24 13:33] rochapablo opened #2621 "pieChart.Doughnut is not a function"
I'm getting this error message (pieChart.Doughnut is not a function) but I can't understand why. So I did an [example ](http://codepen.io/rochapablo/pen/MyNLXL) of what I have, but it's working, which makes things more confused.

Here's what I got before the error, at my local:
![local1030](https://cloud.githubusercontent.com/assets/5365304/15505635/a9e8b136-219a-11e6-9de4-5c8c27d0b101.PNG)

... a

[2016-05-24 14:20] rochapablo commented on #2621
I think that I get it.

I was using _2.1.3_ at _local_ and **1.0.2** at _codepen_.

[2016-05-24 14:20] #2621 closed

[2016-05-24 16:48] wobbit opened #2622 "v.2 Line chart not showing point when only 1 y-axis label and data point."
Apologies if this has been raised before, I had a search but couldn't find anything on version 2.

I'm getting a similar problem to #76 but on v.2. When I only pass in 1 data point and 1 label for the x-axis, the data point isn't drawn on the graph and the x-axis (time type) label is off  #the screen (top left - see screen shot below).

![screen shot 2016-05-24 at 17 44 49](https://cloud.githubuse

[2016-05-24 17:03] ashiguruma commented on #1323
How about the below for usage of some form of pattern helper?

[code]

Shape can be either a string matching a set of pre-defined patterns or a custom pattern canvas.

[code]

Could alternatively add a pattern option to the config that would auto-generate the patterns using the colors supplied although this is seems less flexible.

[code]

[2016-05-24 17:06] FreelanceWebNinja opened #2623 "Initial points are cutoff"
Points are hidden on both axes

![screen shot 2016-05-24 at 1 04 42 pm](https://cloud.githubusercontent.com/assets/13908709/15512926/531a8f9e-21b0-11e6-847e-cafd93e5c0ce.png)

[2016-05-24 18:36] jeffshaver commented on #2418
Is there a fix for this? We only have access to Firefox 31.5.0

[2016-05-24 19:29] liserdarts commented on #2616
I'm having the same problem. This is the code I'm trying to get working.
https://jsfiddle.net/liserdarts/xw581xnv/2/

[2016-05-24 19:33] mkates commented on #2482
I have encountered the same issue where I cannot get my lines to stack. I am using chart 2.1.3. I use react with react-chartjs but I feel this must be an underlying issue. I pasted the code for a simple Line Chart in React below:

import React, { Component, PropTypes } from 'react'
import { Line } from 'react-chartjs'

class LineChart extends Component {

  render() {
    let chart = {
        "la

[2016-05-24 21:07] simonbrunel commented on #2418
@Lulububu @mbgardner @jeffshaver can you guys test if that [this dev version](https://github.com/chartjs/Chart.js/files/280527/Chart.bundle.min.js.zip) works for you? It works for me on FF 25 & FF 31 (@nelsou I didn't test on FF 24).

[2016-05-24 22:04] ezwang opened #2624 "Chart data is slightly offset in time scale chart"
The chart below does not start at the y axis, but instead is shifted slightly to the right.

![issue](https://cloud.githubusercontent.com/assets/4441174/15521392/838c59a4-21d9-11e6-92d5-84724a112951.png)

You can find the fiddle [here](https://jsfiddle.net/3L3ty7pr/).

Thanks!

[2016-05-24 22:15] ezwang commented on #2624
My bad, I was using `Date.parse("2015-09-08", "YYYY-MM-DD")`, which does not return an accurate date.

Sorry, this issue can be closed now.

[2016-05-24 22:18] #2624 closed

[2016-05-24 23:16] etimberg commented on #2482
@mkates stacking is only supported in v2. The options you pass in will not stack the graph. Please see https://github.com/chartjs/Chart.js/blob/master/samples/line-stacked-area.html

[2016-05-24 23:17] etimberg commented on #2616
The propert function to use is `getElementsAtEvent(evt)`. See http://www.chartjs.org/docs/#advanced-usage-prototype-methods

[2016-05-24 23:17] #2616 closed

[2016-05-24 23:18] etimberg commented on #1323
A pattern helper is a good idea. I don't think it should live in the core though otherwise we're just going to increase the size

[2016-05-24 23:18] etimberg commented on #2619
I feel like this might be better asked on stack overflow.

[2016-05-24 23:18] #2619 closed

[2016-05-24 23:19] etimberg commented on #2618
This is not possible since everything is drawn on the canvas

[2016-05-24 23:19] #2618 closed

[2016-05-24 23:20] etimberg commented on #2435
@zachpanz88 its when the `point._model.skip` property is true. That property is set in the line controller, `updateElement` function

[2016-05-24 23:20] etimberg commented on #2571
I think we can add a hook to notify plugins of resize events

[2016-05-24 23:21] etimberg commented on #2611
Closing as duplicate

[2016-05-24 23:21] #2611 closed

[2016-05-24 23:22] etimberg commented on #2623
Duplicate of #2278 #2404 and #2562

[2016-05-24 23:22] #2623 closed

[2016-05-24 23:23] etimberg commented on #2602
@jewkesy I don't remember why [-1, 1] was chosen. I am fine with changing it

[2016-05-24 23:24] etimberg commented on #2617
This is because the bottom of the scale is the same value as the minimum which in this case is yellow. Forcing the scale to a minimum or to begin at zero displays it.

Closing as designed.

[2016-05-24 23:24] #2617 closed

[2016-05-24 23:28] FreelanceWebNinja commented on #2278
Is there a solution? This is kind of a game changer; thinking of falling back to v1.

[2016-05-24 23:46] etimberg commented on #2278
@FreelanceWebNinja remove this stuff and it goes away https://github.com/chartjs/Chart.js/blob/master/src/core/core.controller.js#L327-L330

[2016-05-25 00:23] Gabweb commented on #78
@dannysindra nice work! Sadly those charts don't work on my iOS device...

[2016-05-25 00:35] FreelanceWebNinja commented on #2278
Remove the highlighted lines?

[2016-05-25 00:37] FreelanceWebNinja commented on #2278
Ha, never mind I gotcha. Thank you!

[2016-05-25 00:45] etimberg commented on #2278
great. i'm trying to think of a good solution to support this. The problem is that the points need to be projected onto the rectangle to make a path and then clip that. Doing that in a performant manner is difficult.

[2016-05-25 01:13] FreelanceWebNinja commented on #2278
It would be good to be able to map the points above the axes (layered).

At the very least, a "zoom/pinch" flag option should be available to strip that code rather than having to do it manually.

[2016-05-25 01:20] 719media commented on #2049
use cdnjs for 2.0
https://cdnjs.com/libraries/Chart.js/2.1.3

[2016-05-25 02:47] xxvii27 opened #2626 "Fixed width label, horizontal bar chart"
I am wondering if chart.js supports fixed width labels in the graph, something like this in google charts https://jsfiddle.net/xxvii27/guxox9hn/

As you can see the labels scales at a fixed space, while the graph has the remaining space. I am encountering this issue while listing 4 graphs together in a column, and they're not aligned properly, with the labels taking the graph space.

[2016-05-25 07:11] jewkesy commented on #2602
@etimberg The more I think about it, the more I think it is worth keeping [-1, 1].

Assuming that it is possible to change the data while hidden, I wouldn't want to see a fluctuating scale on an empty chart.

Also when the charts are scaled down on mobile devices, the scale is more legible when using a single digit.

[2016-05-25 07:26] alvarosg88 opened #2627 "Whre can I find 1.0.2 documentation??"
Whre can I find 1.0.2 documentation?? Actually I need to work with this version. Thanks

[2016-05-25 07:28] alvarosg88 commented on #2627
Found. Thanks and sorry xD

[2016-05-25 07:28] #2627 closed

[2016-05-25 07:38] ashiguruma commented on #1323
True. An external pattern generator makes most sense. I've already started looking at that implementation so will update the issue accordingly.

[2016-05-25 07:51] fjacobs commented on #762
@derekperkins @aholtventuretech: it works fine for me in bootstrap carousel.

[2016-05-25 08:39] przemekd commented on #2435
@zachpanz88 May you provide any example how to override that property? The `chart.js` documentation does not provide any examples for that..

[2016-05-25 08:51] nickvanderhoven opened #2628 "Documentation shows wrong (not-working) example for line chart options"
In the documentation below the [Line chart options table](http://www.chartjs.org/docs/#line-chart-chart-options), an example is given to make a line chart display without an x axis:

[code]
However this code does not work. In order to make it work, it should include the scales:

[code]
I created a JSFiddle to display the issue [https://jsfiddle.net/1p8nktsz/](https://jsfiddle.net/1p8nktsz/)

I los

[2016-05-25 09:55] wokung opened #2630 "Use Images / Fonts in Line Chart as points ?"
Hi,

I tried some different chart libraries and I love ChartJs. I would love to have the option to add any abritary image (the format does not matter) as data points.

I can see that this is not possible in the current version, will you implement this?

thanks

[2016-05-25 12:49] Juventino96 commented on #2628
1+

[2016-05-25 12:49] soniaCejas opened #2631 "[Doughnut Chart] Dataset with null value not allow in version 2.1.3."
Hi!
I migrated from version 2.0.1 to 2.1.3. I have a doughnut with two datasets.
<img width="322" src="https://cloud.githubusercontent.com/assets/7313979/15539891/5a1c906e-2285-11e6-84fb-6f7999b630e1.png">

Occasionally, I have a dataset with null values. In the previous version, it is drawn correctly.
<img width="519" src="https://cloud.githubusercontent.com/assets/7313979/15539584/a442568a-2283-

[2016-05-25 12:55] mpjones84 opened #2632 "Legend Fontsize"
Sorry if this isnt the right place, but if not can someone point me in the right direction on how to change this?

I'm looking to create a dashboard to site on a 50inch screen (1080p) and the text is too small.

[2016-05-25 13:01] etimberg commented on #2632
@mpjones84 in v2, you can do the following.

[code]

[2016-05-25 13:01] #2632 closed

[2016-05-25 13:03] etimberg commented on #2628
Fixed in #2629

[2016-05-25 13:03] #2628 closed

[2016-05-25 13:05] etimberg commented on #2630
@wokung set the pointStyle options to a canvas image element and this will work. The image is drawn using https://developer.mozilla.org/en/docs/Web/API/CanvasRenderingContext2D/drawImage

[2016-05-25 13:05] #2630 closed

[2016-05-25 13:31] wokung opened #2633 "Tooltips - Visible by default ?"
Hi,

is there a way to show Tooltips by default in the actual version ?

I could find some workarounds for chartjs v1, but for v2 I can only find a way to build my custom tooltips (which is way more work).
Maybe there is an option that I am missing to enable them on default without hovering?

Thanks

[2016-05-25 13:40] mpjones84 commented on #2632
Thanks, but can you show me how to add the options to the pie chart, im not having any luck where ever I try it.

[2016-05-25 13:43] mpjones84 commented on #2632
var ctx = document.getElementById("@Model.Id").getContext("2d");
            var options = {
                legend: {
                    label: {
                        fontSize: 30
                    }
            }
        };
            var myNewChart = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: options
                 });

[2016-05-25 13:47] mpjones84 commented on #2632
Ignore, this, got it.  labels not label.

[2016-05-25 14:01] Gabweb commented on #78
By combining both solutions from @potatopeelings and @dannysindra I manged to get it work. It won't flicker and after some changes to those forEach() it now works on iOS too.

I Implemented two options to either show the labels or percentage. Take a look at Code: http://jsfiddle.net/Gabweb/s15jj21a/

![workingpielabels](https://cloud.githubusercontent.com/assets/8501104/15542365/c3fd5a6c-2290-11e6

[2016-05-25 14:53] wokung commented on #2633
Ok, I found a solution by building a custom plugin.

http://stackoverflow.com/questions/36992922/chart-js-v2-how-to-make-tooltips-always-appear-on-pie-chart

very smart

[2016-05-25 14:53] #2633 closed

[2016-05-25 14:57] fivetide opened #2634 "TimeScale: Empty first value causes scale to wrongly evaluate numeric values"
[Example here](https://jsfiddle.net/298ppwLu/1/)

With (typeof null === 'object'), the condition in
https://github.com/chartjs/Chart.js/blob/master/src/scales/scale.time.js#L117
evaluates true. This causes all numeric values to be parsed into moments and this.firstTick to end up being 01-01-1970.

[2016-05-25 15:17] etimberg commented on #2634
I think this has already been fixed in master but we should confirm that

[2016-05-25 15:28] fivetide commented on #2634
You are right, for my case it is fixed with f34453cf8f3c6848e0a2d5a8519fe5fc379824a4, but i believe it now breaks when using point data , which this condition was created for (7603b3cc36f6c5ac172855ff4ec722c4442bf738).

Maybe this would be a better solution?
`
if (typeof helpers.findNextWhere(dataset.data, function(item) {return item !== null; }) === 'object')
`

I will create a few tests and upda

[2016-05-25 15:32] reddo commented on #2571
@etimberg It's not a plugin yet, it's just as it was. Take a look at this fiddle: https://jsfiddle.net/reddo/7jcvp2bs/6/ and try resizing the box. Note that the gradient doesn't get re-rendered.

[2016-05-25 16:30] FreelanceWebNinja opened #2635 "Stop Gridlines from expanding past last ticks"
Is there a way to stop the gridlines from expanding past the final ticks?

![screen shot 2016-05-25 at 12 28 39 pm](https://cloud.githubusercontent.com/assets/13908709/15547997/68a95f1a-2274-11e6-9078-ae8acf96111b.png)
![screen shot 2016-05-25 at 12 28 44 pm](https://cloud.githubusercontent.com/assets/13908709/15547999/6b6dbb10-2274-11e6-9ef3-d1ecb3cc702d.png)

[2016-05-25 17:42] mbarwick83 commented on #2378
Same thing happens when you hide the xAxes in general as well (or yAxes).

`xAxes: [{
                        display: false,
                    }],`

[2016-05-25 17:51] mbarwick83 commented on #2229
What was the solution??

[2016-05-25 18:34] etimberg commented on #2635
There is a setting to disable these. I don't remember it off the top of my head.

[2016-05-25 19:09] FreelanceWebNinja commented on #2635
Darn, I cant find it in the documentation anywhere.

[2016-05-25 19:17] etimberg commented on #2635
This will do it

[code]

[2016-05-25 19:19] FreelanceWebNinja commented on #2635
Right, that removes them from within the tick area, but I'm trying to remove are those at the edges:

![screen shot 2016-05-25 at 12 28 39 pm](https://cloud.githubusercontent.com/assets/13908709/15553216/1f1d06fe-228c-11e6-8fc6-d0089744ecb2.png)

[2016-05-25 20:05] etimberg commented on #2635
right, that's not possible. they're coming in because of the label padding

[2016-05-25 20:15] elzii opened #2636 "Custom Tooltips - X coordinate unpredictable for points in second half of dataset"
JSBin here:

http://jsbin.com/beguzuveki/1/edit?js,output

To demonstrate, hover over the point in for JUNE, then JULY

It looks like a product of the default tooltip styling where the caret is situated to the left/right, but I'm unsure how to resolve for this custom implementation

[2016-05-25 20:17] FreelanceWebNinja commented on #2635
Darn, possibly they can add a feature for setting the first and last labels at the baseline.

[2016-05-25 21:44] #2418 closed

[2016-05-25 21:56] etimberg commented on #1593
Closing since we won't implement this in core. I am happy to help anyone in creating a plugin to implement this chart type.

[2016-05-25 21:56] #1593 closed

[2016-05-25 22:05] etimberg commented on #2241
Closing since we won't implement this in the core. I'd be happy to help anyone implement a plugin to do this.

[2016-05-25 22:05] #2241 closed

[2016-05-25 22:07] etimberg commented on #2327
Closing since we won't support this in the core. This can easily be done by replacing the callback function on the linear scale to do custom formatting.

[2016-05-25 22:07] #2327 closed

[2016-05-25 22:09] etimberg commented on #2390
Closing since we won't support this in the core. The recommended solution would be to create a new scale per my previous comment.

[2016-05-25 22:09] #2390 closed

[2016-05-25 22:12] toobulo opened #2639 "pie-customTooltips.html:166 Uncaught TypeError: (intermediate value).Pie is not a function"
Opening the samples/pie-customTooltips.html, there is a JS error and the chart never loads.

**pie-customTooltips.html:166 Uncaught TypeError: (intermediate value).Pie is not a function**

https://github.com/chartjs/Chart.js/blob/master/samples/pie-customTooltips.html

[2016-05-25 23:04] elzii commented on #2636
@etimberg This is actually for version 2.x, experiencing it in 2.0.2 specifically.

[2016-05-25 23:06] elzii commented on #2636
I'm able to circumvent the issue by commenting out

`this.determineAlignment(tooltipSize)`

on line [11604 in Chart.bundle.js](https://github.com/chartjs/Chart.js/blob/master/dist/Chart.bundle.js#L11604) though I suspect a more elegant solution is possible.

I'm also setting

[code]

[2016-05-26 00:18] etimberg commented on #2636
I think it's the alignment settings but I'll give it some debugging

[2016-05-26 01:00] etimberg commented on #511
Closing since this will not be implemented in the core. The annotation plugin listed above is the best way to do this.

[2016-05-26 01:00] #511 closed

[2016-05-26 01:01] etimberg commented on #513
Closing since this is a v1 issue which I think is addressed in v2.

[2016-05-26 01:01] #513 closed

[2016-05-26 01:09] etimberg commented on #762
Fiddle showing it working in bootstrap is: https://jsfiddle.net/cbybvww8/1/

[2016-05-26 01:09] #762 closed

[2016-05-26 01:12] etimberg commented on #1020
Closing since this is v1 and there is a good work-around. In v2 `resize()` will re-render the chart.

[2016-05-26 01:12] #1020 closed

[2016-05-26 02:31] zachpanz88 commented on #2435
I looked into this a little bit, when I set it to always never skip (`skip: false`) the shading gets messed up. A solution will require more than just changing that property. Any other ideas for a fix?

[2016-05-26 04:52] norrhult commented on #2390
Thanks again for response and help.

I will pursue getting help from other users to make a new scale acc. to
your comment.

For the record, a user perspective: I think it should be part of core,
since anyone doing serious work with charts, and particularly scatter
charts, will want to use log as often as linear scale. Not all users are
programmers though.

/Paul

On 2016-05-26 00:10, Evert Timberg

[2016-05-26 07:40] Lulububu commented on #2418
It does work on FF 31.
Thanks !

[2016-05-26 07:44] jewkesy commented on #762
Hitting this problem with v2.1.3, Bootstrap v3.3.6.  I have 4 Polar Charts side-by-side in responsive containers.  Not using a carousel, so will try to get a fiddle up and running

[2016-05-26 09:42] omarsedki opened #2641 "How To Add margin to the chart (inside the canvas not in The html)"
How To Add Margin (Space- Padding) to the chart (inside the canvas not in The HTML)

[2016-05-26 11:12] Juventino96 commented on #2639
1+

[2016-05-26 13:31] Kopleman commented on #2605
I think one of the most important thing is types of chart that all they have, so it look like another table.

[2016-05-26 13:40] IgorTurko opened #2642 "diff charts"
Hi all!

I have a task to create chart like this.

![pasted image at 2016_05_18 12_51 pm](https://cloud.githubusercontent.com/assets/4738307/15576374/417a128a-2360-11e6-9894-a957c679dbba.png)

Is it possible to do this?

As far as I understand google charts has it and they call it diff charts https://developers.google.com/chart/interactive/docs/gallery/diffchart#overview

Thanks

[2016-05-26 14:10] Davy-F commented on #1922
Also seem to be getting this issue. Only happens with a lot of data points.

[2016-05-26 14:19] chadcodes opened #2643 "Possible to group a stacked bar chart?"
Is it possible to group a set of stacked bars in this version of ChartJS?  I've got a fiddle of a triple stacked bar with 3 datasets, and I would like to group them together so I can add another set of 3 stacked bars.  Hopefully this makes sense.

https://jsfiddle.net/7oo4ugbj/

 ![screen shot 2016-05-26 at 10 19 41 am](https://cloud.githubusercontent.com/assets/7251818/15577646/653338bc-232b-11e6

[2016-05-26 14:23] silvioq commented on #577
Hi @Vipsy1982 , I have the same troube ... in stacked bars, I can't handle in which bar I clicked.

[2016-05-26 14:44] potatopeelings commented on #2643
@chadcodes if you're ok to set your y axis limits manually check out - http://jsfiddle.net/4rjge8sk/

[2016-05-26 15:12] jeffshaver commented on #2418
Anyone know when this will make it into a release?

[2016-05-26 15:17] etimberg commented on #2643
@potatopeelings awesome example there!

[2016-05-26 15:19] etimberg commented on #2642
These just look like multiple datasets which are supported in all charts (except polar area) in v2

[2016-05-26 15:20] etimberg commented on #1151
@potatopeelings has a great fiddle to do this in #2643

[2016-05-26 15:30] chadcodes commented on #2643
Definitely ok with setting the y axis manually.  My data is normalized going in so I can control the upper limit of the y.  Thank you so much for the fiddle, helps me out quite a bit.

I have a follow up question for you.  I've modified your fiddle a little to fit my data and I find I'm doubling up my labels.  The data within each grouped stack is the same so I'm not sure how to avoid duplication

[2016-05-26 15:39] IgorTurko commented on #2642
There are three datasets and five charts. But I need first two replace with a one

![image](https://cloud.githubusercontent.com/assets/4738307/15580375/296d0eac-2371-11e6-9e94-1949f91c4c3b.png)

are you sure multiple datasets can help?

[2016-05-26 15:50] potatopeelings commented on #2643
@etimberg - sure, will check if I can figure out a cleaner way (the fiddle uses a lot of shortcuts :-) - I just hide datasets and call the original calculateBarY and calculateBarBase, instead of changing those methods). Might take a week or so because I'm on something else right now. Cheers!

@chadcodes  - just set `legend.labels.generateLabels`. See http://jsfiddle.net/2xjwoLq0/

[code]
The above

[2016-05-26 15:53] etimberg commented on #2643
@potatopeelings sounds good. changing the calculateBarY and calculateBarBase functions is probably the way to go

[2016-05-26 15:58] chadcodes commented on #2643
@potatopeelings amazing work!  I really appreciate the help on this.  I'll work on using the config.data to update the fiddle and repost it here.

[2016-05-26 16:46] zachpanz88 commented on #2418
It will be in the next release which is coming very soon, probably within a few days.

[2016-05-26 18:04] Spone commented on #2361
Can you please update the website, now that the Bubblechart docs are merged?

[2016-05-26 18:09] jeffshaver commented on #2418
@zachpanz88 thanks!

[2016-05-26 20:26] lakenen commented on #1977
Any update on this? I'm seeing this issue as well.

[2016-05-26 21:32] jorgecgll opened #2644 "Segment Labels in Doughnut/Pie Charts"
I would like to display a percentage label for each segment in a Pie/Doughnut chart like this:

http://jsfiddle.net/g6fajwg8/
![screen shot 2016-05-26 at 2 30 46 pm](https://cloud.githubusercontent.com/assets/15037357/15590830/7d5ee9ae-234e-11e6-98ee-01e1aa1102aa.png)

[2016-05-26 21:58] timsuchanek opened #2646 "Disabling axis lines"
Hi, in this example the only lines left are the lines at the axis.
How to disable them?

This doesn't work:
[code]

https://jsfiddle.net/au386pck/

Thanks!

[2016-05-26 22:06] etimberg commented on #2646
This has already been fixed for the next release. A new option is added `drawBorder` that removes the border.

[2016-05-26 22:06] #2646 closed

[2016-05-26 22:24] etimberg commented on #2644
All of the other doughnut / pie labelling issues are wrapped up in #78

In the comments, there is a good solution for making this work in v2

[2016-05-26 22:24] #2644 closed

[2016-05-26 22:47] davidlyons opened #2647 "When line tension is 0, line does not animate in"
https://jsfiddle.net/6rd9aLb1/2/

comment out the tension, rerun the fiddle, and the graph animates in:
// Chart.defaults.global.elements.line.tension = 0;

uncomment the tension, rerun, and the line does not animate in:
Chart.defaults.global.elements.line.tension = 0;

[2016-05-26 22:53] jorgecgll commented on #78
In my case I had to implement it differently in order to achieve animated percentages - (even when you hide and show segments). Still needs some work.

http://jsfiddle.net/g6fajwg8/

It would be nice if we had this implemented in the core :) .. Although I'm seeing comments that it's better to implement it in other ways, so I might be wrong.

[2016-05-26 23:42] #2607 closed

[2016-05-27 00:23] #2647 closed

[2016-05-27 00:26] etimberg commented on #1864
Closing since there is a good fix in v1 and this is natively supported in v2

[2016-05-27 00:26] #1864 closed

[2016-05-27 02:14] etimberg commented on #2538
The good news is that I now know what causes this. The bad news is that I don't yet know the fully cross-browser way to fix it so I need to do some testing on my end. The gist of it is described in http://stackoverflow.com/questions/8600393/there-is-a-4px-gap-below-canvas-video-audio-elements-in-html5

In the fiddle i added some CSS to make the canvas `display: block` and the problem went away

[2016-05-27 05:32] christ0ph3r commented on #1976
I just updated to chart js 2.0.  Being able to toggle labels on line charts is a GREAT feature and I do not recall this being in 1.0.  It would be very nice to be able to focus in on the chart js labels using keyboard navigation.  Currently it seems like it skips the chart on the keyboard which can be a bit confusing for users who use the keyboard primarily to navigate around.

:smile:

[2016-05-27 07:09] fivetide commented on #2634
So, the only case if found would be using null as a first of a set of x-y-points. But I guess there is no reason to actually do that, since x-y-points could easily have gaps or be unordered. With the initial bug being fixed already, i think this issues should be closed...

[2016-05-27 07:09] #2634 closed

[2016-05-27 08:47] gustav-engdahl commented on #2582
I have a problem in Chrome (50.0.2661.102 64-bit), on OSX (10.10.5 ) where a bar-chart is correctly resized when increasing the window size whereas nothing happens when the window is made smaller.
The exact same scenario works perfect in Safari.
Is this a know issue?

[2016-05-27 09:17] wobbit commented on #2622
Here's a jsbin of the error (using 2.1.4):

http://jsbin.com/gabiqowali/1/edit?html,js,output

Passing in a second label (even without a data point) fixes the issue: http://jsbin.com/giguhogodi/2/edit?html,js,output

[2016-05-27 09:28] Davy-F opened #2650 "Hide points for only one data-set on a line chart."
There's something similar to what I want to achieve here:
#2297

But this updates all points on a chart. Ideally I would like a mix of lines on a chart, some with points and some without. I can slightly do this by setting the pointColour to rgba(1,0,0,0), but this isn't ideal as it also updates the colour in the tooltip legend - see below.

![image](https://cloud.githubusercontent.com/assets/19592

[2016-05-27 09:46] wobbit commented on #2650
Is this chartjs v2? If so you can set the pointRadius of that dataset to 0.

http://jsbin.com/mohijumura/1/edit?html,js,output

[2016-05-27 09:51] wobbit commented on #2642
@IgorTurko Isn't this just a stacked bar chart? If so, there's an example in samples: https://github.com/chartjs/Chart.js/blob/master/samples/bar-stacked.html

http://jsbin.com/dazirasuqa/2/edit?html,js,output

[2016-05-27 10:27] amastaneh commented on #1916
Is there any RTL support solution for scales and legends and ...
Version: 2.1.3

![image](https://cloud.githubusercontent.com/assets/6195199/15605366/c090db5c-241a-11e6-9678-14f3477092d2.png)

![image](https://cloud.githubusercontent.com/assets/6195199/15605420/0eaf710e-241b-11e6-988e-eee423eb028e.png)

[2016-05-27 10:27] dennybiasiolli opened #2651 "Bar Chart - Custom Label Colors"
Hi,
as you can see in the image below and in [this example on codepen](http://codepen.io/dennybiasiolli/pen/NrKQJr), i can't find a way to customize label's background colors, when there are more colors for bars.
![example](https://cloud.githubusercontent.com/assets/11649463/15605107/22b57eda-2404-11e6-9e6c-3911473cdb72.png)

Function generateLabels use "dataset.backgroundColor", that in my case i

[2016-05-27 11:28] etimberg commented on #2582
Set the canvas CSS display property to 'block' as a work around

[2016-05-27 12:04] etimberg commented on #2651
There is no other way to customize it. You might be able to create a canvas pattern of the exact image you wanted and that would work

[2016-05-27 12:06] MrBananaGuard opened #2652 "Bar Chart - Setting scales gridLines.display && drawOnChartArea not setting"
Hi,

I have Implemented Chart.JS v 2.1.3 into an angular 2 project, now the charts are drawing out nicely, but certain options do not seem to be setting.

Please find my options below:

`
gridLines:any[] = [{
        display: false,
        drawOnChartArea: false
    }];
    bar_options:any = {
        responsive: true,
        scales: {
            xAxes: [{
                display: false,

[2016-05-27 12:26] Davy-F commented on #2650
v1, but I'll try updating to v2 and see what I can come up with. Thanks!

[2016-05-27 13:12] alejandrofm opened #2653 "Custom Origin"
Hi, I'm using this example scatter graph:
https://github.com/chartjs/Chart.js/blob/master/samples/scatter.html
It works great, I was wondering if it is possible to move the axis origin (recentre the graph) from (0,0) to another value ej (20,40).
Thank you!

[2016-05-27 13:36] MoPHL commented on #2399
Also need this, +1

[2016-05-27 15:12] etimberg commented on #2653
This is currently not possible.

Closing as duplicate of #2164

[2016-05-27 15:12] #2653 closed

[2016-05-27 15:20] MoPHL commented on #78
@jorgecgll very nice, it's working very well and found no issues so far.

[2016-05-27 15:22] jayrei opened #2654 "Loading or Activating Chart on Load"
I have Chart.js set up so that it takes input fields from a form and after clicking on Submit, it generates a donut chart using those numbers as data points.

The issue I am having is how can I get the form or chart to run once on page load (input field are already filled with numbers via HTML5 Local Storage). I've tried jQuery .submit(); on page load but nothing happens. I appreciate any help. Th

[2016-05-27 16:26] etimberg commented on #2654
@jayrei I think this question is probably better asked on stackoverflow.

[2016-05-27 16:26] #2654 closed

[2016-05-27 18:01] vjancik opened #2655 "Line Chart - Tooltip square color"
The tooltip square (see second image) takes colors from `pointHoverBorderColor` and `pointHoverBackgroundColor`. However, if I want to highlight the body of the point on hover white, then the square is white. If I have multiple datasets, all the squares are white in the tooltip.

Is it possible to change it to take into consideration `pointBackgroundColor` and `pointBorderColor` instead of the `Ho

[2016-05-27 18:13] etimberg commented on #2655
Tied in with #1327

We can provide a callback for processing the items into the tooltip.

[2016-05-27 19:10] kennsippell opened #2656 ""Cannot read property 'length' of undefined" when using bars on time series without 'labels' defined"
Creating a bar dataset with xAxis of type "type" can result in error "Cannot read property 'length' of undefined". Should add check for definition of data.labels before checking the length.

Adding empty labels[] to data avoids the error, but bars are drawn.

https://jsfiddle.net/dotacoach/p8vLm0bj/5/

[2016-05-27 22:14] etimberg commented on #2652
@MrBananaGuard can you put this in a fiddle?

[2016-05-27 23:32] etimberg commented on #2641
There are currently no options to do this in the library itself.

[2016-05-27 23:38] etimberg commented on #2538
Ok, the summary of my research is in the table below. 'Yes' indicates that the browser CSS display combination includes an extra 4 px at the bottom.

| CSS Display | Chrome | Firefox | IE11 | Edge | Safari |
| --- | --- | --- | --- | --- | --- |
inline | Yes | Yes | Yes | Yes | Yes
block | | | | | |
list-item | | | | | |
inline-list-item | Yes | Yes | | Yes | Yes
inline-block | Yes | Yes | Yes | Y

[2016-05-28 02:08] etimberg commented on #1786
Closing since we won't implement this in the core. I'm happy to help someone looking to write a plugin to do this.

[2016-05-28 02:08] #1786 closed

[2016-05-28 02:28] etimberg commented on #2598
@ramarro123 the problem is arising because the entire data object is replaced. This means that new datasets are being created. The chart has no way of knowing which previous datasets were hidden. This information is tracked by adding additional parameters to the dataset object.

To work around this I would ensure that the original dataset objects are retained and only the `data` array is changed.

[2016-05-28 02:28] #2598 closed

[2016-05-28 02:29] etimberg commented on #2570
Closing since this has a solution. The alternative is to use `chartInstance.isDatasetVisible(datasetIndex)` which will return a boolean.

[2016-05-28 02:29] #2570 closed

[2016-05-28 02:30] etimberg commented on #2626
@xxvii27 can you post the fiddle of what you have so far?

[2016-05-28 14:52] #2639 closed

[2016-05-28 14:56] #2580 closed

[2016-05-28 15:26] #2613 closed

[2016-05-28 16:14] #1327 closed

[2016-05-28 16:14] etimberg commented on #2655
Fixed in #2657

[2016-05-28 16:14] #2655 closed

[2016-05-29 02:53] lonerzzz opened #2662 "Ticks callback function prevents scale rendering if it contains any nonnumeric characters"
When the ticks callback function is specified for a polar areas chart, it currently cannot contain any additional text or it prevents rendering of the chart.

FYI, I know you look to creating a sample to reproduce each issue, but I am just raising the issue in case someone is in the code as it is not important enough for creating a sample application for me to  reproduce this.

[2016-05-29 02:59] lonerzzz opened #2663 "Suggestion to create some templates for JSBin/JSFiddle/etc."
For minor/trivial issues, there is currently a lot of overhead to creating a JSBin/JSFiddle item. I would suggest that you create a couple templates that can be copied into one or more of these online tools to allow anyone with a trivial issue to have a well-defined starting point. It would make it easier to contribute and mean that you are looking at code that looks familiar to some degree. Just

[2016-05-29 11:07] IgorTurko commented on #2642
It would be great if we can setup dataset data as array of arrays. Something like data: [1,2,3, [4,5], [6,7]].

As you can see it'a a little bit another then stacked bars. I have already implement this functionality. I extend controller.bar, scale.linear and element.rectangle. Thanks to architecture of this library we can expand this library very easy. If it will be interestiong for someone I can

[2016-05-29 16:10] #2399 closed

[2016-05-29 16:10] etimberg commented on #1980
Fixed in #2664

[2016-05-29 16:10] #1980 closed

[2016-05-29 16:11] etimberg commented on #2662
Fixed in #2664

[2016-05-29 16:11] #2662 closed

[2016-05-29 17:01] lonerzzz opened #2665 "Independently control display of horizontal and vertical grid lines"
I apologize if this is a duplicate but did not find this enhancement requested so far. I suggest that it would make sense to independently enable the display of horizontal and vertical grid lines. For example, bar charts don't really need a vertical grid line so having the ability to disable it while retaining the horizontal lines would make sense.

[2016-05-29 17:18] etimberg commented on #2665
@lonerzzz you can toggle the grid lines per axis:

[code]

[2016-05-29 17:27] tgucci commented on #2635
+1 for this. Please fix it.

[2016-05-29 19:24] lonerzzz commented on #2665
Thanks for the clarification and quick response.

[2016-05-29 19:29] etimberg commented on #2665
No problem. the docs will be clearer as soon as the site is updated by @nnnick They updates are already in the markdown files in the docs folder

[2016-05-29 19:29] #2665 closed

[2016-05-29 20:43] zachpanz88 commented on #2663
We already have [this template](http://codepen.io/pen?template=JXVYzq) set up for Issues/PRs.

[2016-05-29 20:53] lonerzzz commented on #2663
Fair enough, only suggestion is to make it more apparent and call it out in the new issue text. I saw the list of sites but missed the template thinking it was just another one of the several possible sites to work at.

[2016-05-30 07:01] zhouyyibin commented on #2663
移动端不兼容，高太小，挤在一起了。

[2016-05-30 08:36] fvanhove opened #2666 "v2 Doughnut legend right/left support"
Hey,

I'm working on a project where i would like to position the legend of a chart to the left or right of the chart
and still keep the great events that are build in with the legends. Yet the documentations state that only "top" and "bottom" are supported.

Is this something that will be implemented in the future or is there a work around ?

[2016-05-30 11:43] joakimgk commented on #2609
I'm having the same problem. I asked on StackOverflow, but now I'm confident this isn't my fault :-)
Here is my test data: http://gknudsen.no/chart/testchart.html Note that I'm combining a line plot as well, and the same bug occurs. Is there any fix or workaround to this problem?

Btw, please note that the tooltip becomes correct if you "hide" datasets such that there is no overlap (in the x-axis)

[2016-05-30 12:27] yusufozturk commented on #2666
As I know, you can do it via legendCallBack as a workaround. You can place it anywhere you want with that.

https://github.com/chartjs/Chart.js/issues/2565

[2016-05-30 12:32] ticlekiwi opened #2667 "Donut Chart : Is it possible to add images on each part of donut ?"
Hi ! Great job with Chart.js!

I have to create some donut charts with images on each part of donut, like this (do not include red line):
![innovation_class](https://cloud.githubusercontent.com/assets/3403922/15649598/0f64ab5a-2673-11e6-8754-59221930af86.png)

Is it possible with Chart.js?

What is the trick?

Thx a lot for any answers

[2016-05-30 13:16] etimberg commented on #2666
The legend @yusufozturk is talking about is the HTML legend. It does not have the click behaviour, but it could be added after the fact in your application.

The request to put the canvas legend on the right is a duplicate of #1838

[2016-05-30 13:16] #2666 closed

[2016-05-30 13:17] etimberg commented on #2667
@ticlekiwi this is not currently possible in the core. There are number of solutions out there for drawing text, you can adapt them to use the canvas `drawImage` function instead.

[2016-05-30 16:15] zachpanz88 commented on #2663
I made the template more evident and changed the structure of templates in #2668.

[2016-05-30 16:15] #2663 closed

[2016-05-30 18:13] alejandrofm opened #2669 "HitRadius not same as pointRadius"
Im making a scattered graph as:
`window.myScatter = Chart.Scatter(ctx, {
data: data,
         options: {
                responsive: true,
         hover: {
                    mode: 'single'
                },
	elements: {
			line: {
						backgroundColor: 'rgba(200, 0, 0 ,0)',
						borderWidth: 0,
						borderColor: 'rgba(200, 0, 0, 0)',
						fill: false,
					}
				},
                hoverAni

[2016-05-30 20:26] alejandrofm opened #2670 "How can I change a point color in Scatter graph?"
I'm creating myScatter like this:
window.myScatter = Chart.Scatter(ctx, { /..../ }

I was assuming (search here and in StackOverflow) that changing the color to an individual point it would be something like:

window.myScatter.data.datasets[1].data[5].backgroundColor ="rgba(0,255,255,1)";
window.myScatter.update();

But I cant find the style properties for each point, so I doesn't do the change.
H

[2016-05-31 06:26] grigoni opened #2672 "Logarithmic chart loosing points"
as from the screenshot below and the attached example, the chart is messing up with initial an final points when there are many zeroes and the scale is logarithmic, when reset to linear everything works as expected (tried with v2.13 and v2.14)

![screen shot 05-31-16 at 08 21 am](https://cloud.githubusercontent.com/assets/4058713/15665046/d3c5d54c-2708-11e6-8a9c-6a42bf0b2f93.PNG)
[logarithmic.zip]

[2016-05-31 08:12] joakimgk commented on #2609
It seems the problem can be fixed by changing the getAveragePosition function (line 7141 in current version of Chart.js). The tooltip position is averaged over all data points occupying the same "slot" on the x-axis. While this makes sense for the x-coordinate, centering the tooltip, it seems to me in this case (with stacked data) that we want the y-coordinate to be fixed (not the average of all t

[2016-05-31 09:24] mlegait commented on #1933
Hello all,

Is it possible to do the same as HighCharts ? In responsive mode, height remains the same, only the width is modified. And the result is pretty good. You can try here : http://www.highcharts.com/demo/column-placement

Thank you for your great work :-)

[2016-05-31 10:09] glm-mhoulier opened #2673 "Error in logarithmic scale online documentation"
Hi,

I think that in Logarithmic Scale documentation [http://www.chartjs.org/docs/#scales-logarithmic-scale](http://www.chartjs.org/docs/#scales-logarithmic-scale), Example Configuration is missing 'scales' in 'options'.

`options: {
        xAxes: [{
            type: 'logarithmic',
            position: 'bottom',
            ticks: {
                min: 1,
                max: 1000

[2016-05-31 10:39] soniaCejas commented on #401
It's posibble use HTML for labels in the new version 2.1.4??
I need use "fontello".
I have to do something like this:
`return "<i class='icon-ok-circled2'></i>" + chart.data.labels[tooltipItem[0].index];`

Thanks

[2016-05-31 11:31] vjancik opened #2674 "Question about extending doughnut chart"
Hey I wrote an extension for the doughnut chart, to create a doughnut gauge.

[code]

Basically it just renders the numeric value in the middle, and I make it look like an incomplete circle through styles. **But I have a problem, which is that the "ease" argument changes both on the "entering" animation, and when the tooltip is being hovered.** And I can't tell which is which.
I only want to anima

[2016-05-31 11:36] vjancik commented on #2674
For now I managed to hack around it by using:
[code]

But I'd prefer to create a proper example (if we decide to do that).

[2016-05-31 13:06] chadcodes commented on #2643
@potatopeelings I had a quick follow up question on stack if you have a moment to have a look.  Would love to understand a little more how to draw on the chart via the plugin interface.  Thanks again!

[2016-05-31 13:12] etimberg commented on #2669
@alejandrofm the hit radius is added to the point radius to determine the area in which events are considered in the point. If you want the hit radius to be the same size as the point, set the `hitRadius` property to 0

[2016-05-31 13:12] #2669 closed

[2016-05-31 13:13] etimberg commented on #2670
To change the color of an individual point, you can set the `pointBackgroundColor` property of the dataset to an array of values. The first value is applied to the first point, 2nd value to the 2nd point, etc.

[2016-05-31 13:13] #2670 closed

[2016-05-31 13:14] etimberg commented on #2672
@grigoni the issue here is that log(0) is undefined mathematically.

[2016-05-31 13:20] etimberg commented on #2674
@vjancik the best way to do this would be to add something to the `_model` property of the point object. This value will be transition with the easing and stored in the `_view` property. When the tooltip goes to animate, this value will be the same in the `_model` and the `_view`. Then in your draw function, just use the value from the `point._view` and it should work.

I think this would make a g

[2016-05-31 14:00] alejandrofm commented on #2669
Was using an old version of Chart.js (v2.x.x) updated to 2.1.4, problem solved.
sorry for not trying that before.
Thank you

[2016-05-31 14:36] saad2912 opened #2676 "I want to add text between doughnut chart by fillText method on mouse hover but unfortunately its not working correctly"
Please consider the following before submitting an issue:

Guidelines for contributing: https://github.com/chartjs/Chart.js/blob/master/CONTRIBUTING.md

Example of issue on an interactive website such as the following:
- http://jsbin.com/
- http://jsfiddle.net/
- http://codepen.io/pen/
- Premade template: http://codepen.io/pen?template=JXVYzq

[2016-05-31 15:15] mlegait commented on #1933
Hello again,

I found how to get what I wanted :-)

I set the following options :
`{ responsive: true, maintainAspectRatio: false, [...] }`

I added a div around the canvas :
[code]

And I control the div's height `.chart-container` in CSS with media queries.

It's perfect :-)

[2016-05-31 15:24] ghpabs commented on #1572
Did anyone manage to install the definition file? `typings install chart --ambient` fails here.

[2016-05-31 15:25] alejandrofm commented on #2670
That works perfectly, thanks. But it generates another question:
I have now 49 points in orange
1 point in black.

The legend now is grey
![image](https://cloud.githubusercontent.com/assets/19591174/15679994/4f2a4760-272a-11e6-9452-8530d22d5b60.png)
I would like it to be orange, I have them setted as in the dataset as:
'BackgroundColor' =>'rgba(234,156,18,0.5)',
'pointHoverBorderColor' => 'rgba(23

[2016-05-31 15:54] etimberg commented on #1933
Thanks for posting your solution @mlegait

[2016-05-31 16:54] alejandrofm opened #2677 "Change legend color when color given by pointBackgroundColor array"
From [#2670](https://github.com/chartjs/Chart.js/issues/2670)
I'm using as advised: the **pointBackgroundColor** property of the dataset as an array of values.
I have now 49 points in orange and 1 point in black, that's perfect.
But...the legend is now is grey
![image](https://cloud.githubusercontent.com/assets/19591174/15682872/fc999968-2735-11e6-8125-236fd82897bf.png)
I would like it to be orang

[2016-05-31 17:51] zachpanz88 commented on #2673
Fixed in #2678

[2016-05-31 17:51] #2673 closed

[2016-05-31 21:11] nution101 opened #2679 "Your website is down"
Your website with the demos is down. The dns cannot be resolved...

[2016-05-31 21:26] etimberg commented on #2679
It's working fine for me, can you post a screenshot?

[2016-05-31 21:31] zachpanz88 commented on #2679
It is up for me, maybe it is just not working for you. https://isitup.org/chartjs.org

[2016-06-01 04:45] tiesont commented on #2679
Working from a flushed DNS, it works for me, as well as http://www.isup.me/chartjs.org

[2016-06-01 07:05] soniaCejas opened #2681 "[Question] Use HTML for labels. Fontello is supported?"
Hi!
I comented in the closed issue and don't know if its visible now. [https://github.com/chartjs/Chart.js/issues/401](https://github.com/chartjs/Chart.js/issues/401). (This issue was created for the version 1.0.2)

It's possible use HTML for labels in the new version 2.1.4??
I need use "fontello".
I have to do something like this:
`return "<i class='icon-ok-circled2'></i>" + chart.data.labels[too

[2016-06-01 08:40] joakimgk commented on #2609
Actually, this does not hold if data points are not strictly decreasing (in displayed order, back to front). yPositions is ordered the other way around, so in my case I simply need to always get the first point. That's the data set the mouse is pointing on. If a smaller data set is "behind" it, then I still want the tooltip to indicate the larger front column. Otherwise, if a smaller data set is "

[2016-06-01 09:36] Davy-F commented on #1572
Has anyone felt brave enough to update it to v2 yet?

[2016-06-01 09:50] mdopieralski commented on #2423
hi @n-lavrenko, did you managed to fill this odd columns ? :-)

[2016-06-01 11:08] etimberg commented on #2681
@soniaCejas html labels are not supported in v2 since everything is done on the canvas.

[2016-06-01 11:08] etimberg commented on #2679
Closing since this appears to not reproduce

[2016-06-01 11:08] #2679 closed

[2016-06-01 11:09] etimberg commented on #2676
Closing since I think this is better asked on stack overflow. A search of the issues here will bring up similar things that you could adapt.

[2016-06-01 11:09] #2676 closed

[2016-06-01 11:11] etimberg commented on #2677
@alejandrofm the display style for the legend is set in https://github.com/chartjs/Chart.js/blob/master/src/core/core.legend.js#L45-L57

You could replace that function in your config and instead use different properties. This would be the recommended way of achieving your output.

[2016-06-01 11:11] #2677 closed

[2016-06-01 11:13] etimberg commented on #2601
There is no way to do this. It looks like your datasets have no data for the first label. Why not just remove the first label until there is data

[2016-06-01 11:13] #2601 closed

[2016-06-01 11:17] etimberg commented on #2556
This does not reproduce in the fiddle. I think the issue is that the data is somehow out of order and loops back to the start

[2016-06-01 11:17] #2556 closed

[2016-06-01 11:57] Cumquat commented on #524
Hi ya, any news on this enhancement, i have a current project that i would like to use this on?
Cheers Mick.

[2016-06-01 12:24] etimberg commented on #524
This is not yet done for the polar area chart, but it is done for the doughnut chart. It won't be too hard to implement

[2016-06-01 13:19] ewbdaniel commented on #2681
@etimberg How would someone go about editing the label via canvas? if you wanted to add a different background colour to each label for example..

[2016-06-01 13:33] etimberg commented on #2681
@ewbdaniel the drawing is done here: https://github.com/chartjs/Chart.js/blob/master/src/core/core.scale.js#L590-L599

You would need to modify that

[2016-06-01 15:07] n-lavrenko commented on #2423
Hi @mdopieralski.
Just now - not, but plan to do it.

[2016-06-01 15:23] dennybiasiolli commented on #2651
@etimberg this same example renders labels in darkgrey when browser is Firefox or Safari.
I can't reproduce this in IE for now.

[2016-06-01 15:40] chanonroy commented on #2579
Hi there,

If i'm interpreting the problem correctly, I am encountering something similar with stacked line chart opacity.

![stacked opacity overlap](https://cloud.githubusercontent.com/assets/16366896/15715514/b693e3e4-27ec-11e6-8106-3f9dd5bf1eb6.png)
[https://jsfiddle.net/0fs34ecd/](https://jsfiddle.net/0fs34ecd/)

The first dataset should be light blue in colour, but it's overlapping with the

[2016-06-01 15:58] Cumquat commented on #524
Sorry my mistake i meant to actually tag this comment on the ability to rotate the Radar Chart type, my mistake.

[2016-06-01 16:20] delormejonathan opened #2682 "How to show all tooltips at runtime ?"
Hi ! I'm trying the new version of Chart.js, awesome :open_mouth:

I find some examples in StackOverflow about this question, but none of these worked. ([link](http://stackoverflow.com/questions/31241610/how-to-show-tooltips-always-on-chart-js-2))
I think there were some changes in Chart.js's API between examples version and current.

https://jsfiddle.net/0svtqLd9/1/

I can't find a reference abou

[2016-06-01 18:20] alejandrofm opened #2683 "How to draw a custom line in scatter graph?"
Im working with this template:
https://jsfiddle.net/x1a9fst8/2/
I'm now trying to draw a vertical line at 400, I tried the solutions posted here and cannot make my graph to draw the line.
All the examples where in bar or line charts, this is scatter, any difference?
Thank you!

[2016-06-01 18:24] bauerj opened #2684 "Line-chart not using full width"
I'm using Chart.js to display this chart:
[jsfiddle :cloud: ](https://jsfiddle.net/ezy1s1bo/)

This is what it looks like in my browser (Chrome 50.0.2661.102 m):

![](http://bauerj.link/file/AKiQuf.png)

Why is there so much space on the left and right side (illustrated with arrows) of the chart?

I suspect the issue is related to using a time axis as it seems to be better when I switch to a diffe

[2016-06-01 18:25] alejandrofm commented on #2677
Sorry for asking, but Im new with this, can you enlight me a little.
I have to edit core.legend?
If I want to keep the default colors for dataset 1 and 3, and change the color for the 2nd. How can I start?
Not asking to solve my problem, buy in this case I don't know where to start.
Thank you

[2016-06-01 18:27] etimberg commented on #524
No problem, I think the fix is pretty much the same for both

[2016-06-01 18:29] etimberg commented on #2579
@chanonroy there is an issue to fix that. the problem is figuring out the best way to do it. Changing the global composite operation to 'source-out' might work, but it might cause problems with the grid lines.

[2016-06-01 18:32] etimberg commented on #2682
Duplicate of #1861
There is a solution posted there

[2016-06-01 18:32] #2682 closed

[2016-06-01 18:33] etimberg commented on #2677
You can pass a function to replace the default in your config

[code]

You would need to copy the original implementation for datasets 1 and 3, but it shouldn't be that bad

[2016-06-01 18:47] ekumlin commented on #2635
Agreed, I would love this feature. It's especially notorious if you have wide labels on the X-axis. (The extraneous lines in the areas marked by red below should be hide-able.)

![image](https://cloud.githubusercontent.com/assets/1350074/15721553/5b9b0092-27ee-11e6-8a87-8d26bfcc23de.png)
(Link to fiddle used for this image: http://jsfiddle.net/rzwuq9vw/)

[2016-06-01 21:52] kiwi1342 opened #2685 "Doughnut graph Percentage/Value in the middle"
Hi all,

I'm looking for a way to enter a value or percentage in the middle of the graph. I saw that many people are looking for a way to achieve this and I was wondering if there is a plan to implement this option in the plugin core.

thanks

[2016-06-01 22:05] NoelOConnell opened #2686 "Chart title not updating"
Hi,

I want to change the title of a chart using dynamic data.

I've made an example of the coding I'm using to change the title and redraw the canvas but it's not taking effect.

[code]
http://codepen.io/noeloconnell/pen/aZzjQO

Any ideas if it's possible or just a bug?
Thanks

[2016-06-01 22:12] etimberg commented on #2686
This is currently not possible because `update()` does no remerge the config options

[2016-06-01 22:35] kiwi1342 commented on #78
I'm using the plugin above and it works like a charm. I'm currently updating the chart value every 5s and I was wondering if there is a way to trigger the redraw of the element text.

thanks

[2016-06-01 22:50] etimberg commented on #2685
I don't think there is a firm decision on what to do with this. I see the value in adding it to the core, but I don't want to increase the library size too much

[2016-06-01 22:51] etimberg commented on #2683
There is a plugin to do this https://github.com/chartjs/Chart.Annotation.js

[2016-06-01 22:52] etimberg commented on #2684
What I would do is set an explicit min point on the graph.

[2016-06-01 22:58] NoelOConnell commented on #2686
Thank you for the response. I'll try and take a look at the src and see if I can make a PR to add the option in.

[2016-06-02 00:10] TheBotox opened #2687 "Labels get cut on mobile devices"
Hello, i have a problem with Charts.js for my website, with the line chart to be precise. When i click on the labels that are placed near the center of the graph they look cut, they seem to be exceeding the edges of the webpage, of the screen; as they are showed near such edges. I can attach a photo if you need it to better understand my question.

[2016-06-02 00:24] etimberg commented on #2686
sounds good. the `update` method is defined in src\core\core.controller.js

[2016-06-02 01:26] zachpanz88 commented on #2687
Please include an example of your issue on a website such as [JS Bin](http://jsbin.com/), [JS Fiddle](http://jsfiddle.net/), or [Codepen](http://codepen.io/pen/). ([Template](http://codepen.io/pen?template=JXVYzq))

[2016-06-02 01:38] etimberg commented on #2686
@NoelOConnell i thought about this more. I think this is actually easy to do. You can change the title plugin to do this in update as well https://github.com/chartjs/Chart.js/blob/master/src/core/core.title.js#L24

[2016-06-02 06:22] reddo opened #2688 "Update CanvasGradient object."
Double post, sorry.

[2016-06-02 06:25] reddo opened #2689 "Update CanvasGradient object on resize"
How can I update the gradient on window resize? right now the gradient stays the same while the actual chart is resized and this causes some nasty layout.

I've got around this issue but destroying the charts and rebuilding them on each resize. Here's a fiddle with what I got: https://jsfiddle.net/reddo/dah1c1y5/1/

Is there a better way around this? Note that .update() and .render() events do abs

[2016-06-02 06:26] #2688 closed

[2016-06-02 08:50] NoelOConnell commented on #2686
I replaced the `beforeUpdate: noop` in core.title.js with the following.

[code]

It now updates the Chart title and all tests are still passing.
Does that look okay to you?

[2016-06-02 09:34] the133448 opened #2690 "Option to make legend not visible if value is 0"
Is there a way for an option in the legend to make the label hidden if the value is not there or the value is 0?

[2016-06-02 10:38] TheBotox commented on #2687
http://codepen.io/Porcodio/pen/YWPgrW

Hi, I have created the pen, but i don't know why it is not working on it.

[2016-06-02 10:53] DanielGJohnsen opened #2691 "Tooltip callback label for pie chart"
How can I get the value of the slice where I am hovering in a pie chart? In a line chart it is possible to do tooltipItem.yLabel, but I can not find a similar approach for pie charts.

[2016-06-02 11:26] etimberg commented on #2686
Looks good, if you're going to pr it please use a local variable for `this.chart.options`

[2016-06-02 11:53] bauerj commented on #2684
[Like this?](https://jsfiddle.net/sf11Lo0f/)

It doesn't really look better:

![o](https://cloud.githubusercontent.com/assets/598790/15743969/51c90e3e-28c9-11e6-939c-4027196932f0.PNG)

You didn't categorize this as a bug. Is this expected behaviour?

[2016-06-02 12:02] TheBotox commented on #2687
I'm sorry but i can't provide you a fiddle or a pen, because i'm having probles with that. I'm providing you my code and a screenshot of the problem. This issue only happens with small mobile screens.
![screenshot_20160602-131508](https://cloud.githubusercontent.com/assets/10348487/15744071/0a0b0380-28ca-11e6-8f1e-818d8b61e81e.png)

(HTML code)
<div class="narrow container">
      <div id="chart">

[2016-06-02 12:07] NoelOConnell commented on #2686
Okay, I've updated the example above to use a local variable.
I'll try pr it in the next day or so.

[2016-06-02 12:42] etimberg commented on #2686
Perfect!

[2016-06-02 13:32] etimberg commented on #2690
this is not currently possible. tagging as an enhancement

[2016-06-02 13:36] etimberg commented on #2689
@reddo we need to add a way to hook into the resize notification.

[2016-06-02 13:39] etimberg commented on #2684
Based on your fiddle, I don't know why there is a large space at the right edge of the graph. That needs to be investigated and fixed

The overlapping labels are unfortunately due to the minimum being set on the graph. There is already an existing issue to track this.

The padding on the left edge is caused by the length of the label. There is an open issue to track this as well.

[2016-06-02 15:10] potatopeelings commented on #78
@kiwi1342  - just update the `options` and call `update()`. See http://jsfiddle.net/k6Lf3e98/

[2016-06-02 19:17] Maqsyo opened #2692 "Multiple y-Axis"
How can I use Multiple y-axis in 1 line Graph?
There is no Documentation and the one from Nick isn't available anymore.

[2016-06-02 19:18] kissgs commented on #2292
I have a doughnut chart and am trying to use the activePoint = chart.getElementAtEvent(evt) to get the element clicked (in this case the slice).  When I do a console.log(activePoint) it shows the same object no matter which slice I click on.  I just need to get the information about the slice (label, value) that was clicked.

The getDatasetAtEvent returns all the slices objects but that doesn't he

[2016-06-02 19:44] alejandrofm commented on #2683
Much easier than my previous tests. Can close this question
Thank you!

[2016-06-02 20:01] #2683 closed

[2016-06-02 20:03] etimberg commented on #2692
This sample is what you need https://github.com/chartjs/Chart.js/blob/master/samples/line-multi-axis.html

[2016-06-02 20:03] #2692 closed

[2016-06-03 00:16] etimberg commented on #2691
@DanielGJohnsen I would do:

[code]

[2016-06-03 00:16] #2691 closed

[2016-06-03 00:25] #2483 closed

[2016-06-03 00:35] #2278 closed

[2016-06-03 05:18] wdcao commented on #2547
Actually, I just partially solved this problem by setting the animation time to be zero.
I still cannot create the effect in the example in sbin

[2016-06-03 06:03] thebenedict commented on #2582
This may not be a bug. The containing div is slightly taller than the canvas because the div has some line height and canvas seems to be behaving like an inline element. `helpers.getMaximumHeight` in `core.helpers.js` gets the new height of the canvas from `dom.parentNode.clientHeight`, so the canvas constantly grows as the window is resized. [Related on stackoverflow](http://stackoverflow.com/que

[2016-06-03 08:21] dennybiasiolli opened #2697 "Incorrect rendering in browsers other than Chrome"
Hi,
as you can see in [this example on codepen](http://codepen.io/dennybiasiolli/pen/NrKQJr),  when we use an Array as "dataset.backgroundColor" (for example in Bar charts), legend is dislpayed incorrectly on Safari and Firefox.

`ctx.fillStyle = itemOrDefault(legendItem.fillStyle, Chart.defaults.global.defaultColor);`

ctx.fillStyle can be only [strings, CanvasGradients, or CanvasPatterns](https:

[2016-06-03 10:00] soniaCejas opened #2699 "[HorizontalBar] The Position of labels change when show tooltip (without legend)"
Hi,
In the next example, I created a horizontalBar and modified labels of y axis when this have '\n'.
I don't show the legend and used:
`Chart.defaults.global.legend.display = false;`

<img width="647" alt="captura de pantalla 2016-06-03 a las 11 12 18" src="https://cloud.githubusercontent.com/assets/7313979/15774659/ce792b80-297d-11e6-90c9-0b45b087cb69.png">

When I show the tooltip, the position

[2016-06-03 10:04] DanielGJohnsen opened #2700 "Chart.Zoom.js package not found"
The bower installation does not work? Is it a package problem or is it not supposed to work?

[2016-06-03 10:50] #2700 closed

[2016-06-03 12:57] ywtstewart opened #2701 "Slight dark/black overlay while touching a Chart.js doughnut chart data sections on iOS browsers."
Hello,
I've noticed that there a slight black overlay when touching a responsive doughnut chart data section on a iOS browser. I am currently testing on the latest versions of safari, chrome and firefox on iOS.  Can this be avoided or is this a common html5 canvas issue on mobile browsers?

[2016-06-03 13:41] etimberg commented on #2699
@soniaCejas I haven't had a chance to look at your fiddle, but I think this is a `ctx.textBaseline` issue. The tooltip / legend changes the baseline and your code assumes a certain value is set but does not explicitly set it.

[2016-06-03 13:42] etimberg commented on #2701
@ywtstewart have you tried the following CSS styles on your canvas?

[code]

[2016-06-03 14:02] mdopieralski opened #2702 "Same width scales in two independent charts (Fixed scale step width)"
Hi guys,

I'd like to make two different type charts, with same y-axis scale width.

What I've got already.
![zrzut ekranu 2016-06-03 o 15 54 41](https://cloud.githubusercontent.com/assets/13620780/15780867/e166b552-29a3-11e6-9068-77201c863a7d.png)

What I'm trying to achieve:

![zrzut ekranu 2016-06-03 o 15 58 41](https://cloud.githubusercontent.com/assets/13620780/15780950/42b0b416-29a4-11e6-9f2

[2016-06-03 14:02] ywtstewart commented on #2701
@etimberg I tried that instead found the solution on Stack Overflow. You can fix this by adding this code:
[code]

[2016-06-03 14:07] ticlekiwi commented on #2667
@etimberg thx for your answer!
I will try to adapt this with the canvas drawImage when I will have time for that!
I close this issue.

[2016-06-03 14:07] #2667 closed

[2016-06-03 14:21] etimberg commented on #2701
Thanks for coming back to post the solution.

[2016-06-03 14:21] #2701 closed

[2016-06-03 14:34] caioaugustofr opened #2703 "Points get cut when their values is equal to min or max tick value"
Hello,

I have a mixed chart (bar + line) and when a point of the line has its value equal to the tick max or min value, it is cut.

Here is a jsfiddle:
https://jsfiddle.net/tkykwnjt/

As you can see, on Goal 2 (value = 0) and on Goal 4 (value = 100), the point is cut by half.

Is it a bug or is there a way to fix it?

Thank you,

Caio

[2016-06-03 15:03] etimberg commented on #2703
Duplicate of #2278 which is already fixed in the master branch

[2016-06-03 15:03] #2703 closed

[2016-06-03 18:04] sassomedia commented on #2298
@etimberg since I had to update to a newer version of the library, I took a look at this again. I was mistaken in my previous statement about the build working with moment removed, that was actually not the case. I tried so many versions but the only one working was with moment bundled. I couldn't seem to get to a satisfying solution with the command line. So I gave the gulp build task another loo

[2016-06-03 18:43] decherneyge commented on #2210
Continuing with what @sknick did I took it one step further and decided to use the global flag as the kill switch for the iframe. I read the comment in the src about binding so the responsiveness could be changed dynamically but in my case I cared less about that and more about the performance gain* I would receive by not having the iframe.

    var origResizeListener = Chart.helpers.addResizeList

[2016-06-03 19:44] etimberg commented on #2298
@sassomedia feel free to PR that. @simonbrunel @zachpanz88 @tannerlinsley thoughts?

[2016-06-03 20:07] gritnix opened #2705 "Hovering increases all datasets' points of same index on scatter plot"
Just kind of a weird one that I'm not good enough yet to fix.  If you have multiple data sets on a scatter plot, you end up with arrays of x:y coordinates.  If you hover over a point on one of the datasets, you only get one tooltip as expected, but this hovering increases the radius of the point to the hoverRadius in every dataset for that corresponding array index.  Try it out here:

https://jsfi