[2016-03-29 23:16] etimberg commented on #2181
@hierarchy-id can you drop this in a JSFiddle?

[2016-03-29 23:41] #2185 closed

[2016-03-29 23:41] ekatherina commented on #2181
This is example - https://jsfiddle.net/jfkLvLd2/1/
Also you can try to use
[code]

[2016-03-29 23:42] etimberg commented on #2162
Fixed in 3f73433

[2016-03-29 23:42] #2162 closed

[2016-03-29 23:43] etimberg commented on #2180
Fixed in 3f73433

[2016-03-29 23:43] #2180 closed

[2016-03-29 23:55] etimberg commented on #2179
@behnamt we are very close to release. The v2.0-dev branch is essentially at release quality. We are working on updating the docs & website and then we will release.

[2016-03-29 23:55] #2179 closed

[2016-03-29 23:56] #2177 closed

[2016-03-29 23:59] etimberg commented on #2164
I don't think @sassomedia's solution will work with a category scale (default X axis type). There is currently no way to move the left axis to the middle. Tagging as an enhancement.

[2016-03-30 00:14] etimberg commented on #2115
I looked up all the uses of `map` inside of the source.

Does your `data` object have a labels array? It should also needs to have a dataset array. For a bar chart, this should only happen if the datasets array does not exist which is an error. I pushed a fixed in #2186 that better handles this case.

[2016-03-30 00:14] #2115 closed

[2016-03-30 00:17] etimberg commented on #2092
Tagging as enhancement to add this behaviour into the core bar controller.

[2016-03-30 06:17] chrisvel commented on #2184
@etimberg your confidence convinced me and checked out v2 once again. I was unable to make it work in the 2-edge one but it worked better than before in beta. Thanks.

[2016-03-30 06:17] #2184 closed

[2016-03-30 07:16] chrisvel opened #2187 "[question] Is it possible to select the Chart object from another JS file ?"
I have two JS files, one that I initiate the Chart Line object and draw it on the page and one that I am getting some data with websockets. I want to "get" the element on the page (canvas) who carries the chart, so I'll be able to .addData and .removeData to make it dynamic.

I have tried `$("#myTempChart").addData([14], "test");` but I get a `TypeError: $(...).addData is not a function` which see

[2016-03-30 09:09] Zarkos69 opened #2188 "multiple yAxes bar and line gets error (Cannot read property 'min' of undefined)"
I'm getting this error while using multiple yAxes and also use a Bar and Line graph.
Works fine with only 1 axis. (Working on: Version: 2.0.0-beta2 from about 30 days ago)

Error: Uncaught TypeError: Cannot read property 'min' of undefined   (The min is from `f=this.getScaleForId(this.getDataset().yAxis;e=f.min<0` )

This is my data (Converted from a .net object to JSON):
`data: {"labels":["09/02/

[2016-03-30 09:32] Aggror opened #2189 "Chartjs2.0: Documentation CDN link 404"
The [CDN link](https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0/Chart.js) on de chartj2 [documentation page](http://nnnick.github.io/Chart.js/docs-v2/) directs to a 404 page.

[2016-03-30 12:08] sergonius opened #2190 "[V2] Disable clicking on the legend"
The feature itself is nice, but I am toggling datasets with external buttons and I would like to disable the legend click functionality, but keep the legend. Is this possible right now?

[2016-03-30 12:44] sergonius commented on #2190
A callback function could also help, if I would have access to relevant data.

[2016-03-30 13:13] lukazadel opened #2191 "The browser only renders the last graph."
As said the browser only renders the last graph, until you mouse over the rest. Adding screenshots.
![capture](https://cloud.githubusercontent.com/assets/17339947/14143143/efc21eea-f689-11e5-8969-bfdbf9d35197.PNG)

after the hover

![capture2](https://cloud.githubusercontent.com/assets/17339947/14143142/efc1db2e-f689-11e5-8d22-47e4fa1ef0c4.PNG)

markup:
![capture3](https://cloud.githubusercontent.

[2016-03-30 13:14] WilliamStam commented on #2168
im doing the same thing. its a real pain in the bum.

[code]

its a real pain. would of been better if you could just go

[code]

[2016-03-30 13:45] lukazadel opened #2192 "The last fix broke the legend display"
As the title says.

No custom css, or anything.

Markup:

    <div id="lineGraph" class="col-lg-6" colour="primary">
        <div class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-line-chart"> </i> Graph</div>
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-legend="true" chart-series="series"

[2016-03-30 13:51] etimberg commented on #2192
@lukazadel what version are you using?

[2016-03-30 13:55] etimberg commented on #2190
@sergonius you can definitely disable the click behaviour.

The toggling happens in a callback function. What you could do override the default callback with one that does nothing.

[code]

The default onClick function is specified at https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/core/core.legend.js#L15-L21

[2016-03-30 13:58] etimberg commented on #2191
@lukazadel is one of your containers hidden by default?

[2016-03-30 14:00] etimberg commented on #2188
@Zarkos69 can you drop this in a JSFiddle?

[2016-03-30 14:01] etimberg commented on #2187
@chrisvel at the moment you'll need to keep track of the chart objects yourself. We don't attach them to the canvas object in anyway.

[2016-03-30 14:30] Zarkos69 commented on #2188
Here u go: https://jsfiddle.net/41okb4q5/20/
I've also added a working example.

[2016-03-30 16:12] kAlvaro commented on #128
FYI:

- It isn't mentioned yet in the documentation
- In the stable release v1.0.2, the enhancement can be found at `src/Chart.Bar.js` but neither `Chart.js` nor `Chart.min.js` seem to include it (files in master branch are fine)

[2016-03-30 17:10] hodephinitely opened #2193 "Correct implementation of "showLines""
Can't seem to work it out for myself. Tried on a bar/line mix graph and standard line, can't find how it's supposed to work. Added in options, options.elements.line, options.scales, options.scales.xAxes etc.

Going for something like this:

![image](https://cloud.githubusercontent.com/assets/3966070/14150787/b0b12f7a-f6a2-11e5-8aca-64425e39d331.png)

(Again, using v2)

[2016-03-30 17:12] hodephinitely commented on #2193
This is my current code function, if that helps:
`function long_short_chart(ctx,data){

	var bar1 = data.datasets[0];
	var bar2 = data.datasets[1];
	var net = {};

	$.each(bar1.data,function(i,d){
		//console.log(d + " " + bar2.data[i]);
		if(bar2.data[i] > 0 && bar2.data[i] <= d){
			net[i] = d + bar2.data[i];
			//bar2.data[i] = 0;
		} else if(bar2.data[i] > d){
			//bar2.data[i] = bar2.data[i]

[2016-03-30 17:42] tannerlinsley commented on #128
This is possible along with a lot of other improvements in version 2.0, set
to launch in the coming weeks.
On Wed, Mar 30, 2016 at 11:13 AM Álvaro G. Vicario <notifications@github.com>
wrote:

[2016-03-30 18:29] kAlvaro commented on #128
I assumed 1.0.2 already has it and it was a build error. In fact I've just upgraded to latest master and I'm definitively using arrays in `fillColor` :-?

[2016-03-30 18:31] tannerlinsley commented on #128
Yeah. Some of the breaking chages in 2.0 are a move to css-like style
properties.  So in this case you'll want to pass an array of colors to
`backgroundColor` instead of `fillColor`

On Wed, Mar 30, 2016 at 1:30 PM Álvaro G. Vicario <notifications@github.com>
wrote:

[2016-03-30 18:42] boisvertmath opened #2194 "I need to have many graphs on a single page.. but it shows the last one only.. do I need to change something in particular"
Here's the JS code I used in my header :
<script src="js/Chart.js"></script>
    <script>
		var pieData = [
				{
					value: 570,
					color:"#c4dce7",
					highlight: "#c4dce7",
					label: "Faits"
				},
				{
					value: 353,
					color: "#a7a5aa",
					highlight: "#a7a5aa",
					label: "À compléter"
				}
			];

			window.onload = function(){
				var ctx = document.getElementById("chart-area"

[2016-03-30 18:50] sergonius commented on #2190
Thanks a lot! <3

[2016-03-30 21:32] hodephinitely commented on #2194
Just as a guess, it's due to window.myPie being overwritten.

[2016-03-31 06:53] lukazadel commented on #2191
I didn't hide anything. Unless the chart.js hides something and I am not aware of it.

[2016-03-31 06:53] lukazadel commented on #2192
1.0.2 stable, with the last code uploaded.

[2016-03-31 07:32] rokasmi opened #2195 "Stacked line chart."
At this moment line charts overlap each other. But is it possible to stack them?
example:
![Example](https://www.devexpress.com/products/vcl/exQuantumGrid/i/whatsnew6/chart-area.png)

[2016-03-31 11:16] esso23 opened #2196 "helpers.getConstraintHeight/Width and percentages"
When I declare
`max-width: X%;`
or
`max-height: X%;`
in CSS, helpers.getConstraintHeight and helpers.getConstraintWidth methods return X as their return values for the given element. It does really nasty things when using responsive charts.

Branch: v2.0-dev
Commit: 37da19df784cb08dba612f09de18e3d42a13cf58 (branch tip as of now)

[2016-03-31 14:23] etimberg commented on #2196
Duplicate of #2081

[2016-03-31 14:23] #2196 closed

[2016-03-31 14:33] etimberg commented on #2195
@rokasmi this is possible in v2. You can mark the axis as 'stacked' and all the values will stack correctly. Take a look at https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/line-stacked-area.html

[2016-03-31 14:33] #2195 closed

[2016-03-31 14:35] etimberg commented on #2193
@hodephinitely to get rid of the line, I think you just need to add `showLines: false` into your config.

[code]

[2016-03-31 14:35] #2193 closed

[2016-03-31 16:00] JayBerlin commented on #2153
Is it possible to remove the points on the line?  Or display the points as transparent until hover?

[2016-03-31 17:44] zahlprish opened #2197 "2.0 Documentation Error"
Just noticed a misleading error in the 2.0 docs. Not sure where to post that, but
 the document shows: Chart.defaults.Doughnut when it should be (unless I am missing something) Chart.defaults.doughnut.

<img width="667" alt="screen shot 2016-03-31 at 12 42 00 pm" src="https://cloud.githubusercontent.com/assets/8344056/14185141/1eed11ca-f73e-11e5-9b1b-82fe21e9a27b.png">

[2016-03-31 18:48] pliablepixels opened #2198 "2.0 getElementAtEvent problems"
Hi there, I just did a local build of the 2.0 Chart.js code and am facing problems with getElementAtEvents returning a circular and large object for the bar graph.

The version I have downloaded and built has this fix in it already https://github.com/nnnick/Chart.js/pull/1471

I can't print out the object using JSON.stringify due to circular references, so I am using [DJS](https://github.com/studi

[2016-03-31 19:40] etimberg commented on #2198
I'm not sure why there are circular references. `getElementsAtEvent` should return an array of chart elements. In your case, those objects would be of type `Chart.elements.Rectangle`

[2016-03-31 19:45] etimberg commented on #2153
@JayBerlin you could set the regular color to transparent and set a highlight color that is not transparent.

[2016-03-31 20:23] pliablepixels commented on #2198
Not quite sure why. If it matters, I am adding a custom object in the datasets parameters (frames) which I use for my own correlation purposes

My dataset therefore looks like this during init:

[code]

The additional object is 'frames' which is a key value pair of various attributes I use to correlate which item was tapped/hovered on.

As a hack due to the very large object with circular referenc

[2016-03-31 21:00] pliablepixels opened #2199 "Programmatic overflow-x for Chart JS 2.0"
Hi there,
given that zoom and pan (https://github.com/nnnick/Chart.js/issues/726) is not yet available in 2.0, I was wondering if there are suggestions on how to implement overflow x axis scrolling only if bar width goes less than a value?

My usecase: I use ChartJS to display alarmed images between a min and max start time as a graph like the image attached:
![screen shot 2016-03-31 at 4 57 57 pm

[2016-03-31 21:52] etimberg commented on #2198
hmm, do the frames have a reference to the either the chart or its data object? The elements (bars, points, etc) are stored in a property `metaData` that is attached to each dataset which could lead to the circular reference

[2016-03-31 21:54] etimberg commented on #2199
@pliablepixels there is not currently any way to have that kind of logic. For the bar width you'd need to modify the bar dataset controller to have some custom min size logic.

Zoom and pan is fairly close to working (it really just changes the min / max of the axis). The default x axis (the one that uses strings) will need an update to support zoom / pan as well. The big part that is not implemen

[2016-04-01 09:38] diogocid commented on #2176
It only work if first value on array is not null :/

[2016-04-01 09:45] diogocid commented on #2176
It only work if the first value in array is not null:/

[2016-04-01 12:56] fontesrp opened #2201 "Bad legendTemplate documentation"
The documentation in http://www.chartjs.org/docs/ > Bar Chart > Chart Options suggests as legendTemplate the string

<span class="s2">"&lt;ul class=\"&lt;%=name.toLowerCase()%&gt;-legend\"&gt;&lt;% for (var i=0; i&lt;datasets.length; i++){%&gt;&lt;li&gt;&lt;span style=\"background-color:&lt;%=datasets[i].fillColor%&gt;\"&gt;&lt;/span&gt;&lt;%if(datasets[i].label){%&gt;&lt;%=datasets[i].label%&gt;&

[2016-04-01 14:02] etimberg commented on #2201
Closing as duplicate. This has already been fixed in the master branch doc files. Need to get website updated by @nnnick

[2016-04-01 14:02] #2201 closed

[2016-04-01 14:34] pliablepixels commented on #2199
thanks @etimberg  - for now, I've solved my problem by binding my container div size to be a function of number of items added to the graph (#items * 15) and doing an overflow-scroll:x, using angular expressions.

It works for what I need, but now scroll interferes with "drag and hover", so I guess I can't win ;-)

[2016-04-01 14:34] #2199 closed

[2016-04-01 15:38] pliablepixels opened #2202 "replacing all data and calling "update()""
Hi this is a question for ChartJS 2.0. I'm probably missing something simple. I am trying to toggle between two data sets (stored in two different arrays ``set1`` and ``set 2`` ) in the same graph. While changing, I want to animate between set 1 and set 2 (doesn't matter how the animation is for now)

I am instantiating the chart initially as
[code]
Now, how do I change data to set 2 ?
I tried
[co

[2016-04-01 18:05] boisvertmath commented on #2194
I'm trying but I'm not familiar with it too... so guess what ... it's not working xD !

But I tried my best to show you what I have : https://fiddle.jshell.net/ym8adp8y/

Thanks guys !

[2016-04-01 18:51] etimberg commented on #2202
@pliablepixels are you using v2 beta2 or the latest from the v2.0-dev branch? I seem to recall this existing in the beta but I remember fixing it.

[2016-04-01 19:19] pliablepixels commented on #2202
Hi, I am using the latest from v2.0-dev branch

[2016-04-01 19:22] pliablepixels commented on #2198
No, they don't. This is the frame structure:
Each element is a string or an int
[code]

[2016-04-01 19:26] etimberg commented on #2202
@pliablepixels I see what happens. You change `current_data` to point to `set2` but the chart object still references the original data object.

Try do `myLineChart.data = set2` and then `myLineChart.update()`

[2016-04-01 20:21] pliablepixels commented on #2202
@etimberg - that does not work either (no change in data set), so right now I am doing a delete and redraw till I figure it out

[2016-04-01 20:31] etimberg commented on #2202
does the 'Change Data Object' button in this sample work? https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/line.html

[2016-04-01 20:45] pliablepixels commented on #2202
Hmm, interestingly it does, and I am using my own Chartjs version to make sure its not a version issue - I'll look at my code again - thanks!

[2016-04-02 00:04] etimberg commented on #2183
The point style should be set up correctly. I've confirmed that it is working using the latest from the v2 branch.

If you only want the 0 lines, set the grid line color to `'transparent'`
If you want a border beside the ticks, hide the grid lines but set the color. In the following example, grid lines are hidden and the `gridLines.color` property is set to `#000000`.

![no grid lines](https://clo

[2016-04-02 00:04] #2183 closed

[2016-04-02 00:25] etimberg commented on #1997
@IonutLaceanu I found an implementation that may work for you: http://jsbin.com/pohode/edit?js,output

[2016-04-02 00:28] etimberg commented on #2160
Released a 1.1 version today.

[2016-04-02 00:28] #2160 closed

[2016-04-02 00:35] etimberg commented on #2189
Link will work as soon as v2 is released.

[2016-04-02 02:16] etimberg commented on #2197
Fixed in #2203

[2016-04-02 02:16] #2197 closed

[2016-04-02 04:34] alydagilmore commented on #350
Initializing the chart variable to null (greldinard's solution) worked for me. My doughnut chart doubled in size on each button press.

[2016-04-02 06:29] Ali-Usmaan commented on #1335
voteUP for this question if my answer helps
[https://github.com/nnnick/Chart.js/issues/1335](url)

[2016-04-02 06:31] Ali-Usmaan commented on #1335
VoteUP for [http://stackoverflow.com/questions/35868379/uncaught-syntaxerror-unexpected-token-in-angular-charts-min-js-when-hovering](url) if my answer helps

[2016-04-02 10:24] bchambers opened #2204 "Dynamically adding datapoints to a multi Y-axis line graph plots incorrectly"
If data set X is set to use the 2nd y-axis which is configured to position on the 'right' of the graph, adding new points dynamically and calling chart.update(); will plot the dataset using the right hand Y-axis at the far left of the x axis (eg. x=0).

[2016-04-02 12:44] bgribble opened #2205 "Charts that look as-expected on 1.0.2 are wrong on 1.1.0"
This is a crappy bug report right now, sorry, I'll update it.  I have a bar chart that looks like this with 1.0.2:

<img width="771" alt="screen shot 2016-04-02 at 8 38 39 am" src="https://cloud.githubusercontent.com/assets/1790529/14226387/c51bb3b4-f8ae-11e5-9399-80a389d0489c.png">

After an upgrade to chart.js 1.1.0 (thanks semver) it looks like this:

<img width="735" alt="screen shot 2016-04-0

[2016-04-02 12:56] etimberg commented on #2204
@bchambers can you create a jsfiddle for this?

[2016-04-02 13:40] etimberg commented on #2205
Obviously, a pretty concerning issue. It looks like the canvas width has changed. Does your canvas have padding applied to it?

[2016-04-02 14:10] etimberg commented on #872
Duplicate of #511

[2016-04-02 14:10] #872 closed

[2016-04-02 14:15] etimberg commented on #2075
Closing as resolved.

[2016-04-02 14:15] #2075 closed

[2016-04-02 14:18] etimberg commented on #2187
Closing as answered. We can revisit keeping track of the charts if it becomes a popular request.

[2016-04-02 14:18] #2187 closed

[2016-04-02 14:24] etimberg commented on #2188
@Zarkos69 there is a typo in the config of the not working chart. The correct key is `'yAxes'` not `'yAxis'`.

I've updated your fiddle here: https://jsfiddle.net/8eLvcskx/1/

[2016-04-02 14:24] #2188 closed

[2016-04-02 14:39] etimberg commented on #2151
@hertz1 this issue seems to be that the `<chart>` component has no size. V2 generally sizes to fit the parent. I added a container div around the canvas that is 100% width and height. Updated the part that gets the canvas context.

The result is: https://plnkr.co/edit/RbhYj4uEeSC8MSZZHBe3?p=preview

[2016-04-02 14:39] #2151 closed

[2016-04-02 16:30] etimberg commented on #2194
@boisvertmath the issue was that the canvas tags were not closed properly. The fiddle had some issues with duplicate variable names. I cleaned up your fiddle and got it working. https://fiddle.jshell.net/zs61suf6/4/

[2016-04-02 16:30] #2194 closed

[2016-04-02 17:22] pliablepixels opened #2207 "CharJS2.0 - displaying elements with a y axis score of 0 (bar)"
Hi there, a bit of context on what I am trying to achieve. I am using ChartJS 2.0 to display alarmed and non alarmed images for an event (this is a home security app). In a typical event of  say 100 frames,  'alarms' will have a non 0 score, whereas normal frames will have a 0 score.

I am displaying a graph with a toggle option. toggle="alarms" only displays alarmed frames (i.e. frames with a sco

[2016-04-02 17:56] bchambers commented on #2204
Unable to reproduce...in fiddle or in code I was working on earlier.  Please close.

[2016-04-02 18:14] icylabsDev commented on #2192
Hej, I get the same plus now I get an error when loading a Pie chart after I load a bar chart.
![screen shot 2016-04-02 at 20 14 20](https://cloud.githubusercontent.com/assets/5783973/14228230/82d9fdb0-f90f-11e5-8c47-3835b7a75561.png)
![screen shot 2016-04-02 at 20 14 36](https://cloud.githubusercontent.com/assets/5783973/14228232/8cbc47ac-f90f-11e5-8ab3-f0efb9f81241.png)

[2016-04-02 18:16] etimberg commented on #2204
Ok, thanks for coming back to let me know.

[2016-04-02 18:16] #2204 closed

[2016-04-02 18:25] pliablepixels commented on #2207
On second thought, this may have not been an appropriate question. Bar graphs draw starting at 0. A negative index is used to draw from 0 to negative for values. I guess my question really was 'how to I make the graph start drawing at a non-negative value for all y axis values' which may not be the intent of a bar graph. It might be better I change the representation (maybe a line graph). Would yo

[2016-04-02 18:58] p0fi opened #2208 "no tooltips for pie charts"
Hi, im wondering why there are no tooltips for the examples of pie/doughnut/radar charts.
The console throws a lot of errors of this type:
 `undefined is not an object (evaluating 'element._xScale.getLabelForIndex')`

[2016-04-02 19:14] pliablepixels commented on #2207
Yup, switching to line seems to be a better option as I can make use of points radius which is not available with bars. Closing.

[2016-04-02 19:14] #2207 closed

[2016-04-02 19:18] p0fi commented on #2208
Well, seems the bleeding edge release fixed this :)
Only the easeInOutBounce animation still doesn't seem to work :(

[2016-04-02 19:25] etimberg commented on #2208
@p0fi can you post a fiddle for the animation issue?

[2016-04-02 19:26] etimberg commented on #2207
@pliablepixels I think you could achieve this with a bar chart if that's ideal for your use case. Personally, I'd use a line, but here's a way of implementing it with a bar chart.

The strategy I've used here is to add `1` to all the data points. Then in the labeling function, remove the `1`. This makes the bottom point of the y axis -1 instead of 0.

[code]

[2016-04-02 19:31] pliablepixels commented on #2207
Ah sweet - you rock @etimberg - that is perfect!

And might I say ChartJS2.0 is an *incredible* improvement over ChartJS 1.0. I switched from ChartJS to visjs last year when I first built my app and then last month, I needed a bar graph and found visjs graph2d performance lacking,  and discovered Chart JS2.0. When you  folks have pan and zoom reliably working, I'll switch from visjs completely. Th

[2016-04-02 20:14] etimberg commented on #2207
@pliablepixels thanks! V2 has been a year of hard work. We're really excited to see it released.

 I'm hoping to have pan and zoom supported very soon. I have a good idea now how to do it, I'm just hoping performance isn't bad

[2016-04-02 20:57] pliablepixels commented on #2207
@etimberg awesome. on pan and zoom - I'd love for your implementation to allow for this kind of pan/zoom https://youtu.be/TgnJRjMG9Bs (zooming automatically adjusts the labels as well). The basic concept is you fill in a range of data (say 5000 elements) and then you specify a window to show and it automatically adjusts all the labels and data. In this video, I am using vis to zoom into a a timeli

[2016-04-03 00:03] etimberg commented on #2207
@pliablepixels that was my intent :smile:  The zoom/pan functionality would simply change the min/max of the scales and then the labels scaling would fall out.

I was going to make zoom and pan a plug-in that drops in after chart.js is installed. I was thinking of using hammer.js for touch support so that multi-touch gestures were natively supported. Once I get a list of requirements I'll post the

[2016-04-03 00:34] etimberg commented on #751
Closing since there is no test case.

[2016-04-03 00:34] #751 closed

[2016-04-03 00:54] etimberg commented on #816
Tested with v1.1.0. Ran the LoopIt() function and Chrome only reported 12.8MB of memory used before and after `LoopIt` is run

[2016-04-03 00:54] #816 closed

[2016-04-03 00:57] etimberg commented on #739
Tested in v1.1.0
The result is: https://jsfiddle.net/gzj6yz6z/

[2016-04-03 00:57] #739 closed

[2016-04-03 01:13] etimberg commented on #969
Closing since line and bar combo charts are natively supported in v2. See https://jsfiddle.net/45459ou6/1/ for a demo

[2016-04-03 01:13] #969 closed

[2016-04-03 01:22] etimberg commented on #1072
Closing as abandoned. V1.1.0 has an improved animation system that better handles multiple charts on the same page. V2 has much improved update performance over v1

[2016-04-03 01:22] #1072 closed

[2016-04-03 01:24] etimberg commented on #1236
Should be fixed with v1.1.0 update

[2016-04-03 01:24] #1236 closed

[2016-04-03 01:36] etimberg commented on #2207
@pliablepixels follow-up to my last comment. I got the drawing half of pan/zoom implemented with no noticeable performance decrease. :smile:

I need to do some work in the default x axis to support max/min. I then need to prototype out a zoom/pan plug-in

[2016-04-03 10:42] mikabuka commented on #1451
+1

[2016-04-03 12:35] pliablepixels commented on #2207
@etimberg this is coming along very well - I was just about to ask for a poc and noted you added one. Look forward to your further progress on this!

On another note (and not quite related to what you are doing), what would be the best chartjs replacement for the vis timeline graph? http://visjs.org/examples/timeline/basicUsage.html --> as you see as we zoom in and out it also re-organizes the axi

[2016-04-03 13:25] etimberg commented on #2207
@pliablepixels to do that in chart.js you'll probably need to create a custom axis. We already have a time axis but it doesn't show the month below. The actual timeline items could be represented using existing rectangle objects. You would probably need to create a custom controller as well to create the objects. There is some documentation on doing this in v2 at http://nnnick.github.io/Chart.js/d

[2016-04-03 14:03] heruan opened #2210 "Introducing iframe elements on v2"
Since I'm planning to switch to v2 soon, I'm preparing a major update of our apps and I tried `v2.0.0-beta2`: suddenly a wild `iframe` appeared in the DOM (causing issues with AdBlock, BTW).

Is v2 really introducing an `iframe` element when drawing graphs?

[2016-04-03 14:15] etimberg commented on #2210
@heruan v2 is adding an iframe. The reason an iframe is added is to detect when the canvas container resizes. There is a [window resize event](https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onresize), which was used by v1, but it only detects when the entire window resized and not a specific element. This led to the problems of charts not displaying correctly when their conta

[2016-04-03 14:52] heruan commented on #2210
Thank you @etimberg for the clear explanation, it doesn't sound that bad for this purpose but unfortunately I'm having resize issues when using v2 in Single Page Applications based on Angular 2 and Aurelia. May it be because they build the DOM dynamically, injecting/removing elements while the user navigates the app? I'll build up a sample project and open separate issues!

[2016-04-03 15:22] kwuerl opened #2211 "Line Chart always starts drawing at [0,0]"
This is the config i am usign in 2.0.0-beta2:
[code]
This is the result:
![screen shot 2016-04-03 at 17 19 23](https://cloud.githubusercontent.com/assets/6921877/14233144/4f22e174-f9c0-11e5-8f3b-58ee65dbe45e.png)
I can't get the unexpected additional line from ["Januar",0] to ["Januar", 14] to disappear.
Any Idea?

[2016-04-03 15:24] heruan opened #2212 "Sizing issues in v2 on SPA frameworks"
I'm having major sizing issues with v2 and Single Page Application frameworks like Angular and Aurelia.

First, since these frameworks load DOM elements dynamically, navigating back and forth a page with a chart, the chart is correctly recreated every time on the same `canvas`, but the DOM gets cluttered with new `iframe` elements and `eventListener`s on them which causes instability and performan

[2016-04-03 15:37] kwuerl commented on #2211
Ok, i found out why: Bower gets me a 2.0.0-alpha build of Chart.js when using the 2.0.0-beta tag

[2016-04-03 15:51] pliablepixels commented on #2207
Sounds good @etimberg  - look forward to trying out the zoom/pan future when you think its ready for beta consumption!

[2016-04-03 15:51] kwuerl commented on #2211
Ok, nevermind, you can delete this.
After using the beta2 tag everything went fine -.-

[2016-04-03 16:23] etimberg commented on #2210
@herun if you could build up a sample project, that'd be great! I'm wondering if we can do the dom addition in a callback. The users could provide an overridden implementation that works with their framework (angular, react, etc)

[2016-04-03 16:40] etimberg commented on #2211
Thanks for coming back to post the answer @kwuerl

[2016-04-03 16:40] #2211 closed

[2016-04-03 16:54] eemikula commented on #2192
I saw this same problem when upgrading from 1.0.2 to 1.1.0, and I believe the problem for the legend is the direct result of this change: https://github.com/nnnick/Chart.js/issues/886

The legend is displayed incorrectly because everything is within the span, when the text should actually be outside. My inclination is to think that change should be reverted.

[2016-04-03 17:18] etimberg commented on #2081
Implemented in v2 in #2206

[2016-04-03 17:18] #2081 closed

[2016-04-03 18:17] eemikula opened #2213 ""TypeError: i.strokeColor is undefined" when bar chart strokeColor is not specified in version 1.1.0"
I upgraded from 1.0.2 to 1.1.0 and a chart stopped rendering altogether, instead it was just producing the error: "TypeError: i.strokeColor is undefined"

https://jsbin.com/newaciwuwa/edit?html,output

It turns out it's sort of my fault because I wasn't specifying a strokeColor for the data set, but since it's a change in existing behavior that is a bit difficult to figure out, it's worth a simple

[2016-04-03 18:36] etimberg commented on #2213
@eemikula your approach looks fine to me. I will merge your PR. :)

[2016-04-03 19:33] #2213 closed

[2016-04-03 21:15] heruan commented on #2210
Issue reference: https://github.com/nnnick/Chart.js/issues/2212

[2016-04-04 09:34] hodephinitely commented on #2193
Hi - that was the first thing I tried but it doesn't seem to work...

[2016-04-04 09:48] hodephinitely commented on #2183
Could you provide a code snippet for the point style please? I'm still not 100% on where to declare it!

[2016-04-04 10:01] nagubal commented on #2192
You can redefine the legendTemplate in order to revert to the previous way of generating the legend.
In my case, for a Doughnut Chart:
[code]
Look for the legendTemplate in the Chart._{type}_.js source files (Chart.Bar.js, Chart.Line.js, etc.)

[2016-04-04 11:35] etimberg commented on #2193
@hodephinitely did you download the latest version from the v2 branch? I think this was added after beta2 released.

[2016-04-04 11:40] etimberg commented on #2183
@hodephinitely i think the lines were fixed after beta2 was released. If you haven't already, could you try the latest from the v2 dev branch?

This would nake rectangles for all points. You may need to increase the radius to make this work. I think you also need the latest from the v2 branch for this to work as well.
[code]

[2016-04-04 12:04] balszelso opened #2215 "2.0 Custom tooltips overridden"
Hi,

using v2.0 I'm trying to implement a custom  <code>tooltip</code> function under <code>options</code> to modify the body but it seems it's overridden by the default implementation. In fact it looks like the custom kicks in but it's straight followed by the default implementation. Am I missing something in the manual?

[2016-04-04 13:05] eemikula commented on #2192
Redefining the legendTemplate works, but it seems to me to be fixing it on the wrong end. Note that this change will also break the main page on chartjs.org whenever it's updated to version 1.1.0 - I simulated that by copying the same structure into a jsbin here: http://jsbin.com/likuwekeba/edit?html,console,output

Rather than having everyone who was happy with their legend need to customize thei

[2016-04-04 14:14] bgribble commented on #2205
Here's the bit of HTML for the chart:

[code]
Here are the options passed to the chart constructor:

[code]

And the business end of the Javascript:
[code]

And the relevant CSS (well, Less):
[code]

Finally, comparative screengrabs from Chrome developer tools in case anything in there rings a bell.  This is 1.0.2:

![screen shot 2016-04-04 at 10 08 00 am](https://cloud.githubusercontent.com/asset

[2016-04-04 15:09] nagubal commented on #2192
Indeed, I would prefer having two spans, to be able to style to my liking.

[2016-04-04 15:44] etimberg commented on #2192
@eemikula can you drop that in a PR? I'll merge it and package 1.1.1 release

[2016-04-04 16:01] cpboyd opened #2216 "2.0: Spacing between bars with percentages set to 1"
The border width of the dataset is set to 0.
In options:
[code]

![barchart](https://cloud.githubusercontent.com/assets/6323077/14253777/e592786e-fa5a-11e5-81cd-80a87dd60955.png)

There's still thin lines randomly throughout the chart.
This is more noticeable as the number of entries increases (this chart normally has 1024 values).

I've also tried setting ```stacked: true``` on both axes, but thi

[2016-04-04 16:05] etimberg commented on #2216
@cpboyd I think this might be either
1. a rounding issue when determining the pixel values
2. Something to do with the border color.

Could you drop this in a JSFiddle?

[2016-04-04 16:25] TAGraves commented on #2205
I had a similar issue with charts in 1.1.0 displaying incorrectly. Pretty sure the issue is from:

[code]

My guess is that in https://github.com/nnnick/Chart.js/commit/e94bd460a795180c7bf5b45245c89f4c23c37ab6#diff-ad32bb1bf83c0228c1601b3e063a3d08 the latter two lines were supposed to be removed as well but were not.

[2016-04-04 17:07] cpboyd commented on #2216
@etimberg https://jsfiddle.net/33m4cf21/

I noticed that removing the Y-axis label reduced the amount of spaces drastically.

So it seems that the Y-axis label has a big impact in causing this issue... Although, it still happens.

[2016-04-04 17:15] cpboyd commented on #2216
Actually... I'm not sure that the Y-axis label has much to do with it, after all.

I noticed that it's more about the width of the canvas, which does seem to hint at a possible rounding issue.

If you resize the window, the lines will increase/decrease in a periodic fashion ranging from zero lines up to a line between each bar and then back to zero lines.

[2016-04-04 18:26] etimberg commented on #2216
@cpboyd it looks like your fiddle is for a radar chart. Did you paste the wrong link?

I don't think we do a lot of rounding of pixel values. There are none in the `Chart.elements.Rectangle` object.

[2016-04-04 19:23] cpboyd commented on #2216
@etimberg
I'm not quite sure what happened there.

This should be correct, though: https://jsfiddle.net/ewqadp6t/

[2016-04-04 20:13] cpboyd commented on #2216
I've narrowed this down to the ```tickWidth``` calculation within ```getRuler```:
[code]

The issue is that it finds the smallest tickWidth and applies it uniformly, without changing the xScale at all.

Ideally, it seems like it would take this tickWidth and then set the chart's width to ```tickWidth* datasetCount``` and then rescale the ```tickLeft``` calculations accordingly.

[2016-04-04 21:14] etimberg commented on #2216
@cpboyd Great find! I think it can be updated to support variable tick width. That would make the most sense to me. It could be a little weird on time scales, but we can cross that bridge when we come to it.

[2016-04-04 22:06] untra opened #2217 "2.0 bleeding-edge chart.js file hosted on v2.0-dev branch"
Version 2.0 is getting closer to launch. It'll be easier to demonstrate emerging bugs if there was a compiled version of chart.js 2.0 on the v2.0-dev branch that people could link to as an external source in jsfiddles.

In fact, looking at this [fiddle](https://jsfiddle.net/qyfLs1w7/1/), I think a development version of chart.js 2.0 was hosted on the dev branch [at one point](https://rawgit.com/nn

[2016-04-04 22:17] etimberg commented on #2217
@untra there is one. We moved it to the `dist` folder when we moved to a browserify build.

If you want to link it to a fiddle, I would recommend using as the link to Chart.js https://rawgit.com/nnnick/Chart.js/v2.0-dev/dist/Chart.js

[2016-04-04 22:17] #2217 closed

[2016-04-04 22:35] eemikula commented on #2192
I made a PR with the change as described above, but I just wanted to highlight that if anyone else created a doughnut chart with a legend modeled after the one on the front page of chartjs.org, a CSS change will be necessary to accompany it, because the CSS used there applies to both spans generated by this change. Simply changing it to use the new class will restore the original behavior. I think

[2016-04-04 23:26] untra opened #2219 "2.0 problems with multi-axis stack chart dataset ordering"
I'm trying to use chart.js 2.0 to make a multi-axis area chart similar to the following:
![Imgur](http://i.imgur.com/9C1Bs2r.png)

This is what I have so far: [First Example](https://jsfiddle.net/untra/ab004aku/8/)

The dotted line (grade average) is rendering behind the fill of the other axes. It is the last item in the dataset, but it uses the second yaxis.

[Second Example](https://jsfiddle.net

[2016-04-05 06:40] devmount commented on #1922
Same here - width and height are set, but the closer the data points are to each other, the more points are selected at once on hover...

[2016-04-05 14:52] boisvertmath commented on #2194
Hi guys, it's not working when I get on my website.

Here's a screenshoot of an error I get when i put the exact code you gave me.

![photo-probleme](https://cloud.githubusercontent.com/assets/8869522/14286169/2953cdd4-fb1c-11e5-98bd-e6aa0689522d.jpg)

And here's a link to the beta version of the website if you guys want to see the code... might be my structure, idk.

Thanks again !

[2016-04-05 15:01] Pansa237 opened #2221 "max value of y-axis calculates too high"
In the datasets I am using, the current max value is 13, the y-axis scales in steps of 5 to a max of 20, whereas I would like it to scale to 15 only.
I cannot set a hard coded y-axis, as the max value might change to any value.

I am using this code:
var barChartData = {
		labels : ["P8", "G36", "MP2A1", "MG3 S1", "AG36", "P8 S1", "G36 S1", "GP S2"],
		datasets : [
			{
				label: "Gesamtvorrat",

[2016-04-05 16:41] hodephinitely commented on #2193
I thought so, but maybe not! What's the best way to make sure I've got the latest copy? Will I need to build the files in Gulp?

[2016-04-05 20:56] nathanmal opened #2222 "Band chart type for Chart JS"
Hi, i've been working with chart JS for a few months now, and due to my needs i built a new chart type, the band chart, which is meant for drawing horizontal/vertical lines or bands across the chart. (see attached as an example)

do you guys think this would make a good addition to Chart JS? I've seen a few requests for something like this but not as a chart type. The file making up the chart type

[2016-04-05 21:47] rafasashi commented on #512
@vero4karu Your solution works thanks. Could you provide an adaptation working with `each()`

This is what I have:

[code]

I d'like to use dynamic "myChart" variables.

I have tried to store them in an array of objects but I have a problem to destroy them properly if the amount of charts is different from one tab to another.

[2016-04-05 22:54] etimberg commented on #2222
@nathanmal that looks awesome! Could be a great start towards a bunch of features.

[2016-04-05 23:06] hodephinitely commented on #2193
Here's another (potentially annoying) question - is there a way to have a mixture? So one line plotted with joining lines and one just the points?

[2016-04-06 02:34] etimberg commented on #2205
Fixed in 1.1.1 release

[2016-04-06 02:34] #2205 closed

[2016-04-06 02:34] etimberg commented on #2192
Fixed in 1.1.1 release

[2016-04-06 02:34] #2192 closed

[2016-04-06 11:25] p0fi commented on #2208
I'm afraid I don't know how to do this exactly :-/

[2016-04-06 11:52] aicokleinovink commented on #2000
I'm also using Ionic 2 and did not get it to work. Also tried the ChartRenderer @jhiemer provided, but I'm still getting the following error:
[code]
What am I doing wrong?

[2016-04-06 11:56] leonschwanitz commented on #2000
Your must load your Code later, i have it make with setTimeout(function(){

}, 1);

This works but its not so clearly :/

[2016-04-06 15:12] asafpriel opened #2223 "Line chart width - userCallback"
When using userCallback (scales > yAxes > ticks) the chart is not using full width of canvas

<img width="516" alt="screen shot 2016-04-06 at 18 11 50" src="https://cloud.githubusercontent.com/assets/8607441/14321729/19ec831a-fc23-11e5-991e-cdc469447a4e.png">
<img width="522" alt="screen shot 2016-04-06 at 18 11 36" src="https://cloud.githubusercontent.com/assets/8607441/14321730/19f17e2e-fc23-11e

[2016-04-06 15:27] etimberg commented on #2223
@asafpriel can you drop your sample in a JSFiddle?

[2016-04-06 16:02] asafpriel commented on #2223
Here you go: https://jsfiddle.net/96u30Lht/6/

Thanks.

[2016-04-06 17:17] etimberg commented on #2223
Thanks @asafpriel  Looks like a bug when the labels are undefined. I'm guessing that the canvas `measureText` call converts the `undefined` into the string `'undefined'` and measures that. Thus bumping the scale over.

As a work-around set your function to the following. I got rid of the `arrValues` creation since values is already an array.
[code]

[2016-04-06 17:40] nathanmal commented on #2222
thanks! yeah it was necessary for me to have bands of color on a chart, so i made it primarily for that, but it has other uses as well i think. Each datapoint can have it's own label too.

I'll fork the repo then so you guys can check out the code and if everything looks good i'll send a pull request. Would be nice to have it rolled into chartjs so i don't have to keep working off my own branch :)

[2016-04-06 17:50] hodephinitely opened #2224 "Stack bars but not lines - mixed chart"
Is there a way to set a mixed bar/line chart so that bars are stacked but lines are not? Would I need two separate axes to handle this?

[2016-04-06 17:56] etimberg commented on #2224
@hodephinitely I think you need 2 separate axes for this. You can get away with 1 axis if you only have 1 line

[2016-04-06 17:57] etimberg commented on #2222
Sounds like a good plan! Feel free to join our slack channel as well.

[2016-04-06 18:00] hodephinitely commented on #2224
Yeah, unfortunately it's two! I'll see how I get on with adding a second axis.

[2016-04-06 19:22] takebo opened #2225 "Chartjs+Excanvas support to IE8."
Hi,
first of all, thanks for the awesome Chart plugin!
I just wanted to point out that Chartjs version 1.0.2 doesnt work on IE 8. (also tested with the lastest version 1.1.1)

if anyone is having trouble to make it work on IE8, stay on [Chartjs version 1.0.1](https://github.com/nnnick/Chart.js/blob/02f858b264de6c6c1af0579b05b7b5913d0d61ef/Chart.js) + [Excanvas version 2.0](https://raw.githubuserco

[2016-04-06 19:58] nathanmal commented on #2222
Cool, what's your slack channel? chartjs.slack.com? I haven't used slack yet but been wanting to try it. I think one of the moderators has to add my email nathanmal@gmail.com

thanks!

[2016-04-06 20:12] etimberg commented on #2222
@nathanmal there should be a button to join in the readme.

[2016-04-07 06:55] asafpriel commented on #2223
Thanks.

[2016-04-07 08:27] toomuchcoffeecoder opened #2227 "Display of tooltip changes x position of text drawn over doughnut chart."
Using the code below I am able to draw over the center of a doughnut graph, but when tooltips are triggered the text is shifted to the left. Issue 743 got me this far and I have skimmed over the Chart.js source a few times but don't see how I can fix this.

`var canvas = document.getElementById('estimates');`
`var ctx = canvas.getContext('2d');`
`Chart.types.Doughnut.extend({`
`	name: "DoughnutHol

[2016-04-07 13:15] etimberg commented on #2227
@toomuchcoffeecoder I think something in the tooltip is setting a transform on the canvas. After that point your dimensions are transformed. You could try trigger a `ctx.restore()` before filling the text. Alternatively, set the transform back to the default value with `ctx.setTransform(1, 0, 0, 1, 0, 0);`

[2016-04-07 18:32] toomuchcoffeecoder commented on #2227
`Chart.types.Doughnut.extend({`
`   name: "DoughnutHole",`
`   initialize: function(data){`
`       Chart.types.Doughnut.prototype.initialize.apply(this, arguments);`
`   },`
`   draw: function(ease){`
`       i += 1;`
`       console.log(i);`
`       console.log('draw');`
`       console.log('----------------');`
`       var ctx = this.chart.ctx;`
`       // ctx.save();`
`       Chart.types.Dough

[2016-04-08 10:23] tomduncalf commented on #1570
I worked around this for my data (time series) by manipulating the data and creating a fake point for each data point with the previous point's value at `(time - 1 millisecond)`, if that makes sense? Not perfect but it works for now!

Thanks for a great library BTW :)

[2016-04-08 12:06] michaelcarter opened #2228 "A few display issues with latest development version"
Hi! Firstly, apologies if this has been answered somewhere. I've had a look through the v2 documentation and on this issues page with little luck. I've got a few display issues I'd like to solve with my charts. They are as follows:

#### My labels are getting cut off at the bottom of my line chart when horizontal:
<img width="1073" alt="screen shot 2016-04-08 at 12 56 08" src="https://cloud.github

[2016-04-08 12:40] thubold opened #2229 "Truncated labels"
If I set the gridlines in my xAxes to false my bar titles are not shown correctly.

<img width="894" alt="bildschirmfoto 2016-04-08 um 14 30 38" src="https://cloud.githubusercontent.com/assets/6191140/14383688/f8af0dc4-fd96-11e5-9502-47f9a780a3d3.png">

My Chart settings:

[code]

If I set gridLines.display to true. Everything works fine.

<img width="887" alt="bildschirmfoto 2016-04-08 um 14 39 2

[2016-04-08 13:17] etimberg commented on #2229
That's a new one. Should be relatively easy to diagnose.

[2016-04-08 13:22] etimberg commented on #2228
@michaelcarter the labels being cut-off when there are no grid lines was also reported in #2229

To have less labels, you could change the callback that processes the labels and return empty strings.
[code]

To prevent any negative numbers, you can set the `min` on the yAxis to always be 0
[code]

Hmm, the points getting cut-off is an interesting side effect of some of the prep for zoom/pan suppor

[2016-04-08 15:17] #2224 closed

[2016-04-08 16:04] michaelcarter commented on #2228
Thanks very much for the speedy response @etimberg. I'll have a play and see what I can do.

[2016-04-08 17:29] LAKnoKAL opened #2230 "1.1.0 missing files with bower install"
Guys! When I try to install version 1.1.0 with bower I don't have any files except bower.json and Chart.js, though I have all files when installing version 1.0.2 #

Here is how folder looks - http://screencast.com/t/sDqKJ0U0

[2016-04-08 19:32] PixelAtLarge commented on #622
+1

[2016-04-09 00:27] sos0 opened #2231 "Axis Settings"
Is there a way to use non-numeric y-axis data points? Couldn't find any information on this in GH Issues.
Here's an example of what I'm looking to achieve:
http://worrydream.com/MagicInk/p/train_graph.png

Just for additional information, I'm using angular-chart (by jtblin)

[2016-04-09 01:19] etimberg commented on #2231
@sos0 this isn't possible in either v1 or v2. V2 doesn't seem to be able to support this, it looks like there is some drawing bug.

[2016-04-09 01:31] etimberg commented on #2231
Given the type of chart you are creating, I think the best course of action would actually be to create a new dataset controller. There is some documentation on the matter here: http://nnnick.github.io/Chart.js/docs-v2/#advanced-usage-writing-new-chart-types

Feel free to join our Slack channel (see button on Readme) and I can answer any questions in detail

[2016-04-09 03:56] thebearjew commented on #1709
@etimberg this is still unfixed

[2016-04-09 05:02] jamiepenney opened #2232 "No documentation on how to skip drawing points in v2"
Hey,

I'm trying to set the points to `skip = true`, I've followed the code back to this point https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/controllers/controller.line.js#L195 but I can't figure out how the models for points get constructed, and where in the config / data for the chart I would put that `skip` property.

If you guys tell me how it works, I'll write the docs for you?

Cheers

[2016-04-09 12:12] etimberg commented on #1965
Done!. https://github.com/nnnick/Chart.js/releases/tag/v2.0.0

[2016-04-09 12:12] #1965 closed

[2016-04-09 12:35] etimberg commented on #2232
hey @jamiepenney I think I can answer your questions.

You're in the right spot for creating a model. The model is created and updated at https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/controllers/controller.line.js#L181-L193

To skip a point, the default implementation will do so if either the `point._model.x` or `point._model.y` params are `NaN`. The point will also be skipped if `point.cu

[2016-04-09 19:00] jamiepenney commented on #2232
Ah, looks like I was reading that part of the code wrong then. I was looking for a way to avoid rendering the point itself (the circle) but still rendering the line. At the moment my graph looks like this:
![image](https://cloud.githubusercontent.com/assets/76878/14405763/2c9a8b88-fee9-11e5-82ff-5c9d87959539.png) because it has a month's worth of data at 20 minute intervals (so roughly 2000 data p

[2016-04-09 20:08] etimberg commented on #2232
@jamiepenney the best way to do that would be to set the radius to 0. The points will then not draw.

To set for all points, add the snippet to your config
[code]

For a single dataset
[code]

[2016-04-09 20:09] etimberg commented on #1709
@thebearjew my understanding is that this has been fixed on the github pages site, https://nnnick.github.io/Chart.js/ but only @nnnick can change chartjs.org

[2016-04-09 20:28] jamiepenney commented on #2232
Fantastic, that's done it! I'll have a crack at updating the docs for that today.

[2016-04-10 00:17] thebearjew commented on #1709
Ah, that is much more clear.
Thank you, I'll use the gh-pages branch instead.

[2016-04-10 11:02] toomuchcoffeecoder commented on #2227
Managed to work around the issue by nesting the canvas in couple of divs setting the border-radius to 50% on the outer most one and the back ground to the color of the center of the doughnut this div also has a span with display set to block with the doughnut hole text and then a wrapper div for the canvas with a transparent back ground. Then line the whole mess up by tweaking the margins. It took

[2016-04-10 12:41] etimberg commented on #2227
@toomuchcoffeecoder extending the doughnut chart to support that is on our list of enhancements for v2.1. There's lots of discussion in #78

[2016-04-10 14:16] etimberg commented on #2223
Fixed in #2234

[2016-04-10 14:16] #2223 closed

[2016-04-10 14:20] etimberg commented on #2171
Confirmed fixed in v2.0.0 release. See https://jsfiddle.net/wrzk3dk9/

[2016-04-10 14:20] #2171 closed

[2016-04-10 14:31] etimberg commented on #2096
@pleinx I created a fiddle using Open Sans as the font https://jsfiddle.net/sqxLk2y6/

[2016-04-10 14:31] #2096 closed

[2016-04-10 23:32] ianpugh opened #2235 "tooltips: custom: function for multi-tooltips."
Is this something that is currently planned? Or am I missing an existing solution in 2.0?

For example, I'd like to move my multi-tooltip to an external div. I can do this using the custom function with a single tooltip, but it does not appear to support multiple tooltips.

Thank you!

[2016-04-11 00:08] troywarr opened #2236 "Path to main file is incorrect in bower.json"
Since the file paths in `"main"` are relative to the package's root directory, the current `bower.json`:

    {
      "name": "Chart.js",
      "version": "2.0.0",
      "description": "Simple HTML5 Charts using the canvas element",
      "homepage": "https://github.com/nnnick/Chart.js",
      "author": "nnnick",
      "main": [
        "Chart.js"
      ],
      "devDependencies": {
        "jquer

[2016-04-11 00:11] troywarr commented on #2236
PR here: https://github.com/nnnick/Chart.js/pull/2237

[2016-04-11 00:15] etimberg commented on #2236
Fixed in #2237.

[2016-04-11 01:14] ianpugh commented on #2235
Sorry -- I just realized that the body property contains what I'm looking for. Hopefully someone else will find this useful. :)

[2016-04-11 01:14] #2235 closed

[2016-04-11 12:57] oguzAtes opened #2238 "Question : how to show data table with respective label in chart"
Hi all,
how to show data table with respective label in Chart ?
is it possible ?
Like below picture
Thank you.

![image](https://cloud.githubusercontent.com/assets/6254684/14427543/040fa764-fffe-11e5-96ea-b1a956df0f36.png)

[2016-04-11 14:24] scerelli opened #2239 "Does time scale work properly?"
I started to use chart.js today so I may be wrong but following docs and looking at code i did this:

this is an example of my data:
at top we have labels,
middle X, moment object,
bottom Y values

https://infinit.io/_/wQwsc6s

and here is my implementation:

http://pastebin.com/DupgKVVJ

the result is invalid date on the X axis => https://infinit.io/_/gjLrmnQ

any idea?

[2016-04-11 14:57] scerelli commented on #2239
Update:

passing this: `moment("2016-04-1").format("YYYY-MM-DD")`

solves the `invalid date` problem but the result graph is a bit strange; even if the dates on X and integers on Y seems to be in the correct place the graph can't connect the dots

https://infinit.io/_/xUckfMZ
https://infinit.io/_/3mRxkFu
https://infinit.io/_/JKPRjCi

[2016-04-11 17:11] sbsbessa commented on #2219
I'm having the exact same issue with latest 2.0 release, did you find a solution?

Thanks,
Sérgio

[2016-04-11 19:24] vzelenko opened #2240 "Can't customize tooltip display v2.0.0-beta2"
I have added an option  for customizing tooltip display (e.g. formatting the number), and it does not work correctly (or am I doing it wrongly?)

Look at the following fiddle:  https://jsfiddle.net/vzelenko/d6ur9s3y/5/

[2016-04-11 20:55] etimberg commented on #2240
Looks like a bug. It should be working. @tannerlinsley you have more experience with custom tooltips. Any ideas?

[2016-04-11 20:58] sos0 commented on #2231
Looks like people have been using this type of hack:
http://jsfiddle.net/6xV78/294/

[2016-04-11 21:12] tannerlinsley commented on #2240
The `custom` tooltip callback doesn't actually alter the tooltip object or expect anything in return.  It's merely a way to provide the events and all of the pertinent information to construct your own tooltip.  In your example, I see you're trying to replace the number with a pretty-print number.  The best way of doing this (still using the native tooltips) is to use the various `tooltip.callback

[2016-04-11 21:32] vzelenko commented on #2240
Excellent advice - works like a charm.  :)

Thank you!!!

[2016-04-11 21:32] #2240 closed

[2016-04-12 01:40] ianpugh opened #2241 "Are crosshairs on charts possible in 2.0?"
Example:

http://i.imgur.com/5fBPnFs.jpg

http://finance.yahoo.com/echarts?s=NQM16.CME+Interactive#{"range":"1d","allowChartStacking":true}

Looking to overlay a crosshair on a line chart, but am running into issues with using the canvas "mousemove" event, as the chart.js redraw erases the crosshair.

Any suggestions for implementing this functionality in 2.0?

Thank you.

[2016-04-12 02:03] ianpugh commented on #2238
I think you could just manually iterate through the data and assign the values to your div manually. Or are you wanting this on the canvas?

[2016-04-12 02:41] etimberg commented on #2241
@ianpugh this isn't currently possible in v2, but with a bit of work you can achieve what you want.

You'd need a way to add a hook into the `update` method found in `src/core/core.controller.js`. What you could do is add an array of listener functions there and a way of registering and deregistering listeners. Inside of `update` you could iterate the listeners and trigger them. You'd probably wan

[2016-04-12 06:40] oguzAtes commented on #2238
Yes , need on the canvas. may be i didnt find and see any property of chart.js provides it like excel.

[2016-04-12 10:29] leighghunt opened #2242 "Unexpected curves appearing in line chart when labels are slanted"
Hi,

I noticed that if I'm expecting a flat line of data to appear, curves appear if the x-axis labels are slanted.

What appears:
http://jsfiddle.net/leighghunt/wjq2Lw66/1/

What I'd expect:
http://jsfiddle.net/leighghunt/wjq2Lw66/2/

Workarounds:
- Set ````bezierCurve: false````
- Shorten labels

[2016-04-12 11:20] DanianWallis opened #2243 "Bar Chart Plotting Time"
I need to plot time on a bar graph. It is to show the length of time users have spent on the phone. My data is in a table ans stored as hh:mm:ss.

My DataSet will look something like this "01:02:25", "02:35:25", "03:22:55".

I just struggling to plot this...

Please can you help.

[2016-04-12 12:10] etimberg commented on #2243
@DanianWallis you should probably preprocess your data into bins first then graph those bins. Your bins would be something like ' <1 hr',  '1-2hrs', '2-3hrs',  '3+hrs'

[2016-04-12 12:44] DanianWallis commented on #2243
Many thanks for the reply, however you have lost me. Im new to this. I have the following code:

[code]

[2016-04-12 12:56] Joerg63 opened #2244 "How can I draw a pie without any animation"
Hello Community,

I use Chart.js Version 2.0 - even since it was a beta... And it works fantastic. But now I do have some Issues with that pie chart.

1. Labels:
I don't have much space to show the pie Chart and if the Labels are shown, the pie would be only a very very tiny white point on my Site.... So I decided to hide the labels by typing this code
`labels: [{ 	display: false }]` but there is

[2016-04-12 13:36] ianpugh commented on #2241
@etimberg Thanks!

I'll make some changes over the next few days and PR when complete.

Ian

[2016-04-12 14:15] etimberg commented on #2244
@Joerg63 I think I can answer your questions:

1. This is the legend. To turn it off add the following to your config
[code]

2. To disable animation try setting the animation duration to 0.
[code]

[2016-04-12 14:23] sp90 opened #2245 "v2 settings - more ellaborative"
I think how to setup the settings for v2 of chart.js could be more ellaborative.

Ex; im fiddling with changing "gridLines", and it's pretty hard to figure out where to change these setting, or how to form the object/array.

In same example in the v1 we had a setting to remove scale lines, it seems to be gone?

[2016-04-12 14:28] Joerg63 commented on #2244
@etimberg  thank you for your answer - but I cant figure out, where I should write your "tipps" to....

I jus wrote it that way: (sorry but it seems like the code block won't work propper...)
`var config = {
			type: 'pie',
			data: {
				datasets: [{
					data: [
						"5.25",
						"11.2",
						"27.8",
						"11.75",
						"14.0",
						"29.75"
					],
					backgroundColor: [
						"#ffff99",

[2016-04-12 14:30] Joerg63 commented on #2244
upps - didn't want to close this issue....

[2016-04-12 14:33] etimberg commented on #2244
You'd want

[code]

[2016-04-12 14:38] etimberg commented on #2243
I was thinking you wanted times along the x axis. At the moment there is no good way to support times on the y axis. This could be supported with some work in v2, specifically in the `src/scales/scale.time.js`  to ensure that things parse correctly.

[2016-04-12 14:39] Joerg63 commented on #2244
awww thank you very very much....
But - to make it complete for other users like me - you need to set
`labels: [{ display: false }]` too ( in the "dataset"-area of your config) - otherwise you'll recieve this error-message I postet before...

[2016-04-12 14:45] #2244 closed

[2016-04-12 15:05] Wvhf opened #2246 "Linechart cannot change the pointColor in version 1.0.2"
Hello,

When i try to change the **pointColor** of a linechart, nothing happens.
When i change the strokeColor, the color does change. Same for the Fillcolor property.

For example:

This works:
` chart.datasets[0].strokeColor = 'rgba(215, 21, 21, 1)';`

This doesn't work:
`chart.datasets[0].pointColor = 'rgba(215, 21, 21, 1)';
`

I Also invoke the following method after setting a new color to app

[2016-04-12 15:09] etimberg commented on #2244
Glad this helped @Joerg63
I will look into the issue when the labels array is missing

[2016-04-12 15:12] etimberg commented on #2245
@sp90 to remove grid lines in v2, you would add the following snippet to your config to remove grid lines drawn by the x axis. You could do something similar for the y axis as well

[code]

[2016-04-12 15:52] tomduncalf opened #2247 "v2 error when hovering/displaying tooltips if using gradient as a background colour"
I've encountered an issue with hover/tooltips in v2 using the "undocumented" approach of passing in a `CanvasGradient` instance as the background colour - a Javascript error gets thrown when hovering over a point.

I have tracked it down to this line: https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/controllers/controller.line.js#L275 - `backgroundColour` is not a valid colour to pass to `Colo

[2016-04-12 17:20] hodephinitely opened #2248 "Scatter Graph Labels On Points"
Is it possible to have labels on a scatter graph next to the points? After something like this:

![image](https://cloud.githubusercontent.com/assets/3966070/14469118/085f78a2-00db-11e6-95eb-6ad1ad0225d9.png)

[2016-04-12 17:26] etimberg commented on #2248
@hodephinitely this isn't directly possible, but you could achieve it by modifying the draw function of the `Chart.elements.Point` objects. You could

1. Call the original draw function
2. Look up the corresponding label
3. Draw the label and line

[2016-04-12 17:27] hodephinitely commented on #2248
Great, thanks for the info!

[2016-04-12 17:27] #2248 closed

[2016-04-12 21:34] hodephinitely opened #2249 "Last tick label/width different from the rest"
Got an odd issue - for some reason the last tick and label on the X axis is compressed (only on line charts). Am I going wrong somewhere?

![image](https://cloud.githubusercontent.com/assets/3966070/14476249/7cd36d4c-00fe-11e6-8e4b-beebad672d79.png)

![image](https://cloud.githubusercontent.com/assets/3966070/14476272/a872b8ae-00fe-11e6-806e-c875922d6ad6.png)

[2016-04-12 23:42] etimberg commented on #2247
@tomduncalf great job tracking down the issue! I like your fix. Please submit it as a PR

[2016-04-12 23:43] etimberg commented on #2225
Closing as duplicate of #1032

[2016-04-12 23:43] #2225 closed

[2016-04-12 23:44] etimberg commented on #2215
@balszelso The custom tooltip is designed to allow you to implement an HTML tooltip instead of an oncanvas one. @tannerlinsley had some good details in #2240

[2016-04-12 23:44] #2215 closed

[2016-04-12 23:47] etimberg commented on #2242
Bezier curves in a straight line *should* not curve like that. It's probably some sort of numerical issue

[2016-04-13 01:41] hkanamaru opened #2250 "2.0 cannot create more than 2 charts with one data"
i was trying to use new chart.js, on my demo, i cannot make 2 chart with a dummy data.

my code is like;

[code]

[code]

and then, myLineChart_1 and legends of myLineChart_2 are shown ( the legends control myLineChart_1)

[2016-04-13 01:59] etimberg commented on #2250
@hkanamaru the issue here is that some additional information is attached to the dataset object. If you want to use the same data for 2 charts, you need to do a deep clone of the data object before passing it to the second chart.

[2016-04-13 01:59] #2250 closed

[2016-04-13 02:09] hkanamaru commented on #2250
THX！ i gonna try that!

[2016-04-13 08:29] sp90 commented on #2245
@etimberg really great, i found it yesterday but thanks anyhow

You might be able to help me with removing the Axis lines, for a more clean design?

[2016-04-13 08:33] tomduncalf commented on #2247
:+1: done, thanks

[2016-04-13 09:29] rstegeby opened #2252 "Line chart - Label Style"
Hi,

I've changed my pointStyle to be circle and crossRot. (Great work adding this btw!)

However, when looking at the labels I'm not able to change them to look the same way as the pointStyle of whom they represent.

Is there a way to make this work or does it require a change in the Chart.js and can I accomplish this myself or do I have to wait until it's released?

See attached image below to u

[2016-04-13 11:05] etimberg commented on #2247
Merged

[2016-04-13 11:05] #2247 closed

[2016-04-13 11:22] GuiHarrison commented on #987
+1 on this one!

[2016-04-13 13:37] etimberg commented on #2252
@rstegeby this isn't currently changeable but you could do a bit of refactoring and get this working. I'd be happy to merge a PR that made this possible. :smile:

I think the best way to do it would be to move the [current draw code](https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/core/core.legend.js#L269-L285) out into a function that is attached to the config. Perhaps something like `config

[2016-04-13 13:41] dibsyjr1 opened #2253 "generateLegend() not generating a legend correctly"
Hi,

Don't know if this has been fixed or not (I couldn't see it after doing a search) but currently the generateLegend function is producing strange results:

![capture](https://cloud.githubusercontent.com/assets/9978497/14494835/c51fd47e-0184-11e6-856c-c3defdcea17b.JPG)

As you can see the label has the background color applied to it, when really we want it to be applied to a span next to it. I'

[2016-04-13 13:44] etimberg commented on #2253
@dibsyjr1 could you PR this?

As a work-around you can change the `legendCallback` in your config so that you don't need to modify the library

[2016-04-13 14:31] dibsyjr1 commented on #2253
[Pull Request 2254](https://github.com/nnnick/Chart.js/pull/2254)

Not sure if i've done it correctly (this is my first PR). Only file i've changed is the Chart.js file.

[2016-04-13 15:16] hodephinitely commented on #2249
Just noticed it's sometimes doing the exact opposite, if that helps!

![image](https://cloud.githubusercontent.com/assets/3966070/14498662/18b2539c-0193-11e6-8208-87f64c7c967c.png)

[2016-04-13 15:42] Luchillo commented on #73
@tannerlinsley Do you know if this feature about horizontal chart when will be available in master branch (released)?

[2016-04-13 16:02] etimberg commented on #2249
This is probably related to the code that ensures the last label is always visible. In the first case I think it thinks that the second last and last labels will not overlap. In the second case it thinks they will and removes the 2nd last label

[2016-04-13 16:56] tannerlinsley commented on #73
Given the extensibility of 2.0, it won't be that difficult to alter the controller to support this.  I personally won't have time to do this in the near future, but anyone is welcome to take a stab at it.

[2016-04-13 17:18] etimberg commented on #73
I actually played around with implementing this in v2 last weekend. The scales draw nicely but the `Chart.elements.Rectangle` objects have some issues that need to be worked through. Right now the rectangle is defined by a `width`, a point at the center of the end of the bar, and the `base` y value. In horizontal mode the `base` value becomes an x coordinate and the width becomes a height.

Some t

[2016-04-13 17:20] tannerlinsley commented on #73
Nice work.  Yeah, the rectangle element could be updated to be more of a
generic representation of the shape, allowing for more flexibility in
drawing.

On Wed, Apr 13, 2016 at 12:18 PM Evert Timberg <notifications@github.com>
wrote:

[2016-04-13 18:07] marceloch2 commented on #2228
Some update under this issue fellows? Getting my chart cutting of at the top of my chart too, using V2 to take advantage of 2 y-axis.

![screen shot 2016-04-13 at 3 03 33 pm](https://cloud.githubusercontent.com/assets/1720844/14503966/f2c1c76c-0188-11e6-8e90-8a25af6a83b2.png)

I've tried what you guys point above, those fix my right horizontal labels showing with decimals to just Int values, good

[2016-04-13 19:27] etimberg commented on #2228
@marceloch2 are you using 2.0.0 or 2.0.0-beta2?

[2016-04-13 19:32] tannerlinsley opened #2256 "Arc Borders get clipped by canvas"
![screen shot 2016-04-13 at 2 31 05 pm](https://cloud.githubusercontent.com/assets/5580297/14506647/7a99f20e-0184-11e6-8496-f126f29ed18c.png)

[2016-04-13 19:43] marceloch2 commented on #2228
@etimberg * Version: 2.0.0-alpha

[2016-04-13 19:55] etimberg commented on #2228
Ok, can you try upgrading to the release version?

[2016-04-13 19:57] etimberg commented on #2256
I thought we fixed this at one point... Just need to shrink the minimum dimension by `borderWidth`

[2016-04-13 20:14] marceloch2 commented on #2228
@etimberg Using the https://github.com/nnnick/Chart.js#v20-bleeding-edge i got some evolution but now new issues comes up, i'll try to fix, the global config had some changes with this new version?

[2016-04-13 20:25] marceloch2 commented on #2228
@etimberg Done, thanks your time buddy.

updating the lib and removing this line bellow works.

[code]

[2016-04-13 20:45] marceloch2 commented on #2228
@etimberg actually the first error was my fault, i have big values and trying to step 1 by 1, my bad.

The left black blurred line was one number on top of another number actually.

But still with bit cutted at the top.

`stepSize: 1`

[2016-04-14 01:34] scerelli opened #2257 "Hovering a point active even the one below"
Hovering a point trigger even the one below.

![](https://infinit.io/_/3bpz6hH.png)

[2016-04-14 01:39] etimberg commented on #2257
@scerelli are you using v2?

If so, you need to change the hover mode. Add the following to your config.

[code]

[2016-04-14 01:40] etimberg commented on #2253
Fixed in #2254

[2016-04-14 01:40] #2253 closed

[2016-04-14 08:08] scerelli commented on #2257
ah ok sorry 👍

[2016-04-14 08:08] #2257 closed

[2016-04-14 13:23] etimberg commented on #2189
Link is up on CDNJS.

[2016-04-14 13:23] #2189 closed

[2016-04-14 13:51] ianpugh commented on #2241
@etimberg after significant amount of playing around with this, I'm out of ideas.

My first idea wasn't really Chart.js related -- it was to layer the canvas elements using z-axis. This worked perfectly, except that mouseover events from z-axis: 1 aren't passed down to z-axis: 0. So I had to throw that idea out. I'm not sure how to pass events from one canvas element to the other, I'll play around

[2016-04-14 14:36] hoangphucvu opened #2259 "Paging in Bar Chart"
Is there anyways to paging data fetch from database in Bar Chart.Here is my controller

[code]
Js file
[code]

[2016-04-14 15:44] hodephinitely opened #2260 "Radius Size Per Point"
Me again.

Just wondering if it's possible to change the radius of points per point or per dataset. This would be on a scatter graph.

[2016-04-14 16:08] ChristopherJdL opened #2261 "Legend not showing on print"
##### Hello Chart.js developers, #####

I am encountering problems when trying to print (yes, with a printer 🖨) a webpage where there is Chart.js legends in it.
Here is an example:
If you go to [this fiddle](http://jsfiddle.net/vrwjfg9z/1896/) (http://jsfiddle.net/vrwjfg9z/1896/), and then typing Ctrl+P (Or any other command that makes pop the print preview function on your browser), you can see t

[2016-04-14 16:09] etimberg commented on #2260
@hodephinitely is this possible :smile:

In your dataset you can add a `radius` attribute. If this value is a number, it is applied to all points in the dataset. If this value is an array, the first value is used for the first point, second value for the second point, etc

[2016-04-14 17:42] etimberg commented on #2241
@ianpugh can you drop this in a fiddle? I'd like to play around with it.

You could pass the events through to the chart object (assuming the canvas are directly overlaid) by calling `yourChartInstance.eventHandler(eventObject)`

[2016-04-14 18:10] dougmolineux commented on #1981
Something like this worked for me:
```multiTooltipTemplate: (t) -> "#{t.value} events on #{t.datasetLabel}",```
`multiTooltipTemplate` could also be `tooltipTemplate`.

[2016-04-14 18:43] ianpugh commented on #2241
@etimberg

https://jsfiddle.net/u3pto1hp/

I haven't played around with passing events from one to the other yet.

[2016-04-14 19:26] etimberg commented on #2241
Glad you have something working. I need to think on this for a bit ... I'm not sure what the best way to integrate this would be. I have some ideas, but I need to try and prototype them out first and see the holes

[2016-04-14 19:40] hodephinitely commented on #2260
Got it! Thanks!

[2016-04-14 19:40] #2260 closed

[2016-04-15 00:17] patrickrioux opened #2262 "xAxes labels are truncate since upgrade to V2.0.0"
I upgraded from beta to version 2.0.0 and the xAxes are now truncated.
Is this a bug or there is an option to adjust?

![image](https://cloud.githubusercontent.com/assets/4522128/14547648/f304a7da-027d-11e6-9291-7c9f515771b8.png)

[2016-04-15 00:33] patrickrioux commented on #2262
Here my options settings...

options = {
            legend: false,
            responsive: true,
            maintainAspectRatio: false,
            scales:
            {
              xAxes: [ { display: true,
                         gridLines: { display: false },
                         ticks: {
                           maxRotation: 35
                         }
                       }

[2016-04-15 08:35] peterzebird opened #2265 "TimeScale xAxis last tick not visible"
Hello,

See my plunk here : http://plnkr.co/edit/LyWEV9?p=preview

I'm using chart.js 2.0.0 and angular-chart.js last version.

I have a time scale on data for a week but the last tick on Sunday is not visible, not displayed or displayed out of canvas I don't know.

Not sure if this is from Chart.js or angular-chart or how I'm using both but have to try here as I would bet on it more than the angu

[2016-04-15 09:15] danwellman opened #2266 "Tooltips broken when setting chart size via CSS"
If you try to specify the size of a responsive chart using CSS, the tooltips do not work correctly. Tested in Chrome.

Bug demo at: https://jsfiddle.net/oLnjLosa/

[2016-04-15 09:54] peterzebird commented on #2262
As I understood, this is caused by the gridLines.display to be false.
See here : https://github.com/nnnick/Chart.js/issues/2229

[2016-04-15 10:16] etimberg commented on #2266
I think this is fixed in v2

[2016-04-15 10:16] etimberg commented on #2262
Closing as duplicate of #2229

[2016-04-15 10:16] #2262 closed

[2016-04-15 10:19] etimberg commented on #2265
I think this is from the time scale. Bars on time scales are hard to support. I'll try and think of some ways we can improve this.

[2016-04-15 11:24] peterzebird commented on #2265
It was "almost" working with Chart.js v2.0.0-beta-2.
Almost because the timestamp of last tick had to be 1ms more than start of the last day (sunday). Except that little manual trick it was fine.

[2016-04-15 18:46] oukpoma opened #2267 "Hidden charts disappear when screensize is changed"
Hi,

I have two charts on a page. I want to show them one at a time so one of the charts is visible while the other is hidden.

While looking at the chart that is visible, when the screen is resized, the chart which is hidden is given a width and height of 0. So when I try to display the hidden chart, it no longer shows.

I have tried to hardcode the width and height, so it is not set to 0 automat

[2016-04-15 22:35] hodephinitely opened #2269 "Can't Seem To Update Tick Labels"
Trying to pull in new data via AJAX and update the datasets and labels, datasets work fine and I can see that the graph's data.labels has been updated, but the ticks are acting strange - the lines don't match up with the ticks. It's adding new ticks for data outside of the original range but not removing any that aren't needed any more (see below).

![image](https://cloud.githubusercontent.com/ass

[2016-04-15 23:16] etimberg commented on #2269
@hodephinitely could you drop this in a fiddle?

[2016-04-15 23:16] etimberg commented on #2267
@oukpoma which version are you using? This was a known issue in v1 but it should be fixed in v2.

[2016-04-16 09:00] trepidacious commented on #2232
I've got same use case, and I was wondering whether there is any performance implication to having the points at radius 0 - are they skipped completely or is there some cost to drawing a non-existent circle? Before I found this issue I tried looking through Chart.bundle.js (v 2.0.0) for showLines, and this led me to line 6365, where points are drawn. I modified this as follows to completely skip d

[2016-04-16 09:58] hodephinitely commented on #2269
I'll try and write up something today - it's a big mix of PHP and JS so don't have anything quick to hand.

[2016-04-16 12:16] etimberg commented on #2267
Closing as duplicate of #762

[2016-04-16 12:16] #2267 closed

[2016-04-16 12:18] etimberg commented on #2259
@hoangphucvu we don't have support for paging data from a database. I don't think this is the responsibility of the chart either. You could intermittently grab the data yourself and use `addData` followed by `update()` to update the chart.

[2016-04-16 12:18] #2259 closed

[2016-04-16 16:36] hodephinitely commented on #2269
I'm struggling to get the fiddle working - trying an import of ChartJS 2.0 from another fiddle. Is there another place I can bring the code in from? I've not got SSL on my server.

[2016-04-16 18:09] etimberg commented on #2269
@hodephinitely https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0/Chart.js

[2016-04-16 18:55] etimberg commented on #2236
v2.0.1 was released. closing.

[2016-04-16 18:55] #2236 closed

[2016-04-16 22:31] etimberg commented on #1081
Done in v2 in #2271

[2016-04-16 22:31] #1081 closed

[2016-04-16 22:32] etimberg commented on #1134
Done in v2

[2016-04-16 22:32] #1134 closed

[2016-04-16 22:32] etimberg commented on #1948
Done in v2 in #2271

[2016-04-16 22:32] #1948 closed

[2016-04-16 22:40] etimberg commented on #2202
Closing since I think this was an implementation issue.

[2016-04-16 22:40] #2202 closed

[2016-04-16 22:54] etimberg commented on #2141
Closing since this no longer reproduces. May have been a browser issue.

[2016-04-16 22:54] #2141 closed

[2016-04-16 22:56] etimberg commented on #1257
Closing, the final bit of this is in. #2264 adds a sample showing how to label the bars

[2016-04-16 22:56] #1257 closed

[2016-04-16 23:24] etimberg commented on #2256
Fixed in #2271

[2016-04-16 23:24] #2256 closed

[2016-04-17 01:07] etimberg commented on #2232
Closing since docs were updated.

@trepidacious the points don't actually draw because of https://github.com/nnnick/Chart.js/blob/master/src/elements/element.point.js#L63

[2016-04-17 01:07] #2232 closed

[2016-04-17 02:15] tannerlinsley opened #2277 "Time Scale sometimes chops off last time unit"
The lower screenshot is just a few pixels thinner than the first, which resulted in the chop.

![screen shot 2016-04-16 at 9 11 35 pm](https://cloud.githubusercontent.com/assets/5580297/14584695/1e685066-0418-11e6-80bb-7dcbc88210df.png)
VS
![screen shot 2016-04-16 at 9 11 41 pm](https://cloud.githubusercontent.com/assets/5580297/14584696/1e72ff70-0418-11e6-9782-625b525d652e.png)

[2016-04-17 02:38] etimberg commented on #2277
That shouldn't be possible. Because then the last tick is < data end. Did you set the `max` property?

[2016-04-17 03:23] tannerlinsley commented on #2277
Nope. The only property set is the parser
On Sat, Apr 16, 2016 at 9:38 PM Evert Timberg <notifications@github.com>
wrote:

[2016-04-17 03:39] tannerlinsley opened #2278 "Single points are very difficult to see"
![screen shot 2016-04-16 at 10 36 53 pm](https://cloud.githubusercontent.com/assets/5580297/14584902/e10759a4-0423-11e6-8986-8ce491f53589.png)

I'm wondering if the point should be drawn in the center of the axis.  And since there is no line, it would be cool if we could have single points have some kind of line to denote they're there.  In our app we use a very small point radius and rely on the

[2016-04-17 05:45] troywarr opened #2279 "Suggestion: Add stroke options for Pie & Doughnut charts"
This appears to be possible with v1.x, but it does not appear to be supported in v2.x (at least it's not apparent from the docs - I've tried every iteration of options that I can imagine).

Specifically, a current project of mine requires a pie chart with no gaps between sections:

<img width="415" alt="pie-chart" src="https://cloud.githubusercontent.com/assets/798770/14585316/35c14a0c-0435-11e6-9

[2016-04-17 08:12] sqal commented on #2141
@etimberg Yes! Looks good on my site. Thanks ;)

[2016-04-17 11:03] hodephinitely commented on #2269
@etimberg thanks - that's the one I tried. I'll see if I can adapt a pre-existing fiddle to suit my data and functions.

[2016-04-17 11:34] etimberg commented on #2269
Ok. I think it would be easiest to hardcode the initial data and hardcode the data that comes from the AJAX request. Then simply have a button for changing the data.

[2016-04-17 11:36] hodephinitely commented on #2269
Yeah, I think I was just having issues due to wrapping things in functions etc. Trying to strip it down now.

[2016-04-17 11:37] etimberg commented on #2278
Some options I can think of

1. Offset the line to the center
2. Vertical annotation line (we would need to build annotations for this).
3. Figure out a better way to handle zoom / pan (current way does it by clipping outside the chart area) which is why half the point is cut off.

[2016-04-17 11:44] etimberg commented on #2279
@troywarr the v2 docs are at http://nnnick.github.io/Chart.js/docs-v2/ until @nnnick can get the site updated.

There are 2 ways to turn off the borders.

You could set the border width to 0 for all arcs by adding the snippet below to your config
[code]

you could also add `borderWidth: 0` to your dataset. I created https://jsfiddle.net/j9a1979b/ for you

[2016-04-17 11:44] #2279 closed

[2016-04-17 11:54] pliablepixels commented on #2202
Yes, thanks it was. I forgot to close this.

[2016-04-17 12:03] hodephinitely commented on #2269
Right: hopefully this illustrates the issue! Let me know if you have any questions.

https://jsfiddle.net/tgtuxh8q/2/

[2016-04-17 12:05] pliablepixels commented on #2199
hi @etimberg looks like you have formally released 2.0. Congrats. To confirm - is zoom targeted to be part of 2.1 ? You mentioned a slack button on readme - I can't seem to find it. can you let me know where I can join to follow progress on pan and zoom? I'll be a first adopter :)

[2016-04-17 12:15] GrannyCookies commented on #2208
I'm getting no problems with pie chart tooltips.

[2016-04-17 12:20] etimberg commented on #2269
thanks @hodephinitely

[2016-04-17 12:42] etimberg opened #2281 "Default on canvas legend callback should also get data from config"
The default legend callback, reproduced below, should fallback to the values in the config if possible.

[code]

[2016-04-17 13:03] #2143 closed

[2016-04-17 14:29] etimberg opened #2282 "Add support for plug-ins"
We should add support for external plug-ins in v2.

## Requirements
* One-time plug-in registration
* Ability to parse config
* Runs on updates

[2016-04-17 14:31] etimberg commented on #2241
dependent on #2282

[2016-04-17 14:38] #2229 closed

[2016-04-17 19:00] hodephinitely commented on #2269
For the moment I'm destroying and re-creating the graph, but that doesn't seem like the best solution!

[2016-04-17 19:26] etimberg commented on #2269
@hodephinitely this seems to be coming from your `afterBuildTicks` on the x axis config.

I removed it and it worked correctly. https://jsfiddle.net/sp9nbjn4/

[2016-04-17 19:41] nasospsa opened #2285 "offsetGridLines is not working on the left side"
https://gyazo.com/8678e0b453b80977e61ce18cf2191566

I can't really understand, why the points start with some offset from the left side. Is there a configuration option that can change that?

[2016-04-17 19:43] etimberg commented on #2285
@nasospsa is your label that's rotated very long? This happens when there isn't enough room to draw the label.

What version are you using?

[2016-04-17 19:47] nasospsa commented on #2285
First of all, this must be the quickest response ever 👍 Thnk u so much!

Yes, this is the issue, very long label. Sorry for opening the issue, didn't find any other way for feedback in this.

[2016-04-17 19:51] etimberg commented on #2285
No prob opening the issue. I think there is another one around for very long labels.

Have you tried v2? One of the things we did, is that the labels can use the space underneath the left axis. This helps with fitting these long labels. V2 docs are at: http://nnnick.github.io/Chart.js/docs-v2/

![v2 long first label](https://cloud.githubusercontent.com/assets/6757853/14589613/33de2abe-04b4-11e6-8f

[2016-04-17 19:56] nasospsa commented on #2285
Yeah, the screenshot is coming from 2.0.2. I think that this ("labels can use the space underneath the left axis") was happening since v1.

[2016-04-17 20:02] etimberg commented on #2285
I've tagged as an enhancement for now. I think the best way to support this would be to have the text wrap but that requires a fair bit of work

[2016-04-17 22:02] hodephinitely commented on #2269
@etimberg you're absolutely right - that `used` variable wasn't being reset! Thanks for taking a look, I feel a bit silly now! This project is turning my brain to mush, I swear.

[2016-04-17 22:02] #2269 closed

[2016-04-17 23:02] etimberg commented on #2269
glad I could help :smile:

[2016-04-18 00:55] etimberg commented on #758
Closing since ie8 is not supported by the latest version (v2.0.2)

[2016-04-18 00:55] #758 closed

[2016-04-18 06:04] nasospsa opened #2286 "Text Clipping on labels"
On the same page of #2285,  I see that some text-clipping occurs with the labels.

<img width="381" alt="screen shot 2016-04-18 at 08 59 17" src="https://cloud.githubusercontent.com/assets/1758652/14594964/04fb0042-0544-11e6-842e-a1f1ab9c8419.png">

I can't understand why that happens. If more data is added on the X Axis, the chart gets shorter to fit the labels and it works properly. But here it

[2016-04-18 06:14] nasospsa commented on #2286
Funniest part, if I let the vertical gridlines display, it fixes
<img width="382" alt="screen shot 2016-04-18 at 09 14 03" src="https://cloud.githubusercontent.com/assets/1758652/14595189/f806fc2c-0545-11e6-823e-b956aadf7b36.png">

[2016-04-18 09:16] sknick commented on #2210
Just to add my $0.02 on this: The hidden iframe causes some issues for me when integrating Chart.js v2 into my Echo 3-based client-side application. Specifically, the insertion of the hidden iframe just before my canvas node prevents the canvas element from rendering properly (its height and width are left unset). My workaround is to disable resize listening:

[code]

[2016-04-18 09:47] adrien-constant commented on #2261
Hello,
Same problem here. Any ETA on this? Thanks.

[2016-04-18 10:42] James-dai commented on #110
@charredUtensil

scaleSteps ,attribute is good for me ..
thanks

[2016-04-18 11:16] etimberg commented on #2286
@nasospsa that was a measuring error when sizing the scale. It was fixed in #2276

[2016-04-18 11:16] #2286 closed

[2016-04-18 13:53] tjs-uk opened #2287 "Question: How do you remove the data value from the mouse-over result in radar chart?"
Currently I am working with a dynamic set of data and Chart.js. There is no standardised scale within the data I am using, so I have created a simple algorithm, for example:

[code]
So that all the results for the Radar Graph are measured equally at 12.
By doing this the value is not going to be correct, even though the position of the point in respect to the rest of the graph will be.

`[Label]Qu

[2016-04-18 15:21] beruic opened #2288 "What is the purpose of Chart.bundle.js?"
I'm puzzled about this new (to me) file. It seems very similar to Chart.js, but the documentation does not mention it or it's purpose.

[2016-04-18 15:24] etimberg commented on #2288
@beruic it includes moment.js and the color library we use. It's most applicable for those who want to just drop in a single file and have it work.

We should get the docs updated on this

[2016-04-18 16:42] adriantombu opened #2290 "The website doc link should display the v2 docs"
I lost a pretty amount of time today trying to understand why nothing was working after downloading the zip of the repo and following the docs on `http://www.chartjs.org/docs`

Then I realized the repo has the `v2` files and the docs are for the `v1` :sob:

I guess I won't be the only one having the problem, I later found `http://nnnick.github.io/Chart.js/`, which should be the main page on `chart

[2016-04-18 16:43] etimberg commented on #2290
@adriantombu we are working to get the site updated. Only @nnnick is able to do so.

[2016-04-18 17:06] frlinw opened #2291 "[v2] No rotation = Ticks hidden"
Hello,

After an update, a lot of things are better BUT... I can't see my lil ticks if there is no rotation :°(
maintainAspectRatio is false and the container of the canva has a fixed height

![ticks_hidden](https://cloud.githubusercontent.com/assets/11896237/14612635/7b6cfb1e-0598-11e6-9e4e-c08f080cfb41.jpg)

![ticks_rotate](https://cloud.githubusercontent.com/assets/11896237/14612661/b18f9490-05

[2016-04-18 17:09] frlinw commented on #2291
Duplicate of https://github.com/nnnick/Chart.js/issues/2228
my bad

[2016-04-18 17:11] #2291 closed

[2016-04-18 17:18] etimberg commented on #2291
Was fixed in #2276

[2016-04-18 17:19] etimberg commented on #2282
Closing since #2283 was merged

[2016-04-18 17:19] #2282 closed

[2016-04-18 19:05] neolwc commented on #1572
So desired for this...

[2016-04-18 19:48] ckoeber opened #2292 "Mouse Click Events in ChartJS 2.X"
Hello,

I have been attempting to write mouse click events for a pie chart in ChartJS 2.X but the "getSegmentsAtEvent(evt)" function doesn't seem to be available in the newer version.

Instead, I have getDataelementAtEvenyt(evt), getElementAtEvent(evt), and getElementsAtEvent(evt).

The problem is I am not sure how to use the object returned; it doesn't have any of the previous types of functions/

[2016-04-18 23:19] troywarr commented on #2279
@etimberg Thanks so much for the quick and helpful reply! I throughly appreciate the JSFiddle example - that cleared it right up.

FWIW, I had spent some time with the v2 docs but still missed this option. There's a lot of information in the docs, and in hindsight I was able to locate where this was mentioned, but I think something centralized like a terminology glossary or a chart anatomy diagram

[2016-04-18 23:39] frlinw opened #2294 "[Question v2] Same number of ticks with multi axis"
Hi,

gridlines with multi y-axis on a bar chart are not very readable... so I wonder if it's possible to force a number of ticks to have only one gridline.
A 'ticksLimit ' like maxTicksLimit

[2016-04-18 23:43] etimberg commented on #2279
@troywarr glad I could help.

Good call on the docs terminology section. I'll be more than happy to merge a PR updating the doc files

[2016-04-18 23:47] etimberg commented on #2294
@frlinw one thing you could do would be to set `min`, `max`, and `stepSize` similar to v1.

An axis config to go from 0 to 10 with 6 total lines  (0, 2, 4, 6, 8, 10) would look like
[code]

[2016-04-19 01:27] zackarychapple commented on #73
Another +1 to add on to this.

[2016-04-19 03:43] tannerlinsley commented on #2277
Very funky still.  You can see the date's i'm pulling in, and the cut off.  Maybe it's one whole tick that is getting cut off?
![screen shot 2016-04-18 at 10 42 25 pm](https://cloud.githubusercontent.com/assets/5580297/14627120/ecf9005c-05b6-11e6-9ba2-fcafa3ff1992.png)

[2016-04-19 08:43] beruic commented on #2288
Super! Looking forward to the documentation as I am still not completely sure what it means. For now I will continue using Chart.js like always :)

[2016-04-19 09:42] JSoon commented on #2288
Hope the documentation being completed the sooner the better.

[2016-04-19 11:06] etimberg commented on #2277
I feel like this is a math rounding error. That leads to the last tick not showing

[2016-04-19 12:24] ThomasRalee opened #2295 "Line Chart Cant hide x and y axis @version 2"
Hi,
I am trying to hide the x and y axis referencing the documentation's example.
But I cant seem to make it work, does anyone know what am i doing wrong?
http://plnkr.co/edit/BpPmJSZ9ugT3otE3Pdc6?p=preview

Thanks in advance!

[2016-04-19 12:29] AdamChlupacek commented on #2295
It can, you only have a small issue with the way how you declared the yAxis, here fix:
http://plnkr.co/edit/Y79YoAPzaXKTl9Zowx3F?p=preview

[2016-04-19 12:37] ThomasRalee commented on #2295
@AdamChlupacek
Wow thanks!

[2016-04-19 12:37] #2295 closed

[2016-04-19 12:45] AdamChlupacek opened #2296 "Updating yAxis [version 2]"
Hi,

it seems that .update() does not honour new settings for yAxis, for example when I try to hide the axis it remains shown. It only applies said settings on creation?

[2016-04-19 12:52] ThomasRalee opened #2297 "Is it possible to Hide Points on the Line Chart? @V2"
Hi,

I am trying to Hide the pots or the dots on the line chart. In version i can do {pointDot : false} to hide them, is there a similar config i can use for version 2?

For more information.
http://plnkr.co/edit/BpPmJSZ9ugT3otE3Pdc6?p=preview

[2016-04-19 13:54] lilorox opened #2298 "Cannot use v2 with requirejs"
Hi,

I can't get Chart.js v.2.0.2 working with requirejs.
Here is a basic example: https://jsfiddle.net/pa7x2ymq/

[2016-04-19 14:17] mdh-cc opened #2299 "Show tooltips based on cursors x position in line charts"
Hi,

I'm working with scatter charts and a large amount of points which results in an overlapping of the hover areas while trying to trigger the tooltips. I would like to bypass this mechanism and use the current x position of the mouse cursor instead to show the corresponding tooltip on the line chart. Here is an example of what I'm trying to describe in flotcharts:
[http://www.flotcharts.org/flo

[2016-04-19 14:21] mdh-cc commented on #2297
I was able to achieve this by using the following options:
`options: {
    elements: {
        point: {
            radius: 0
        }
    }
}`

Have a look at the _Chart.defaults.global.elements_ section: [http://nnnick.github.io/Chart.js/docs-v2/#getting-started-global-chart-configuration](http://nnnick.github.io/Chart.js/docs-v2/#getting-started-global-chart-configuration)

[2016-04-19 14:35] etimberg commented on #2297
@mdh-cc is correct.

[2016-04-19 14:35] #2297 closed

[2016-04-19 14:36] etimberg commented on #2296
@AdamChlupacek axis options are only applied on creation. I'd be happy to merge a PR changing this

[2016-04-19 15:56] AdamChlupacek commented on #2296
@etimberg ok, I can put something together

[2016-04-19 17:32] ianpugh opened #2301 "Is it possible to change the width of the plotted lines on a line chart in 2.0?"
For the life of me I cannot figure out how to do this.

Happy to update documentation with a clear example if it's possible.

Thanks,

[2016-04-19 17:45] ianpugh commented on #2301
Literally found it just after posting the question:

borderWidth property in your datasets.

Will PR and update documentation accordingly / clearly.

[2016-04-19 17:45] #2301 closed

[2016-04-19 18:54] ianks opened #2302 "Expose pointHoverBackgroundColor option to Chart.defaults.global.elements"
The global elements does not allow a user to specify `pointHoverBackgroundColor`, I propose we allow this to be set, like so:

[code]

[2016-04-19 20:12] etimberg commented on #2302
@ianks closing as duplicate of #1317

I'd be happy to merge a PR adding this.

[2016-04-19 20:12] #2302 closed

[2016-04-19 23:17] DarrenGalway commented on #2278
I'm also dealing with this issue since upgrading, previous versions showed the node on top of the baseline. Now they appear cutoff.

![image](https://cloud.githubusercontent.com/assets/11524317/14658624/48ebe54e-0663-11e6-846b-af5af7eb2577.png)

[2016-04-20 02:43] JSoon commented on #1920
I think you guys should put all two versions documentations on the [offical site](http://www.chartjs.org/), and give a hint for that. That would be user-friendly and helpful.

[2016-04-20 03:05] zachpanz88 opened #2303 "Being Added to the Project"
Hi, my name is Zach Panzarino and I am interested in being added to the Chart.js project. I have a lot of experience with JavaScript, the main component of this project. I am proficient in many other languages and with the general software development process. I am an active user of GitHub and the open source community. I have used Chart.js in my personal applications and have also developed my ow

[2016-04-20 03:26] JSoon opened #2304 "labelsboxWidth is not working"
Here's the rub, i use `Chart.defaults.global.legend.labelsboxWidth = 10` to set the width of coloured box of chart legend, but get nothing happend. Am i taking a wrong way for this? Image below:

![abc](https://cloud.githubusercontent.com/assets/7589350/14662622/84ff3fe0-06ea-11e6-892b-1a3937e04ffa.png)

[2016-04-20 03:29] JSoon commented on #2304
Sorry, i have figured it out already, way of correct:
[code]

[2016-04-20 03:29] #2304 closed

[2016-04-20 03:43] hbrls opened #2305 "What is the future of v1?"
Will there be bug fixes? New features? What kind of pr you'd like to see?

[2016-04-20 05:27] gv007 opened #2306 "Any examples of v2 with PhantomJS 2.x?"
Hi,

I am looking for some simple examples of latest ChartJS version(v2)  with PhantomJS 2.x.

Any suggestions?

Thanks.

[2016-04-20 06:59] thubold commented on #2229
Great. It' works. Thanks a lot.

<img width="731" alt="bildschirmfoto 2016-04-20 um 08 58 13" src="https://cloud.githubusercontent.com/assets/6191140/14665813/22d48514-06d6-11e6-8dac-38af403884fb.png">

[2016-04-20 07:42] lilorox commented on #2298
This does not seem to work with 1.1.1 either: https://jsfiddle.net/oL9gh6be/1/
Am I doing something wrong?

[2016-04-20 09:43] jachstet-sea opened #2307 "Naming of database-specific options inconsistent"
I'm trying to create a line chart using Chart.js v2.0.2 where no dataset has data points displayed but one. So I set these options in the global chart settings:
`elements: {point: {radius: 0, hoverRadius: 0, hitRadius: 0,},},`

Then for the dataset I want to have the points displayed I have to use:
[code]

This works but what one can see here is that the options "radius" and "hitRadius" do not hav

[2016-04-20 11:03] etimberg commented on #1920
@JSoon there is an open issue to do that. Only @nnnick can update it.

[2016-04-20 11:29] etimberg commented on #2303
Welcome @zachpanz88. Right now I'd recommend join our slack (there is a blue button on the readme). You'd probably be most interested in the `dev` channel. We're totally open to adding more contributors and we're in the process of updating all the docs and switching this repo into the [Chart.js Organization](https://github.com/Chartjs). Until that happens, adding contributors is a bit cumbersome o

[2016-04-20 11:33] etimberg commented on #2306
@gv007 we haven't created any samples working with PhantomJS. If you create one, I'd be happy to merge a PR adding a link to it in the docs.

If you want to render the chart, you should probably turn off all the animations and then after rendering, call `toBase64Image()` to get back the data for a PNG image of the canvas.

[2016-04-20 11:33] #2306 closed

[2016-04-20 11:38] etimberg commented on #2307
@jachstet-sea those names are definitely inconsistent. I think the prefixes are fine for the line chart and we should make `radius` into `pointRadius`. I'd be happy to merge a PR for this. Please ensure that setting `radius` will still work ... we don't want to break any existing charts. Same thing applies to the tension property.

[2016-04-20 14:43] JelteMX commented on #2298
I am having the same problem. I think this is due to the fact that they changed the buildscripts. The structure is totally different from v2.0.0-beta2

[2016-04-20 14:43] zachpanz88 commented on #2303
Sounds great, just joined the slack and I'll look for some things to work on

[2016-04-20 14:43] #2303 closed

[2016-04-20 15:19] ssshake opened #2311 "Formatting Y Axis in V2"
Sorry to post such a bland issue here but I dont see in the documentation for V2 how to format the Y axis for money. I see plenty of working examples for v1 but none of that seems to work in V2. Is this still supported and how do I get it to work?

I'm trying to take number liks 1000000 and format them to $1.0 M. Should be relatively simple if I could find out how to properly pass it to a function

[2016-04-20 15:24] MoPHL opened #2312 "Question: Is there any way to display percentages over pie chart segments on V2?"
I've looked around, but could only find some hacky ways to do this and all for V1. Is is possible to do this on V2 and if so how would be a good way to do it?

[2016-04-20 15:27] etimberg commented on #2311
@ssshake you can add a custom conversion function

Scale config:
[code]

[2016-04-20 15:27] #2311 closed

[2016-04-20 15:31] etimberg commented on #2312
There isn't a good way to do this. It's on @tannerlinsley's radar to work on

[2016-04-20 15:41] ssshake commented on #2311
totally just noticed that, sorry for the post, I think the docs could be a little more obvious for people like me ;). This you pasted is better than what I currently see

`ticks.callback	Function	function(value) { return '' + value; }	Returns the string representation of the tick value as it should be displayed on the chart.
The callback method may be used for advanced tick customization. The foll

[2016-04-20 17:47] ericcirone commented on #1997
@etimberg Thanks. This worked! This should really be reintegrated back into the core.

[2016-04-20 18:23] p0fi commented on #2312
Yeah, percentages for the pie chart segments would be awesome! I was just trying to figure out how to do this. +1

[2016-04-20 18:55] pasupuletisrinath commented on #1305
+1

[2016-04-20 22:17] etimberg commented on #2312
Closing as duplicate. All of the labelling issues are tracked in #78

[2016-04-20 22:17] #2312 closed

[2016-04-20 22:19] etimberg commented on #2292
@ckoeber the returned objects will be points / bars / arcs depending on the chart type. If you look in the `_model` property you will see all of the info about the point. `_view` will contain all of the properties as they are currently displayed. The values in `_view` will change during animations

[2016-04-21 08:07] hoboman313 commented on #2299
Facing the same challenge...I'd love to know how to approach implementing this too.

[2016-04-21 08:51] ThomasRalee opened #2315 "Line Chart Group labels - Chart.js V2"
Just wondering, is it possible to group the labels according to their days? For example. If Day 1 have 3 records, Day 2 have 4 records, Day 3 have 1 record and etc ... Instead of showing 1 label per data point. Is it possible to group and show 3 data for Day 1, 4 data for data Day 2 and 1 Data for Day 3?

Would be awesome if you can illustrate it here.
https://plnkr.co/edit/BpPmJSZ9ugT3otE3Pdc6?p=

[2016-04-21 09:39] vatnoise commented on #2288
Based on comments from .min files I guess the only difference is the lack of moment.js in normal version.

P.S. Just was thinking to ask why are there comments in .min files but not in full and I reallised there are comments in full files as well (on lines 1590-1598). Is there a reason to put them that far away and not at the top of the file?

[2016-04-21 11:14] etimberg commented on #2305
@hbrls That's a good question. There may be very high priority bug fixes, but we won't be adding new features.

[2016-04-21 11:17] etimberg commented on #2315
@ThomasRalee I think https://github.com/nnnick/Chart.js/issues/2138 can point you in the right direction

[2016-04-21 11:17] #2315 closed

[2016-04-21 11:45] etimberg commented on #2288
@vatnoise it's the way browserify puts together the files.

[2016-04-21 11:45] etimberg commented on #2287
@tjs-uk which version are you using?

[2016-04-21 12:25] Power2All opened #2316 "Cannot disable showing the dots (only the dots) in v2 ?"
Hi,

I tried disabling the dots, but first was looking at v1 docs for v2 code.
In v2 docs I couldn't find a ability to simply disable showing the dots.
Is there a possibility ?

[2016-04-21 13:07] paulcanning opened #2317 "Uncaught TypeError: Cannot read property 'length' of undefined"
I am getting this error when trying to create a simple pie chart.

My code:

[code]

[2016-04-21 13:24] hbrls commented on #2305
Which will be the v1 branch? I was working on master/v1 a week earlier and found out that it was master/v2 now.

[2016-04-21 13:28] paulcanning commented on #2317
Nvm. Looks like the site, chartjs.org, has old documentation.

[2016-04-21 13:28] #2317 closed

[2016-04-21 13:51] etimberg commented on #2316
@Power2All you can set the `radius` property on a dataset to 0 and the points will not draw.

Alternatively, in your config add:

[code]

[2016-04-21 13:51] #2316 closed

[2016-04-21 13:52] etimberg commented on #2317
@paulcanning preview of new documentation is at http://alpha.chartjs.org/docs/
We will update the main site this sunday.

[2016-04-21 21:35] hoboman313 commented on #2299
I highly doubt the core devs will respond as their rules clearly state that we should not be asking support questions in the issue tracker ( use stackoverflow with the appropriate tag ).
I ended up implementing something similar that you can see here: http://hoboman313.github.io/chartsjs-demo/
Note that I created this solely as a demo to show off to some designers, so the code is pretty shit. I co

[2016-04-21 21:42] etimberg commented on #2299
@mdh-cc @hoboman313 I think you need to use the `inLabelRange` function of the point elements.

What you could do is replace the `getElementAtEvent` and `getElementsAtEvent` functions with versions that use `inLabelRange` instead of `inRange`. You should be able to do this after charts are created.

I'd be happy to merge a PR adding a new tooltip mode that added this functionality. I can give you

[2016-04-21 22:20] zachpanz88 commented on #1796
I think this is fixed in fdec3462064bf3ca6324b14d65e98edce2b8106b for v2

[2016-04-21 22:34] etimberg commented on #1796
@zachpanz88 is right. This was fixed for both v1 and v2 already.

[2016-04-21 22:34] #1796 closed

[2016-04-21 22:57] etimberg commented on #1493
Closing since this is doable manually. At this point, I don't think we'll build this into core directly. It could certainly live in user space though as a plugin.

[2016-04-21 22:57] #1493 closed

[2016-04-21 23:07] etimberg commented on #1882
Closing since I think this was adequately resolved.

[2016-04-21 23:07] #1882 closed

[2016-04-22 03:05] traducer commented on #2317
@etimberg

I'm really confused with the documentation about data structuring with pie charts. For example in the new documentation it shows a data structure:

[code]

yet the instructions below says this

These instructions sound like the data structuring from version 1, the example above has no array of objects with value or color properties.

[2016-04-22 03:19] luisrudge opened #2320 "v2 website is not working"
http://nnnick.github.io/Chart.js/docs-v2/#line-chart-introduction no charts :|

[2016-04-22 08:14] paulcanning commented on #2317
Yea, the documentation is a mess. They have updated the library but not the docs on the "official" site.

[2016-04-22 09:03] JSoon opened #2321 "Somebody give a Chart.controllers.bar.extend example?"
I'm stuck in extend bar chart. I use codes below but not working..
[code]
Any ideas?

[2016-04-22 10:07] nivv opened #2322 "tooltipTemplate equivalent in Chart.js 2.0 ?"
Can't find anything on this. What I want to do is to show percentages in the pie chart. Below worked in Chart.js 1.0

[code]

![skarmklipp 2016-04-22 12 24 16](https://cloud.githubusercontent.com/assets/4033930/14738976/2a19b0be-0885-11e6-9cef-149736dc8f1b.png)

[2016-04-22 11:03] johnw86 opened #2323 "Time scale bar charts overlap"
I'm pretty sure this is not default behaviour as when using a time axis scale with a bar chart, the bars overlap. If you compare this to a standard bar chart the bars would shrink in size. The screen shots are taken from the samples.

**Resized**
![resized](https://cloud.githubusercontent.com/assets/341852/14739823/1fc36176-0882-11e6-8304-90c03fc5ad7c.png)

**Overlapping**
![overlapped](https://cl

[2016-04-22 11:50] johnw86 commented on #2323
Little update, I can get the bar items to a more reasonable width by adding some extra logic into the getRuler method which compares the length of labels and the ticks as a percentage then apply that logic to the width of bar. Pretty sure you guys will have a better way though.

`			if (xScale.ticks.length !== this.chart.data.labels.length) {
			    var perc = xScale.ticks.length / this.chart.data

[2016-04-22 12:44] ericcirone commented on #2299
@etimberg I would love to see how to implement this also for a Line chart. Any example code would be great. Thanks!

[2016-04-22 12:45] etimberg commented on #2320
@luisrudge this is currently a known issue. #2178

We will be updating the chartjs.org this weekend with the v2 docs. To see what they will look like, you can head to http://alpha.chartjs.org/docs/

[2016-04-22 12:45] #2320 closed

[2016-04-22 12:49] etimberg opened #2324 "Update Doughnut documentation for V2 format"
"For a pie chart, you must pass in an array of objects with a value and an optional color property. The value attribute should be a number, Chart.js will total all of the numbers and calculate the relative proportion of each. The color attribute should be a string. Similar to CSS, for this string you can use HEX notation, RGB, RGBA or HS"

This is incorrect for v2.

[2016-04-22 12:50] etimberg commented on #2317
@traducer the code snippet is correct. I created #2324 to track it.

[2016-04-22 12:57] etimberg commented on #2322
@nivv in v2 there are a number of callback functions for creating the tooltip.

In your case, you want the label tooltip to be overridden.

In your config object:
[code]

The default callback for doughnut charts is: https://github.com/nnnick/Chart.js/blob/master/src/controllers/controller.doughnut.js#L95-L97

[2016-04-22 12:59] etimberg commented on #2317
@paulcanning if you have any ideas on how to improve the docs, I'd be happy to discuss them on our Slack channel

[2016-04-22 13:04] etimberg commented on #2323
@johnw86 thanks for looking into this a bit more. The `getRuler` function causes some other problems, documented in #2216, that can probably be fixed together.

Could you post a screenshot or fiddle of your chart looks like after your fix?

[2016-04-22 13:07] etimberg commented on #2321
@JSoon doing this will create a new type. You need to register that type and the create it instead of a standard bar chart.

If you want to simply replace the drawing function, you could do:
[code]

[2016-04-22 13:07] #2321 closed

[2016-04-22 13:16] etimberg commented on #2299
@ericcirone I created a fiddle for you. In it I hotpatch the `getElementsAtEvent` method on the main chart controller to use `inLabelRange`.

https://jsfiddle.net/a077grhm/

[2016-04-22 13:31] johnw86 commented on #2323
Yeah no problem screen shots before and after below:

![before](https://cloud.githubusercontent.com/assets/341852/14742976/e9824090-0896-11e6-9e56-c387b6b34011.png)

![after](https://cloud.githubusercontent.com/assets/341852/14742975/e96ca082-0896-11e6-899a-e6082eb01063.png)

[2016-04-22 13:39] JSoon commented on #2321
Thank you, why im coding like this is because i read [v2 doc](https://nnnick.github.io/Chart.js/docs-v2/#advanced-usage-extending-existing-chart-types), and make me think that doing this will create a new type indeed:

#### Writing new chart types

Chart.js 2.0 introduces the concept of controllers for each dataset. Like scales, new controllers can be written as needed.

[code]

And back then i wa

[2016-04-22 13:43] ericcirone commented on #2299
@etimberg Thanks so much! Hopefully this is can be implemented as a new tooltip mode. Side note, on a bar chart, when you are on top of the bar the bar goes into hover mode, but doesn't display the tooltip. Any idea?

[2016-04-22 13:46] etimberg commented on #2299
@ericcirone It'd make a great mode. To anyone who comes across this, I'd be happy to accept a PR for this.

is the tooltip mode set to `label`?
[code]

[2016-04-22 13:46] etimberg opened #2325 "Update documentation about extending chart types"
This needs to be clearer. See #2321 for some idea what needs to be fixed. We should clarify how to create new types from existing types and how to modify existing types.

[2016-04-22 13:48] etimberg commented on #2321
The 'extending existing chart types' was meant to be about creating a new type from an existing type. I created #2325 to make the docs clearer

If you wanted to use the `extend` method, you would need to do
[code]

[2016-04-22 13:48] etimberg commented on #2323
Looks nice! Could you create a PR for this?

[2016-04-22 13:49] ericcirone commented on #2299
@etimberg You got it. I forgot to set those to label. Thanks a bunch.

[2016-04-22 14:00] luisrudge commented on #2320
thaaaaaaaaaanks <3

[2016-04-22 14:00] luisrudge commented on #2320
and sorry about the dupe :|

[2016-04-22 14:04] etimberg commented on #2320
No problem. I know this is super annoying so we're working hard to get it fixed.

[2016-04-22 14:04] ericcirone opened #2327 "File Size Scale for Y-Axis"
I'm making a bunch of charts with the Y-axis as file size. And it is in bytes since that is the data coming back. The file size is ranging from MB to TB in different graphs. Having a Scale that would take in all data in a specified format and then format the scale appropriately would be awesome.

[2016-04-22 14:07] etimberg commented on #2327
This would make a good scale extension. It could derive from the linear scale with custom formatting functions to do metric prefixes.

If someone creates one, we can happily host it in the [Chart.js org](https://github.com/chartjs) if necessary.

[2016-04-22 14:13] gopaldogra opened #2328 "How to download v 1.x file via Github"
Not able to download v 1.x file via Github

[2016-04-22 14:17] sblackstone commented on #2323
+1 - was just having this exact problem!

Thank you!

[2016-04-22 14:26] sblackstone commented on #2323
I tried pulling this patch into my charts, still seeing the overlap - problem goes away if I don't use the time scale ..

The code from the PR is definitely being called but - still overlaps..

Its actually ok if I drag the browser super wide, but at a certain point - and way before they should overlap - the chart changes from skinny bars that are well fitting to fat bars that are overlapping.

[2016-04-22 14:27] gopaldogra commented on #2328
I figured it out.It is available at: https://github.com/nnnick/Chart.js.git#~1.1.1

[2016-04-22 14:27] #2328 closed

[2016-04-22 14:38] vatnoise commented on #56
The problem for me is that my canvas container is `width: 100%` and so the first time page is loaded Chart.js finds the correct width but as soon as I start resizing the width only gets bigger, and I was thinking to get the parents width and use that for the canvas but apparently that's exacty what Chart.js is doing! So it seems that parent's size is changing when child's size is changing ...

[2016-04-22 15:00] ldmcdaniel opened #2330 "Add the ability to turn off grid lines in line and bar charts in V 2.0"
First of all, great software.  I really appreciate you all building this and making it available to all of us for free.  What a great resource.  I was using version 1 until I needed to make a double doughnut chart and needed to change over to Beta 2.0.  Everything works really well, except the ability to turn off gridlines in line and bar charts.

Version 1 had the ability to turn off grid lines i

[2016-04-22 15:17] etimberg commented on #2330
@ldmcdaniel this is possible, but a bit cumbersome at the moment.

The way to do it would be to do:
[code]

This is cumbersome. You could look up the default directly in `Chart.scaleService.defaults[type]` but we make no guarantees that this will change. I'd happily merge a PR that added functionality to update a default type. Something like:
[code]

[2016-04-22 15:21] ldmcdaniel commented on #2330
@etimberg Awesome.  Thank you for your quick response!  I will look into your suggestion and get back to you.  I really appreciate the help!  Cheers!

[2016-04-22 15:32] JSoon commented on #2321
Yep, that make sense.

[code]

I just ran this segment, but got this error.

![qq 20160422232613](https://cloud.githubusercontent.com/assets/7589350/14746336/b598cf88-08e1-11e6-85a1-7f67d32ce5df.png)

Looks like `Chart.controllers.bar.prototype.draw.call(this, arguments);` cause it.(stack overflow?)

If i annotate this, everything's fine(but no graph being drawn of course).
Any ideas?

[2016-04-22 15:46] nivv commented on #2322
@etimberg thanks for the swift response! I'll try that out!

[2016-04-22 15:46] #2322 closed

[2016-04-22 16:23] johnw86 commented on #2323
You got a screen shot @sblackstone, any chance you can put the code up somewhere to take a look? jsfiddle etc

[2016-04-22 17:24] etimberg commented on #2321
Oh, that's a fail on my part.

[code]

[2016-04-22 19:57] sashamjolnir commented on #1977
This happens because [CanvasRendering](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/textAlign).

I tried to solve this problem with changing x coordinate off ctx.fillText if align is center or right.

[2016-04-22 22:59] etimberg commented on #634
Closing. This was addressed in v2. There is a callback function in the tooltip config that can generate a title. It will update correctly when `update()` is called

[2016-04-22 22:59] #634 closed

[2016-04-22 23:07] etimberg commented on #672
This was fixed in v2. See https://jsfiddle.net/4d07tjvr/1/

Closing.

[2016-04-22 23:07] #672 closed

[2016-04-22 23:09] etimberg commented on #690
This should be fixed in v2. The `resize` function can be called manually even if the chart is not responsive.

[2016-04-22 23:09] #690 closed

[2016-04-22 23:16] etimberg commented on #762
V2 has been released and this is fixed there. See https://jsfiddle.net/1cm1wo8t/

[2016-04-22 23:16] etimberg commented on #869
This was fixed in v2. Closing.

[2016-04-22 23:16] #869 closed

[2016-04-22 23:22] etimberg commented on #873
Closing since this was fixed by @jtblin in angular-chart.js. V2 of chart.js can handle empty datasets. See https://jsfiddle.net/jztjp2rb/

[2016-04-22 23:22] #873 closed

[2016-04-22 23:30] etimberg commented on #903
This has been fixed in v2. See: https://jsfiddle.net/k8xsnpu3/1/

[2016-04-22 23:30] #903 closed

[2016-04-22 23:32] etimberg commented on #1089
Closing since I don't think we are going to change this at this time.

[2016-04-22 23:32] #1089 closed

[2016-04-22 23:37] etimberg commented on #1129
Tested this with v2 and confirmed that it is fixed.

[2016-04-22 23:37] #1129 closed

[2016-04-22 23:41] etimberg commented on #1360
Closing since this was fixed in v2 which has been released.

[2016-04-22 23:41] #1360 closed

[2016-04-22 23:43] etimberg commented on #1416
This has been fixed in v2. See https://jsfiddle.net/k8xsnpu3/2/

[2016-04-22 23:43] #1416 closed

[2016-04-22 23:54] etimberg commented on #1418
Closing since this was fixed in v2. See https://jsfiddle.net/cwr5tamu/

[2016-04-22 23:54] #1418 closed

[2016-04-22 23:59] etimberg commented on #1903
Closing as abandoned.

[2016-04-22 23:59] #1903 closed

[2016-04-23 00:02] etimberg commented on #1958
Closing as abandoned.

The background color of the tooltip can be configured using an option in the chart configuration. This is not dynamically changable.
[code]

[2016-04-23 00:02] #1958 closed

[2016-04-23 00:06] etimberg commented on #1998
Duplicate of #1618

[2016-04-23 00:06] #1998 closed

[2016-04-23 00:06] etimberg commented on #1998
Default configs in v2 are stored in `Chart.defaults.bar`, 'Chart.defaults.line`, etc

[2016-04-23 00:21] etimberg commented on #2000
Closing since this works with v2 and V2 has been released

[2016-04-23 00:21] #2000 closed

[2016-04-23 00:25] etimberg commented on #2002
Closing in need of test case.

[2016-04-23 00:25] #2002 closed

[2016-04-23 00:54] #2023 closed

[2016-04-23 00:58] etimberg commented on #2071
Closing as resolved

[2016-04-23 00:58] #2071 closed

[2016-04-23 00:58] etimberg commented on #2068
Will be done as soon as new site is posted

[2016-04-23 01:01] etimberg commented on #2077
@carderm would it be possible for your plugin to be updated for v2? In v2.1 we will launch a new plug-in API and I think this would be a good candidate to fit into that new system

[2016-04-23 01:14] etimberg commented on #2095
closing in need of test case

[2016-04-23 01:14] #2095 closed

[2016-04-23 01:15] etimberg commented on #2114
closing as duplicate of #762

[2016-04-23 01:15] #2114 closed

[2016-04-23 01:17] etimberg commented on #2105
Closing since v2 was released and I know this works

[2016-04-23 01:17] #2105 closed

[2016-04-23 01:20] azntaiji commented on #73
+1

[2016-04-23 01:45] etimberg commented on #2130
Fixed. Latest v1 version in v1.1.1 which is correct

[2016-04-23 01:45] #2130 closed

[2016-04-23 01:54] etimberg commented on #2163
Closing since this is an implementation issue

[2016-04-23 01:54] #2163 closed

[2016-04-23 01:57] etimberg commented on #2166
Closing as duplicate of #526

[2016-04-23 01:57] #2166 closed

[2016-04-23 02:06] etimberg commented on #2168
This is much easier to do in v2, which has now released.

You can do the following (assuming that `data.activeImpressions` is a valid data object):
[code]

[2016-04-23 02:06] #2168 closed

[2016-04-23 02:08] etimberg commented on #2178
Will be fixed as soon as new site is deployed. Preview of changes are at http://alpha.chartjs.org/

[2016-04-23 02:11] etimberg commented on #2208
Tested this today using the latest from master. No issues.

[2016-04-23 02:11] #2208 closed

[2016-04-23 02:18] etimberg commented on #2238
You need to create a new axis type to do this. It could derive from the built in `category` scale but would have custom draw and measurement functionality.

[2016-04-23 02:21] etimberg commented on #2246
The proper option is `pointStrokeColor`

[2016-04-23 02:21] #2246 closed

[2016-04-23 02:23] etimberg commented on #2261
This seems to be a CSS problem. I think you'll have better luck asking on StackOverflow

[2016-04-23 02:23] #2261 closed

[2016-04-23 02:27] etimberg commented on #2266
Confirmed fixed in v2 https://jsfiddle.net/cv9rjdbm/2/

[2016-04-23 02:27] #2266 closed

[2016-04-23 02:29] etimberg commented on #2287
V1 solution is to change the `tooltipTemplate` string property in the config

V2 solution is to change the tooltip label callback function:
[code]

[2016-04-23 02:29] #2287 closed

[2016-04-23 02:52] etimberg commented on #2307
Fixed in #2314

[2016-04-23 02:52] #2307 closed

[2016-04-23 04:07] traducer opened #2334 "Pie chart not working for mobile browsers?"
EDIT: the error was on my end, I was using es6 syntax on the client-side without proper transforms. All is well with pie charts!

Not sure if this is a problem on my side or what but in my chrome desktop the pie chart is responsive and scales all the way down to mobile sizes just fine. I tested my app on my iphone 6 and iphone 6s and it was not displaying the chart.

I'm testing it on heroku, you

[2016-04-23 04:37] #2334 closed

[2016-04-23 07:10] tjs-uk commented on #2287
Thank you for your answer. Just to answer your first question, I am using the latest version. I have solved the issue and I have a much better understanding of this.

[2016-04-23 09:19] WaylandZhang opened #2335 "How to show tooltips on non datapoints mouse hover?"
I'm using the v2 beta, and trying to turn on tooltips for wherever the mouse is hovering over the line chart area and trigger the closest tooltip to be shown.

Please help out. Any ideas?

[2016-04-23 12:21] JSoon commented on #2321
I'm afraid there is a wrong usage here.

in v2, it looks like param(ease here) of `draw: function() {}` should be a float, but not a pseudo array arguments.
I try below:
[code]
not draw anything though the `.call` do excute, and then i code this:
[code]
whick works great.

Should this be an attentive place in v2?

[2016-04-23 14:39] mcorteel commented on #2056
This is only partially fixed, the tooltip is still in the wrong position. It should be at the position of the hovered node, not between nodes:
![chartjs_wrong-tooltip-position](https://cloud.githubusercontent.com/assets/6164603/14762052/95e4dac0-0971-11e6-9284-823b299ef847.png)
Or did I miss something ?

[2016-04-23 14:45] #2324 closed

[2016-04-23 14:47] etimberg commented on #2056
@mcorteel I guess this needs to be specced out more. My understanding was that the desired behaviour was the average of all the points shown in the tooltip. I can see why you'd want it at the hovered point though

[2016-04-23 14:53] Seb33300 commented on #2056
I still can reproduce this issue on the `samples/combo-bar-line.html` like described here: #2100

[2016-04-23 14:54] etimberg commented on #2056
@Seb33300 would you want to see the tooltip at the point where the mouse is as well?

[2016-04-23 14:59] Seb33300 commented on #2056
Yes, I think it's better.

But on the combo-bar-line sample, now, the tooltip seems to show the data of the bar chart instead of the line chart and at the wrong position.

[2016-04-23 15:34] DaanDeMeyer opened #2337 "Documentation issue"
Hello, I'm in the proces of writing Typescript definitions for version 2.0 .  I've primarily been basing myself on the documentation and I think I found an error in the documentation.

In the global options section the global legend options contain an option called labels. After the labels option a bunch of options follow prefixed by the world label but without a dot. One of these options is 'labe

[2016-04-23 16:09] mcorteel commented on #2056
Yes, I think it makes sense to show the tooltip at each point. It seems weird that the arrow of the tooltip doesn't point to anything.

[2016-04-23 16:40] etimberg commented on #2337
@DaanDeMeyer the correct config is

[code]

[2016-04-23 17:13] DaanDeMeyer commented on #2337
@etimberg Could you also confirm that it is

`config: {
  animation: {
    animateRotate: boolean,
    animateScale: boolean
  }
}`

for both polar area and pie/doughnut charts?

[2016-04-23 17:54] etimberg commented on #2337
Those should just be at the top level. Very confusing! so we should clean that up and move them.

[2016-04-23 19:05] DaanDeMeyer commented on #2337
It seems like this is not just a documentation issue, the actual code for doughnut charts also expects animateRotate and animateScale to be fields of animation while the polarArea chart expects them at the top level. Furthermore, I can get animateRotate to work with Polar Area charts but not with Doughnut charts.

[2016-04-23 19:32] etimberg commented on #2337
I was looking at https://github.com/nnnick/Chart.js/blob/master/src/controllers/controller.polarArea.js#L167
Where it seems to use the values at the top level.

[2016-04-23 19:36] etimberg commented on #2337
The animate rotate seems to work in the fiddle. When the page first loads, the chart rotates in

[2016-04-23 19:45] DaanDeMeyer commented on #2337
But I've put the animateRotate to false, so the chart shouldn't perform the rotating animation when the page loads. At least that seems to me how animateRotate should work based on the name.

[2016-04-23 19:54] etimberg commented on #2337
My bad, thought you were trying to set it true. Yeah, that's a bug. I'll try and look into it

[2016-04-24 00:04] etimberg commented on #2337
Fixed in the `animateRotate === false` bug and made the options consistent in #2342

[2016-04-24 13:23] #2176 closed

[2016-04-24 13:40] #2152 closed

[2016-04-24 18:33] g13013 commented on #2277
Any new on this issue ?

[2016-04-24 18:44] mer23 opened #2347 "Charts are colorless"
My charts are all being rendered on greyscale, no colors show up even though I've set the relevant properties. Even the examples from the documentation, copy-pasted, are black and white. I don't know where to look, nothing I do seems to help. Any idea why this is happening?
Thanks in advance.

[2016-04-24 18:55] etimberg commented on #2347
@mer23 can you post a fiddle?

[2016-04-24 19:01] ssmith-wombatweb commented on #2347
I just ran into this exact same issue. The document on the Chart.js website have old keys for the data object. Use the documents from the repository. The new ones are now like this:
`               backgroundColor: 'rgba(63, 191, 150, 0.3)',
                borderColor: 'rgb(63, 191, 150)',
                pointBackgroundColor: 'rgb(63, 191, 150)',
                pointBorderColor: '#fff',

[2016-04-24 19:03] etimberg commented on #2347
@ssmith-wombatweb this will be updated this evening when we push new docs live. In the meantime v2 docs are on http://alpha.chartjs.org/docs/

[2016-04-24 19:05] ssmith-wombatweb commented on #2347
Excellent, thank you.

[2016-04-24 21:45] etimberg commented on #2277
I know the problem but I don't know yet how to fix it. Essentially what happens is that initially the scale is in a unit like 'hours'. But then, the unit moves up to something like 'days'. When that happens, the tick is moved to the start of the new unit but the size of the scale in the underlying unit is not increased.

For instance, in the line-time-point-data.html sample file
1. Starting point

[2016-04-24 21:59] mer23 commented on #2347
Thank you both!

[2016-04-24 22:03] etimberg commented on #2347
Closing. New docs are up!

[2016-04-24 22:03] #2347 closed

[2016-04-24 22:04] etimberg commented on #2290
New site is live: http://www.chartjs.org/

[2016-04-24 22:04] #2290 closed

[2016-04-24 22:04] etimberg commented on #2178
New site is live with updated docs: http://www.chartjs.org/

[2016-04-24 22:04] #2178 closed

[2016-04-24 22:16] etimberg commented on #1658
Closing. New site is up

[2016-04-24 22:16] #1658 closed

[2016-04-25 01:45] etimberg commented on #1041
This is possible in v2. The custom tooltip function will be called in the scope of the tooltip object. The chart data can be accessed with `this._data`

[2016-04-25 01:45] #1041 closed

[2016-04-25 03:30] JSoon commented on #2321
That's weird, i'll figure it out myself, won't bother for now.

[2016-04-25 07:55] ChristopherJdL commented on #2261
test

[2016-04-25 07:56] willdady opened #2351 "Broken link in docs"
Link to caniuse in [browser support](http://www.chartjs.org/docs/#notes-browser-support) section begins with http// when it should be http://. Thanks.

[2016-04-25 08:44] g13013 commented on #2277
Thank you @etimberg for your quick answer

I temporarily fixed the problem by adding some entries with 0 value to the dataset, for 'day' unit I had to add 7 entries, and for the 'week' unit 1. I hope this will help.

[2016-04-25 08:49] RichardHeelin commented on #2298
A quick work around is to add a shim for Chart.js, setting the exports flag to `Chart`, i.e.:

[code]

[2016-04-25 09:05] JelteMX commented on #2298
Hmmmm for the time being I have just built it using

[code]

Which created a normal AMD build for me that does work with requirejs.

[2016-04-25 10:48] adriantombu commented on #2290
Sexy !

[2016-04-25 11:18] oguzAtes commented on #2238
Thank you @etimberg

[2016-04-25 11:53] zachpanz88 commented on #2351
Looks to be fixed now

[2016-04-25 11:57] willdady commented on #2351
@zachpanz88 Just checked, nope. To be clear it's the actual link which is wrong. The anchor text is correct.

[2016-04-25 12:02] etimberg commented on #2238
@oguzAtes if you've got questions on how to implement this, jump into our slack channel and i can help you out

[2016-04-25 12:05] zachpanz88 commented on #2351
This is what I see when I visit the page: `<p>Browser support for the canvas element is available in all modern &amp; major mobile browsers <a href="http://caniuse.com/canvas" target="_blank">(caniuse.com/canvas)</a>.</p>` Maybe I am looking at the wrong thing.

[2016-04-25 14:45] mattpolicastro commented on #1089
Yeah, no problem. I was being a rube.

[2016-04-25 14:59] joeholdcroft opened #2354 "Line chart with only one data point does not render"
When using a line chart and only one data point, no points render on the graph in v2. Issue exists in latest release 2.0.2. I think this was an issue in v1 but got fixed. Seems it's back!

Here's my config:

[code]

![image](https://cloud.githubusercontent.com/assets/2511043/14788192/cb9aae0e-0afe-11e6-8fbe-19c16cc195ad.png)

Fiddle: https://jsfiddle.net/7vgafd1c/

[2016-04-25 15:23] jozsi opened #2357 "Tooltip misplaced in `label` mode"
**Description**
The tooltip is misplaced on `line` charts when using the `label` mode.

**Code**
[CodePen](http://codepen.io/anon/pen/VaGjWQ?editors=1000)
[code]

**Result**
The tooltip appears somewhere between the two data points.
![untitled](https://cloud.githubusercontent.com/assets/840815/14788830/6bf3e2cc-0b12-11e6-8c5c-34830de6ebfd.png)

**Expected**
The tooltip to appear on the point hover

[2016-04-25 15:24] pmbaumgartner opened #2358 "caniuse.com hyperlink invalid"
In the [Browser Support > Notes](http://www.chartjs.org/docs/#notes-browser-support) section of documentation, the url text to http://caniuse.com/#feat=canvas is correct, but the url link itself is missing a colon: _http//caniuse.com/#feat=canvas_.

[2016-04-25 15:25] aholtventuretech commented on #762
I just pulled in the latest version of Chart js (v2) by cloning the Repo, and this does not look to be fixed.

Chart within Bootstrap carousel is not getting correct height and width.

Ended up rolling back to old version and using @gabrousseau26's hack/fix.

[2016-04-25 15:46] p0fi commented on #78
+1

[2016-04-25 15:47] #2351 closed

[2016-04-25 15:48] etimberg commented on #2358
Fixed in #2353

[2016-04-25 15:48] #2358 closed

[2016-04-25 15:49] etimberg commented on #2357
Duplicate of #2056

[2016-04-25 15:49] #2357 closed

[2016-04-25 15:51] etimberg commented on #2354
@joeholdcroft could you drop this in a fiddle?

[2016-04-25 17:21] joeholdcroft commented on #2354
@etimberg sure! Here you go: https://jsfiddle.net/7vgafd1c/

[2016-04-25 17:52] derekperkins commented on #762
@aholtventuretech: can you provide a fiddle showing the broken setup?

[2016-04-25 18:00] derekperkins opened #2361 "Bubblechart Docs"
Add Bubblechart docs to the main site. There's already a sample, but no docs.

[2016-04-25 18:03] derekperkins opened #2362 "Multi-chart / multi-axis docs"
We have samples for some multi-type / multi-axis charts, but we should add those to the main docs page.

[2016-04-25 19:06] lars-str commented on #73
@etimberg Great work! I'm curious to see that feature!

[2016-04-25 20:22] fdiengdoh opened #2363 "Subscript not working in Labels"
I'm not sure if this is the right place to ask. But I was using chart.js and the problem I find is when I wanted to add a Label with some subscript like SO2 where 2 should be a subscript, I add the `<sub>` element but it is not working.

`label: "SO<sub>2</sub>",`

[2016-04-25 20:35] etimberg commented on #2363
@fdiengdoh the text is rendered on canvas, so the tags aren't obeyed. You could put in a unicode subscript 2 though: http://www.fileformat.info/info/unicode/char/2082/index.htm

[2016-04-25 20:36] Miserlou opened #2364 "Minified Version on CDN in README"
It looks like the CDN version you're promoting in the README isn't minified. Maybe move that link to point to https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0/Chart.min.js ?

[2016-04-25 20:37] Miserlou commented on #2364
Or, even better, the bundle?

[2016-04-25 20:50] fdiengdoh commented on #2363
Thanks a lot, I do wish I could do the simple way. Maybe in the future.

[2016-04-25 21:18] derekperkins opened #2365 "Popular Extensions / Bindings"
We should add a new page to the site to help people discover Chart.js extensions. For some of the popular ones, we might even look at pulling them into the Chart.js organization.

### Angular
 - https://github.com/carlcraig/tc-angular-chartjs
 - https://github.com/petermelias/angular-chartjs
 - https://github.com/earlonrails/angular-chartjs-directive

### React
 - https://github.com/jhudson8/react

[2016-04-25 21:23] derekperkins opened #2366 "Demos + Showcase Page"
There were a ton of comments on our launch about wanting more demos, especially more complex demos. We should add a Table of Contents page that links to / live embeds Codepen examples. If we want to be really ambitious, allow users to submit, though that could also be handled via doc PRs.

Beyond demos, I'd love to have a list of "who is using Chart.js in the wild".

[2016-04-25 21:39] benlower commented on #1554
I'd also like this feature. @etimberg do you happen to know where one would start to add this?

[2016-04-25 21:55] SteveVanHorn commented on #1554
I added a very hacky solution to accomplish what I needed. If I ever get the time, I plan on trying to implement something real and contribute it.

What I did was add an optional callback where the bar chart calls fillText to draw its label. The most obvious problem with it is that your graphic isn't taken into account when determining label dimensions so it better fit in the space that would have

[2016-04-25 22:02] DaanDeMeyer opened #2367 "Some types in the docs are specified as Array when they are objects."
In the scales documentation, ticks is specified as an Array type but is an object in the code. The scale option for the radar chart is specified as an array as well even though it is an object in the code. There's probably more errors like this that I haven't found yet. I'm not sure what these should be replaced by. There are some places in the docs where an object is specified with '-' as the typ

[2016-04-25 22:20] etimberg commented on #2367
I think calling it explicitly as `Object` is better IMO

[2016-04-25 22:26] etimberg commented on #1554
@SteveVanHorn's solution seems like a good start. It should overload the `fit` function to ensure that the scale height / width is appropriately measured. https://github.com/chartjs/Chart.js/blob/master/src/core/core.scale.js#L253

[2016-04-25 22:27] derekperkins commented on #73
@etimberg There's a 50 rep bounty on Stack Overflow if it's close. ;)
http://stackoverflow.com/questions/36795567/chart-js-v2-is-there-a-way-to-draw-bar-chart-horizontally/36852202

[2016-04-25 22:43] mattccrampton opened #2369 "samples/pie-customTooltips.html throws a JS error"
The sample file samples/pie-customTooltips.html throws a JS error

`Uncaught ReferenceError: Chart is not defined  `

This is because your script include...

`<script src="../Chart.js"></script>`

Should be...

`<script src="../dist/Chart.js"></script>`

[Screenshot Here](http://i.imgur.com/so0iHU3.png)

[2016-04-25 22:44] DaanDeMeyer opened #2370 "No position option in core scale class documentation"
Every scale seems to override the position field of the core scale class but this option is not present in the core scale class options docs. Is this intentional or a bug?

[2016-04-25 22:47] etimberg commented on #2370
@DaanDeMeyer I believe that that is intentional

[2016-04-25 22:50] DaanDeMeyer commented on #2370
@etimberg Could you explain why? I'm curious since it also appears as a scale option in the bar chart options but not in the options of any other chart.

[2016-04-25 22:56] etimberg commented on #2370
oops, I misread, I thought you were wondering if leaving it out of the Core.Scale default was intentional. The documentation error is not intentional.

I'm not sure why the bar chart includes it.

[2016-04-25 23:01] DaanDeMeyer commented on #2370
Wait now I'm confused, so it's an option in the core scale class but it does not get set with a default value? And it should be in the core class documentation but without a default value then?

Also, a quick search through the bar controller reveals that it does not make use of a position field anywhere. Perhaps the position field does not need to be there?

[2016-04-25 23:09] etimberg commented on #2370
That's what it looks like. It should be given a proper default and documentation in the core scale docs.

[2016-04-25 23:30] didip commented on #2222
I know that +1 is frown upon, but having band chart type would be amazing.

Especially since v2.0 can mix multiple chart types.

[2016-04-25 23:52] dannysindra commented on #327
I would love to see this feature implemented as well. It would be required for presentation purpose - I have many charts to show my clients, and asking them to check each bar's value from the axes seems too much.

Please consider to add this feature! Thanks

[2016-04-25 23:57] etimberg commented on #327
@dannysindra take a look at the data_label_combo-bar-line.html sample. It shows a work-around until this is in the core

[2016-04-26 00:16] DaanDeMeyer opened #2373 "scale option in Pie/Doughnut docs not in the code"
the pie/doughnut chart options specify a scale option which after a quick search does not appear in the controller for the doughnut chart. Is it safe to remove this option from the pie/doughnut docs?

[2016-04-26 00:20] #2367 closed

[2016-04-26 00:21] etimberg commented on #2373
Yeah, that doesn't get used by the controller. It's passed to the radialLinear scale

[2016-04-26 00:21] etimberg commented on #2373
You can remove it :+1:

[2016-04-26 00:26] zahlprish opened #2374 "v2 - Line Chart dataset option: lineTension Bug"
```lineTension``` This new (renamed) option does not appear to be working. The old option (tension), however, does still work.

[2016-04-26 00:27] DaanDeMeyer commented on #2370
What should the default position be then? Does a default position even make sense if a scale can be both horizontal and vertical?

[2016-04-26 00:30] etimberg commented on #2370
Hmmm, default could be 'left'. Most scales override it anyway

[2016-04-26 00:30] etimberg commented on #2374
@zahlprish how did you specify it? What chart type?

[2016-04-26 00:51] zahlprish commented on #2374
Chart Type: LINE

This is a snippet of the ```realData.national_performance_index.data.datasets``` var that is being utilized in the code below it:
`"events":{
   "label":"Events",
   "fill":true,
   "backgroundColor":"rgba(11, 143, 191, .2)",
   "borderColor":"rgba(11, 143, 191, 1)",
   "pointBorderColor":"rgba(11, 143, 191, 1)",
   "pointBackgroundColor":"rgba(11, 143, 191, 1)",
   "pointBorderW

[2016-04-26 00:54] etimberg commented on #2374
ok, I think the docs that got deployed included it but it hasn't been released yet. Just keep `tension` for now, but I will keep this open to investigate. Sorry for the inconvenience.

[2016-04-26 00:56] zahlprish commented on #2374
No problem! Glad to help. Thanks for yours!

[2016-04-26 01:01] #2373 closed

[2016-04-26 01:37] #2370 closed

[2016-04-26 02:47] JSoon commented on #2325
Hey, friend, does v2 doc being completed? Cause i couldn't find the link in repository these days.

[2016-04-26 03:07] etimberg commented on #2325
@JSoon the docs are better but not yet done. The doc files in the 'docs' folder are the most up-to-date at the moment

[2016-04-26 07:38] istiti opened #2377 "hover to show tooltip like v1 when approaching each X axis"
Hi, I used Line chart : in the v2 we have to  hover on the little POINT of each data to  show tooltip...and this is problem on touchscreen, how can I enable to show tooltip like before in v1 when we approache to the X axis of an datapoint the detection is called to active tooltip  ...  please

In v1 we could hover on each LABEL and the X segmet set to active with tooltip, how can I do the same in

[2016-04-26 11:33] phillipsnick opened #2378 "xAxes labels are cut off when using gridLines.display = false (v2.0.2)"
Trying to hide the vertical grid lines using:

[code]

But this results in the xAxes labels being cut off

<img width="578" alt="screen shot 2016-04-26 at 12 33 07" src="https://cloud.githubusercontent.com/assets/2021654/14816861/13b2af78-0bab-11e6-92b8-ee3efb3268e1.png">

JSBin available here: https://jsbin.com/lehudixeho/edit?html,js,output

[2016-04-26 11:47] etimberg commented on #2378
@phillipsnick thanks for reporting. This original was #2229 and the fix was in #2276. If you need an immediate work-around, I would recommend setting

[code]

[2016-04-26 11:47] #2378 closed

[2016-04-26 14:33] Minifish57 commented on #2322
Hi,
I have a question about this tooltiptemplate
Before, in version 1.0, i've used to set multiTooltipTemplate though, does this functionnality still exist ?
Because, when I use this solution, I haven't all the values in the tooltip. Anybody has a Clue ?

[2016-04-26 14:47] Minifish57 opened #2379 "MultiTooltip Equivalent in 2.0"
Hi,
I have a question about this tooltiptemplate
Before, in version 1.0, i've used to set multiTooltipTemplate though, does this functionnality still exist ?
Because, when I use this solution, I haven't all the values in the tooltip. Anybody has a Clue ?

exemple :

[code]

![capture](https://cloud.githubusercontent.com/assets/16252118/14822267/436941fa-0bce-11e6-8026-f990452e4c00.PNG)

[2016-04-26 15:48] tannerlinsley opened #2380 "Stacked area draws all the way to the bottom"
I'm not sure if there is a way to fix this, or if it's a use case for anyone else, but when using transparency in stacked area, the colored blocks go all the way to the axis, which compounds and tints the the stack underneath it.

<img width="669" alt="screen shot 2016-04-26 at 10 45 32 am" src="https://cloud.githubusercontent.com/assets/5580297/14824585/315a0044-0b9c-11e6-9a05-1b044fa92b29.png">

[2016-04-26 15:51] Tutuchan opened #2381 "Incorrect border highlight in Pie Charts"
Hello,

When creating a pie chart with a hoverBorderColor, not all wedges borders are higlighted on mouseover.

See here: https://output.jsbin.com/jezuce/1
Some borders are black when highlighted while others are not.

[2016-04-26 17:09] Miserlou commented on #2366
I don't know if this is worthy of its own ticket, but a related and a useful counterpart would be a "themes" or "skins" gallery, for users to be able to easily try different aesthetics.

[2016-04-26 17:14] Miserlou opened #2382 "Responsive Maximum Chart Height?"
I'm using a Chart.js with Bootstrap 3, and when I want to make a full-width chart with a limited height, but I can't see any way to do this and there isn't anything in the docs that I've tried that works. It doesn't seem respect max-height, height, or maintainAspectRatio. Using CDN min bundle.

How can I set the maximum chart height for a responsive chart?

[2016-04-26 17:18] Miserlou commented on #2382
Nevermind.

[2016-04-26 17:18] #2382 closed

[2016-04-26 18:23] modi95 opened #2383 ""Get Started" vs "Documentation""
tl;dr - Get Started should link to where Documentation currently links.
...  ... ... ...

The web page has two prominent buttons on the top: "Get Started" and "Documentation".

The _Get Started_ button takes you to the GitHub repo and _Documentation_ takes you to the "Getting Started" section of the documentation. It seems like people would be better served if the _Getting Started_ button took you

[2016-04-26 22:32] dannysindra commented on #327
Thanks for the quick response, @etimberg  ! The sample is really helpful :)

[2016-04-26 22:40] zahlprish opened #2384 "Custom Tooltips Content (tooltip.body)"
Chart Type: PIE / DOUGHNUT
Feature: Tooltips

Hello!

This is mostly just a question. I am attempting to override the tooltip.body value for each pie sector to my own value. I am attempting to change the tool tip to a custom value:

See my attempt below
[code]

[2016-04-27 00:05] dannysindra commented on #78
+1

As joetime mentioned above, this feature will be pretty useful for clients. Currently mine are making the charts manually from an Excel file, then copy-paste the pie charts into their PPT files.

![screen shot 2016-04-26 at 5 05 36 pm](https://cloud.githubusercontent.com/assets/10548708/14837886/ff7bbc4a-0bd0-11e6-9f0f-c5a015ec20b4.png)

Please consider adding this feature. Anyone has found a

[2016-04-27 01:31] dannysindra commented on #1818
Hi @etimberg, could you please explain more about adding CSS to the legend? I am also looking for a way to display chart's legend vertically on left / right side of the chart. Thanks!

[2016-04-27 01:50] jhtervay commented on #2384
I pretty printed this for you.

You can use 3 grave accents instead of just 1 to show code for multiple lines in a row, like this:
\`\`\`
foo();
\`\`\`

and it will show:
[code]

Anyway, here's your code cleaned up:

[code]

[2016-04-27 02:11] derekperkins opened #2385 "Zoom/Pan Plugin"
@etimberg created a proof of concept here: https://jsfiddle.net/amd5ne2w/1/

On the Product Hunt page, @aub posted this specific feedback on features he is looking for.

"I need axial zoom like this: https://www.amcharts.com/demos/date-based-data/ (specifically on the X).

(I'm a product designer so take all this fwiw / its free advice :) )
I think the interaction could be achieved with click+drag

[2016-04-27 02:43] etimberg opened #2386 "Tooltip documentation needs improvements regarding custom tooltips"
We should provide more docs on how to use custom tooltips and what problem they are intended to fix.

We should also do a better job documenting what the `tooltipItem` struct contains

[2016-04-27 02:45] etimberg commented on #2385
@derekperkins thanks for digging that up. It is really good feedback!

[2016-04-27 02:46] etimberg commented on #2379
@Minifish57 to enable multitooltip mode you can add the following snippet to your config

[code]

[2016-04-27 02:47] etimberg commented on #2377
Duplicate of #2062

[2016-04-27 02:47] #2377 closed

[2016-04-27 02:49] etimberg commented on #2381
@Tutuchan thanks for the report. I think the issue is draw order. The arcs are drawn clockwise so the 2nd arc overlaps one of the edges of the first arc.

[2016-04-27 04:07] rossPatton opened #2388 "documentation should be versioned (ie, 1.0 docs should be easy to find)"
I'm on 1.0 and it's unlikely I will upgrade to 2.0 very soon.

1. It's pretty jarring (and frustrating) to suddenly have all new docs with the 2.0 release. It makes sense that 2.0 is the default, but I still need to reference 1.0 docs occasionally. As will the majority of your users for a while since most of us aren't gonna switch over right away, if we ever do. So where do we find them? It's not

[2016-04-27 05:10] istiti commented on #2377
The duplicated post isn't yet solved ? I don't think the solution's hitRadius ... when are you going add this feature back like v1, thx

[2016-04-27 05:13] cgsawtell commented on #1712
Hey, I'd actually like to be able to use this feature, and it's mentioned in the documentation, is there a reason it was removed?

[2016-04-27 06:12] istiti commented on #2062
@dibsyjr1  @etimberg  sorry In this post I don't find the solution to this problem (english poor), what is the solution to retrieve this feature like in v1 please

[2016-04-27 06:25] willdady opened #2389 "Pie and Doughnut chart keys have sensitive click areas"
The chart keys on the pie and doughnut charts on the [docs](http://www.chartjs.org/docs/#doughnut-pie-chart) have inconsistent click areas. See gif below.

![chartsjs](https://cloud.githubusercontent.com/assets/204259/14843534/6c428d36-0c94-11e6-8195-9a155a761578.gif)

[2016-04-27 06:37] Minifish57 commented on #2379
Thanks for the reply
I Have this snippet in my code :
[code]

but now I have a tooltip and not all in one box like before
here is the result now :
![image](https://cloud.githubusercontent.com/assets/16252118/14843655/6fd530bc-0c52-11e6-970c-3f49ebdbc67d.png)

and before :
![image](https://cloud.githubusercontent.com/assets/16252118/14843669/87761fc4-0c52-11e6-9dd0-3f2026a8ca49.png)

I need the sam

[2016-04-27 06:38] Minifish57 commented on #2379
Thanks, it works like a charm ^^

I've forgotten the mode:'label' ... such a noob ...

[2016-04-27 07:26] ThomasRalee commented on #2297
hi @mdh-cc,

Is it possible to allow hover after hiding the the points?

[2016-04-27 07:52] Marco-Guido commented on #2388
I was here to leave exactly the same comment.

Looking for the v1 doc, but still impossible to find...

[2016-04-27 08:33] norrhult opened #2390 "Radar charts need a logarithmic scale type option"
For the same reasons it's needed in bar and line/scatter. Maybe there's a way to do that already? Tried a ticks callback from line, bar but couldn't make it work. Option for scale type with defaults as for line, bar would be easier.
![radialdiagram](https://cloud.githubusercontent.com/assets/18640222/14846230/054f1706-0c63-11e6-8ed0-da166e3dc407.jpg)

[2016-04-27 09:31] vatnoise commented on #56
^ I think I've got it working.

Firstly, I had the charts in a table and they were making the table bigger when resized, fixed that by adding `style='table-layout: fixed;'` to `<table>`.

Then added these options when creating `new Chart`:

	responsive : true,
	maintainAspectRatio: false,

Used @akz92 solution:

	var pixelRatio = window.devicePixelRatio || 1;
	var width = $(data['canvas']).parent(

[2016-04-27 10:51] etimberg commented on #1712
@cgsawtell it got removed because it wasn't actually used in the code. I'd happily merge a PR for it

[2016-04-27 10:53] etimberg commented on #2377
@istiti i have a fiddle that hotpatches this feature in. Let me  find it and link it on the other issue

[2016-04-27 10:55] etimberg commented on #2390
@norrhult you could implement this yourself. V2 allows custom scale creation. I'll try and find time to create a fiddle as a starting point

[2016-04-27 10:55] #2379 closed

[2016-04-27 12:26] istiti commented on #2377
@etimberg  ok thank you very much, hope you can find and post me your fiddle-link really fast, my webapp won't work on touchdevice, impossible to touchmove on un x axis to show tooltip (bigbug) :+1:

thank you in advance

[2016-04-27 12:35] etimberg commented on #2062
@istiti https://jsfiddle.net/a077grhm/

[2016-04-27 13:24] norrhult commented on #2390
Thanks.
I doubt I have the skills to make it work but of course I'll give it a
try based on the starting point.
/Paul

On 2016-04-27 12:55, Evert Timberg wrote:

---
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2016-04-27 14:19] iadj opened #2392 "Display nearest whole integer as the highest point?"
I want to configure my charts to display the nearest whole number as the highest point in the Y axis so that the chart looks more aesthetically pleasing.
i.e. if my highest point is 18, I want the Y axis to go up to 20.

How can I do this in Chart.js 2.0?

[2016-04-27 14:25] etimberg commented on #2392
@iadj you can add the following to your axis config

[code]

[2016-04-27 14:27] etimberg commented on #2390
@norrhult You could do start with https://github.com/chartjs/Chart.js/blob/master/src/scales/scale.radialLinear.js and extend out a new class that replaces a single function `getDistanceFromCenterForValue` with one that does logarithmic interpolation.

Some docs on writing scales is at http://www.chartjs.org/docs/#advanced-usage-writing-new-scale-types

[2016-04-27 14:31] iadj commented on #2392
@etimberg I have multiple dynamically generated charts, so I can't use a static int. I want to check the highest value of my chart data, then use the rounded number of that highest value as the max tick.

[2016-04-27 14:56] tannerlinsley commented on #2392
I would just check before hand using something like max = N + (n%10) and
then construct the chart after the fact using that rounded max
On Wed, Apr 27, 2016 at 9:32 AM iadj <notifications@github.com> wrote:

[2016-04-27 15:14] iadj commented on #2392
Alright, makes sense. Thanks.

[2016-04-27 15:14] #2392 closed

[2016-04-27 16:39] nnnick commented on #2388
Apologies for the confusion - they're available here: https://github.com/chartjs/Chart.js/tree/v1.1.0/docs.

We'll add in a link from the site shortly. If there's continued demand we can template them on the site as well.

[2016-04-27 16:39] #2388 closed

[2016-04-27 16:54] adamrainsby commented on #78
+1

[2016-04-27 18:58] nnnick commented on #2388
Added a link to the site for the docs, feel free to PR [Notes.md](https://github.com/chartjs/Chart.js/blob/master/docs/08-Notes.md) if you think it'd be valuable to list more previous versions on the site.

[2016-04-27 19:39] #2277 closed

[2016-04-27 20:36] inversiondk opened #2395 "Documentation for version 2?"
Hi,

It seems that the links for the documentation for version 2.0 are broken.
The only links I can find are: http://nnnick.github.io/Chart.js/docs-v2/ - which leads nowhere :)

Or perhaps I'm missing something? ;)

Great plugin - really love using it!

[2016-04-27 20:50] chrisc4 opened #2396 "IE8 Compatibility ?"
Hello,

I include excanvas and es5 scripts but it seems that Chart.js not working on IE8

My head:
`    <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
    <script src="https://cdn.jsdeli

[2016-04-27 20:59] mchateloin commented on #2396
[According to the docs](http://www.chartjs.org/docs/#notes-browser-support), IE8 is not supported because that browser [does not support the canvas element.](http://caniuse.com/#feat=canvas)

[2016-04-27 21:20] etimberg commented on #2396
V1 supported IE8. V2 does not because we make use of some other properties not available in IE8. IE9 should work.

[2016-04-27 21:20] #2396 closed

[2016-04-27 21:43] mdh-cc commented on #2297
Yes, this is possible. Try to increase the hitRadius and/or hoverRadius:
`options:  {  elements:  { point:  {  hitRadius: 10,  hoverRadius: 10  }  }  }`

[2016-04-27 23:59] etimberg commented on #2395
@inversiondk http://www.chartjs.org/docs/ has the v2 docs

[2016-04-27 23:59] #2395 closed

[2016-04-28 02:32] woutrbe commented on #1228
I had the same issue, setting `max-height: 100%` does the trick: http://jsfiddle.net/ca7haLnn/2/

[2016-04-28 05:13] istiti commented on #2062
thanks very much (advice: add this feature back in next release please)

[2016-04-28 05:15] inversiondk commented on #2395
Mildly interesting... when I open the link, I get the v1 docs until I do a hard refresh of the page.
So for everybody looking for the v2 docs and not finding them: Ctrl + F5 :)

Thanks @etimberg - sorry for the inconvenience :)

[2016-04-28 05:29] nasr18 opened #2397 "Simple bar chart without x and y axis."
I need to show data using bar chart but without any x and y axis. Only i have to show values on hovering. Please help.

[2016-04-28 08:42] AndrewSav commented on #13
In the fist example every time animation happens the chart gets cut on the left and then it slides to the left into that blank space. Is it possible to make it so that the blanking out does not happen and the chart flows to the left smoothly, without chopping?

[2016-04-28 08:57] JSoon commented on #2374
Yeah.. tension does work, marked here if it is being fixed.

[2016-04-28 08:58] LouisGac commented on #608
so any solution?

[2016-04-28 09:12] Servuc opened #2398 "Problem with update() method"
Hi,

I've a dashboard with *n* Chart.js items. All items are upgraded each 2 minutes. So I had labels and datas linked.

I've create method to help me (Why there not implemented like in V1 ?!)

	/**
	 * Remove all data in this chartJs
	 */
	removeData: function() {
		if(this.chartJs != null) {
			this.chartJs.data.labels.splice(-1, 1); // remove the label first
			this.chartJs.data.datasets.forEac

[2016-04-28 09:39] Servuc commented on #2397
In your options, you should do that :

   {
      //Other options
      scales: {
         yAxes: [{
            display:false
         }],
         xAxes: [{
            display:false
         }]
      }
    }

I think is that ;)

[2016-04-28 10:21] etimberg commented on #2397
@Servuc is correct.

[2016-04-28 10:21] #2397 closed

[2016-04-28 10:21] JSoon opened #2399 "Is there a way to sort a combo chart's layer ?"
Hello, there!
I'm here to ask question once again. Here is the issue:

I create a combo chart combine Bar with Line, and each of them has tooltips. When i hover a single point "in" a single bar, i can not hover over the point but get the tooltip of bar, looks like below:

![1](https://cloud.githubusercontent.com/assets/8253634/14882851/775688ba-0d6d-11e6-99a9-162c4ea513ea.jpg)

And it should be su

[2016-04-28 10:22] mag210 opened #2400 "Extending the Y Axis"
Hi,
Really enjoying using chat js, its a great library.
One thing I am struggling to work out how to do is extend the Vertical axis. For example, suppose I have a dataset with 4 numbers in it. 10, 20, 30, 40. The verticle Axis will start at 10 and end at 40 and plot points accordingly. This is expected behaviour but suppose I wanted my scale to start at 0 and finish at 100 How would I do this with

[2016-04-28 10:33] Ofenlord opened #2401 "Chart JS Time Scale"
Hey,
i have a line chart (y-axis: Int[0,3] ; x-axis:Time_hh:mm[24hours past, now]) and i am using the time scale options. the dataset consists of 24 hours * 60 minutes values and i changed the x-axis label unit to 'hour' and unitSteps to '2'. So far so good. But when i display the chart, it cuts sometimes the last 10-20 data values.
Is there a posibility to extend the x-axis?

My Line Chart:
//lab

[2016-04-28 10:34] #2400 closed

[2016-04-28 10:34] mag210 commented on #2400
Found the answer by using scales for the Yaxes
 scales: {
       yAxes: [{
           type: 'linear',
           ticks: {
               min: 0,
               max: 100
           }
       }],
     },

[2016-04-28 10:37] etimberg commented on #2389
Thanks for the report @willdady
can confirm the issue. Interestingly it does not happen with the sample files

[2016-04-28 10:39] etimberg commented on #2399
@JSoon at the moment there is no way to change the order other than to have the bar dataset come first in the dataset array.

I think we can add something to allow custom sorting for drawing and custom sorting for the tooltips

[2016-04-28 10:40] nasr18 commented on #2397
ok will check it out and let you all know about it.

[2016-04-28 10:40] etimberg commented on #2401
@Ofenlord this is coming up blank to me. Did Github not post the body?

[2016-04-28 10:42] etimberg commented on #2398
@Servuc is it possible to drop this in a fiddle? `update()` should work for what you are trying to do and nothing in your config seems wrong

[2016-04-28 10:46] Ofenlord commented on #2401
Yeah i pressed ENTER after typing the title and he post it instantly, sry

[2016-04-28 10:49] AsrorWali opened #2402 "I want the values to be visible on the bars. I dont want to hover to see the values."
Is this possible ? If so could I get a example ? Also i would like a graph with a horizontal line which gives me a benchmark and i can see if it higer or lower than expected

[2016-04-28 11:13] etimberg commented on #2401
Ah, ok.

I think the issue you are seeing is likely the same as #2277 which has been fixed and will be in the next release.

As a workaround, you could add an explicit max and min to your scale config
[code]

[2016-04-28 11:14] etimberg commented on #2402
@AsrorWali https://github.com/chartjs/Chart.js/blob/master/samples/data_label_combo-bar-line.html is what you want until we have a better way of supporting this.

[2016-04-28 11:14] #2402 closed

[2016-04-28 11:15] frlinw opened #2403 "[v2] Click & Tick"
Hi,

I'm wondering if there is a way to enable click on tick ?

Use case :
![image](https://cloud.githubusercontent.com/assets/11896237/14884128/095c6cbe-0d43-11e6-99ea-fdf3b513b66e.png)
Click on bar works great but it seems to be more obvious/natural for the user to click on tick

[2016-04-28 11:19] etimberg commented on #2403
This would make a good enhancement. Some of the pre-work for panning / zoom in #2341 needs to be merged to be able to do this.

If anyone decides they'd like to try implementing this, please jump on Slack or post questions here. There are some cases that would need discussion.

[2016-04-28 11:26] frlinw commented on #2403
In addition, if it's possible to change the cursor style on hover, it will be perfect :)

[2016-04-28 12:07] Ofenlord commented on #2401
ok thanks it works, but min and max must set outside of 'displayFormats'

Greetings

[2016-04-28 12:27] etimberg commented on #2401
Sorry about that, haven't had enough coffee yet.

[2016-04-28 12:58] andreasastrom opened #2404 "First and last point get cut"
My first and last point get cut.
Is there any way to prevent this behavior? I have tried to add paddingRight/paddigLeft but couldn't get it to work.

![image](https://cloud.githubusercontent.com/assets/6371615/14886396/ea3b4446-0d50-11e6-80a6-b0bc98b3860a.png)

[2016-04-28 13:05] etimberg commented on #2404
@andreasastrom could you post a fiddle with this?

[2016-04-28 13:06] wa-jared commented on #2364
The CDN version that is listed in the README doesn't work in Chrome at all. The CDN listed in the documentation on Chartjs.org also doesn't work, Chrome reports it as having the wrong MIME type (https://cdnjs.com/libraries/chart.js)

[2016-04-28 13:14] etimberg commented on #2364
@wa-jared https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.2/Chart.min.js has the wrong mimetype? I feel like that's an issue you should report to CDNjs

[2016-04-28 13:26] sergonius opened #2405 "Bar chart with lines z-index issue"
Currently, the lines are hidden behind the bars. Is there a way to bring the lines to the front so I can hover the datapoints?

[2016-04-28 13:47] wa-jared commented on #2364
@etimberg no that one has the correct MIME type. My mistake, I assumed the link WAS the CDN link.

[2016-04-28 13:59] andreasastrom commented on #2404
Ofc here you go! @etimberg
https://jsfiddle.net/kcah6d1q/

[2016-04-28 14:17] brizido commented on #2384
I believe I found the issue:

On the file Chart.bundle.js the tooltip.update() is called every time the mouse moves, and since the update doesn't receive a changed variable, the changed flag is set as undefined, which makes the 'custom' function not being called and therefore the body of the tooltip not being updated. A solution would be to pass changed=true on the eventHandler:
[code]

Should I c

[2016-04-28 14:18] etimberg commented on #2364
ah, ok. We will update the documentation to be clearer.

[2016-04-28 14:19] etimberg commented on #2405
Duplicate of #2399

[2016-04-28 14:19] #2405 closed

[2016-04-28 14:20] Servuc commented on #2398
Hum ... I've try to reproduce bug here https://jsfiddle.net/v4mopr7h/38/

But nothing appear, i will profile my code and respond my new status ;)

Thank you for you response ;)

[2016-04-28 14:21] etimberg commented on #2384
@brizido if you could create a PR that'd be great. It's easier to have a look that way

[2016-04-28 14:22] etimberg commented on #2404
ohh, I know what this is. I thought 2 entire points were gone. This is an unfortunate sideeffect of clipping the chart area to support zoom and pan. A possible solution is to expand the clip area slightly so that the points get draw. A more advanced solution would be to project the point area of these edge points when determining the clip path (performance is an issue though)

Rolling in with #227

[2016-04-28 14:22] #2404 closed

[2016-04-28 14:32] brizido commented on #2384
@etimberg Actually the change is on the file core.controlle.js.

Can you please add me as an active contributor so I can create a separate branch for the PR?

[2016-04-28 14:32] etimberg opened #2406 "Doughnut chart sample has incorrect color label"
http://www.chartjs.org/docs/#doughnut-pie-chart a sample chart. The label says 'green' but the color is blue. We should update the label

[2016-04-28 15:03] jkdufair opened #2407 "Plugin Service missing"
Hi - I'm using v2.0.2, and looking at the docs, it appears that I can write a plugin. When I look at the source for 2.0.2, it looks like the code is not existent, but that it is on the master branch. Can this be merged in to the 2.x branch?

[2016-04-28 15:09] cablegunmaster opened #2408 "Animation disable"
Wondering if its possible to disable the animate at the beginning of the loading.
Instead of loading the graph, I wanted to have it loaded immediatly without a delay.

I found thus far: Chart.defaults.global.animation but I have no idea how to implement it.
The reason why I want this is because i'm trying to implement this on the mobile phone, and it seems to be quick, but the animation itself the

[2016-04-28 15:10] derekperkins commented on #2407
That's the key piece of the 2.1 release that will be happening in the next few days. In the meantime, feel free to start developing using the master branch. If you have questions, @etimberg can show you the plugin ropes.

[2016-04-28 15:10] jkdufair commented on #2407
Awesome. Thank you.

[2016-04-28 15:20] zachpanz88 commented on #2408
This should work:

[code]

[2016-04-28 15:27] Servuc commented on #2398
I've profiling and drawLine in ChartJS seem draw a lot of time for 75 datas, but with this https://jsfiddle.net/v4mopr7h/43/ I've no problem ... .

So will working on my code tomorrow.

Should I update every time I update or remove datas for one label ? Twice for 2 labels ? ...
Or just one time for a lot of updating or removing ?

[2016-04-28 15:31] etimberg commented on #2407
@jkdufair if you run into places where you need a tooltip hook, let me know. I think I included a decent set of things, but there may be places you need. I am totally open to adding more so just let know what you need :)

[2016-04-28 15:31] etimberg commented on #2408
@zachpanz88 is correct.

[2016-04-28 15:31] #2408 closed

[2016-04-28 15:32] etimberg commented on #2398
@Servuc updating twice depends on what you want the animation to look like. If you want it to 'shift' left you need 2 updates. If you don't care about that, 1 update is enough

[2016-04-28 15:37] cablegunmaster commented on #2408
Thanks for the quick reply!

[2016-04-28 16:35] sassomedia commented on #2298
Same issue here, was not able to get it built that way but the shim worked for me.

[2016-04-28 17:23] dougmolineux opened #2409 "Empty Canvas Element"
Hello,

I am trying to render a Bar chart using code that looks like this
[code]
nextProps.data looks like this:
[code]
chartType.toLowerCase() is equal to `bar`

I am using chart.js 2.0.1, a canvas element is rendered properly, but there isn't anything inside it, its blank. There are also no errors in the console. What am I doing wrong here?

[2016-04-28 17:37] dougmolineux commented on #2409
I'm sorry please disregard, I updated to 2.0.2 and it seemed to fix itself? Not quite sure why

[2016-04-28 17:37] #2409 closed

[2016-04-28 17:39] tannerlinsley commented on #2409
Probably just a bug fix :)  Also, note the changes to the color properties.  We moved to css style property names in 2.0 👍

Example:
https://jsfiddle.net/bohokynd/

[2016-04-28 17:43] dougmolineux commented on #2409
Thank you Tanner! Great work on this :)

[2016-04-28 17:46] tannerlinsley commented on #2409
Thanks man!  You should join the slack channel! https://chartjs-slack-automation.herokuapp.com/

[2016-04-28 22:14] p0fi opened #2410 "animation bug in Doughnut & Pie chart"
The animation bounce in both charts are not working correctly.
Here is a video what shows what I mean:

https://www.youtube.com/watch?v=2mc45-A_z9A

[2016-04-28 22:35] #2410 closed

[2016-04-28 22:45] dougmolineux commented on #2389
It appears that there is an element positioned above the bottom half of the legend, that is prevent click events from being captured:

![image](https://cloud.githubusercontent.com/assets/880444/14903745/89590036-0d60-11e6-90a5-3768f1a189bc.png)

[2016-04-28 23:07] cperryk opened #2414 "Document "scatter" chart type in API documentation"
The current documentation makes small references to a "scatter" chart type but does not describe it.

[2016-04-28 23:25] MusikAnimal commented on #2056
#2357 explains it very well. This is my only beef with the new Charts.js. I'm otherwise super duper excited and grateful for this incredible overhaul :)

[2016-04-29 00:20] etimberg commented on #2414
@cperryk agreed. we should document this.

[2016-04-29 01:26] thedamon commented on #1976
Really important for any library like this.
I imagine implementing accessibility with something based on canvas would be a huge ordeal, but maybe as a less crazy alternative it could somehow describe the data in some kind of caption element

[2016-04-29 01:56] JSoon commented on #2399
Gotcha, looking forward to that.

[2016-04-29 07:28] nielssj commented on #593
@tannerlinsley could you provide a link to this October 2nd post? Is it in a PR or on a blog of some kind?

[2016-04-29 07:37] nielssj commented on #593
Incase anyone is wondering how to do this in 2.0, this works for me:
`lineChart.config.data.labels = newLabels`
`lineChart.update()`

[2016-04-29 07:46] AndyStewart opened #2415 "Bars on time axes are poorly positioned and sized"
Edit (@etimberg April 19, 2017)
This issue tracks the positioning and sizing of bars on time axes. In general, it seems very unclear how bars on a time scale should behave.

Unlike an axis that is built from string labels, a time axis is a continuous range of values. The user may supply bars spaced at 12:00AM each day, or we could have a bar at 12:00AM and 12:01AM and the chart would need to ensur

[2016-04-29 08:15] Servuc commented on #2398
Well, solved ... my webpage became in over flow mod because I do a lot of inutile update (more than 10 but less than 100) in a loop. Even smooth effect is disable, it's consume lot of power.

Before close it should it create a pull request for my onClick legend ? It's disable useless scales (scales without visible dataset) ?

[2016-04-29 08:47] fervanrijswijk commented on #2049
Any progress related to this issue?

[2016-04-29 10:41] heshan-nibaya commented on #2414
+1

[2016-04-29 11:15] brizido commented on #2384
@etimberg Pull request here: https://github.com/chartjs/Chart.js/pull/2416

[2016-04-29 12:30] caioaugustofr opened #2417 "Tooltip misplaced when we have both a line and a bar chart and line value is lower"
When we have a line and a bar chart in the same canvas, the tooltips are misplaced if the value of the line chart is lower than the value of the bar chart for an specific point.

Obs: If I click the chart legend to hide the bar chart so that it only displays the line, the problem disappears and the tooltips are placed in the right place.

Here is the dataset I am using for this chart:

[code]

[2016-04-29 12:45] etimberg commented on #2398
@Servuc I'm not sure if we want to change the default onClick for legend. @tannerlinsley @derekperkins @zachpanz88 thoughts?

[2016-04-29 12:48] etimberg commented on #2417
Is this a duplicate of #2056?

[2016-04-29 12:54] zachpanz88 commented on #2398
I don't really see a problem with the current version

[2016-04-29 12:55] etimberg commented on #2398
The difference is that the proposed change would also hide unnecessary scales when all of the traces on that scale are hidden.

[2016-04-29 12:59] mdh-cc commented on #2299
@etimberg Thank you for the fiddle, this should solve my current problem.

[2016-04-29 13:35] Lulububu opened #2418 "Firefox 31 compatibility"
Charts don't display when using Firefox 31.5.0 ESR.

Canvas are working fine with other chart library but when I am browsing the ChartJs documentation, I can't see any result on this browser.

![image](https://cloud.githubusercontent.com/assets/309411/14917538/df61d34e-0e1f-11e6-9465-bb2e7e46ed3d.png)

It's working fine on Chrome.

Is there a fix somewhere?

[2016-04-29 13:40] nielssj opened #2419 "Line chart: manually limit x-axis tick labels"
Hello,
I'm building a line chart with a high number of data points (for the sake of example 10) and I would like to draw lines based on all 10 data points, but I would like to limit the number of x-axis tick labels to exactly 5 (every second data point). Here's the simplified version of what I'm trying to do:
[code]

By default line chart uses categorical scale on the x-axis. But as far as I can u

[2016-04-29 14:05] etimberg commented on #2419
@nielssj in the callback if you return `null` or `undefined` the grid line will also be hidden

[2016-04-29 14:16] nielssj commented on #2419
Perfect, that works, thank you :)

[2016-04-29 14:46] #2419 closed

[2016-04-29 15:23] etimberg commented on #2418
@Lulububu do you get any console errors?

[2016-04-29 15:58] Lulububu commented on #2418
The only message I get is "The character encoding of the HTML document was not declared. The document will render with garbled text in some browser configurations if the document contains characters from outside the US-ASCII range. The character encoding of the page must be declared in the document or in the transfer protocol.".

But it doesn't seem related.

[2016-04-29 16:11] Lulububu commented on #2418
I tried other version of firefox. It does work on 35 but does not on 30 (and 31 of course).

[2016-04-29 17:10] zachpanz88 commented on #2369
Fixed in commit adc430fc66c7856e048bc26cdedee3f2ced500e0

[2016-04-29 17:10] #2369 closed

[2016-04-29 20:12] douwevdijk commented on #73
+1

[2016-04-29 20:16] zahlprish opened #2420 "2.0 BAR (Stacked) Missing Every Other Label on X Axis"
Version 2.0 , Type: BAR

Bug with Missing labels on x-axis.

Hey all,

I am having an odd issue where my stacked bar graph is not displaying every other label on the X axis. (The black labels are showing, red is missing).

I know the labels exist as they do appear when hovered over.

![missing_bar_labels](https://cloud.githubusercontent.com/assets/8344056/14928236/3dddf226-0e1c-11e6-8e37-8dc278023

[2016-04-29 20:57] etimberg commented on #2420
@zahlprish try turning auto skipping off for the x axis

in the x axis config:
[code]

[2016-04-29 22:28] mbgardner commented on #2418
Confirming the issue -- FF v31.3 (Linux) and v31.4 (Windows) don't display anything or log any errors. Pointing Chrome v37 at the same running app displays the chart as expected.

[2016-04-29 22:32] zachpanz88 commented on #2418
Can confirm, v31.5.0 on Linux is not working and gives no console errors

![Chart](http://i.imgur.com/512PXqb.png)

However, I did notice that http://chartjs.github.io/Chart.js/ was working, which relies on v1.0.2 Chart.js

[2016-04-29 22:53] zahlprish commented on #2420
@etimberg Yep! Nailed it. Thanks a bunch!

[2016-04-29 22:53] #2420 closed

[2016-04-30 05:16] luisrudge commented on #2374
`lineTension` is not working with latest npm release on a line chart.

[2016-04-30 07:10] jelazos7 commented on #2395
Thanks to you @inversiondk for pointing this out -- i've been trying to use the v1 docs with v2 for a week, browser never refreshed cache on its own.

@etimberg, is it possible to put cache control headers on the docu pages? This would be important as smaller updates are made to the docu as well.

[2016-04-30 08:58] woutrbe opened #2422 "Not respecting parent size"
I've noticed a few issues / posts about this already, but I can't seem to find a simple solution.

Why, in the following example doesn't Chart.js respect the width and height of its parent div? http://codepen.io/woutr_be/pen/EKdqrE

This is rather annoying as my charts need to be flexible and I can't always maintain a fixed width and height.

I can force the canvas to maintain it by using CSS, but

[2016-04-30 10:35] zachpanz88 commented on #2422
Adding `max-width: ` and `max-height: ` to the CSS of the div should stop it from expanding.

[2016-04-30 11:17] woutrbe commented on #2422
@zachpanz88 Did you see the example I provided? That does already contain `max-width` and `max-height`, it doesn't stop it from expanding. Could you provide an example with your solution? (If it's different from the example)

[2016-04-30 11:25] etimberg commented on #2395
@jelazos7 it can definitely be added. @nnnick can you do this?

[2016-04-30 14:35] n-lavrenko commented on #1135
Hello!
So, where is resolve of problem of this issue?
I need to implement this and cant' find a solution:

<img width="525" alt="screen shot 2016-04-30 at 5 33 35 pm" src="https://cloud.githubusercontent.com/assets/7901225/14936614/deb77bbc-0ef9-11e6-8835-69f8e8e0fd74.png">

Thanks, guys.

[2016-04-30 14:40] ksteigerwald commented on #73
+1

[2016-04-30 14:47] n-lavrenko opened #2423 "Background color for every odd column in line chart."
Hello!
I've faced a problems to **fill every odd column** in line chart _and_ **show horizontal grid's lines out from chart** for left side of grid.
I can't find solutions.
See screen from PSD:

<img width="525" alt="screen shot 2016-04-30 at 5 33 35 pm" src="https://cloud.githubusercontent.com/assets/7901225/14936635/71eeaf2c-0efa-11e6-96df-b58be9f6bda9.png">

Now I have:
<img width="528" alt="sc

[2016-04-30 14:57] nbyloff opened #2424 "Chart type not changing on destroy() then new Chart() in 2.0"
Trying to swap chart type based on user input. Using the vue.js framework. By default, the page renders with a line chart and some dummy data. I change the chart type to bar, an event fires to change the chart type data, destroy() the old chart, and re-create a new one.

With this setup (local project installed via npm)

[code]

I expect the line chart to be removed and add back a bar chart. Howev

[2016-04-30 16:43] JerryLosey opened #2425 "Doughnut Partial"
This might be answered already, but I couldn't find it.

Is it possible to have 1 value in a doughnut chart?  For example: I want my chart to represent 100%.  However, my value would be 50%.  Then half the chart would fill up, and the other half would stay blank or opaque.

I'm trying to represent parts of a whole, where the whole is not entirely filled.

[2016-04-30 21:20] tiesont commented on #2425
If you're not using any of the other charts, you might find Circliful to be a better fit: http://circliful.pguso.de/

[2016-05-01 00:37] zachpanz88 commented on #2422
It appears to respect the `max-width` and `max-height` on your example, so I am not sure what the problem is. It may have something to do with angular.

[2016-05-01 00:45] zachpanz88 commented on #2425
You could try setting the part of the array that you do not want to be filled with a color value of `"rgba(0, 0, 0, 0)"`, which will make that part completely transparent.

[2016-05-01 01:17] pbouianov opened #2426 "2nd Y-Axis scale wrong min / disappears"
Displaying the same data as two different datasets using separate Y-scales (with same config) has a default -1 min for the 2nd displayed Y-scale regardless of data elements (Chart.JS version 2.0.2)

Same chart data:
[code]

![](http://i.imgur.com/XJBM79X.png "")
1st dataset is overlapping the first, tested by removing 1st and seeing the color line for 2nd

Adding a min value to the ticks for both

[2016-05-01 01:28] etimberg commented on #2425
@JerryLosey there are 2 options that can help you with this

`circumference` is the sweep of the arc in radians.
`startAngle` is the starting angle in radians.
See http://www.chartjs.org/docs/#doughnut-pie-chart-chart-options

To have a half doughnut in the upper 2 quadrants, your config would look like
[code]

[2016-05-01 01:28] #2425 closed

[2016-05-01 01:34] etimberg commented on #2426
@pbouianov there's a typo in your config.

In the dataset, `yAxisId` should be typed as `yAxisID`.
In the options, `id` specifies the ID of the scale in the config. `labelString` is nested under `scaleLabel` and is used to label the axis.

I created a fiddle for you at https://jsfiddle.net/6hg4zpa2/1/

[2016-05-01 01:34] #2426 closed

[2016-05-01 01:41] pbouianov commented on #2426
Much appreciated. Didn't see an 'id' field listed under the options for scale at https://chartjs.github.io/Chart.js/docs-v2/#scales

[2016-05-01 01:41] woutrbe commented on #2422
@zachpanz88 I don't quite understand, `.chart-holder` is set to `width: 800px; height: 200px`, the div directly inside it has `max-width: 100%; max-height: 100%`. The chart however is `800px` by `400px`.

<img width="1440" alt="screen shot 2016-05-01 at 9 38 36 am" src="https://cloud.githubusercontent.com/assets/1826229/14939613/b82c9874-0f80-11e6-9527-88f9c2226cb4.png">

I've created a non-angula

[2016-05-01 01:54] zachpanz88 commented on #2422
Setting the height and width of the canvas in addition to the `max-height` and `max-width` of the surrounding div will fix your issue.

Example: https://jsfiddle.net/2s034Lzw/1/

[2016-05-01 02:16] etimberg commented on #2426
I'll get that updated. We've launched a new version of chartjs.org that has the v2 documentation. The latest updates are there.

[2016-05-01 09:55] shemdani opened #2427 "Stacked Line chart not drawing properly..."
Any clue on why my stacked line graph is not showing all areas? v2.1

Fiddle:
https://jsfiddle.net/v6953mhj/1/

[2016-05-01 11:40] potatopeelings commented on #73
I swapped the x and y dimensions from the bar controller code and made a few minor tweaks to get this working (thanks to **zachpanz88** for helping get the labels sorted out). Fiddle is at http://jsfiddle.net/0y8mnma1/.

It's also posted as an answer to the SO question **derekperkins** mentioned above. Cheers!

I see that **Kyle-Falconer** already has a PR for this (https://github.com/chartjs/Char

[2016-05-01 12:17] etimberg commented on #73
@potatopeelings could you PR your changes? The other PR is for v1. I think your changes look good and I would happily merge them

[2016-05-01 12:19] etimberg commented on #2427
Looks like a bug of some kind

[2016-05-01 12:24] etimberg commented on #2424
I think I know what happens here. The old `line` type is attached to each dataset. I think this will be fixed in the next release as the result of some other changes we made to how data is attached to the datasets. In the meantime, as a work around you could do

[code]

In terms of `Chart(ctx).Line(config)` and `Chart(ctx).Bar(config)` those interfaces are not supported in v2.

[2016-05-01 12:25] etimberg commented on #2423
@n-lavrenko I think you need to make new scales types that have custom drawing. Or replace `Chart.Scale.prototype.draw` with a new function that does the old drawing and then does the extra stuff you want

[2016-05-01 12:26] #2423 closed

[2016-05-01 14:54] nbyloff commented on #2424
OK good to know. I tried your suggestion, but it didn't work for me. Breakpointing on the forEach loop did show the `dataset.type` was still line and got reset to bar. Graph still didn't switch to a bar though. Here is my entire vue setup.

[code]

[2016-05-02 01:01] manitonetworks commented on #2422
What is the solution when you can't set the height / width of the canvas statically? I can't set it statically when designing for desktop displays, tablets, mobile phones, etc. I have max-height and max-width of the parent div set, and the div is the correct size on-screen, but in my case the chart is almost exactly twice the parent div width when it goes wrong. I am not on a Retina display or any

[2016-05-02 01:06] mirraj2 opened #2429 "Setting line tension to zero destroys all animations"
See a complete working example demonstrating this bug here:  https://jsfiddle.net/botdq2aq/1/

Press "Run" and notice how the chart does not animate.

Change the line tension to anything but zero, and then press run. The animation (easing) is now back again.

[2016-05-02 01:55] mchateloin commented on #2429
@mirraj2  Was able to get the desired behavior by adding the **tension** attribute to the data object passed in the dataset. Updated your fiddle here: https://jsfiddle.net/botdq2aq/2/

Interesting that **lineTension** doesn't work and I had to use **tension** though. The former is documented as being the current property: http://www.chartjs.org/docs/#line-chart-introduction

[2016-05-02 02:33] etimberg commented on #2429
@mchateloin the reason `lineTension` doesn't work is that the docs got deployed early and the PR changing that from `tension` was merged after v2.0.2. Sorry about the confusion.

The `tension` property will continue to work in the future to provide backwards compatibility.

[2016-05-02 02:34] woutrbe commented on #2422
@zachpanz88 I think my issue is related to using a flexible width but a fixed height, as you can see here: https://jsfiddle.net/2s034Lzw/14/

When using `width: 100%; and `height: 120px`, the height is never respected by the cart.
I'm building an SPA, so it's quite common to not be aware of the width or height.

[2016-05-02 02:49] shemdani commented on #2427
Resolved. Each data value has to be numerical. My data generation algorithm was creating series of strings.

[2016-05-02 02:49] #2427 closed

[2016-05-02 10:07] peterzebird opened #2430 "Line chart different background colors"
Hello,

I am looking for a way to achieve this using Chart.js :
![helpchartjscolor](https://cloud.githubusercontent.com/assets/1565128/14952048/71e216a4-105d-11e6-944d-c1323eaf87f4.PNG)

My concern is having 2 different background color. I don't know how to do this.

I managed to do everything else by creating new Scales (x is a TimeScale, y is a LinearScale).

Here is what I got today :
![helpcha

[2016-05-02 11:32] adityaanandmc opened #2431 "Docs for adding mixed charts - Line and Bar"
I'm unable to find out the docs in version 2 of Charts.js.
Any idea how to go about adding mixed charts ?  ( A line and bar graph in the same chart)

[2016-05-02 11:56] etimberg commented on #2431
@adityaanandmc you would do the following:

[code]

[2016-05-02 12:11] Minifish57 opened #2432 "Create new Chart 2.0 with old format"
Hi everyone,

I have a question about this new version of Chart.js
Before this version 2.0, I've got a website with many many chart and that I would like to know is : "Is it possible to keep all my chart with the old format declaration, or Do I need to change all of them ?"
I Have a very important number of chart and it was very a tedious task to migrate all of them

what i call old format is that

[2016-05-02 21:22] mrdnote opened #2435 "data containing null breaks line"
Version 2.0.2.

When I insert a null value in the data array, the chart line is broken. How do I omit horizontal values properly?

![image](https://cloud.githubusercontent.com/assets/5628584/14968386/bd539504-10bc-11e6-819c-e47870058639.png)

[2016-05-03 02:05] dannysindra commented on #78
Still no update on whether this request will be implemented?
For anyone interested, I found a workaround by forcing the tooltip to always appear (from [this answer](http://stackoverflow.com/questions/31241610/how-to-show-tooltips-always-on-chart-js-2) on SO):

![screen shot 2016-05-02 at 6 57 40 pm](https://cloud.githubusercontent.com/assets/10548708/14973035/1c2ae52a-1098-11e6-9c6e-b7c81dd0cf10.p

[2016-05-03 03:13] ehzhang opened #2436 "pointRadius isn't respected?"
I'm working with Chartjs 2.0.2, and found that I'm unable to change the radius for the individual data points.

I created a jsfiddle here: https://jsfiddle.net/vqax9Lav/ using code from the example in the docs given for Line Charts, and found that changing the pointRadius property does not change the render of the points in the chart - even setting it to 0 does not cause it to 'not render' as desc

[2016-05-03 03:29] ehzhang commented on #2436
After a bit more digging, it seems like the documentation is a bit ahead of current release. Resolved with `radius` instead of `pointRadius`.

[2016-05-03 03:55] IanVS commented on #2425
I was trying to accomplish this same thing, but I'm not able to get any effect from `circumference`, `rotation`, or `startAngle`.  Here is a pen that I've created, which pulls in 2.0.1 via the CDN:

http://codepen.io/IanVS/pen/bpQxeJ

Am I doing something wrong, or is this a bug?  Thanks!

[2016-05-03 06:24] istiti opened #2437 "why legend onClick override default action"
Hi,

I use Chart.defaults.global.legend.onClick juste to show in console which legend is clicke but by this way the default action is cancelled... so when I use this onClick function and click on legend... the dataset  don't disappears and legend isn't barred/closed off ... even if in onClick  function I return event;

thanks in advance

[2016-05-03 06:25] davetimmins opened #2438 "Negative Y Axis when data series is all zero"
Hi,

if there some way to not show negative y-axis values when the data series is all set to zero?

I have tried setting

[code]

for the y-axis scale but it doesn't appear to do the trick.

![chart-negative-y-axis](https://cloud.githubusercontent.com/assets/1118347/14976065/5502696c-115c-11e6-95ff-33cb6e1eca6c.gif)

[2016-05-03 08:52] karlpokus opened #2439 "Responsive x-axis based on width?"
Hi!

Is there a way to make the x-axis responsive to the width of the chart? Assuming it's time on x I want to display maybe every third point if canvas width < 300 px.

If there is no such option maybe I can try building one and maybe submit a PR?

[2016-05-03 08:56] karlpokus commented on #2439
Nevermind. I see there's an option for this already. Silly me.

[2016-05-03 08:56] #2439 closed

[2016-05-03 10:11] hemanjosko opened #2440 "Cannot read property 'extend' of undefined"
Chart.types.Line.extend({

});

For this it says "Uncaught TypeError: Cannot read property 'extend' of undefined"

[2016-05-03 10:17] joeholdcroft opened #2441 "beginAtZero and min ignored when all values are 0 in line chart"
In v2, I have a line chart where all values are 0. For my Y axis, I have `beginAtZero` set to `true`, and both `min` and `suggestedMin` set to 0. Yet the Y axis still shows some ticks below 0.

JSFiddle: https://jsfiddle.net/bekfom42/2/

Happy to chip in here if someone can provide some pointers 😃

[2016-05-03 10:33] moviesound opened #2442 "Add possibility to change style for each of the ticks"
It would be great if in future there is a possibility to change style (color, bgcolor, font-weight) for each of the ticks. For example if one needs to show in XAxes that 7 May 2016 and 8 May 2016 are holidays on the linear graph - changes the style for this ticks on the XAxes. Now style is set once for all ticks.

[2016-05-03 11:07] ChuckNorrison opened #2443 "Change border Color of the Chart"
Hey guys,
i cant find a way to simply change the border color of my chart. Chart.defaults.global.defaultColor will not do it. Some hints?

My site is dark and i want to brigthen the bars in the background a bit.

[2016-05-03 11:12] etimberg commented on #2440
@hemanjosko this is expected in v2. New chart types are created by extending controllers. See http://www.chartjs.org/docs/#advanced-usage-writing-new-chart-types

[2016-05-03 11:12] #2440 closed

[2016-05-03 11:15] etimberg commented on #2443
@ChuckNorrison to change the border for all bars:

[code]

[2016-05-03 11:16] etimberg commented on #2436
Yes, sorry about that. You can stick with `radius` though even when the next version comes out as we will maintain backwards compatibility.

[2016-05-03 11:18] etimberg commented on #2437
@istiti The legend config `onClick` function is used to toggle the bars because it makes it easy to override the default behaviour.

If you want to log data and then do the original action you should call the original `onClick` function at the end of your new one

[2016-05-03 11:20] etimberg commented on #2438
We'd need to do some work to support this. As a work around set `ticks.max` to be a positive number and this won't happen. It only occurs if at the end of finding the max and min, min === max.

[2016-05-03 11:22] etimberg commented on #2441
@joeholdcroft this happens because there is no size and the range of the scale must be greater than 0.

To work around it, set `ticks.max` to a positive number. See https://jsfiddle.net/vrg5cnk5/1/

Duplicate of #2438

[2016-05-03 11:22] #2441 closed

[2016-05-03 11:22] etimberg commented on #2442
@moviesound this is a good idea. For anyone who comes across this, I'd be happy to merge a PR adding this.

[2016-05-03 11:26] istiti commented on #2437
Ok thank you but how calls original onClick ? Actually I have:

`
legend:{
						labels: {
							lineWidth: 1
						},
						onClick:function(evt,point){
							console.log(point);

							}

						}
					}
`

How calls original onClick here

[2016-05-03 12:04] joeholdcroft commented on #2441
@etimberg nice, that works. Thanks!

[2016-05-03 12:05] ChuckNorrison commented on #2443
it dosnt change something

[2016-05-03 12:22] etimberg commented on #2443
@chucknorrison can you post a fiddle?

[2016-05-03 12:25] moviesound commented on #2442
This is an example. There may be placed array in fontColor (only for XAxes). The amount of color elements must be equal to the amount of the elements in data.labels.
[code]
Then in chart.js there can be added near the row 6349 after the
`helpers.each(this.ticks, function(label, index) {`
There can be placed
[code]

[2016-05-03 12:29] etimberg commented on #2437
Its at Chart.defaults.global.legend.onClick

[2016-05-03 13:20] istiti commented on #2437
not understand not resolved, i'm really sorry, you don't advice me to use code above ? so when I use the pointed syntax like

Chart.defaults.global.legend.onClick = function(){
...
}

this override too the origiinal onClick and the lgend aren't barred/closed off when clicked as default...

[2016-05-03 13:26] Ofenlord opened #2444 "Get max value of y-axis"
Hi,

is there a possibility to get the max value of a y-axis? Hard to explain why i want that, but i'll try. I have a line diagramm with open user connections over time (x-axis: time, y-axis: connections). To have a smooth y-axis scale, i only set ticks{min:0, suggestedMax: 3}. Now there ist a second line for total possible connections (default: 80). I have set that data on another y-axis and i wa

[2016-05-03 13:40] etimberg commented on #2437
if you're going to replace the original function but still want to run the original, you need to store that somewhere.

[code]

I don't think we can hard code the default behaviour into the library. This will make it much harder to overwrite for new chart types. The polar area and doughnut charts already use a different implementation and we don't want to lose that.