[2015-09-26 18:12] MrAndMrsK opened #1493 "Dataset colors: option for different colors for negative values?"
If I'm charting an account balance in a line/bar chart, it'd be nice to show positive values in, say, black and negative values in, say, red.  Right now that doesn't seem to be an option.  The thresholds/ranges should eventually be configurable so that `0` isn't the only threshold and that there could be multiple ranges/bands of fills.  This might only be for fills.  Fill color boundaries could be

[2015-09-26 19:58] mingchan commented on #1198
I've the same issue with Firefox when the chart is wrapped inside Backbone.Marionette view but the same code works in Chrome meaning the chart is showing fine.
In addition, if just using simple HTML tags to run the example, it works fine under Firefox as well.

I’m suspecting that it has to do with what is returned by computeDimension()

Under Chrome, it returns an empty string and null for “Width

[2015-09-26 23:23] etimberg commented on #1492
@MrAndMrsK this is already fixed in the v2.0 codeline but you'd need to rebuild yourself to get it.

To build the source code. The `npm install` is necessary to fix this one since the issue actually came from one of the dependencies pulled in to the lib.
`npm install`
`gulp build`

[2015-09-26 23:23] #1492 closed

[2015-09-27 19:26] JustinWestphal opened #1494 "update() function doesn't work"
Running .update() on a pie chart instance that has new or edited data returns only undefined. Currently, the charts will only show updated data immediately if a segment is added or deleted, but not if it is changed (for example, if the background color changes).

[2015-09-27 19:55] alannesta commented on #394
Should add this to documentation.

[2015-09-28 02:03] etimberg commented on #1494
@justinwestphal this is a known issue that is fixed in the v2.x branch. I presume you are using 1.0.2 currently?

[2015-09-28 04:55] tiesont commented on #1494
Related (I assume): https://github.com/nnnick/Chart.js/issues/1362#issuecomment-141840604 ?

[2015-09-28 06:34] JustinWestphal commented on #1494
@etimberg Yes, still on 1.0.2. Is there a public link to use the v2 branch, or better just to wait for release?

[2015-09-28 09:32] Osademe-e commented on #1455
:) yeah i ran into this issue when i was using bootstrap tabs... the problem is that the canvas element has its display set to none when the carousel is not showing it, so when you click on the carousel it slides to the canvas but then no chart is shown. Notice that the canvas now has its width and height set to 0px when you inspect it.

Solution:
[code]

[2015-09-28 10:08] Osademe-e opened #1495 "Feature: Add Axis title"
Is there anyway to include an option for the (x-axis and y-axis) title instead of only labels.
The image below is how I want my chart to look like
![want](https://cloud.githubusercontent.com/assets/5830437/10132717/db302332-65cf-11e5-8423-f40aa8bddd83.png)

But this is what am getting
![need](https://cloud.githubusercontent.com/assets/5830437/10132911/174d4e34-65d1-11e5-8463-ded816765d17.png)

Tha

[2015-09-28 10:49] artesea commented on #1263
@etimberg cheers for the update, in my use-case it was just a stacked bar with one line so wouldn't have noticed the newer issue.

[2015-09-28 11:11] etimberg commented on #1494
You'd have to build it yourself from the source. I looked at the v1 source to see if there was a quick fix. I think you could get away with looping over all datasets and then building or updating each element as necessary.

[2015-09-28 12:50] jakenoble commented on #592
+1

[2015-09-28 15:30] alrik commented on #1438
@dumky i think it's missspelled use an upper "**C**" => https://cdnjs.com/libraries/Chart.js

[2015-09-28 16:10] mciparelli commented on #12
Any ideas when v2 will be out with this feature?

[2015-09-28 16:12] dumky commented on #1438
Thanks. Capital 'C' works.
That means the link in the documentation is mispelled (see end of the first
section at http://www.chartjs.org/docs/#getting-started-include-chart.js).

On Mon, Sep 28, 2015 at 8:31 AM, Alrik Zachert <notifications@github.com>
wrote:

[2015-09-28 17:03] tannerlinsley commented on #12
v2.0-dev already has multiple ways of achieving this.  Primarily, there is a built in auto-skip feature that will reduce labels as they overlap in most circumstances.  You can also override the labels via a userCallback function that is used in the core scale class, or even override the entire scale.ticks array with whatever you want in a hook function.  We're working on documentation for these ne

[2015-09-28 21:57] JustinWestphal commented on #1494
I'm not confident I'd be able to build it from the source... my app is reactive, so it needs to be able to live update, so best to use the .update() method, I think. Hate to ask, but any idea on when 2.0 is dropping?

[2015-09-28 22:02] etimberg commented on #1494
We're trying to get an alpha4 release out the door ASAP. Once that's done, the api should be finalized and we can fix any remaining issues in 1-2 beta releases. Not sure on an exact date though

[2015-09-28 22:09] JustinWestphal commented on #1494
Alright, cool! I'll keep an eye out for it. Thanks for all your hard work! It's a great library.

[2015-09-28 22:09] #1494 closed

[2015-09-28 22:45] etimberg commented on #1494
ok, thanks for being so patient :)

[2015-09-29 00:11] Rockster160 opened #1496 "Leading and Trailing nodes?"
Are there plans for having leading and trailing nodes in 2.0 or any time in the future?
We need them for our charts, and I'm sure we're not the only ones.

Currently there is a way to have a trailing node by having more datapoints than labels.
I've also used a hack to create a leading node by supplying a nil value for the first data point and then doing some crazy css positioning to hide that sect

[2015-09-29 01:01] etimberg commented on #1496
hey @Rockster160 we haven't planned for adding support for leading and trailing nodes. That being said, I'd be more than happy to merge a PR to v2.0 that added support for it.

[2015-09-29 11:35] Yogeshk25 opened #1497 "Bubble is overlapping"
Here's a bug!

![image](https://cloud.githubusercontent.com/assets/10467731/10162856/d84a42d6-66cb-11e5-9642-fa60e43375b2.png)

looks like CSS bug.
Observations:
if date in both bubbles are different bubble text is centered wrt bubble, for left css is left:-25.5px; in my case.
whereas if both bubbles have same value, bubble txt is not centered.

[2015-09-29 16:00] jibaku opened #1498 "Rounding problems"
On some graph (using 2.0.0-dev), I've rounding problems, where I get 103.9999999999 instead of 104 etc.

![Rounding problem](https://cloud.githubusercontent.com/assets/184600/10169835/36966048-66d3-11e5-96d9-adc796d9a983.jpg)
![Rounding problems](https://cloud.githubusercontent.com/assets/184600/10169881/66d21f9a-66d3-11e5-84da-ae208061a16b.jpg)

The code for the rounding with 103 / 104 issue

[co

[2015-09-29 17:16] etimberg commented on #1498
@jibaku we probably need a better default template function. In your case you could change the template to `"<%=value.toFixed(1)%>"` which would probably fix the problem

[2015-09-29 21:11] jaroso78 commented on #1455
Ok, thanks a lot!!!!!!! :-)

[2015-09-29 21:11] #1455 closed

[2015-09-29 21:21] davidwieler opened #1499 "line charts doubling in size"
I've been through every issue on here related to this, but nothing fixes the following problem I'm having.

When I use a for-loop, and create multiple different charts in succession, each chart has it's height literally doubled in size. When I set responsive to false, it no longer does this, but then I lose the ability to have a full width chart.

Is there some reason the height of the chart (I'm

[2015-09-29 21:25] davidwieler commented on #1499
Just had a thought...
Is it doing this because I'm loading each chart into the same DOM element, reading the "new" element height, and making it that size?

Second question: Why, when you supply it a fixed height, does it not use the height? Would make more sense if it uses the height as a base, and then apply the width to fit accordingly.

[2015-09-29 21:50] tannerlinsley commented on #1499
Awesome!

[2015-09-29 21:50] #1499 closed

[2015-09-30 10:07] sirsrajasekar opened #1500 "Issue in radial chart concentric circle display"
I am currently working on radial chart in which i need a 5 concentric circle to display the result.

i have the values like 20,40,60,80,100. if i have all 5 values it has 5 circles. but when i have values upto  80 it displays the four circles only.

i need all 5 circles to display the result. please help me on this

[2015-09-30 10:16] srinath-v commented on #1356
@etimberg
Kinda of a noob question so please bear with me.

If both the x-axis and y-axis are to be dynamic, let's say they're listening to a websocket.
Does chart.js support this kind of functionality??

I'm aware of the update and addData methods; I'm not sure if they can do this.

[2015-09-30 11:58] etimberg commented on #1356
@srinath-v v1.x has some issues with that. V2.0 supports adding labels and data simply by changing the data attached to the chart and then calling update. To try out v2 see the v2.0-dev branch.

[2015-09-30 18:18] rafaelcorreiapoli opened #1501 "Float numbers on Pie chart"
![float](https://cloud.githubusercontent.com/assets/12840136/10202268/716d1cbc-6786-11e5-8d62-f765dfd5a0aa.png)

Hello, when using float as values of chartData, the values are concatened to calculate the total and the chart does not works

[2015-09-30 21:15] etimberg commented on #1501
@shactdeveloper your values are strings not numbers. You should convert them to numbers before adding them to the chart.

[2015-10-01 07:41] justanotheranonymoususer commented on #1244
Same issue with alpha4. Any plans on fixing it?
I'd like to replace the old chart.js with the new one without fixing up all the code, but currently it doesn't work.

[2015-10-01 08:06] AlvinAnd opened #1502 "Incorrect Plot"
Hi

I have a bar graph that's plotting the correct data, but on the incorrect x-axis. Instead of the month selected when adding data, it moves that data to January (always the 1st month, regardless of which month data is added to).

I'm new to this so perhaps there's something in the code that I've overlooked?

<script>
    var dataValues =[
    <?php
        $months = array('January', 'February',

[2015-10-01 08:20] paul321 opened #1503 "Spline line chart it's higher than the actual value"
I just tested the line chart with random data, but the line goes much higher than the actual value, this happens if you have a higher value then 0 the line goes under the x axis (min value it's 0 all other points are positive) which it's wrong. Here is a screenshot
![screenshot 2015-10-01 11 15 44](https://cloud.githubusercontent.com/assets/555502/10215943/47711eec-682e-11e5-8de4-6e2271dd66ac.png)

[2015-10-01 08:24] paul321 commented on #1503
I have fixed this in version 1.0.3 by commenting the following lines and adding the fix:
// ctx.beginPath();
//    ctx.arc(p.x, p.y, 2, 0, 2 * Math.PI, false);
//    ctx.fillStyle = 'green';
//    ctx.fill();
//    ctx.closePath();

//    ctx.beginPath();
//    ctx.strokeStyle = (key === 'inner') ? '#003300' : '#990000';
//    ctx.moveTo(p.x, p.y);
//    ctx.lineTo(point.x, point.y);
//    ctx.str

[2015-10-01 08:31] ebrahim-tadbir opened #1504 "polor chart and scatter points on it"
Hi everyone,
I want to have a polar chart like this:
![plot_bk](https://cloud.githubusercontent.com/assets/14150833/10216193/1177ce5c-6834-11e5-92cb-31cbb34bff30.jpg)

I need to plot some thing as a background and 3 series of points on it

is it possible to plot this with chart.js?

[2015-10-01 10:56] jonnydevv opened #1505 "Cannot read property 'options' of undefined"
Hello.

I just tried creating a simple chart and i keep getting this problem:

"data is not defined" on main.js file
"Cannot read property 'options' of undefined " on chart.js file

I'm using the introduction example:

<canvas id="myChart" width="400" height="400"></canvas>

On the mains.js i have:

var ctx = document.getElementById("myChart").getContext("2d");
var myNewChart = new Chart(ctx).Pola

[2015-10-01 18:57] tiesont commented on #1505
A jsFiddle demonstrating the problem would be helpful. At a minimum, can you include how your `data` object is defined, and what order you are loading your scripts?

[2015-10-02 08:06] SteveAzz opened #1506 "Float numbers on line chart not responsive"
So I am doing everything as the documentation specifies for example

[code]

On desktop it works perfectly but on mobile the height doesn't scale well now I have found out when I enter numbers (no decimal) works well is there anyway I can fix this issues?

![image](https://cloud.githubusercontent.com/assets/9993446/10241924/4601a8fa-68ed-11e5-9195-2438e2d9d0a3.png)

The data the is messing up the

[2015-10-02 09:31] jonnydevv commented on #1505
That's the problem. I've tried defining options as shown in documentation without success. If someone could demonstrate first documentation example working on a jsfiddle would be helpfull.

[2015-10-02 09:54] tom10271 opened #1507 "No document for tooltipEvents?"
I have completely no idea how to bind a mouseover event for tooltip

[2015-10-02 10:02] #1507 closed

[2015-10-02 11:23] artesea commented on #1498
I've forced value.toFixed() on both tooltips (where the floats have lots of dps) and also on the axis to avoid this issue. Although it means some graphs go from 0.0 to 1000.0 whilst others are 0.0 to 1.8

[2015-10-02 12:12] etimberg commented on #1498
@artesea you could try running the ticks through a function that does something like the following.

1. Determine numerical distance between ticks
2. `numDecimal = -1 * Math.floor(Math.log10(tickDistance))`
3. `numDecimal = Math. Max(numDecimal, 0)`
4. `return tickValue.toFixed(numDecimal) `

That should show the best number of decimal places given the scale range

[2015-10-02 14:39] tundsdev opened #1508 "Question: Possibility of setting background image of individual bars"
Was wondering if it would or even if it is possible to set the background of each individual bar in a bar chart it is possible to do things like the screenshot below?

![barchart](https://cloud.githubusercontent.com/assets/13708758/10249141/9cf286e2-691b-11e5-8169-b4c09926c349.png)

[2015-10-02 17:03] tannerlinsley commented on #1505
What version are you using?
v1.x samples:
 https://github.com/nnnick/Chart.js/tree/master/samples
v2.0-alpha samples:
https://github.com/nnnick/Chart.js/tree/v2.0-dev/samples

[2015-10-02 17:04] jonnydevv commented on #1505
v2.0.0-alpha4

Probably it's the problem.

[2015-10-02 17:05] tannerlinsley commented on #1506
Which version of Chart.js are you currently using? Could you provide a JSFiddle or Codepen example?

[2015-10-02 17:06] tannerlinsley commented on #1508
We've discussed this functionality, and it's not far off.  v2.0-alpha4 gets the closest to this by allowing you to defined different colors per bars or points in a datas series.  I'll look into this more.

[2015-10-02 17:08] tannerlinsley commented on #1505
I think it would be best to produce a JSFiddle or codepen for your setup, and we'll take a look.  I am currently using 2.0-alpha4 in production. It works great, and there are still some quirks to work out (you may have found one, who knows). Post the link here and we'll take a look!

[2015-10-02 17:24] riddhima commented on #494
Is there any update on this bug? I would like to hide tooltip at least when you click somewhere outside.

[2015-10-02 19:37] SteveAzz commented on #1506
Hello, I just figured out what the issue was `  maintainAspectRatio` setting I set it to false and it kept the height I wanted it too. :) You can mark this as closed.

[2015-10-02 19:43] tannerlinsley commented on #494
Does this exist on v2.0-alpha4 ?

[2015-10-02 19:43] #1506 closed

[2015-10-02 19:47] etimberg commented on #1505
@jonnydevv v2.x uses a different way of instantiating the chart. See the samples that @tannerlinsley linked on how to do it. It's different than v1.x

[2015-10-03 08:58] blaind commented on #1431
Set the background of element containing the canvas, e.g.:

    <div style="background: yellow";>
       <canvas />
    </div>

[2015-10-03 09:01] AnnotatedJS opened #1509 "Change the label does not result in change of the label in the popup box"
Changing a label results in a change of the label at the bottom of the chart but NOT of the label in the pop-up box.

See [demo of chart.js](http://chartjsdemo.meteor.com/) for an example. The source of this demo is on [Github](https://github.com/AnnotatedJS/Meteor-Chart.js-demo).

[2015-10-03 12:15] etimberg commented on #1509
@AnnotatedJS which version of chart JS are you using?

[2015-10-05 09:59] tundsdev commented on #1508
Sweet thanks for the update is there any guidance on where to find the properties that allow this functionality?

[2015-10-05 12:02] braglin opened #1510 "Intel-XDK"
I'm triyng to add a chart to my Android app using Chart.js

At Intel-XDK emulator this works perfectly, but if I try run it using App Preview or if I build the apk I can't see the chart.

    function Skills(){
        document.getElementById("MinhasHabilidades").style.display = 'block';
        document.getElementById("inicio").style.display = 'none';

        var ChartData = {
            labels

[2015-10-05 16:15] sfaisalawan opened #1511 "Problem when getting new data from server using ajax"
on dropdown list change event getting new data from server with using jquery getJSON event, showing data properly on the chart but when I try to move mouse its starts showing previous data as well only first option is working fine but when you select 2nd option from drop down list then its caching the first option as well, when you go to third then its caching the 1st, 2nd and 3rd and so on.
![unt

[2015-10-05 17:00] sfaisalawan commented on #1511
its sorted, only problem is with legends, its keep adding in the legends after every dropdown list change event.

[2015-10-05 17:14] tannerlinsley commented on #1511
Which version are you using?

[2015-10-05 17:35] sfaisalawan commented on #1511
1.0.2

but its sorted, I cleared div element which is holding legends on each dropdown item chage.

[2015-10-05 17:35] AnnotatedJS commented on #1509
I am using chartjs throug a Meteor wrapper [repository is here](https://github.com/MeteorPackaging/Chart.js). As far as I can tell they are using version 1.0.1-beta.4.

[2015-10-05 19:08] tannerlinsley commented on #1508
Take a look here for starters:
http://www.w3schools.com/tags/canvas_fillstyle.asp

On Mon, Oct 5, 2015 at 3:59 AM tundsdev <notifications@github.com> wrote:

[2015-10-06 09:08] jt4000 opened #1513 "Add Title for X and Y in the Diagram"
Is possible to add a title for the x and Y on the left and bottome side of the line chart?

A concrete example is this picture (https://www.devexpress.com/products/vcl/exQuantumGrid/i/whatsnew6/chart-lines.png) about Height and Age.

Thanks!

[2015-10-06 11:29] etimberg commented on #1513
@jt4000 this functionality has been added to the v2.x branch. A number of the sample files demonstrate it's use.

[2015-10-06 11:51] jt4000 commented on #1513
Thank you for answering my question.

I have downloaded the the chart js for 10 days ago and I have tried find it i at sample map but I failed.

Do you have a specific file that you can show me?

Thanks!

![fff](https://cloud.githubusercontent.com/assets/14993569/10307706/2a2ac30e-6c31-11e5-8aa4-5853661afa6b.png)

[2015-10-06 11:57] etimberg commented on #1513
@jt4000 it looks like you gave version 1. V2 is still under development, but has reached an alpha release. I've linked one of the sample files from the v2 branch below that adds axis titles.

https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/scatter-logX.html

[2015-10-06 12:16] realph opened #1514 "Possible to Create a Point Dot on the Last Point"
Is it possible to create a point dot on the last point instead of on all the points?

[2015-10-06 13:50] etimberg commented on #1514
@realph this is possible in v2.x in a roundabout way. You could specify a fill colour of `transparent` for all points except the last one.

[2015-10-07 05:55] jt4000 opened #1515 "Display Table based on Selection"
If you press on the specific bar or line, a table with data should appear below based on selection.

Question:
Is it possible to do it in Chart.js?

Info:
A concrete example is this picture below.
Thanks!

![ggg](https://cloud.githubusercontent.com/assets/14993569/10330048/b02ed408-6cc8-11e5-85b6-3f6991ecb9ce.png)

[2015-10-07 09:36] TheXardas commented on #10
Highcharts costs a lot.
I need around the same as jitendersaini, but with simple horizontal line.
I guess i'll try to draw it manually with canvas, if nobody had the same solution yet..

[2015-10-07 13:39] etimberg commented on #10
@TheXardas creating a chart like @jitendersaini wanted is possible using the v2.x branch. The [combo sample](https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/combo-bar-line.html) shows how to put bars and lines on the same chart. You could use the [stacked sample](https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/bar-stacked.html) to see how to make stacked bars and combining the tw

[2015-10-07 14:31] TheXardas commented on #10
@etimberg you rock, man! That's just what i need, and i was able to run it in minutes. Thanks!

[2015-10-07 17:08] ardav commented on #777
I need help figuring this out as well. It is obvious we need each circumference variable (divided by 2pi to get the % ratio in total.) In the legendTemplate for a doughnut chart, I console.log(segments[i]) . This is the output. I need access to circumference right?
![screen shot 2015-10-07 at 9 58 03 am](https://cloud.githubusercontent.com/assets/2661044/10344763/f334d250-6cd9-11e5-81a5-49121add5b

[2015-10-07 20:42] blanchma opened #1516 "segmentShowStroke is not working"
Even with segmentShowStroke disable, the strokes between segments still appear.

let options = {segmentShowStroke: false, segmentStrokeWidth: 0, segmentStrokeColor: "#bbd4d5", showTooltips: false, scaleShowLine: false};

![image](https://cloud.githubusercontent.com/assets/423378/10350251/5222693c-6d19-11e5-932a-1f8e1862138f.png)

[2015-10-07 20:46] ArthurPBressan commented on #1146
Any chance of backporting this?

[2015-10-08 14:46] artesea commented on #1515
In 2.0Alpha I've got something like this to change other data on the page

    canvas.onclick = function(evt){
      var el = window.myBar.getElementsAtEvent(evt);
        if(typeof(el[0]) != "undefined") {
          //do something with the index value from el[0]._index eg
          updateSomethingElseInTheDOM(el[0]._index);
        }
    }

[2015-10-08 16:56] dwelle commented on #1305
+1

[2015-10-08 16:57] tannerlinsley commented on #1305
We've thrown around some ideas for this functionality.  But it most likely won't come until well after 2.0 is released.  PR's to the v2.0-dev branch are welcome!

[2015-10-08 17:06] chadcodes opened #1518 "Custom gulp build with --types=Pie, Pie is not a function?"
I'm trying to build a custom version of the library with just the Pie chart but it doesn't seem to be working.  My gulp task runs fine with:
`gulp build --types=Pie`
But when I try to draw a chart with:
`var chart = new Chart(myChart).Pie(chartData, pieOptions);`
I get Pie is not a function.  I tried adding Core to the types but it doesn't help.  Any ideas what I'm missing with the gulp build?

[2015-10-10 10:32] wamd-bozem commented on #1370
I encountered the same issue on Android 4.4 Unfortunately I dont have a solution for this either

[2015-10-11 09:23] ehab2012 opened #1519 "UI improvement :: when Chart.Tooltip text is empty the tooltip should not be shown"
hello chartjs dev team

I was preventing a tooltip for a segment from shown and using "simplified code to repro.ui experince"
`
       chartOptions = {
           tooltipTemplate: function() {
                return "";
            }
        }
`
The attached image show the outcome. The code i used for sample is
https://gist.github.com/anonymous/afc1b0ce902b7b306cbc
https://output.jsbin.com/lotireh

[2015-10-11 10:34] lpaluszk opened #1520 "Chart.defaults.global.responsive setting not always works"
Version 2.0.0-alpha4

I'm struggling to find the cause this problem, so I'm going to share what I do know.

First of all, I think this line:
https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/core/core.js#L63

    // Always bind this so that if the responsive state changes we still work
    61 		var _this = this;
    62 		Chart.helpers.addResizeListener(context.canvas.parentNode, function() {

[2015-10-11 10:40] lpaluszk opened #1521 "Chart.defaults.scale settings not working."
Version 2.0.0-alpha4

Changing the Chart.defaults.scale settings doesn't change the settings of the chart.

I've trying to set the global drawTicks settings to false but also tested on display: false.

None of the scale settings end up being used. I think it may be related to this part of the code:
https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/core/core.helpers.js#L65-L72

but I still don't

[2015-10-11 23:26] dvenkatsagar opened #1522 "data variable is being over written after chart update"
Hi,
This is a very weird bug that Im facing here.
What I'm basically trying to do is update the chart with new labels.

Here are the steps that Im following:
1. Initialize chart with data 1.
2. Update  data  with in chart after a set amount of time with data 2.
3. After step 2 update, Update the data with in chart again after a set amount of time with data 3.
4. In this manner, finally update the

[2015-10-12 00:15] sobrinho opened #1523 "Sort of replaceData function"
Today we can edit specific values like this:

[code]

But if the data have not the same length, we need to write some machinery like this to add new values or remove values (untested, pseudo code):

[code]

Would be nice to be able to replace the entire data with another one in a single call.

This would allow drill-down charts and realtime charts like "last 24 hours of something".

I thought in s

[2015-10-12 00:52] sobrinho opened #1524 "chart.update() do not update xLabels"
We have to manually update labels after changing the point:

[code]

Otherwise the xLabels didn't get updated.

[2015-10-12 06:19] tannerlinsley commented on #1521
@etimberg ?

[2015-10-12 11:39] AlvinAnd commented on #1502
Here's my code. Any help/suggestions would be appreciated:

<script>

    var dataValues =[
    <?php
        $months = array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');

        for($j = 0; $j < count($months); $j++){
            foreach($kpi as $value) {
                if($value->month_id == $months[$j]){

[2015-10-12 12:45] etimberg commented on #1521
I see the issue. When the library is loaded, the global defaults are merged with the scale type defaults on line 22 of `src/core/core.scaleService.js`. A better solution may be to do the merge in the `getScaleDefaults` method or as @lpaluszk suggested in the config merge helper function.

[2015-10-12 12:59] etimberg commented on #1521
See #1525 which fixes this issue.

[2015-10-12 13:20] etimberg commented on #1520
Thanks @lpaluszk I tracked down 2 issues with this. The first was a race condition that could easily be reproduced in the debugger if `_this.controller` had not yet been created. The second was that the config is not merged with the global configuration until the `Chart.controller` constructor. I've solved this by building the controller before adding the resize listener and looking in the merged

[2015-10-12 16:52] rudy788 opened #1527 "Polar Area size issue with charts 2.0.0alpha4"
I have a size issue using this type of chart. The size of Polar Area is very small than the container div also with styling to 100% width and height while using Pie the sizing is perfect to 100% of the container div...

[2015-10-12 21:26] lpaluszk commented on #1520
That was quick. Thanks.

When are you planning the next release for?

[2015-10-13 13:08] etimberg commented on #1520
Hopefully quite soon. I think all the major features for v2.0 are done.

[2015-10-13 14:39] ifokeev commented on #920
@JoabMendes, It doesn't work for me, but I found the solution:

[code]

I think it's because ChartJS can't finish chart.clear() to clear the canvas, so old data appears.

[2015-10-13 17:44] jordabi opened #1528 "Bar/Segment patterns"
Is there a means by which you can apply a pattern (crosshatch, etc.) to a bar or doughnut chart?

[2015-10-13 19:11] danionut90 opened #1529 "Different colours for segments in Doughnut type"
Is there a way to set different colours in Doughnut type in 2.0 ?

[2015-10-13 19:12] tannerlinsley commented on #1529
you pass an array for the dataset backgroundColor property

[2015-10-13 19:13] danionut90 commented on #1529
Thank you

[2015-10-13 19:13] #1529 closed

[2015-10-13 22:04] godsgood33 opened #1530 "update() does not update pointDotRadius after change"
I thought it would be cool to highlight a line when you mouse over the legend item for that dataset.  So I tried the following:

[code]

Also, created an "unhighlight" function reversing this onmouseout, but the update does not change the chart.

[2015-10-13 23:32] lpaluszk commented on #1521
Thanks. This is now working as expected.

[2015-10-13 23:32] #1521 closed

[2015-10-13 23:32] tiesont commented on #1481
Pictures are nice, but unless you include some sort of code to make your apparent bug reproducible, you're not going to get a whole lot of help.

[2015-10-13 23:41] lpaluszk commented on #1520
I can't seem to get it working.

Something doesn't get merged in properly. Please see screenshot.

![untitled-1](https://cloud.githubusercontent.com/assets/3707675/10471290/523daba0-720c-11e5-997c-82bd5d63b1c3.png)

[2015-10-14 03:39] pete7863 commented on #1305
+1

[2015-10-14 13:27] etimberg commented on #1520
@lpaluszk are you still using the line sample file? If so, it has the responsive option passed in as `true` for the chart so you need to remove that as well.

[2015-10-14 16:34] lpaluszk commented on #1520
@etimberg I am, but I have now removed `responsive: true` from this piece of html/js:

https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/line.html#L60-L78

and I'm still getting a responsive chart.

Here's my line.html file - http://pastebin.com/gEVemTDx

[2015-10-14 20:38] lpaluszk opened #1531 "Tooltip font style overrides tick label style when rendered"
v2.0

When the chart is first rendered the tick labels use a different font. This ~~corrects itself~~ changes after the tooltip is rendered.

It's quite hard to explain so I made a gif:
http://i.imgur.com/8OIdIEV.gif?1

Please notice how the font changes on the labels on both axes after the tooltip is rendered.

This is my font stack:
`"'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-ser

[2015-10-14 21:00] lpaluszk commented on #1531
Ignore the font issue actually, it seems that I didn't have `Chart.defaults.scale.ticks.fontFamily` configured so it was defaulting to something different.

There is something wrong with the font size though.

This is how it looks like with font changed. Everything else is on default:
![gif](https://cloud.githubusercontent.com/assets/3707675/10497592/96a1f8d4-72be-11e5-879e-004717fded39.gif)
after

[2015-10-15 01:22] JoabMendes commented on #920
It depends on you implementation @ifokeev , if you have any way to make the chart a global instance you can destroy the previous rendering before create a new one, in the same canvas.

[2015-10-15 05:50] d-4-ni commented on #1518
Use `--types=Doughnut`. `Pie` is just a special case of `Doughnut` (with `cutoutPercentage = 0`).

[2015-10-15 15:48] chadcodes commented on #1518
This works perfectly!  Thank you.

[2015-10-15 15:48] #1518 closed

[2015-10-15 19:31] Wizardre opened #1532 "Labels in Varable v.s. directly assigned."
**This works:** looking at the "labels" line if I put them in with quotes here like this, it will produce a chart. I need them in quotes because if I try to use 1/1/15 it gets calculated 1 divided by 1 divided by 15.

    var data = {
        labels: ['1-Jan-2015', '2-Jan-2015', '3-Jan-2015', '4-Jan-2015', '5-Jan-2015', '6-Jan-2015', '7-Jan-2015', '8-Jan-2015', '9-Jan-2015', '10-Jan-2015'],

[2015-10-15 19:35] danionut90 opened #1533 "2.0 Override scaleLabel"
Sorry for opening up an issue but i was looking to have the scaleLabel overridden by a callback
Can somebody tell me how it's done ?

[2015-10-16 00:21] etimberg commented on #1533
@danionut90 the option you want is `userCallback` as shown below. We are intending to change it to `callback` shortly but for now it's the option you want. If you return `null` from the function, it will hide the grid line.

[code]

[2015-10-16 07:18] anantkolvankar commented on #770
This solution worked for me to show inline values in a bar chart:
<pre><code>onAnimationComplete: function(){
            if (this.options.showInlineValues) {
                if (this.name == "Bar") {
                    this.eachBars(function(bar){
                        var tooltipPosition = bar.tooltipPosition();
                        new Chart.Tooltip({
                            x: Math.r

[2015-10-16 12:38] jt4000 opened #1534 "Add some Text Inside of the Tooltip"
Goal:
When I have the cursor to display the tooltip I would like add the name of the month and then you display numbers

Problem:
I don't know how to do it in Chartjs version 1

Info:
*The X angle is Date
*Please remember that the name of the month would be changing based on user's selection from dropdownlist. The month is dynamical. In order to make the data to be dynamical I have the data inside

[2015-10-16 14:32] pax commented on #350
Same happened to me. I had charts inside tables. At first, it seemed like there was a conflict with Bootstrap, then I found out a simple `canvas {width: 100%;}` fixed it.

[2015-10-16 18:45] davidbgk opened #1535 "Clickable links within a custom tooltip"
Here is what I did following [these advices](http://stackoverflow.com/a/30504672):

    <canvas id="statusChart"></canvas>
    <div id="statusTooltip" class="customTooltip"></div>

And then:

    var ctx = document.getElementById("statusChart").getContext("2d");
    new Chart(ctx).Pie(statusData, {
      customTooltips: function (tooltip) {
        var tooltipEl = document.getElementById('statusTo

[2015-10-16 20:40] javray opened #1536 "Chrome bad render"
In Chrome 46.0.2490.71 (64-bit) there is a render issue:

![captura de pantalla 2015-10-16 22 29 37](https://cloud.githubusercontent.com/assets/454310/10552823/c2fb4aae-7456-11e5-83a0-b904f8c80b0b.png)

You can see in documentation examples:

http://www.chartjs.org/docs/

[2015-10-16 22:18] gnitnuj commented on #1059
@arnoutaertgeerts, just wondering if you've had a chance to write a series line chart extension? It's something I've been considering doing as well.

[2015-10-16 22:28] tannerlinsley commented on #1059
Take a look at v2.0-dev. It has a new time scale that kicks butt

[2015-10-16 22:30] gnitnuj commented on #1059
oh man. thats awesome! i took a glance at the v2.0 milestone but must have overlooked the time scale stuff

[2015-10-16 23:24] lpaluszk opened #1537 "IE doesn't support remove method on HTMLIFrameElement / hiddenIframe"
2.0

https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/core/core.helpers.js#L865-L871

    // Remove the resize detect iframe
	if (hiddenIframe) {
        	hiddenIframe.remove();
 	}

throws:
Object doesn't support property or method 'remove'

In Internet Explorer, it should be removeNode() which in turn doesn't work in Chrome or FF.

The most reliable solution is to remove it from parent node,

[2015-10-17 01:26] etimberg commented on #1537
Merged PR. Closing.

[2015-10-17 01:26] #1537 closed

[2015-10-17 01:29] etimberg commented on #1536
Interesting. I'm not seeing the issue in the same Chrome version from OS X 10.10. @tannerlinsley have you seen this?

[2015-10-17 01:31] etimberg commented on #1530
@godsgood33 which version of Chart.js are you using?

[2015-10-17 01:40] etimberg commented on #1520
@lpaluszk I went and looked at this again. I used your line.html directly and it worked as expected :/

[2015-10-17 02:05] etimberg commented on #1532
@Wizardre it looks like you are creating one giant label in the 2nd snippet instead of an array of strings.

[2015-10-17 02:06] etimberg commented on #1527
@rudy788 can you create a JSBin so we can debug?

[2015-10-17 02:11] etimberg commented on #1495
@Osademe-e I implemented this in the v2.0-dev branch in 301efac

[2015-10-17 02:11] #1495 closed

[2015-10-17 02:55] godsgood33 commented on #1530
The version on GitHub, 1.0.2.

On Fri, Oct 16, 2015, 8:31 PM Evert Timberg <notifications@github.com>
wrote:

[2015-10-17 08:32] r3wt opened #1543 "Ability to provide symbol for value, such as `%` etc."
we can have no units for our label. for instance, on a pie chart we are doing ethnic data in various countries, so it would be nice to show it in `%` ie `Caucasian: 50%` in the tooltip instead of `Caucasian: 50`

[2015-10-17 11:43] lpaluszk commented on #1520
I've refrehed my local repo and rebuilt it with gulp. I can see all the latest commits in Chart.js file.

The chart is always responsive. I tried changing the option from responsive: true to responsive: false but this doesn't do anything either.

Can you share your working line.html and Chart.js?

[2015-10-17 12:46] etimberg commented on #1520
I created a [JSFiddle](http://jsfiddle.net/nscaozf6/1/) with what I have on my machine. The responsive setting should only affect resizes and when I resize the page, the chart does not resize. My test was on Chrome 46 on Mac OS X 10.10.5

[2015-10-17 15:33] etimberg commented on #1543
@r3wt is this for the tooltip in v1.0?

If so, you can change the `tooltipTemplate` option to something like:
[code]

[2015-10-17 15:48] lpaluszk commented on #1520
Your JSFiddle is working as expected. I copied all JS from the fiddle into my line example and the chart was still responsive.

But if I use HTML from your fiddle I'm getting a non-responsive chart. The difference is with canvas size style:
https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/line.html#L17

    <canvas id="canvas" style="width:100%;height:100%"></canvas>

vs

    <canvas id="c

[2015-10-17 16:33] etimberg commented on #1520
ah, ok, I see what's happening. Because the canvas is styled with a percentage width and height, resizing the window changes the canvas CSS size. However, the chart does not actually re-render for this new size. You can see this by making the window very small, refreshing the page and then increasing the size of the page. The chart appears very pixelated because it does never re-renders for the ne

[2015-10-17 16:55] lpaluszk commented on #1520
I actually want my canvas to be responsive. I came across this behaviour and thought it was a bug so I reported it.

It does indeed work as expected now.

Thanks

[2015-10-17 17:04] etimberg commented on #1520
:smile:  There was a subtle bug with the global setting merge there, so great catch on that!

[2015-10-17 17:04] #1520 closed

[2015-10-18 04:22] iroller commented on #1059
@tannerlinsley could you share a working example of time scale using the latest alpha?

[2015-10-18 04:24] tannerlinsley commented on #1059
There should be a time-scale sample in the example directory
On Sat, Oct 17, 2015 at 10:23 PM Anton Koldaev <notifications@github.com>
wrote:

[2015-10-18 04:25] iroller commented on #1059
Doesn't seem to be working here

[2015-10-18 04:32] tannerlinsley commented on #1059
Are you using the built alpha-4 release or the latest 2.0-dev branch?  I would suggest pulling the latest changes from 2.0-dev branch, running `gulp build`, and then trying the `line-time-scale.html` file.  Works great for me on both, but just to be sure...

[2015-10-18 04:57] iroller commented on #1059
Perfect, it works now. Thank you :+1:

[2015-10-18 04:58] tannerlinsley commented on #1059
No problem! I'm going to close this issue unless there's anything else?

[2015-10-18 05:22] #1059 closed

[2015-10-18 06:57] iroller opened #1544 "Multiple "line" type graphs with different Y and X?"
Looking at the latest 2.0dev branch. Is it possible to combine together multiple graphs with not only Y different, but X too (where X is date)?

Great work on 2.0 btw, even alpha works great :+1:

[2015-10-18 09:44] r3wt commented on #1543
@etimberg  thank you sir, ill give it a go

[2015-10-18 12:31] etimberg commented on #1544
@iroller it is possible to have charts with multiple x and y axes. The sample config below will create 2 x axes, 2 y axes and then bind each dataset to one pair of axes.

[code]

[2015-10-18 19:47] iroller commented on #1544
Hey thanks @etimberg , but what I'm asking is not how to have multiple axes, but multiple "labels: [newDate(0), newDate(1)]" per dataset on the same axis.

For example if you look at
https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/line-time-scale.html

I'd looking for a way do modify it in a following way:
[code]

[2015-10-18 19:54] tannerlinsley commented on #1544
@etimberg I think I get what he is asking. Similar functionality to the scatter api. X and Y properties within an object as opposed to the equally mapped category style.

[2015-10-18 19:58] iroller commented on #1544
One of the use cases for this is to compare some of your health levels (that you measure every day in different time) from today and yesterday, from this week and previous week, etc.  You'll need those values on one graph, but both X and Y are different.

[2015-10-18 20:06] etimberg commented on #1544
ah, ok, I get it. Similar to how the scatter data looks. @tannerlinsley we can easily move the `getRightValue` function up into the base

[2015-10-18 20:11] tannerlinsley commented on #1544
Nice.

[2015-10-19 01:19] etimberg commented on #1544
@iroller I got this implemented in the tooltip refactor branch. It will be into v2 as soon as that's merged (hopefully in the next few days)

[2015-10-19 02:15] iroller commented on #1544
Thanks @etimberg . In the sample you modified (samples/line-time-scale.html) there's a first x data point should be located at "12/31/2014 06:00" however it's located between January 1st and 2nd on the graph:
<img width="377" alt="screen shot 2015-10-18 at 21 09 39" src="https://cloud.githubusercontent.com/assets/338294/10568371/d852f802-75dc-11e5-8e7f-b22ee0b10c01.png">

All the other points in "

[2015-10-19 02:44] etimberg commented on #1544
odd, this is the view on my browser. The "Dataset with point data" data should match the axis. Did you sync down that branch completely and build or just used 7603b3cc?

![screen shot 2015-10-18 at 10 40 17 pm](https://cloud.githubusercontent.com/assets/6757853/10568674/7ab4ffb2-75e9-11e5-8a4d-365f0c55ade3.png)

[2015-10-19 03:23] gv007 opened #1545 "scatter plot with time series issue"
I am not able to plot scatter graph with time series.

Is this supported in version 2.0.0-alpha4?

[2015-10-19 04:08] iroller commented on #1544
Oh it looks like I forgot to re-build with gulp, not used to it, sorry about that!
Thanks for this, works great.

[2015-10-19 04:08] #1544 closed

[2015-10-19 05:10] tannerlinsley commented on #1545
This will be available in the next release. Time scale will support x and y values. Stay tuned!

[2015-10-19 12:26] etimberg commented on #1545
@gv007 please see my last comment on #1544

[2015-10-19 12:26] #1545 closed

[2015-10-19 16:23] sikko opened #1546 "Multiple tooltips showing. Is it possible to show one at a time?"
I tried decreasing the pointHitDetectionRadius but it doesn't solve my problem.

![screenshot 2015-10-19 18 17 07](https://cloud.githubusercontent.com/assets/951412/10583605/255048b0-768e-11e5-97a6-45d04189daa7.png)

[2015-10-19 16:44] r3wt commented on #1543
@etimberg Thank you it worked. I wish the documentation would have specify this feature so i wouldn' t need to waste time opening an issue here.

[2015-10-19 17:05] #1543 closed

[2015-10-19 17:41] r3wt opened #1547 "Barchart with 1 dataset 1 label and 1 color per bar"
How can this be done? i've tried to achieve it and failed.

here's an example of what the current chart i'm replacing with chartjs looks like:

![img](http://puu.sh/kQ3Ym/68b2e61fca.png)

My data is currently formatted as so:

[code]

Chart is rendering like this:

![img](http://puu.sh/kQ4AC/c8e6c51ff0.jpg)
as you can see all the data is rendering under first label.

[2015-10-19 17:57] r3wt commented on #1547
Documents do not specify how to achieve this behavior.

[2015-10-19 19:40] gv007 commented on #1545
@etimberg I checked it, looks good. But still there is dependency on labels.

The use case is if we have lot of time series data(for example 300 x and y values) for a 1 week graph, in this case x-axis first tick is 'current time - 1 week' and last tick is 'current time' (assuming x-axis time unit is 'day')

I mean is there anyway to remove labels dependency for time series data.

[2015-10-19 19:54] tannerlinsley commented on #1545
@gv007, is the vision you have to essentially be able to ditch the `labels` field entirely and simply structure your `data` like this: ?

[code]

[2015-10-19 20:21] bskimball commented on #961
I am doing what eponce19 suggests which is showing the collapsible elements until after the charts are rendered. I also set the collapsible elements to show as the window is resized. This is obviously a workaround, and not ideal.
[code]

[2015-10-19 21:20] gv007 commented on #1545
Yes, correct. We can derive all the labels based on the data passed and unit field (along with ticks userCallback function)

Or we should be able to pass from date and to date as:

[code]
Using fromDate and toDate also we can derive x-axis labels.(along with unit and ticks userCallback function).

[2015-10-19 22:10] tannerlinsley commented on #1545
Awesome.
On Mon, Oct 19, 2015 at 3:20 PM george victor <notifications@github.com>
wrote:

[2015-10-19 23:24] etimberg commented on #1545
@gv007 I pushed a change to the tooltip refactor branch. The labels for the time scale are now optional. I added a new [sample file](https://github.com/nnnick/Chart.js/blob/v2.0-dev-tooltip-refactor/samples/line-time-point-data.html) that demos it. I have not yet implemented `fromData` or `toDate` options so feel free to do it @tannerlinsley

[2015-10-19 23:25] tannerlinsley commented on #1545
Sounds good. I'll get on it.

[2015-10-20 10:09] rudy788 commented on #1527
Sorry, I can do this at the moment but I think you can understand as well as Jsbin...
The iframe styling are the same but in the Polar Area we have a different height so the result is smaller then the 100% div styling...
![image](https://cloud.githubusercontent.com/assets/14812122/10604160/d685a10e-7722-11e5-9dcb-3063b8e92b36.png)
![image](https://cloud.githubusercontent.com/assets/14812122/106041

[2015-10-20 10:49] naldir commented on #777
This solution should be added in the documentation

[2015-10-20 15:33] Osademe-e commented on #1495
Cool! Thanks.

[2015-10-20 16:32] jpoiri opened #1548 "'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self' 'unsafe-inline'"
Hi there,

I am using https://github.com/aomran/ember-cli-chart to generate a donut chart however when the chart renders or when I hover on the chart I get the following warning on the javascript console.

[Report Only] Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self' 'unsafe-i

[2015-10-20 18:02] gv007 commented on #1545
@etimberg thanks.  Tested your [sample file](https://github.com/nnnick/Chart.js/blob/v2.0-dev-tooltip-refactor/samples/line-time-point-data.html) but I don't see graph! I can see console errors..

[2015-10-20 18:20] drakoumel opened #1549 "Download Chart / Print"
Are there any plans to add the functionality to download/print a specific chart? maybe with different resolutions?

I have seen a few people trying to print screen the charts, and I have also made my own implementation but as an extension.

[2015-10-20 23:11] jourdain opened #1550 "API to draw only in a region of the canvas?"
I was wondering if it would be possible to have some API were we could specify which area/region of the ctx should be used to draw.

Something like that where region should be an optional argument.

var region = [x, y, width, height];
var myLineChart = new Chart(ctx, region).Line(data, options);

and if we update the region we could still do that and have the library draw only in that area.

myLin

[2015-10-21 09:49] timbijkerk opened #1552 "2.0 alpha 4 - Stacked bar + multiple lines -> Y-scale to large"
http://jsbin.com/giwaqi/edit?html,output

I have a chart with stacked bars and multiple lines, but the Y-scale is to large (9.000.000 instead of 3.000.000). I think the max of each chart element is added-up or something.

In the 1.0 docs I found some options to manually define the scale steps, but I can't find it in the 2.0 examples.

[2015-10-21 16:10] frlinw commented on #1546
Same problem here, any solutions ?

[2015-10-21 16:10] tannerlinsley commented on #1546
Try v.2.0-dev.  There is an alpha-4 release, soon to be a beta release in a few days.

[2015-10-21 19:50] SteveVanHorn opened #1553 "Y-Axes labels are not checking for null or undefined"
Returning null from the userCallback on the yAxes ticks is displaying a tick with the label "null".

[2015-10-21 20:09] etimberg commented on #1553
Definitely a bug. Returning `null` or `undefined` should hide the grid line.

[2015-10-21 21:09] SteveVanHorn opened #1554 "Graphical tick labels?"
Is there any way to use an image as a tick label in v2.0?

[2015-10-21 21:13] saad024 commented on #401
is that possible to add img tag?

[2015-10-21 22:17] reisub-de commented on #1269
Issue is still there. Did anyone find a solution?
`Uncaught ReferenceError: Chart is not defined` in `Chart.js:126`
`line 126: ` `var helpers = Chart.helpers = {};`

Thanks

[2015-10-22 00:35] nsingh opened #1556 "Element context not present within the customTooltips callback"
I am implementing a custom legend, where  I highlight the legend text when I hover on the corresponding pie of the Pie chart.

In order to do this, I need injection of the *element* being hovered on so I could use some metadata to lookup corresponding data in the legend.  I'm proposing add the below code to the tooltip constructor in the showTooltip function:

<pre>
new Chart.Tooltip({
	x: Math.ro

[2015-10-22 00:51] etimberg commented on #1531
fixed in #1540

[2015-10-22 00:51] #1531 closed

[2015-10-22 01:23] sahil290791 commented on #729
Was unable to fix the issue by any of the above methods in my rails app, but it worked by changing the default value of scaleLabel in Global Chart configuration as,
[code]

[2015-10-22 15:45] paulcanning opened #1558 "Chart is caching various data sets"
I am using AJAX to pull in my labels and datasets form my PHP application.

After calling in various datasets, where the chart does update, it seems that the chart is in fact caching the previous dataset and displays both in a glitchy way when I hover my mouse over the chart.

Also, when my AJAX data result is empty, I'd like to show an empty graph, but using clear, update or destroy does nothing

[2015-10-22 16:15] paulcanning commented on #1547
You have 15 labels, but only 1 piece of data for each dataset.

What you need is 1 dataset, with the 15 values in the data array.

[2015-10-22 16:17] paulcanning commented on #1536
No issue on Chrome 46.0.2490.71 m, Windows 10 64bit.

[2015-10-22 16:22] posgarou commented on #1269
:+1:

[2015-10-22 16:46] paulcanning commented on #1511
How did you fix this, I am seeing the same behaviour where previous data shows when moving the mouse over the chart.

[2015-10-22 18:10] posgarou commented on #1269
@tannerlinsley Should this be closed since #1559 was merged?

[2015-10-22 18:12] tannerlinsley commented on #1269
Yes.

[2015-10-22 18:12] #1269 closed

[2015-10-22 18:12] tannerlinsley commented on #1269
I believe it won't automatically close unless it get's merged into master.  What github really needs is branch-specific issues ;)

[2015-10-22 18:13] posgarou commented on #1269
@tannerlinsley That's an amazing idea!  I would love it if they implemented that.

[2015-10-22 18:27] r3wt commented on #1547
@paulcanning how exactly would that work? would i then pass an `array` for `label`, `fillColor` and `strokeColor`

making my dataset:

[code]
**?**

[2015-10-22 18:36] tannerlinsley commented on #1547
Since datasets are stacked vertically in the bar controller, you'll want to make just one dataset and use arrays to map the colors like so:

[code]

You'll want to double check the data there, and make sure that it maps up, but that should do the trick.

[2015-10-22 19:09] r3wt commented on #1547
It works, but no bueno on the colors

![img](http://puu.sh/kTLxN/5ff2fd7548.jpg)

[2015-10-22 19:12] tannerlinsley commented on #1547
Are you using v2.0-alpha4?

This will only be possible in the latest alpha release.  (soon to be beta!)

[2015-10-22 19:16] r3wt commented on #1547
@tannerlinsley do you have a migration guide (or let me ask this, are there bc breaks for radar and pie charts)?

[2015-10-22 19:18] tannerlinsley commented on #1547
Yes, the api breaks a bit.  Everything is a lot more powerful and automagical, and it's barely a chnage from what you're used to.  The docs are being updated as we speak :) https://github.com/nnnick/Chart.js/tree/v2.0-dev/docs

[2015-10-22 19:32] javray commented on #1536
I think there has been a silent update, because the bug has gone.

[2015-10-22 19:32] tannerlinsley commented on #1536
Good to hear :)

[2015-10-22 19:37] #1536 closed

[2015-10-22 19:59] Shampoo1 opened #1560 "Custom tooltip and get segment ref"
Hi,

I am trying to implement something like this:
http://www.flotcharts.org/flot/examples/series-pie/index.html and click on "Without Legend".
![image](https://cloud.githubusercontent.com/assets/13858274/10676580/8e996b1e-7907-11e5-847c-1b9d66128814.png)

Is it possible with Chart.JS?

I implemented customTooltips method (pastebin: http://pastebin.com/Qw8qFfFH ), but... i will need a tooltip segm

[2015-10-22 20:00] SteveVanHorn opened #1561 "Charting small integers results in weird scale in v2.0"
Creating a chart with only small integers results in a really weird scale.

This code in scale.linear.js is ending up with precision problems.

[code]
Here is an example [jsfiddle](https://jsfiddle.net/stevevanhorn/e9tzzhxw/)

[2015-10-22 20:05] tannerlinsley commented on #1560
Right now this isn't possible out of the box.  In v2.0 there will be future support for elements to have their own labels (inside, outside, wherever necessary).  Try 2.0 out, and if you have an idea on how to implement this, feel free to PR!

[2015-10-22 20:53] nkoterba opened #1562 "Need consistent case-name for Chart/chart.js on NPM and Bower"
Please see: https://github.com/jtblin/angular-chart.js/pull/226

In short, Chart.js uses different "case" names for its library in Bower ("Chart.js") vs NPM ("chart.js").

This causes issues with other libraries using it as a dependency and on file systems (e.g. Linux) that are case-sensitive.

For example, when using `Browserify` on a Linux OS:
* `require("chart.js")` will work when using NPM-bas

[2015-10-22 21:40] willdrob commented on #1519
Another possible solution:
[code]
in `Chart.Tooltip.draw()`.

[2015-10-23 01:22] etimberg commented on #441
@morrow95 dates are now fully supported in the v2.x branch. Moment js is used for date parsing.

[2015-10-23 01:22] #441 closed

[2015-10-23 01:24] etimberg commented on #436
The v2.0 branch now has unit tests. Jasmine is the test framework with karma as the test runner. Istanbul is used for coverage analysis.

[2015-10-23 01:24] #436 closed

[2015-10-23 01:34] etimberg commented on #689
This has been addressed I the v2.0 branch. To hide a dataset, simply add a field to the dataset.
[code]

[2015-10-23 01:34] #689 closed

[2015-10-23 01:43] etimberg commented on #1053
There is now a time axis in the v2.0 branch. See the line-time-scale.html sample file .

[2015-10-23 01:43] #1053 closed

[2015-10-23 01:57] etimberg commented on #1077
V2 now contains the code for multiple scales. There are a number of sample files demoing its use.

[2015-10-23 01:57] #1077 closed

[2015-10-23 01:59] #1003 closed

[2015-10-23 02:05] etimberg commented on #1534
Once #1542 is merged  into v2 this will be supported natively.

[2015-10-23 02:07] #1513 closed

[2015-10-23 02:16] etimberg commented on #1523
@sobrinho this is natively supported in the v2.0 branch. One can add datasets, remove datasets, or change the number of data points and then call `update` and the chart should gracefully handle it.

[2015-10-23 02:20] etimberg commented on #1466
I believe this should be addressed once #1542 is merged

[2015-10-23 02:21] etimberg commented on #1561
Closing as duplicate of #1498

I'm hoping to address this as soon as #1542 is merged to v2.0-dev

[2015-10-23 02:21] #1561 closed

[2015-10-23 02:22] #1505 closed

[2015-10-23 02:27] etimberg commented on #1552
Closing as duplicate of #1263

[2015-10-23 02:27] #1552 closed

[2015-10-23 02:29] #1401 closed

[2015-10-23 02:29] #1446 closed

[2015-10-23 02:33] etimberg commented on #1352
V2 now has a time scale. Using the time scale you can pass date strings or date objects in as X coordinates. Moment.js must be included as it provides the actual date parsing functionality. The scale also supports rounding to different time units, and control over how the labels are formatted.

Once #1542 is merged, the time axis will also support passing data as arrays of objects containing `x` a

[2015-10-23 02:33] #1352 closed

[2015-10-23 02:34] #1351 closed

[2015-10-23 02:35] #1338 closed

[2015-10-23 02:38] #1277 closed

[2015-10-23 02:38] #1289 closed

[2015-10-23 03:56] morrow95 commented on #441
Very nice! I will take a look at it this weekend.

[2015-10-23 07:57] devinRex commented on #1370
I have met the same issu,too..

[2015-10-23 12:34] cbrown06 commented on #1464
More generally, the tooltip object passed to custom tooltop functions don't seem to indicate the index in the dataset array.  This is a problem when determining the origin of a data point, when the series may contain multiple points with the same value.  For example, in a bar graph with monthly totals, I had a requirement (where totals were "total deliveries") to display associated data (date of t

[2015-10-23 13:11] dacashmachine commented on #161
Hey So I am hearing @kleesman solution works from a bunch of people.  I have a javascript button that runs a function recreating the chart with new data.  I am ust having a trouble with the syntax of how to get it to work correctly, everytime I add @kleesman 's code, it just breaks the chart.  Ill show you what I got that breaks and hopefully one of you could tell me how to specify the width and h

[2015-10-23 13:18] sobrinho commented on #1523
Thanks, I will take a look and reopen if something goes wrong.

[2015-10-23 13:18] #1523 closed

[2015-10-23 17:18] selbekk commented on #161
@dacashmachine try this:

[code]

[2015-10-23 17:31] dacashmachine commented on #161
Hey thanks so much for getting back to me.  I am going to attach my whole
code to show you what I did with what you sent over.  It loads the chart
originally fine which is kinda a fake chart with no data, but when you
click the buttons that have functions attached to them with the code you
sent over nothing happens.  If you have a chance take a look.  I attached a
zip it has blankChart.html, which

[2015-10-23 17:36] selbekk commented on #161
@dacashmachine Can't see your zip unfortunately. Create a [codepen](http://codepen.io) of it instead :)

[2015-10-23 17:46] dacashmachine commented on #161
OK sorry I have never used codepen, but this might help

http://codepen.io/anon/pen/bVLQev

that is my broken code that I have tried to implement your fix with.

here is my working example.

http://bboyledesign.com/charttest/blankchart.html

On Fri, Oct 23, 2015 at 1:36 PM, Kristofer Selbekk <notifications@github.com

[2015-10-23 18:40] SteveVanHorn opened #1564 "Scale Override in 2.0"
The docs talk about an override object I can pass on the yAxes but I can't find any actual reference to it. Is there a way to do this or is it something that just isn't implemented yet and is coming?

[2015-10-23 18:55] tannerlinsley commented on #1564
overrides actually went away in favor of the various `tick` callbacks that are now supported.  These are not documented yet, but you can see them in the code and are pretty easy to hook into: https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/core/core.scale.js#L61

This way it's way more powerful and more extensible.  The undocumented rule of thumb is that new scale types override the regular t

[2015-10-23 18:59] tannerlinsley commented on #1560
Also, every tooltip in v2.0 now has a lot of helpful properties inside it, along with all active elements, their dataset/data indices.

[2015-10-23 19:01] tannerlinsley opened #1565 "NaN and undefined values should be treated as "skipped" elements"
Right now they simply kill the drawing process for everything that comes after.

Possibly revisiting the "skipNull" functionality to just make it more automagical and dynamic with any non-number values?

[2015-10-23 19:08] selbekk commented on #161
Made a working example for you with your data here: http://codepen.io/selbekk/pen/PPQXJL

To make your website work correctly - basically wrap your `<canvas />` element inside a container with a set width of 350px. It will expand to 100% of its container.

[2015-10-23 19:15] dacashmachine commented on #161
Thank you so much.  I will chew through this.  This might be tricky to
implement because i am using adapt framework, and I am using iframes to
load in external charts, and it also has to be responsive for desktop or
mobile.  I might go back to fixed width if neccessary.

But seriously thank you SO MUCH for taking the time to do this it is SOOO
helpful and a good learning tool.

On Fri, Oct 23, 201

[2015-10-24 07:36] tannerlinsley commented on #1565
Closed with #1566

[2015-10-24 07:36] #1565 closed

[2015-10-24 07:37] tannerlinsley commented on #905
This is now possible in v2.0

[2015-10-24 07:37] #905 closed

[2015-10-24 07:38] tannerlinsley commented on #614
Duplicate, and fixed in v2.0

[2015-10-24 07:38] #614 closed

[2015-10-24 07:39] tannerlinsley commented on #1147
Yeah, if anyone has a PR for this in v1.x I will gladly merge it into the proposed 1.1 update.

[2015-10-24 12:33] etimberg commented on #1498
Closing since #1567 was merged

[2015-10-24 12:33] #1498 closed

[2015-10-24 16:54] keithpickering opened #1568 "Dotted line style"
Is it possible to draw a given line in a Line graph with a dotted or dashed style?

It seems this is possible in the beta version, but this is for production so I'd rather just do it manually with the latest stable version.

[2015-10-25 03:33] etimberg commented on #1273
Closing since this has a fix. An alternative solution would be to call `value.toFixed(0)`

[2015-10-25 03:33] #1273 closed

[2015-10-25 03:34] etimberg commented on #1244
This is not an issue per se. The method of instantiating a chart has changed in v2.

[2015-10-25 03:34] #1244 closed

[2015-10-25 03:36] etimberg commented on #1259
Implementation issues should be directed at stackoverflow. As an aside, v2 now fully supports dates using the time scale. Moment.js is used for date parsing.

[2015-10-25 03:36] #1259 closed

[2015-10-25 21:56] upta opened #1569 "Possible to style individual points?"
I've just found/started playing with Chart.js (looks great thus far!) and I had a question that Google didn't seem to help me with.

Is it somehow possible on, say, a line chart to change the color of an individual point in a series (say, it's way out of the norm and you want to highlight it)?

Thanks!

[2015-10-25 22:21] stereoit opened #1570 "Step Chart"
Hello, is it possible to do Step Chart with this project?

[2015-10-25 23:06] tannerlinsley commented on #1569
Are you using v2.0?

[2015-10-25 23:07] tannerlinsley commented on #1570
At the moment no. But it doesn't seem far off at all.

[2015-10-25 23:38] upta commented on #1569
Not presently, since it appeared to be still in beta :)  Doesn't mean I'm necessarily opposed to doing so, just figured there'd be more info out there about the stable version

[2015-10-25 23:55] tannerlinsley commented on #1569
This is true. In this particular case though, styling the individual point is only possible in 2.0. Simply make the chart. Then in the dataset object you used for your chart you will find a metaData property that contains all of the point elements. Adding a 'custom' object to an element will override anything in the '_view' property.  I'll try and get you an example when I get back to my computer.

[2015-10-26 07:10] shaikhather commented on #1532
Hi All,

What about if i use a function returns array of labels. it is also not working,
any help please;

labels: ChartLabels()

the function above is actually returning an array of labels.

Regards,
Ather

[2015-10-26 07:22] marolt opened #1571 "Flags marking or points of interests."
Hi,
thank you for this great library!
Is is possible to mark a flag on a graph with this library?
Something like this:
![image](https://cloud.githubusercontent.com/assets/5792194/10723372/9341cfd4-7bba-11e5-9d0d-a8db62396596.png)

[2015-10-26 11:37] juergenzimmermann opened #1572 "chart.d.ts for 2.0.0-beta not available for TypeScript/AngularJS 2"
https://github.com/borisyankov/DefinitelyTyped is the hosting site for hundreds of JS frameworks to be used with TypeScript. The AngularJS Team propagates TypeScript as the implementation language for Projects with AngularJS 2.
Therefore, it would be good to have an update for chart.d.ts at https://github.com/borisyankov/DefinitelyTyped/tree/master/chartjs. So far only Version 1.0.2 can be used to

[2015-10-26 14:40] gfarrell opened #1573 "[2.0.0-beta] trying to call .clone() of null firstTick (scale.time.js)"
These lines in **scale.time.js**

[code]

Give me a `TypeError: Cannot read property 'clone' of null`

[2015-10-26 15:06] etimberg commented on #1573
@gfarrell have you included moment.js?

[2015-10-26 15:18] gfarrell commented on #1573
Yep, although I'm using browserify and moment.js >=2

I'm also using react-chartjs

Problem seems to be that firstTick === null though.

On Mon, Oct 26, 2015 at 3:06 PM, Evert Timberg <notifications@github.com>
wrote:

[2015-10-26 15:53] tannerlinsley commented on #1573
Lets get this in a codepen example so we can nail down the problem. That way we can know if it's chartjs or the react-chartjs setup.

[2015-10-26 17:53] GlenKPeterson opened #1574 "File name typo in 2.0 documentation"
Looking here: https://github.com/nnnick/Chart.js/tree/v2.0-dev/docs

It seems that `01-Scales` should probably be renamed to `01-Scales.md` (it's missing the `.md`).

[2015-10-26 18:05] jwickstr opened #1575 "[2.0.0-beta] Uncaught TypeError: easingFunction is not a function"
[code]
This happens on mousemove events after being rendered. Animation is disabled via options.

Client code to render is:
[code]

[2015-10-26 18:05] #1575 closed

[2015-10-26 18:06] JamesDunne opened #1576 "[2.0.0-beta] Uncaught TypeError: easingFunction is not a function"
[code]
This happens on mousemove events after being rendered. Animation is disabled via options.

Client code to render is:
[code]

[2015-10-26 18:17] gfarrell commented on #1573
I've created a pen but unfortunately webpack compilation is making things a bit difficult to test `react-chartjs`. If you disable the `React` class that I'm using, then the graph still doesn't display right.

http://codepen.io/anon/pen/pjLxjN

[2015-10-26 18:19] JamesDunne commented on #1576
I ported this code from 1.0 not realizing the difference in `options`. Setting `animation` to a bool whereas the library expects a more complex object is what's causing the failure here.

[2015-10-26 18:47] #1574 closed

[2015-10-26 18:59] tannerlinsley commented on #1573
The error I'm getting is that `Chart` is not defined here:

[code]

This could be related to #1269, but I was under the impression that that issue was fixed.... I would file an issue with react-chartjs about the undefined `Chart` problem.

As for using the regular Chart.js I've modified your example to show how it should work: http://codepen.io/anon/pen/YyaRWw?editors=001

[2015-10-26 20:32] gfarrell commented on #1573
Ah looks like I had a little mistake in my code. I might just go with plain `chart.js` for now (product to ship and everything) and work on my fork of `react-chartjs` later. Thanks for the help!

[2015-10-26 20:33] gfarrell commented on #1573
(well, let's see if it works first with my code)

[2015-10-26 22:14] gslezynger opened #1578 "Tooltip formatting not working with one series"
Hy there,

When working with the chart I noticed that the tooltip formatting works for graphs with more than one series:

<img width="300" alt="screen shot 2015-10-21 at 6 41 38 pm" src="https://cloud.githubusercontent.com/assets/8821314/10649535/6c0e09ae-7823-11e5-8fe9-1920440b8db5.png">

But does not work with one series charts:

<img width="295" alt="screen shot 2015-10-21 at 6 42 51 pm" src="h

[2015-10-26 22:36] etimberg commented on #1578
@gslezynger in v1 of Chart.js, there are actually 2 different properties for controlling the tooltip string.

I gather that you already found `multiTooltipTemplate` but you also need to change the `tooltipTemplate` option as well.

See the end of [this section](http://www.chartjs.org/docs/#getting-started-global-chart-configuration) of the chart.js docs.

[2015-10-26 22:52] gfarrell commented on #1573
Ok, @tannerlinsley, I've included `chart.js` from `2.0.0-dev`

[code]

I'm getting this error: **TypeError: ScaleClass is not a function**, which is triggered in `Chart.Controller.buildScales()`:

[code]

(`xAxisOptions.type` is "time")

I'm initialising the chart in a component as:

[code]

As per the codepen, I am using the following options:

[code]

[2015-10-26 23:11] tannerlinsley commented on #1573
Instead of the bleeding edge (which needs to be built using `gulp build` to use), try https://rawgit.com/nnnick/Chart.js/2.0.0-beta/Chart.min.js

[2015-10-27 00:38] gfarrell commented on #1573
I was using it as part of my `package.json`, but tried this with both the 2.0.0-beta release archive (https://github.com/nnnick/Chart.js/archive/2.0.0-beta.tar.gz) and the bleeding edge. Will try rebuilding in gulp to see if that helps.

[2015-10-27 00:44] gfarrell commented on #1573
I get the same error, even when rebuilding with `gulp build` for both the bleeding edge and beta release.

[2015-10-27 01:39] gslezynger commented on #1578
Thanks! It actually makes sense to treat them separately.

[2015-10-27 01:39] #1578 closed

[2015-10-27 02:09] tannerlinsley commented on #1573
This is strange.  Is there any way to get this one set up in codepen?  I've got our samples and my own experiments working just fine at: http://codepen.io/anon/pen/YyaRWw?editors=001

[2015-10-27 14:57] gfarrell commented on #1573
Ok, I also have it working in [a codepen](http://codepen.io/anon/pen/wKjada?editors=101), but not when included as an NPM package (which is infuriating, since that's how I need it to work).

I've tried rebuilding and clearing my cache but I can't get it working. This is with both the 2.0.0-beta release and 2.0.0-dev branch.

[2015-10-27 15:49] gfarrell commented on #1573
So, this is bizarre. I have tried:

1. including the `v2.0-dev` archive, installing, clearing the cache and rebuilding;
2. including the `2.0.0-beta` archive, installing, clearing the cache and rebuilding;
3. copying the raw javascript from the codepen file that works (https://rawgit.com/nnnick/Chart.js/v2.0-dev/Chart.js), saving it in my *node_modules/chart.js* folder, rebuilding;

This works in

[2015-10-27 16:01] tannerlinsley commented on #1573
I'll look into it some more. In the mean time, here is a jsbin example that is working as expected as well: https://jsbin.com/fojoximuwo/edit?html,js,output

[2015-10-27 16:37] GregorioDiStefano commented on #444
+1

[2015-10-27 19:19] etimberg commented on #1573
Is this potentially some kind of race condition? It's almost looking like the time scale never runs and initializes itself into the chart object.

[2015-10-27 19:21] tannerlinsley commented on #1573
@etimberg What do you think? Everything in chart.js is pretty synchronous, so I can't imagine a race condition in anywhere I've seen in the code.

[2015-10-27 19:57] etimberg commented on #1573
It feels like our code starts loading, but the IIFE wrapping the time scale stuff never runs and so the default properties / constructor are never registered.

[2015-10-27 20:49] stephanarts opened #1579 "beginAtZero ignored in line-chart"
I want to use Chart.js to draw a time-line graph of values that can not have a negative value. - Think about CPU-load (floating-point value between 0.0 and a lot), network-throughput (bytes/s).

The timescale graph in Chart.js 2.0 appears to be a good fit, but it looks weird if the base-line is drawn at the center of the graph. (which happens if you draw a lot of values between 0.08 and 0.2).

I g

[2015-10-27 21:15] etimberg commented on #1579
@stephanarts `beginAtZero` should work, though the config has changed since V1. Here's a [JSBin](http://jsbin.com/gomeko/edit?html,js,output) with the `beginAtZero` option. You can try changing it and seeing the effect.

[2015-10-27 21:50] stephanarts commented on #1579
@etimberg I see what you mean, I was aware of the config-change and it does work. - sometimes.
It appears to be related to the x or y values assigned to the dataset.

If I assign the values hard-coded as strings in my js file, it works. If I retrieve them as a JSON object from an AJAX call it doesn't work. Let me check where the difference is coming from.

[2015-10-27 22:11] stephanarts commented on #1579
I am clueless as to why it didn't work earlier... I must have done something terribly wrong.

@etimberg: thank you for confirming the location of the beginAtZero option in v2.0 :-)

[2015-10-27 22:19] etimberg commented on #1579
@stephanarts glad its fixed. Let me know if you see it again and I'll give it a stress test.

[2015-10-27 22:36] stephanarts commented on #1579
I managed to reproduce it here: http://jsbin.com/dusesimiqa

[2015-10-27 23:48] etimberg commented on #1579
I see the issue. The relevant lines are: https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/scales/scale.linear.js#L103-L106

[2015-10-27 23:50] rafaelcorreiapoli opened #1580 "Y Axis fit series"
![graph](https://cloud.githubusercontent.com/assets/12840136/10775992/ab0212a6-7cf4-11e5-9c73-9d6b9fa2be88.png)

Hi, is there an elegant way to make Y Axis fit the maximum value of my series? I don't want this big blank space above my series =(

Thanks :)!

[2015-10-28 00:06] etimberg commented on #1579
@stephanarts a fix is in #1581

[2015-10-28 01:55] SturmDrangAltaar commented on #969
+1

I imagine something like this might be in version 2.0?

[2015-10-28 02:37] etimberg commented on #969
If the original request is to support lines and bars together on the same chart, this is supported in version 2.0.

[2015-10-28 11:07] lowwa132 commented on #56
A mix of @dougfelton and @immertroll solution:

	<div class="row">
		<div class="col-md-9">
			<div>
				<canvas id="my-cavas"></canvas>
			</div>
		</div>
	</div>

With:

	Chart.defaults.global.responsive = true;
	Chart.defaults.global.maintainAspectRatio = false;

And:

    #my-canvas {
        height: 300px;
    }

[2015-10-28 13:23] GabrielUlici opened #1582 "v2.0.0 dev does not support type.extend"

[2015-10-28 14:10] v0itenko opened #1583 "v2.0-beta Cannot read property 'getLabelForIndex' of undefined in Pie/Doughnut Charts"
Whe hovering mouse over some chart segment - tooltip doesn't appear  and on every mouse move event over chart - console shows  "Cannot read property 'getLabelForIndex' of undefined".
Bug is on Pie, Doughnut, PolarArea and Radar.
Works even for your samples. How I can quickly fix that?

[2015-10-28 14:15] etimberg commented on #1583
That function needs to be added to the radialLinear scale to solve polar area, and radar charts. Doughnut requires something else. @tannerlinsley any ideas?

[2015-10-28 14:17] v0itenko commented on #1583
@etimberg I REALLY need fix for Pie right now :cry:

[2015-10-28 16:26] limitstudios opened #1584 "v2.0-beta Line chart label names first duplicate"
When using the latest beta and dev on a line chart the first label name duplicates to the rest, the values are correct though

JSBIN here https://jsbin.com/jesofiluxo/edit?html,js,output

[2015-10-28 17:03] gfarrell commented on #1573
I had wondered if there might be a race condition here, but I'm not familiar enough with the chart.js code to know. It would be a bit surprising since the built version of chart.js is being loaded with `browserify`, so I can't imagine what there might be that is async.

[2015-10-28 17:07] tannerlinsley commented on #1582
That is because you no longer extend chart types. You extend the components that make them. For instance. A simple bar graph is made up of one linear scale, one category scale and a bar controller which uses the bar element. These components are extendable. We'll be coming out with docs on all of this very soon. What are you trying to change?

[2015-10-28 17:12] tannerlinsley commented on #1583
I'll try and fix it today.

[2015-10-28 17:16] GabrielUlici commented on #1582
i would like to have a bar graph on horizontal.

[2015-10-28 17:20] tannerlinsley commented on #1582
Cool. That's a change were planning on including soon. The work would need to be done in scale.category.js. Right now it only knows how to be horizontal. The. You could just switch the scales around on a bar chart.

[2015-10-28 17:52] matt314hew opened #1585 "[V2.0.0.alpha3]Bar Chart issues"
I am running into some issues with the alpha release of the new ChartJS package.

In the documentation for the BarCharts, it has the following:
var myBarChart = new Chart(ctx).Bar(data, options);

When I do this, I receive an error:
Uncaught TypeError: (intermediate value).canvas.Bar is not a function.

Did something change with this?

We are using the following:
SleepState.Graph = new Chart(Sleep

[2015-10-28 22:52] JustinXinLiu opened #1587 "v.2.0-dev "Uncaught TypeError: Cannot read property 'clientX' of undefined""
When you open any chart in Chrome and have **device mode** enabled, tapping/clicking on the chart will give you this error -

The error occurs in this method `helpers.getRelativePosition`.

    if (e.touches) {
        mouseX = e.touches[0].clientX - boundingRect.left;
        mouseY = e.touches[0].clientY - boundingRect.top;

[2015-10-29 00:41] etimberg commented on #1585
@matt314hew the way to instantiate a chart has changed slightly since v1. To instantiate a bar chart in v2, you would do the same as the snippet below. Please also be aware that options have changed significantly from v1.

[code]

[2015-10-29 01:06] etimberg commented on #1568
@keithpickering this is not possible directly in v1. If you want to try it yourself, I would suggest modifying near line [335](https://github.com/nnnick/Chart.js/blob/master/src/Chart.Line.js#L335) of `src/Chart.Line.js`.

[2015-10-29 01:11] ryx725 opened #1588 "Bar chart area are too small to click"
![image 4](https://cloud.githubusercontent.com/assets/14322550/10807560/fc1ee48e-7e1b-11e5-8c2e-2820ce2d8474.png)

As you see, in my project tooltip show all the time, but my trouble is the bar area (value=1) are too small to click. I wonder that is there any click eventlistener on lables? So, i could continue my follow actions.   : )

[2015-10-29 01:13] heisian commented on #12
how??

[2015-10-29 04:17] eduardinni opened #1590 "v2.0-beta draw first line from bottom left corner"
My line graph is drawing from bottom left corner [0,0] to my first point, as it shown here:

![screen shot 2015-10-28 at 10 02 50 pm](https://cloud.githubusercontent.com/assets/6415494/10809952/7cffcd6c-7dc1-11e5-84ff-18fbd1c6a39d.png)

** my first data element is not [0,0]

[2015-10-29 05:16] tannerlinsley commented on #1590
This issue was fixed in 74c04a354a91d8d98a921387e88cf165b26811f8

[2015-10-29 05:16] #1590 closed

[2015-10-29 05:21] ryx725 commented on #996
myBarChart = new Chart(ctx1).Bar(buyerData,options);
	 bars=myBarChart.datasets[0].bars;

         var options={
          ....
         onAnimationComplete: function(){
	            myBarChart.showTooltip(bars,false);
	            }
        .....
         }

[2015-10-29 05:27] ryx725 commented on #940
myBarChart = new Chart(ctx1).Bar(buyerData,options);
	 bars=myBarChart.datasets[0].bars;

         var options={
          ....
         onAnimationComplete: function(){
	            myBarChart.showTooltip(bars,false);
	            }
        .....
         }

      Chart.defaults = { global: { ... // Array - Array of string names to attach tooltip events //tooltipEvents: ["mousemove", "touchstart"

[2015-10-29 07:19] DrDeath72 opened #1591 "line chart hide only x labels and responsive height"
Version: 1.0.2
1. how to hide only x labels and leave it on points hover?
2. how to fix height when responsive?

[2015-10-29 13:51] matt314hew commented on #1585
Thanks for the information.  I will look at that new method.

[2015-10-29 13:51] #1585 closed

[2015-10-29 19:39] SteveVanHorn opened #1592 "v2.0-Beta Vertical Line when plotting Line Chart on top of Bar Cart"
I have 2 datasets. The first is a bar chart. The second is a line chart. The line chart is plotting with a vertical line up to the first value. This didn't happen in alpha4.

Here's a pen that shows it.
http://codepen.io/SteveVanHorn/pen/epKpEL?editors=101

[2015-10-29 21:56] etimberg commented on #1592
Closing as duplicate of #1590

[2015-10-29 21:56] #1592 closed

[2015-10-30 04:35] rsdev-darshan opened #1593 "Waterfall charts"
Does Chart.js provide waterfall charts as well?

i really need one, in chart.js only.

[2015-10-30 07:24] AnniekJose opened #1594 "irregular charts with scatter.js"
I grabbed Chart.Scatter.js with bower install, but I can't seem to get it working.
I keep getting the error: TypeError: (intermediate value).Scatter is not a function.
Does anyone know where this function is called or use, or what could be wrong?

[2015-10-30 12:13] AnniekJose commented on #1059
Okey I'm totally new to this so maybe someone can explain how I can get this latest 2.0 dev branch? Cause I am also looking for some kind of time scale for in my charts.

[2015-10-30 12:20] francisdb commented on #1059
@AnniekJose download these 2 files
https://raw.githubusercontent.com/nnnick/Chart.js/v2.0-dev/Chart.min.js
https://raw.githubusercontent.com/nnnick/Chart.js/v2.0-dev/Chart.js

[2015-10-30 14:30] AnniekJose commented on #1059
@francisdb okey thanks! and then put them in my original Chart.js file? should they replace the old Chart.min.js and Chart.js files or should they co-excist in another folder (the v2.0-dev folder).

[2015-10-30 15:21] francisdb commented on #1059
You should replace them but likely the api will not be compatible so this will not be a simple drop in replacement. And since it's a development version things might change over time...

On the other hand I don't think it's a good idea to use dev versions if you are not used to playing with this kind of stuff.

[2015-10-30 23:32] overflood commented on #592
+1

[2015-10-31 00:19] iroller opened #1595 "Draw vertical lines using latest dev version"
Is there a way to draw vertical lines (http://jsfiddle.net/dbyze2ga/) in the latest dev version?

[2015-10-31 17:29] etimberg commented on #1583
Fixed in #1596

[2015-10-31 17:29] #1583 closed

[2015-10-31 17:30] etimberg commented on #1584
Fixed in #1596

[2015-10-31 17:30] #1584 closed

[2015-10-31 21:07] tolgap commented on #873
Is there any workaround for this in its current state? I'm just ran into this issue. Can I create the `Line` chart in a certain way to allow an empty initial dataset?

[2015-10-31 22:22] stephanarts opened #1598 "[v-2.0] Linechart x-scale gets confused with a lot of datapoints."
When the number of datapoints / width ratio is too high, the chart is no longer rendering it correctly.

This is with 60 datapoints that can be rendered correctly:
![okay-chart](https://cloud.githubusercontent.com/assets/1883548/10866193/48acf8f8-8025-11e5-8a86-0aef24632bfc.png)

But when the width is reduced, it appears like this:
![broken-chart](https://cloud.githubusercontent.com/assets/1883548

[2015-10-31 22:34] etimberg commented on #1598
I think what happens is that the time scale decides that it can't show 1 hour increments for all the data, and jumps up to 1 day instead of trying 2 hours, 3 hours, etc. Shouldn't be too hard to address

[2015-10-31 22:36] tannerlinsley commented on #1598
I'm not sure the approach to take to fix that. Any ideas would be appreciated.

[2015-10-31 22:38] etimberg commented on #1598
I have some ideas that in theory don't sound too hard. Will try and design it out.

[2015-11-01 04:08] marekr commented on #1573
I get the same error, the problem is in the "beta" of chartjs 2.0, you must have data specified with datasets when initializing the chart. Something broke from the alpha where you didn't need initial datasets.

[2015-11-01 05:15] stephanarts commented on #1598
It actually goes from 2 minute increments to 1 hour increments.

IMHO 1,5,10,15 30 and 60 minute increments would make more sense for a timeline at this scale.

I am curious what kind of solution you come up with.

[2015-11-01 05:56] tannerlinsley commented on #1598
We talked a bit about partial ticks. I also really like your suggestion. Making another tick level that is in fact 15 minute increments of an hour. To that we could add more like 6 or 12 hour increments for days, etc. Really anything that is a common partial time unit. @etimberg? This way we wouldn't really need to do partial ticks and instead just create enough specificity levels to accommodate a

[2015-11-01 06:10] stephanarts commented on #1598
@tannerlinsley I don't think this would be a replacement for partial ticks. The behaviour I showed above would still occur with the smaller time units. You would see an empty graph where you would not expect it.

Closely related to this, I come to think of the following. suggestedMin/suggestedMax for the X-axis.
If you want to show a graph from 01:10 to 03:10 but happen to only have data starting

[2015-11-01 06:49] tannerlinsley commented on #1598
There the "to" and "from" properties that limit the min and max of the x scale.  Will that not do?

[2015-11-01 06:53] stephanarts commented on #1598
Hmm, it might. Let me try. :)

[2015-11-01 06:55] tannerlinsley commented on #1598
It's `scale.options.time.to/from` I think.

[2015-11-01 06:56] tannerlinsley commented on #1598
Oh good.

[2015-11-01 09:10] stephanarts commented on #1598
I set it like this:

`config.options.scales.xAxes[0].time.from = config.data.datasets[0].data[0].x`

But that does not override the rounding of the intervals.

[2015-11-01 09:55] pascoual commented on #1325
Where to find how it works in v2 doc ?
https://github.com/nnnick/Chart.js/tree/v2.0-dev/docs

[2015-11-01 11:56] stephanarts commented on #1579
Confirmed.

[2015-11-01 11:56] #1579 closed

[2015-11-01 16:52] etimberg commented on #1587
This appears to be the case when a `touchend` event fires

[2015-11-01 22:33] etimberg commented on #806
This is fixed in v2. see: http://jsfiddle.net/7fgj3qge/5/

[2015-11-01 22:33] #806 closed

[2015-11-01 23:04] etimberg commented on #531
The good news: this has been fixed in v2.0. (currently in beta).
I've created a new [fiddle](http://jsfiddle.net/8utf9pyz/1/), based on the original, that shows it working.

The bad news: I'm not sure what fixed the issue. The original fiddle had an issue with creating multiple charts on the same canvas without calling `destroy`. V2 also has a brand new resize handler. It could also be related to

[2015-11-02 00:43] etimberg commented on #1330
@yergo I think this has been fixed by changing the array. Can you confirm that this works for you?
[code]

[2015-11-02 00:50] etimberg commented on #1324
@tannerlinsley can confirm that this issue still exists in v2

[2015-11-02 00:58] etimberg commented on #955
Closing this issue as abandoned. Not sure what the cause was but it looks like a canvas rendering bug.

[2015-11-02 00:58] #955 closed

[2015-11-02 01:13] etimberg commented on #1344
Closing since this appears to be fixed

[2015-11-02 01:13] #1344 closed

[2015-11-02 01:15] etimberg commented on #1588
@ryx725 we don't have anything at the moment to handle clicks on labels. If you're up for writing a PR, we'd be happy to look at it. I'm not sure how hard it would be,

[2015-11-02 01:46] etimberg commented on #1593
@rsdev-darshan Chart.js does not currently provide waterfall charts. Support could be added to v2.0. Currently v2 stacked charts are implemented with separate `stacked` options on both the x and y scales. The behaviour when only the y axis is stacked produces: http://jsbin.com/wuqulu/edit?html,js,output

If you're feeling up to it, you could modify `src/controllers/controller.bar.js` to parse a ne

[2015-11-02 02:21] etimberg commented on #1595
@iroller there is currently no way to do this. If you want to use the v2.0 beta, you could modify `Core.Scale` in `src/core/core.scale.js` to call a config option that allows custom drawing.

I was thinking the option could be similar to the following. The only problem I foresee with the option on the scale is the draw order. It may make more sense to place this option elsewhere.
[code]

To implem

[2015-11-02 06:42] nithya-hcl opened #1605 "Canvas cuts edges of pie chart using chart.js in php code"
![cutonpie](https://cloud.githubusercontent.com/assets/14291803/10875547/9a73d082-8159-11e5-9506-0d80e63585b6.PNG)

Like above image,canvas cut off the edges of pie chart.I am trying to adjust width and height of canvas.When width is high ,bottom will be cut and when height is high sides will be cut.

Here my code in php for canvas:

           `printf('<table>');
            echo '<tr><td style="

[2015-11-02 07:28] guruparthi19 opened #1607 "Set maximum width of bar"
Look image:
![arep-charts](https://cloud.githubusercontent.com/assets/7565995/10876262/30a9c8c0-8161-11e5-8741-79eba3e69ea5.png)

The width of bar is too wide. I want to set maximum width of bar. How to set? Is any option like responsive?

[2015-11-02 10:56] yergo commented on #1330
Will have some troubles to test it now. I've already migrated to other library.

[2015-11-02 12:01] danwellman opened #1608 "Allow additional label text properties"
Add an option to allow additional styles for the label text, e.g. text-transform

[2015-11-02 12:32] etimberg commented on #1607
@guruparthi19 which version are you using?

[2015-11-02 12:45] guruparthi19 commented on #1607
I've used version 1.7

[2015-11-02 14:47] AImani commented on #1146
i need this
chart.datasets[0].hide()

when is 2.0 coming?

[2015-11-02 15:11] etimberg commented on #1146
@AImani v2.0 is currently in beta. It already supports adding an attribute to a dataset to hide it.

This is shown in: https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/bar.html#L48

[2015-11-02 15:49] nearwood opened #1609 "Adding and removing data in 2.0"
The docs in the 2.0.0-beta and 2.0.0-dev branches say that adding and removing data can be done with `addData` and `removeData` methods. I do not see these in the Chart.js code though. Mentioned in [another issue](https://github.com/nnnick/Chart.js/issues/1197#issuecomment-112514717) is the possiblity for a `removeAllData` method. But [in another](https://github.com/nnnick/Chart.js/issues/1356#iss

[2015-11-02 16:36] AImani commented on #1146
thanks , for answer
but this is in beta version
i want use in my website, i need stable

[2015-11-02 17:55] iroller commented on #1595
Sure thanks! I'll look into it during this week

[2015-11-03 05:06] fulldecent opened #1610 "Move documentation to gh-pages"
Copy `docs` to a new branch and build the documentation using Jekyll / GitHub pages.

[2015-11-03 14:21] stahloliver opened #1613 "Stroke of the first scale line"
I am going for something like this:

![screen shot 2015-11-03 at 15 19 24](https://cloud.githubusercontent.com/assets/7276198/10910192/536837ec-823e-11e5-87f8-636bc65088c7.png)

Is there a way to make the stroke bigger for the first scale line?

[2015-11-03 15:21] #1613 closed

[2015-11-03 18:50] gfarrell commented on #1609
Also seen this. Neither `addData()` nor `removeData()` exist, but I have a new dataset that comes in and I'd like to update the chart. What's the best way of doing this?

[2015-11-03 18:53] tannerlinsley commented on #1609
We're working on official documentation for 2.0 as we speak. As for this question, we have improved the api for adding and removing data by actually removing the api.  All you need to do now is manipulate the existing data objects you passed, and call `chart.update()`!  Pretty simple, and it allows you to update your data objects however you see fit.

[2015-11-03 18:55] gfarrell commented on #1609
But @tannerlinsley if I look at the chart.js object, there are many places these data objects are stored:

* chart.config
* chart.scales.x-axis-0.data
* chart.scales.y-axis-0.data
* chart.data

(as far as I can tell from inspecting it at runtime).

Say I have some `newData` arriving, how do I update the chart?

[2015-11-03 19:00] gfarrell commented on #1573
Hmm, unfortunately I am initialising with an empty array (if I have no data).
Just checked with the latest build and the `time` scale is still breaking with the same error as above.

[2015-11-03 19:03] gfarrell commented on #1573
I wonder if it's related to this warning:

   Chart.js - Moment.js could not be found! You must include it before Chart.js to use the time scale. Download at http://momentjs.com/

I am using browserify to modularise my code, so there is no `window.moment` object. Chart.js really shouldn't rely on window.moment, but rather assume some sort of module loading system.

I have no idea if this is the ac

[2015-11-03 19:03] gfarrell commented on #1573
Actually I think that might be it, as it comes from line 5560 in Chart.js (where the time scale is initialised).

[2015-11-03 19:04] marekr commented on #1573
I use momentjs directly as a package. In my case its not the cause of the firstTick.clone() error.

[2015-11-03 19:12] gfarrell commented on #1573
Ok, I can verify that relying on the existence of `window.moment` is causing the errors I'm getting above. I'll submit a separate issue for this.

[2015-11-03 19:13] tannerlinsley commented on #1573
This is likely the issue.  If you want to submit a PR that would look for either window.moment or use require or some other loader, please do, and I'll merge it in.

[2015-11-03 19:33] gfarrell opened #1614 "Relying on the existence of global window.moment breaks time scale when using packages"
[src/scales/scale.time.js#4](https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/scales/scale.time.js#L4) runs a check for a global `window.moment` in order to use moment.js.

If we're using browserify, require.js, webpack or some other module loader (as we really should instead of having globals all over the place), then this check will obviously fail. This causes the `time` scale to break, givi

[2015-11-03 19:35] gfarrell commented on #1573
@tannerlinsley I'll see what I can do. Currently including moment.js in additionally via a CDN as I have to have this working for tomorrow morning.

[2015-11-03 19:42] gfarrell commented on #1609
Ok, here's my solution:

    chart.data.labels = nextData.labels;
    chart.data.datasets[0].data = nextData.datasets[0].data;
    chart.update();

[2015-11-03 19:46] tannerlinsley commented on #1609
Technically the intended location for changes is the same data object you passed in your chart config.  Doing it any other way will work as well, as any data property on the chart object is merely a reference to the original. I hope that makes sense.

I would personally do this:

[code]

[2015-11-03 22:02] jtblin commented on #873
Ue 0 or `null` values.

[2015-11-03 23:14] etimberg commented on #1263
#1601 has been merged fixing this issue.

[2015-11-03 23:14] #1263 closed

[2015-11-04 10:54] RichardAtDP opened #1615 "Unable to display multiple Graphs on one page"
Hi,

I'm trying to display multiple line graphs on the same page, however only one graph is ever displayed. The browser is not showing any error messages.

I've included the stripped-down code below (using the 2.0 beta).

Any ideas how to fix would be appreciated!

Thank you.

[code]

[2015-11-04 12:34] justanotheranonymoususer commented on #1244
So, is v2.0 not backwards compatible?

[2015-11-04 12:51] RichardAtDP commented on #1615
Hi,

I fixed the issue. The window.onload was only being called once.

The solution is to put the chart call in one window.onload function like this:
[code]

[2015-11-04 12:51] #1615 closed

[2015-11-04 12:53] etimberg commented on #1615
@RichardAtDP I'm not sure if it's just the sample, but you are storing both chart variables in `window.myLine`. Could you please drop your code into a jsfiddle as well?

[2015-11-04 12:56] etimberg commented on #1244
@justanotheranonymoususer v2 is not backwards compatible with v1.

[2015-11-04 13:25] Kimberlygs opened #1616 "Is there a way to properly display labels in a stackedbar?"
Hi
I added this piece of code to display tooltips inside the bars.

[code]
But now I have a stackedBar so i was wondering if there is some way to show the tooltips in the correct bar

<img width="711" alt="screen shot 2015-11-04 at 2 23 08 pm" src="https://cloud.githubusercontent.com/assets/6680606/10939139/9bd670c2-82ff-11e5-8107-7dbedd958b29.png">

Thank you

[2015-11-04 15:49] ghost opened #1617 "Unable to display data in a combo bar-line (ChartJS 2.0)"
Hi,

I have a weird problem with my combo bar-line which should display like this : http://i.stack.imgur.com/7pVUf.png

I use angular and bootstrap to display a particular chart when i click on a tab.

I load asynchronously datasets, then i put them in a new Chart() instance displayed in my page. (I clear the last chart with destroy() method).

But sometimes, nothing appears in my canvas, there ar

[2015-11-04 18:28] jakesyl commented on #592
Appears to be fixed in #1092 and #1470 has been merged.  @etimberg are we good to merge?

[2015-11-04 22:36] etimberg commented on #592
@jakesyl i think we can backport #1470 to v1

[2015-11-05 01:57] peter4548 opened #1618 "Default color palette"
It would be nice if charts could have a default color palette without one having to be explicitly specified.  For instance, it would be nice to feed in an array of data for a pie chart and have ChartJS take care of the colors, unless the user wants to manually specify them.  Same for bar charts, etc.  [jqPlot](http://www.jqplot.com/docs/files/jqPlotOptions-txt.html) has this option.

Great work--t

[2015-11-05 07:21] dusano opened #1619 "Line chart starts at origin not at the first data point"
On Line chart the line starts at the origin and not at the first data point. See attached screenshot of samples/line-multi-axis.html (I've just changed colors for the issue to become more prominent). Is this a bug in 2.0.0-beta or I misconfigured something).

<img width="696" alt="screen shot 2015-11-05 at 08 16 22" src="https://cloud.githubusercontent.com/assets/139641/10962153/2fa41ed0-8396-11e5

[2015-11-05 08:16] rohan210 commented on #940
I've had asked this question on Stackoverflow. It was a bit open ended as we were in a phase of researching for a better option to plot charts. (I understand as the data points grow it might clutter the plotting of graph).

https://stackoverflow.com/questions/28581364/display-all-tooltips-in-chartjs

Had to go with highcharts solution :(. But I would still like to see this implemented as an improv

[2015-11-05 10:26] Shin1gami opened #1620 "Composer install ignores everything"
When i'm trying to install Chart.js via composer, there is only one "bower.json" file in vendor/bower/chartjs.
Can ignore section with "**/*" cause this problem?

[2015-11-05 12:24] etimberg commented on #1619
@dusano this is a bug in the beta0. It was already fixed by @tannerlinsley #1590 was the original issue.

[2015-11-05 12:24] #1619 closed

[2015-11-05 18:17] jakesyl commented on #1620
@Shin1gami, that composer dependency is not based on this repository.  It's based off ```https://github.com/andreybolonin/Chart.js/```

[2015-11-05 20:17] ausrussell opened #1622 "Charts not showing in IE9 or IE10 v2.x"
Just for the v2 dev version using ie9 I'm not seeing the charts drawn into the canvas element (I tried line and bar charts). I tried tracking down where the issue is occurring without success.

I'm also seeing the issue in IE10... I'm using the sample files.

Am I doing something wrong or is this a known issue?

[2015-11-05 20:48] kishorevaishnav commented on #1209
:+1:

[2015-11-05 22:18] GlenKPeterson opened #1623 "Need to more completely suppress points and have differently customized tool tips"
We decided to upgrade our charts at work after seeing how great the look and simplicity of Chart.js was.  But we had existing chart functionality, mainly color bands to show what values were on target (green), behind plan (yellow), or off track (red).  We had to make some changes to Chart.js itself in order to build these charts:
![screenshot from 2015-11-05 17 00 39](https://cloud.githubuserconte

[2015-11-05 22:30] Maraket opened #1624 "Multiple Charts on a single canvas"
I think a useful feature would be the ability to overlay charts on a single canvas. I know this would be difficult though this could provide a very useful level of functionality.

[2015-11-06 01:07] GlenKPeterson commented on #1623
My changes are here:
https://github.com/GlenKPeterson/Chart.js/tree/2015-11-05_lineBackgrounds

I'm going to have to work on this tomorrow.  I contributed to Chart.js-errorBars last week and since that's based on the upstream Chart.js git wanted to merge my changes there.  I changed things around so I've got this now, which I think is correct:

    $ git remote -v
    origin	https://github.com/Gle

[2015-11-06 14:28] GlenKPeterson commented on #1623
All set!  The pull request associated with this issue is here:
https://github.com/nnnick/Chart.js/pull/1625

[2015-11-06 22:15] brwinkle opened #1626 "Cannot set property 'canvas' of undefined"
`this` is undefined when I try to create a chart.

I'm wondering if ChartJS should stop relying on `this` being defined.

[2015-11-06 22:22] #1626 closed

[2015-11-06 22:24] brwinkle commented on #1626
Nevermind, I was using it wrong...

[2015-11-08 20:12] JapSeyz opened #1629 "[v1.0.2] MultiTooltipTitle is undefined"
Hey.

I've been trying to change the title in the MultiTooltip for a while now, but cannot seem to find anything which can change it away from undefined.

This is my chart creation code:
[code]

It looks like this. I dunno why it says undefined.
![screenshot_6](https://cloud.githubusercontent.com/assets/2234034/11022382/735a6ade-865d-11e5-9b68-d33fd1f4cc32.png)

[2015-11-08 20:43] JapSeyz commented on #1629
I fixed it by setting tooltipTitleFontSize = 0 in the settings.

[2015-11-09 01:48] swensel opened #1630 "X-axis pushing chart off of screen"
On Chart.js version: 1.0.2, I've noticed that if there is an x-axis value that is too long, it pushes the chart out of visibility on the canvas.

It looks like 2.0 has some new options for axises, and I'm wondering if there will be a setting that resolves this issue, ideally by ellipsifying the axis values if they exceed a certain width?  Or, perhaps in 2.0 there would be some default width where

[2015-11-09 05:10] sinneren commented on #1622
In 8,9 & 10 doesn't work too.

[2015-11-09 07:40] ryx725 commented on #1588
@etimberg Thanks.
 Anyway, I can use some button to simulate.
I use Version: 1.0.2

[2015-11-09 07:40] #1588 closed

[2015-11-09 09:11] fercreek commented on #1624
+1

[2015-11-09 14:57] jakesyl commented on #1624
What's wrong with using multiple canvases?

[2015-11-09 14:59] jakesyl commented on #1620
@Shin1gami try it now

[2015-11-09 19:28] ausrussell commented on #1622
Ok then, I'm going hunting for the bug.

Wish me luck or even better give me some ideas about what might be wrong... anyone?

[2015-11-09 20:47] alfadog67 opened #1631 "2.0.0 override not working on BarChart"
BarChart option: override not working:
The 2.x documentation (https://github.com/nnnick/Chart.js/blob/v2.0-dev/docs/03-Bar-Chart.md#chart-options) says:
[code]
I tried to place it into the ticks object, since startWithZero was moved there (http://jsbin.com/gomeko/edit?html,js,output):
[code]

but no joy. Is it a missing feature, or am I doing it wrong?

[2015-11-09 21:29] honza889 commented on #1631
Try syntax from scatter-multi-axis example:
https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/scatter-multi-axis.html#L105

[2015-11-09 21:50] alfadog67 commented on #1631
Hi Jan,

I don't think there's a problem with my syntax, but here's a quick
glance. This runs fine:

         var myBarChart7 = new Chart.Bar(ctx, {
             data: data,
             options: {
                 responsive: true,
                 responsiveAnimationDuration: 500,
                 scales:{
                     yAxes:[{
                         ticks: {

[2015-11-10 03:04] quantwizard opened #1633 "How do I customize the labels?"
Hi,
I want to customize my labels like the following picture.
For each hour, I have different number of values, so how do I generate the line chart like the picture?
Thanks a lot!
![pic](https://cloud.githubusercontent.com/assets/9456493/11053287/c994495e-879a-11e5-89f9-2ead9a372e71.jpg)

[2015-11-10 04:48] nolros commented on #592
ran into the same problem with the latest version and Angular 1.4. As per a comment above it seems to be a data latency issue and as such I built a simple $interval in the directive that solves the problem but you could timeout to the same in JS.

<code>
    *//HTML*
    <canvas id="section-{[{ section.chart.app_id }]}" width="{[{ section.chart.width }]}" height="{[{ section.chart.height }]}" donu

[2015-11-10 05:58] RijadR opened #1634 "Issues in Pie Chart Label"
While hovering the pie chart getting a console error, "getLabelForIndex is undefined", Also please tell me how to display labels in pie chart.?

[2015-11-10 06:43] sinneren commented on #1622
Just can wish U luck.

[2015-11-10 08:39] Maraket commented on #1624
Well I would like to try and overlay certain graphs (i.e a doughnut chart
over a pie graph, to allow for 2 sets of the data to be correlated, or a
column graph with a line chart) and allow to show correlation or save room
on the page

On 10 November 2015 at 01:58, Jake <notifications@github.com> wrote:

[2015-11-10 09:50] FerminGalarga opened #1635 "[v2.0] Remove vertical line on Y-axis from 0,0 to start value on Line Graph"
![captura de pantalla 2015-11-10 a la s 10 35 33](https://cloud.githubusercontent.com/assets/15773798/11058965/098b142e-8797-11e5-95db-0ae76bc2968a.png)
I'm using the default options except fill: false
How I can remove this?  Is a bug?

[2015-11-10 10:49] greldinard commented on #350
I had the same distressing hover effect using one canvas for changing charts. For me the following was the solution. I found it @ http://stackoverflow.com/questions/24815851/how-do-clear-a-chart-from-a-canvas-so-that-hover-events-cannot-be-triggered - Answer from xchiltonx (modified):
[code]
I tried something with `typeof myChart != 'undefined'` - but it didnt work out. I hope it will work for you

[2015-11-10 12:37] etimberg commented on #1624
@Maraket combo charts between bars and libes are supported in v2. The relevant sample file shows you how to accomplish this.

[2015-11-10 12:39] etimberg commented on #1635
This is a bug. It was already fixed in 74c04a3

[2015-11-10 12:39] #1635 closed

[2015-11-10 16:49] Samuel1989 opened #1636 "Bar chart doesn't display negative values."
I have looked at the pre-existing issues which all seem to imply that this was fixed in 1.x... However, when trying the following:

[code]

All bars start from -100... Am I missing an option?

Thank you,
Sam

[2015-11-11 01:37] cesar-tonnoir commented on #1147
The issue is still there in v2.0-dev:
https://github.com/maestrano/impac-angular/issues/19

I think it occurs only with float values though...

[2015-11-11 03:07] vml-egruber commented on #10
Curious, is there an easy way to place the numbers at the top of the bar chart instead of at the bottom? Maybe I'm missing it.

[2015-11-11 03:48] vml-pthurmond commented on #608
@Timer I tried viewing your github link and github gives me a 404. Is your repo not public? That has happened to me before when I didn't log in and tried to access one of my private repos. Maybe a quick diff pasted in here?

[2015-11-11 03:57] etimberg commented on #10
@vml-egruber which numbers are you referring to?

[2015-11-11 03:59] etimberg commented on #608
@vml-pthurmond i can't access it either. That being said, I'd be happy to merge a PR into v2 adding this functionality for scales. All scales have a common draw method so this shouldn't be repetitive.

[2015-11-11 05:35] gismanli opened #1637 "Version 1.0.1 the `scaleLabel` of the compressed file bug rendering"
Chart.js in the 492nd lines and 494th lines of the regular expression of the "\t", the compressed file "chart.min.js" in the compressed into a space, resulting in a template matching error, can not be rendered.

[2015-11-11 05:36] vml-egruber commented on #10
@etimberg Sorry, I was referring to the numbers on the x-axis at the bottom.

[2015-11-11 06:19] vml-pthurmond commented on #608
@etimberg That might be helpful to others. Right now I need it for a v1 project. Specifically to use with a new StackedBar chart type we created. Unfortunately I don't have time to try to pull down v2 and make sure it doesn't break our site (trying to get this done before tomorrow).

You wouldn't have any pointers on doing that would you?

[2015-11-11 09:39] limitstudios opened #1638 "[v2.0-dev] Hovering over a tooltip with multiple options flickers and line colours do not show in tooltip legend"
Testcase: https://jsbin.com/jesofiluxo/edit?html,js,output

[2015-11-11 10:33] emnik opened #1639 "Graph not shown if initially (on page load) is in a hidden div (using bootstrap)"
I have placed the canvas inside a div with the class: hidden-xs (available in the [bootstrap] (http://getbootstrap.com/css/#responsive-utilities)), so when I use a small screen the div is invisible, whereas when I use a larger screen is visible.
If I load the page having the browser at a small width -so that the canvas is invisible- and the resize the browser window, then the div is getting visibl

[2015-11-11 12:18] etimberg commented on #10
@vml-egruber this is possible using v2 but not possible in v1. In v2,  include the following in your config.

[code]

[2015-11-11 12:23] etimberg commented on #608
The best way is to create a function that splits on newlines then calls `fillText` for each line. You'd also need to make sure to measure height of these blocks correctly

[2015-11-11 14:45] wadacoder commented on #1618
Completely agree with @peter4548, in fact, I think it's an issue with the documentation.

I used PieChart and since the color property in the chart data was regarded as optional per the documentation, I left it out of my data and got pretty bad results. It was an all black PieChart, separated by white segment strokes. And when I hovered over the chart slices, they changed to white. This resulted i

[2015-11-11 18:09] andi-b opened #1640 "v2.0 Update issue for bar chart"
This almost works correctly - the initial loading of data is correct, but when I do the following with new data for barChartData :

[code]

Only the chart itself updates with the correct data, but tooltip is incorrect. So I then did the following:

[code]

The label is now correct, but the value(yLabel) of the tooltip is still incorrect. It looks like it's the yLabel that is returning old data on

[2015-11-11 22:54] juliusl opened #1641 "v2.0.0-Beta tooltips.custom doesn't seem to be used"
Hello,

Building the [chart.js-2.0.0-beta](https://github.com/nnnick/Chart.js/releases/tag/2.0.0-beta) source it looks like custom tooltips are not being used?
[code]

Searching through the code I can't see where this.options.tooltips.custom is actually being called. I was wondering if anyone had some context on what's going on here? Excuse my ignorance.

[2015-11-11 23:08] etimberg commented on #1641
@juliusl https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/core/core.tooltip.js#L299-L301 I believe that was an issue that was identified after the beta was released. @tannerlinsley are we good to make a beta2 release soon?

[2015-11-11 23:16] etimberg commented on #1640
The issue here is that internally the data object is attached to lots of places (scales, tooltip, etc). The solution is to simply store the reference to the data object in a single place.

[2015-11-11 23:18] tannerlinsley commented on #1641
Yes, I think we could make one as soon as possible to fix a few of those errors.  I personally use custom tooltips so it would be great to have that in the latest beta

[2015-11-11 23:32] etimberg commented on #1533
Closing since this has an answer.

[2015-11-11 23:32] #1533 closed

[2015-11-11 23:50] etimberg commented on #1482
This appears to have already been fixed

[2015-11-11 23:50] #1482 closed

[2015-11-12 00:37] etimberg commented on #1330
I have been testing this. It looks to be fixed. Please re-open if it still reproduces.

[2015-11-12 00:37] #1330 closed

[2015-11-12 02:00] etimberg opened #1643 "Bubble, Doughnut, PolarArea, and Scatter Charts have old template properties"
### Bubble Chart
Has tooltip and multi-tooltip templates

### Doughnut
Has a legend template

### Polar Area
Has a legend template

### Scatter
Has tooltip and multi-tooltip templates

[2015-11-12 02:03] etimberg commented on #1634
@RijadR this is a known issue with the beta. This has already been fixed in the v2.0-dev branch.

[2015-11-12 02:03] #1634 closed

[2015-11-12 03:28] juliusl commented on #1641
Awesome, I'll add that line in the meantime. Thanks guys!

[2015-11-12 13:09] vml-egruber commented on #10
Sweet, thanks!

[2015-11-13 14:06] dherges commented on #1511
Can you try this ... seems to work for me

[code]

[2015-11-13 14:07] dherges commented on #1558
Can you try this ... seems to work for me

[code]

see #1511

[2015-11-13 14:08] dherges commented on #1312
see #1551

[2015-11-13 15:11] etimberg commented on #1324
I've been looking into this. There are a number of issues at play.

1. Point background colour is used for the tooltip
2. `backgroundColor` property is not used for points
3. Colours are rendered on top of a black background so they appear different than on the chart surface (white background).

[2015-11-13 18:18] SteveVanHorn opened #1648 "Combination bar/line chart tooltip question"
I have a bar chart with a line chart on top of it. In the alpha4 release, the tooltip showed the color/label/value from both datasets. In the beta, it is only showing me the bar data. Is there something simple I can do to turn the functionality from the alpha back on?

Thanks.

[2015-11-13 18:44] etimberg commented on #1648
@SteveVanHorn I've just fixed the colours in #1647

I think @tannerlinsley changed the default tooltip mode. To show for all points, ensure that you config has the following in it
[code]

[2015-11-13 20:18] alfadog67 opened #1650 "Charts.js 2.0.0-beta Firefox High CPU usage on finished page"
I have 9 bar charts on a single page, each with 6 labels and 6 data points, and created with the following options:
[code]
Where [l] is an array of 6 (non-null) strings and [d] is an array of 6 (non-null) numbers.

After the page is completed drawing the 9 charts, the firefox CPU usage wil level off at between 20 and 50%.

When I reduce the number of charts to 4, the CPU levels off at between 10 a

[2015-11-13 22:11] SergioMacGyver commented on #1290
+1

[2015-11-15 01:45] john-baker opened #1651 "Hide first and last point dot"
I would like to hide the point dot radius of the first and last elements while maintaining their data line.
Is this possible with Chart.js?

Thank you

[2015-11-15 04:16] DerTarchin opened #1652 "Really weird chart display errors not using browser"
I'm not new to coding but I am new to using WebView to display HTML in a java swing app. My Java swing project requires charts and graphs, and I think the prettiest out there is Chart.js. To display the javascript-created charts, I save progmatically created html and read it in to a browser (WebView page) in a JPanel (through Javafx).

Here is my issue: Chart.js (and my created HTML files) run fin

[2015-11-15 16:29] etimberg commented on #1652
@DerTarchin that's really weird. I'm not familiar with Java Swing WebViews, do you know what browser engine is used under the hood?

[2015-11-15 16:43] DerTarchin commented on #1652
I dont know but it is probably something custom by Oracle... Chart.js works fine in all modern browsers.
Here is a link to Oracle docs on WebView object: https://docs.oracle.com/javase/8/javafx/embedded-browser-tutorial/overview.htm

You can see the issue for yourself, here is a link to download the SwingBrowser I'm using (provided by Java) and through there, go to chartjs.org, click around and yo

[2015-11-15 22:52] TiREX69 opened #1655 "TypeError: Chart.Doughnut.extend is not a function"
Hi i usage:

    Chart.Doughnut.extend({
		name: "DoughnutCircle",
		draw: function() {
			Chart.types.Doughnut.prototype.draw.apply(this, arguments);
			this.chart.ctx.fillStyle = 'white';
			this.chart.ctx.textBaseline = 'middle';
	         	this.chart.ctx.textAlign = "center";

			this.chart.ctx.font = (15 * (arguments.length > 0 ? arguments[0] : 1)) + "vmin Audiowide";
			this.chart.ctx.fillTe

[2015-11-16 00:02] cesar-tonnoir commented on #1622
I have the same issue with Safari 9: charts are not showing on first page load. They are showing if I delete/re-create the canvas later in the script.

[2015-11-16 06:18] shekhar2010us commented on #1258
I used the branch 2.0 and the overlay bar and lines were working, but all my other graphs stopped working...

[2015-11-16 06:24] omarsedki opened #1656 "Is chart.js has a chart Builder Web Application for it?"
i need to know if chart.js had a web generator for it or not, and i want to know also it's legal to make one for it or no.
Because  i plan to make a modern web app with material ui that generate info-graphics or charts with chart,js
*** It Will Be version 2 of   LiveGap Chart Generator   (  http://charts.livegap.com  ) -  rank 4 to 7 for keyword "chart builder" on google.
the old Site  is building

[2015-11-16 06:55] derekperkins commented on #1656
I think that's a great idea. Let us know if you have any questions or need help with chart config!

[2015-11-16 06:56] derekperkins commented on #1656
We've actually talked about doing something like this, so we'd also be open to integrating it into the actual docs on chartjs.org if that interests you.

[2015-11-16 07:12] omarsedki commented on #1656
I Will start on it soon as The docs of Chart.js version 2 is complete to work with it.
sure  like To be linked to the docs in chartjs.org

[2015-11-16 07:17] omarsedki commented on #1656
i like also to make an area  here to discuss  the details  for the chart builder with others. Share idea  will Help be better .

[2015-11-16 09:05] KantJoe opened #1657 "question of showing tips"
1st,thank u for open ur source to make my work easier,
could u tell me how can i show numbers on hovering mouse on charts.

by the way ,u can write down ur file version on ur code like:
window.Chart = function(context){
  var codeVersion='xxxxx';
  ...
}

[2015-11-16 12:18] etimberg commented on #1656
+1 this is a great idea @omarsedki

[2015-11-16 16:44] rohandalvi commented on #559
What if I have multiple bar charts, I cannot use a single global variable for all.

[2015-11-16 18:40] ryanillman commented on #685
It makes sense that a line graph can't be drawn with only one point; however, attempting to do so causes an error, and other graphs on the same Chart instance are not plotted (even if they contain a valid number of points), which is a more serious issue:
![image](https://cloud.githubusercontent.com/assets/7374667/11191039/f5f076aa-8c4d-11e5-8adb-3e56cde91e1e.png)

If scatter plots were part of cor

[2015-11-16 22:57] fulldecent opened #1658 "Host www.chartjs.org with GitHub"
This is a task for @nnnick or anyone that is able to edit project settings on this repo.

We have moved all documentation from chartsjs.org into this project, while maintaining formatting, adding documentation, and reconstructing the Jekyll setup you have made (reverse engineered).

See: https://github.com/nnnick/Chart.js/pull/1611

And the live version: https://nnnick.github.io/Chart.js/

To comp

[2015-11-16 23:16] fulldecent commented on #1638
I see nothing, am I running it wrong?

[2015-11-16 23:17] etimberg commented on #1587
Fixed in #1644

[2015-11-16 23:17] #1587 closed

[2015-11-16 23:17] etimberg commented on #1324
Fixed in #1647

[2015-11-16 23:17] #1324 closed

[2015-11-16 23:17] etimberg commented on #1640
Fixed in #1646

[2015-11-16 23:17] #1640 closed

[2015-11-16 23:17] etimberg commented on #1553
Fixed in #1645

[2015-11-16 23:17] #1553 closed

[2015-11-16 23:18] etimberg commented on #1527
Fixed in #1642

[2015-11-16 23:18] #1527 closed

[2015-11-16 23:18] etimberg commented on #1381
Fixed in #1653

[2015-11-16 23:18] #1381 closed

[2015-11-16 23:18] fulldecent commented on #1637
Are you able to reproduce using the Release 1.1 version?

https://github.com/nnnick/Chart.js/tree/release/1.1

There is a zip button on the right to download.

[2015-11-16 23:19] fulldecent commented on #1636
Are you able to reproduce using the Release 1.1 version?

https://github.com/nnnick/Chart.js/tree/release/1.1

There is a zip button on the right to download.

[2015-11-16 23:19] etimberg commented on #1638
I think it needs to update to pull the script from rawgit.com so that it has the proper headers. I think the flicker issue had already been fixed while I fixed the colour in #1647

[2015-11-16 23:27] FeiTeng-Alfred opened #1659 "Original usage of pie failed"
I update my Chart.js script from 1.0.2 to 2.0 beta, the original usage failed. I got following error:
Uncaught TypeError: (intermediate value).Pie is not a function(…)
Here is how I use:
pieChartHolder = $placeHolder.find('#pie-chart-area')[0].getContext('2d');
 myPie = new Chart(pieChartHolder).Pie(pieData, {
            showTooltips: true,
            responsive: true,
            animationEasin

[2015-11-16 23:59] briancray commented on #1618
+1

[2015-11-17 00:58] fulldecent commented on #1658
Here is the message I got from GitHub:

[code]

[2015-11-17 02:17] #592 closed

[2015-11-17 11:38] limitstudios commented on #1638
Updated testcase to use rawgit.com https://jsbin.com/xibubimalo/edit?html,js,output

Still get flicker on Firefox 42.0 and line colouring is not in the tooltip for each item

[2015-11-17 12:37] etimberg commented on #1638
thanks @limitstudios I think this issue has already been fixed, we just need to push up a built version.

[2015-11-17 18:24] etimberg commented on #1659
@FeiTeng-Alfred v2 uses a different syntax to instantiate charts. See https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/pie.html

[2015-11-17 18:31] FeiTeng-Alfred commented on #1659
@etimberg Can you give a example how to use generateLegend() in the new version? I keep get error on that. Looks like when we use this function on pie, it won't generate legend correctly. Thanks

[2015-11-17 18:32] andi-b opened #1660 "v2.0 Line Chart start value & extend line"
![capture](https://cloud.githubusercontent.com/assets/15804274/11219769/3ec28cae-8d54-11e5-99fa-1093bc8ac9f0.JPG)

I'm not sure if this is a bug but when I have a dataset with the following data, as an example, it always seems to draw a line up from what I assume is zero:

0	10000
1	10133
2	10131.9867
3	8533.15919874
4	10466.773073174483
5	11378.42900784798
6	11823.325582054837
7	13524.70213331252

[2015-11-17 22:19] BabyAzerty opened #1661 "v2 graph overflows on y Axis"
<img width="933" alt="screencapture at tue nov 17 23 06 23 cet 2015" src="https://cloud.githubusercontent.com/assets/1152371/11226488/a1d10218-8d80-11e5-9ee8-a8f8e2a7879c.png">

    <canvas id="chart__inscriptions" width="500" height="250"></canvas>

	var lineChart, overallData;
	$(function(){
		var ctx = $("#chart__inscriptions");
		analyzeData();
		lineChart = new Chart(ctx, {
			type: 'line',

[2015-11-17 22:26] ircube commented on #73
+1

[2015-11-17 22:33] etimberg commented on #1661
hmm  @BabyAzerty what does your data look like? Is it attached to the chart as strings or numbers?

[2015-11-17 22:53] BabyAzerty commented on #1661
Great catch!

I was tricked into thinking that the data was correctly understood by ChartJS as it really did show the graph correctly beside the overflow problem...
Not really sure how ChartJS can show the points at the right locations but not the y-axis correctly?

Thank you!

Just for the record, here is the original data (which is not yet treated)

    var rawDataChartCompany = [{"for_date":"20

[2015-11-17 23:03] etimberg commented on #1660
@andi-b this is a known issue in beta0 which has already been fixed. Please see #1590

[2015-11-17 23:03] #1660 closed

[2015-11-17 23:04] etimberg commented on #1661
It should support strings as data (I don't recall any code that requires a number to be passed in). That being said, I'm going to investigate since this really should work.

[2015-11-17 23:09] etimberg commented on #1659
@FeiTeng-Alfred There seems to be a bug in the legend generation for v2 pie charts. I merged #1092 in master which may fix #592. You could also try porting #1470 to v1.

[2015-11-17 23:16] BabyAzerty commented on #1661
Here is the entire code if you need it: https://gist.github.com/BabyAzerty/d96c56d4eb0945554a9d

[2015-11-17 23:21] etimberg commented on #1661
thanks! I've replicated the issue on my end. Hopefully I can get this debugged quickly.

[2015-11-17 23:44] etimberg commented on #1661
@BabyAzerty see #1662 for the fix.

[2015-11-17 23:47] andi-b opened #1663 "v2.0 Extend Line"
![3ec28cae-8d54-11e5-99fa-1093bc8ac9f0](https://cloud.githubusercontent.com/assets/15804274/11228517/f617653e-8d84-11e5-8f5a-e13fb7f9655a.JPG)

Please see image above - Ideally, I want 10000 to be my zero line with a line going across as If it was zero, so I can change thickness and colour. I've tried many things, but can't get this to work

Alternatively, if I can get a line drawn across like in

[2015-11-17 23:52] john-baker commented on #1651
I found a similar post using different terminology.

[2015-11-18 00:08] etimberg commented on #1663
@andi-b the grid lines are drawn by the scale. The base class for all scales is in `src/core/core.scale.js`. To style an particular grid line, you could modify the scale so that the following properties are arrays
[code]

You should use `Chart.helpers.getValueAtIndexOrDefault` to make your life easier. You could modify that function to allow a sparse vector which means that not every grid line nee

[2015-11-18 00:09] john-baker opened #1664 "Line Chart Point Radius cutoff & gradient fill"
I am having an issue with my line charts point radius being cutoff at the edge and the fill not encapsulating the entire horizontal space.

See screenshot for reference: http://i.imgur.com/SyARWo0.png

[2015-11-18 00:14] etimberg commented on #1664
@john-baker which version of Chart.js are you using?

[2015-11-18 00:16] john-baker commented on #1664
My apologies, I mean to add that information: 1.0.2

[2015-11-18 00:23] etimberg commented on #1664
Hmm, I know what the issue is but I'm not sure the best way to fix it.

The offending line of code is: https://github.com/nnnick/Chart.js/blob/master/src/Chart.Core.js#L1663
I feel like it would need some user configurable padding added

[2015-11-18 00:52] john-baker commented on #1664
That does fix the cutoff issue, but does not address the fill color. My deserved effect is to omit the the edge points (first & last).

I have added this functionality for Line charts in my version of the source.

[code]

I have also added these to the Line chart default options. It's not perfect, but solved my problem.

Thank you :)

[2015-11-18 01:29] etimberg commented on #1664
Sorry, missed the fill part. It probably draws to the rightmost scale point rather than the edge of the canvas.

[2015-11-18 04:13] DerTarchin commented on #1652
Help? Its due soon

[2015-11-18 12:38] etimberg commented on #1652
@DerTarchin I think this is a problem with the Java swing webview since it doesn't reproduce anywhere else.

[2015-11-18 13:01] fansworld-claudio opened #1665 "Custom tooltips: getting current and previous value"
Hello there!
I'm trying to make a chart that displays variance in the tooltips. That is, consider the dataset [2, 3, 6, 4] - tooltips would be ['0%', '+50%', '+100%', '-33%']
So, basically, in the customTooltips function, I need to be able to access the current value, and the previous value. However, the "tooltip" object the function is fed, has no provision for this. It only cares about the curre

[2015-11-18 13:19] RichardAtDP opened #1666 "Allow Prefix and Suffix labels on data"
It would be great if it's possible to add prefixes and suffixes to series in order that they are displayed in the hover over. For example Prefix: $, suffix k giving $13k.

[2015-11-18 13:40] andi-b commented on #1663
Thanks for the response - I tried colouring the lines with an array, but didn't seem to work, although the second part of your response has led me on a better track. I amended the following in Chart.js to get me closer:

FYI: this.options.gridLines.negative = 10000;

[code]
But for some strange reason it colours each horizontal line that follows:
![capture](https://cloud.githubusercontent.com/asse

[2015-11-18 14:24] etimberg commented on #1663
@andi-b I think you need to reset the canvas style after drawing the red line. Changing the if as follows should do it. The scale was written to not add lots of resets of strokeStyle and lineWidth when nothing is changing.

[code]

[2015-11-18 14:26] etimberg commented on #1651
I'm going to try and target general hiding of points for v2

[2015-11-18 14:28] andi-b commented on #1663
Brilliant - I didn't realise I was so close :)

Many thanks

[2015-11-18 16:11] joethejones commented on #1007
@shoupjom  Thank you so much buddy boy, that probably saved me a lot of time, and was driving me nuts!!

[2015-11-18 17:03] jonatasleon commented on #73
+1
Wasn't implemented this feature in the code base yet? Does at least one PR?

[2015-11-19 02:39] etimberg commented on #1659
@FeiTeng-Alfred I fixed the pie legend generation in #1667

[2015-11-19 02:39] #1659 closed

[2015-11-19 04:14] MakersF commented on #1666
Are you talking about the tool tip?
If so, you can use
[code]
and pass it as option when you create the chart.
If you have many lines, you need to set  `multiTooltipTemplate`

Unfortunately I can not find the documentation for this template system.

BTW, in future use http://stackoverflow.com/questions/tagged/chart.js for this kind of questions

[2015-11-19 04:35] MakersF commented on #1638
I still experience the issue on the jsbin.
Replaced the cdn script with this instead https://raw.githubusercontent.com/nnnick/Chart.js/v2.0-dev/Chart.min.js to use the most up to date version

Firefox 42 on Ubuntu 14.04

I made a short video to show that (<200kb)
http://expirebox.com/download/c5e654a032bc620b71390ec1e0f33f4c.html

[2015-11-19 12:22] etimberg commented on #1666
Thanks @MakersF
@RichardAtDP the template is your best option for v1. In v2 we've moved away from the template since it's confusing to use.

[2015-11-19 12:26] etimberg commented on #1638
@MakersF i think we still need to push up a build before you'll see the issue fixed. I'm hoping we can get a beta1 out the door soon to fix this. Documentation is currently our biggest thing holding that back.

[2015-11-19 12:47] RichardAtDP commented on #1666
Thanks for the hints. I'm using v2 as there was functionality there that I required - any idea if this will be a future feature in v2?

Thanks.

[2015-11-19 13:10] MakersF commented on #1666
@etimberg I've actually replied to him, but I started using Charts.js just yesterday.

How stable is v2?
Should I use that instead of V1? I must admit that having a sane tooltip system is intriguing, but it's not that important to me and I'm pretty time constrained.
Will you put the updated documents online soon (I saw the ones on github, but they don't display the actual chart)

[2015-11-19 14:15] etimberg commented on #1666
@MakersF v2 is fairly stable (I don't forsee any external API changes now before release) but there may be bugs we are still working through.

@RichardAtDP in v2 you can use the callback as suggested by @MakersF
https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/scatter-logX.html demonstrates it's use

[2015-11-19 15:52] richl5 commented on #1631
Any news on when the y-axis override, and max/min values will be included again? Very useful feature for my planned application - please bring it back soon...

[2015-11-19 17:51] MikeGraf commented on #928
I've created a gist that takes in a custom property based on this code:

https://gist.github.com/MikeGraf/149c6ec2640288de6df7

Just thought I'd share.

[2015-11-19 19:41] toddmedema commented on #1395
Following up here - would love to see this! Responsive charts are kinda broken otherwise, they look great on mobile but get HUGE on desktop

[2015-11-20 01:49] etimberg commented on #1661
CLosing as #1662 was merged

[2015-11-20 01:49] #1661 closed

[2015-11-20 07:14] jt4000 opened #1671 "Customized Chart"
I'm wonder if ChartJS has a ability to create this type of chart below?

If not, do you know any chart that has this ability?

Thanks!

![jj](https://cloud.githubusercontent.com/assets/14993569/11293866/8a376f72-8f5e-11e5-9754-5b80e60112ca.png)

[2015-11-20 07:50] jt4000 opened #1672 "Show Title for the line"
I would like to have line's title beside to the chart, is it possible to do it?

In Angular Chart you are enable to do it.

![uu](https://cloud.githubusercontent.com/assets/14993569/11294414/a320dd0c-8f63-11e5-8ca7-ad44233cd32d.png)

[2015-11-20 08:21] jt4000 opened #1673 "TooltipTemplate"
When you use tooltipTemplate:, it works for single dataset and not two datasets.

Two dataset:
https://jsfiddle.net/wckfhrsa/10/

One dataset:
https://jsfiddle.net/4pp64drv/1/

[2015-11-20 12:22] etimberg commented on #1673
@jt4000 `multiTooltipTemplate` is used when there is more than one dataset

[2015-11-20 12:51] etimberg commented on #1671
I think there is an extension for 1.0 that adds stacked bars. The chart title would need to be done in HTML.

[2015-11-20 12:52] etimberg commented on #1672
The angular chart project is probably adding tgia themselves.

[2015-11-20 14:17] jt4000 commented on #1673
The result from the jsfiddle is totally different from your statement. I strongly recommend you to take a look at the link

[2015-11-20 14:17] jt4000 commented on #1672
tgia?

[2015-11-20 14:17] jt4000 commented on #1671
Do you have the link for it?

[2015-11-20 15:51] etimberg commented on #1673
@jt4000 I did look at the JSfiddle. When there is more than one dataset (and thus more than one item to show) a different template option is used. I modified the JSFiddle and it worked as expected.

The option that you want to use is `multiTooltipTemplate`
Please see: http://www.chartjs.org/docs/#getting-started-global-chart-configuration

[2015-11-20 15:53] etimberg commented on #1672
Sorry, typo on mobile. The angular code is at http://jtblin.github.io/angular-chart.js/
I'd look at their github repo.

[2015-11-20 15:56] etimberg commented on #1671
https://github.com/Regaddi/Chart.StackedBar.js

[2015-11-20 15:59] andi-b commented on #1622
Has anyone got anywhere with why it's not working in IE9 or IE10?

[2015-11-20 16:41] MakersF opened #1674 "ReferenceError: segments is not defined"
`ReferenceError: segments is not defined Chart.min.js line 10 > Function:1:184`

I get that error using the CDN version of chart.js

The really strange thing is that I'm generating the charts in python in the backend and I have a chart which is generated with the same function and the same data and it works.

How can I fix that?

There should be a graph at the right of the last one, and it should

[2015-11-20 17:01] byCedric commented on #1622
andi-b, will try it out asap! if it works, you are my hero.

[2015-11-20 17:04] etimberg commented on #1622
@andi-b if you have a fix for this, I'd be happy to merge a fix.

[2015-11-20 17:04] andi-b commented on #1622
It looks likely to be something within this code:

[code]

[2015-11-20 17:40] andi-b commented on #1622
Thought I was getting closer with the resize function, but data appears to be the same. The difference I'm getting with the HTML:

Firefox:
<canvas id="bar_chart" width="874" height="616"></canvas>

IE9:
<canvas width="0" height="0" id="bar_chart" style="width: 874px; height: 616px;"></canvas>

[2015-11-20 18:03] etimberg commented on #1622
@andi-b try investigating the resize code

[2015-11-20 18:36] karldickman opened #1675 "Bar chart won't display when y-axis values are small (Chrome)"
If the y-axis values in a bar chart are small, the chart won't display. This is because of a bug on line 331 of Chart.js. If num.toString() returns "5e-7", this code will throw a "TypeError: Cannot read property 'length' of undefined" in Chrome. Not tested in other browsers.

getDecimalPlaces = helpers.getDecimalPlaces = function(num){
			if (num%1!==0 && isNumber(num)){
				return num.toString().

[2015-11-20 20:19] catmeme commented on #1583
I was having this issue, which this pull request solved, however, the tooltips don't like to show properly. The both flicker like crazy in Chrome 45 and Firefox 42.

I checked out the v2.0-dev branch and went to the samples/pie.html page in the browser and had this issue.

[2015-11-20 21:06] etimberg commented on #1583
@catmeme try rebuilding. The flicker should already be fixed, we need to make another release (docs are holding us up at this point)

[2015-11-20 21:22] catmeme commented on #1583
Okay, thanks @etimberg

[2015-11-20 21:33] leecade opened #1676 "Is there a way to Inversion y-axis values?"
For example, the default

[code]

But I want this

[code]

[2015-11-21 04:18] MakersF commented on #1674
Added jsfiddle for convenience
https://jsfiddle.net/eru4cyqq/
Last chart is the problem

[2015-11-21 07:17] MakersF commented on #1674
The error is due to
```Chart.defaults.Line.legendTemplate = "<ul><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>";```

Can you tell my why is that wrong?

BTW I removed it from the page and everythig is working now

[2015-11-21 14:21] etimberg commented on #1643
Fixed in #1667 and #1670

[2015-11-21 14:21] #1643 closed

[2015-11-22 08:12] mrgreen222 opened #1678 "The docs at chartjs.org is broken?"
Hi!

Using safari the doc section at http://www.chartjs.org is broken. Seems to be working with chrome.

Thanks! Great software!

[2015-11-22 14:10] etimberg commented on #1678
Can confirm. Broken on Safari 9.0.1

[2015-11-22 18:10] jhead commented on #1678
Also seeing intermittent issues accessing chartjs.org and https://www.chartjs.org/assets/Chart.min.js

[2015-11-22 18:12] jhead commented on #1678
Possibly related, I'm seeing issues with HTTPS on chartjs.org.

https://www.chartjs.org
https://www.chartjs.org/assets/Chart.min.js

The above used to work properly but no longer do.

[2015-11-23 01:46] photusenigma commented on #1678
Issue is that there are lines with semicolons after the close curly brace...this is not valid CSS.
See:  http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fwww.chartjs.org%2Fdocs%2F&profile=css3&usermedium=all&warning=1&vextwarning=&lang=en

I've just verified with the dev tools that updating only the following 6 lines where the validator above indicates a "};" is present - simply remov

[2015-11-23 02:00] etimberg commented on #1678
thanks @photusenigma
@nnnick can you update the css?

[2015-11-23 07:08] jt4000 commented on #1671
Thank you for your help!

[2015-11-23 07:15] jt4000 commented on #1673
Thank your for your help!

[2015-11-23 07:17] jt4000 commented on #1672
I don't know if I understand your message, does the chartJS has this funcitonality that is marked inside of the read selection?

[2015-11-23 07:29] jt4000 opened #1680 "Remove the Red Mark Selection?"
Is it possible to remove the red mark selection? Please take a look at the picture.

https://jsfiddle.net/3k6srovL/

Thanks!

![vvvccc](https://cloud.githubusercontent.com/assets/14993569/11331499/44397384-91bc-11e5-8ff3-8777dce09104.png)

[2015-11-23 08:27] fervanrijswijk opened #1681 "No hook for max size"
I would like to have a setting for setting a max width of a charge.
What I do now is editing the resize helper, and i do not want to edit a library

nvm; can be fixed with a wrapper div and css

[2015-11-23 10:19] #1681 closed

[2015-11-23 12:13] etimberg commented on #1672
Chart.js itself does not currently have a legend like that.

[2015-11-23 12:17] etimberg commented on #1680
In your options, try setting
[code]

[2015-11-23 12:29] danclaydonpm opened #1682 "For bar charts should y-axis always start a step below the lowest value?"
Hi,

First off: I've just started digging into the beta release of v2, and its looking great!

I think it looks confusing that sometimes the y-axis starts at the same point as the lowest value because it makes it look like there is not a data point there. I think this only happens when the lowest value is also a multiple of the axis' step.

This link should help clarify what I mean: http://jsbin.c

[2015-11-23 12:31] danclaydonpm commented on #1682
Also, I'm aware that I can set 'beginAtZero' to avoid the issue but figured I would raise the issue in case this is a bug and not a conscious design design.

[2015-11-23 13:06] etimberg commented on #1682
@danclaydonpm this isn't a conscious design choice. Should be relatively easy to fix.

[2015-11-23 16:16] wcatron opened #1683 "Standardize show/display parameter name."
This is an enhancement request for version 2.x. Going through the documentation I notice in some places display is used and others show is used. Could we standardize on one?

[2015-11-23 16:25] etimberg commented on #1683
We can definitely standardize. I prefer `display` myself.

[2015-11-23 18:10] andi-b commented on #1622
I've spent quite a lot of time on this but have found a workaround, although may not work with responsive, that may help others figure out what's happening. My workaround:

[code]

[2015-11-23 18:15] byCedric commented on #1622
Yes I've got something similar working too. Fortunately we need to fix this asap for a client, so I will try to get some work done for a pull request. I will look into the responsive part too, since we use that also.

@andi-b thanks for pointing out the problematic part!

[2015-11-23 18:49] zurez commented on #920
I am also having the same issue.

[2015-11-23 23:47] xavdid opened #1686 "Chart resizes on mouseover"
See example here: http://recordit.co/3I2Cgfpao3

Chart settings are largely default, but `responsive` and `maintainAspectRatio` are both set to false.

The issue goes away if `maintainAspectRatio` is true.

I'm using [angular-chartjs](https://jtblin.github.io/angular-chart.js/) to render it (I can cross post, i'm having trouble seeing where the issue is). The data is correct, it just moves when it

[2015-11-24 00:06] etimberg commented on #1686
@Xavdidtheshadow which version of Chart.js are you using? I haven't seen this specifically before, but I have seen some weird issues with text resizing on mouse move. They may or may not be related.

[2015-11-24 00:08] Xavdidtheshadow commented on #1686
@etimberg 1.0.2

[2015-11-24 00:09] Xavdidtheshadow commented on #1686
I'm having trouble recreating it in a fiddle though

[2015-11-24 02:33] juliusl opened #1688 "Tooltip's ctx.fillStyle is set to an unexpected value in IE/Edge"
This is a weird one that I don't expect a lot of people to run into but wanted to bring it up to the community. It seems to only repro in Edge and IE (haven't checked Safari).

In this bit of code:

[code]
While the tooltip is fading out, even though this line has set ctx.fillStyle to the appropriate fade out color:
[code]

ctx.fillStyle sometimes is set to something completely off.

For example,

[2015-11-24 03:30] etimberg commented on #1688
Hmmmm, that's a neat one. I wonder if this happens if you try to do `ctx.fillStyle = undefined`
My reason for this line of thinking is that we use a modified version of https://github.com/MoOx/color for colour parsing. Maybe it can't handle applying an opacity to `rgba(0, 0, 0, 0)`

For reference, our forked version is: https://github.com/chartjs/color

[2015-11-24 07:10] wcatron commented on #1676
Note #579. It will be built into version 2.

[2015-11-24 07:29] wcatron commented on #1631
I believe this is being modified slightly to `suggestedMin` and `suggestedMax`. I'm add a PR for the documentation to be updated to show these.

[2015-11-24 13:05] etimberg commented on #1631
`suggestedMin` and `suggestedMax` are the best option right now. There are a bunch of callback functions in the scale code that we can expose. Then you could simply change the ticks array after is has been generated by passing in a function in your config.

[2015-11-24 13:10] byCedric commented on #1622
Thanks for merging this @etimberg! Hope this fixes this issue for all of you. I tested this fix on `windows 7` using `VirtualBox`, `IE9` and `IE10`, using [modern.ie](http://modern.ie). Let me know if this issue still exists, it's important for us (client and company) this works. :)

[2015-11-24 17:08] leecade commented on #1676
thanks @wcatron I can't find it in v2.0 documents

https://github.com/nnnick/Chart.js/blob/v2.0-dev/docs/02-Line-Chart.md

So, it will be add later?

[2015-11-24 17:14] wcatron commented on #1676
Check in the v2 dev branch docs folder. It has not been pulled into the github pages yet.

[2015-11-24 17:23] leecade commented on #1676
I see, great

[2015-11-24 18:33] wcatron opened #1692 "Consider making scale.ticks only representative of the tick labels."
While commenting the documentation it seems to make some logical sense for the `beginAtZero`, `reverse`, `suggestedMin` and `suggestedMax` options be moved up a level as they define the scale in general not just the tick labels. This would allow for less nesting for some of these basic features. Also it would be easier to document the `ticks` option array as specifically controlling the display pr

[2015-11-24 21:20] juliusl commented on #1688
Hmm interesting, at the time it seems that the canvas is trying to do this:
[code]
while applying the easeOut function.

The values for vm.backgroundColor and vm.opacity are:

[code]

It's weird though because I feel like I'm treating the symptoms of another issue. In any case I'll take a look at that color.js file later this afternoon to see if there are any leads.

Here is a dump of the full vm

[2015-11-24 23:24] etimberg commented on #1683
@tannerlinsley @derekperkins @wcatron can we vote on the word we like the best? I can then open a PR once that happens.

[2015-11-24 23:31] etimberg commented on #1692
@wcatron I agree with separating those settings out. I think at one point we had the scale config something like the one below. I'm not entirely sure why we moved away from that.

[code]

[2015-11-24 23:36] derekperkins commented on #1683
Display

[2015-11-24 23:40] tannerlinsley commented on #1683
keeping in line with css, I vote display

On Tue, Nov 24, 2015 at 4:37 PM Derek Perkins <notifications@github.com>
wrote:

[2015-11-25 00:29] etimberg commented on #1683
Ok, see #1695

[2015-11-25 00:58] etimberg commented on #1688
Thanks for the extra info, I'll have a look. By chance, which easing function are you using?

I logged some data on the actual value being set into `ctx.fillStyle` and what I found was

[code]

I'm guessing this an implementation issue inside the IE/Edge core. I think if we round the opacity to 0 once it is below a certain value it would work . The reason for the colour of the background jumping t

[2015-11-25 02:06] juliusl commented on #1688
I'm using the defaults at the moment. In my repo it's set at `easeOutQuart`.

Thanks for taking the time to gather more info.

[2015-11-25 02:19] etimberg commented on #1688
No prob, I'll try and create a PR for this tomorrow

[2015-11-25 05:53] nareshv commented on #1358
since 2.0 is being worked upon, any progress made on this ?

[2015-11-25 07:28] jantimon commented on #1562
Should you rename it - please also stop calling it `.js`  as RequireJs handles `.js` files differently than modules.

[2015-11-25 09:28] jeetu3indra commented on #920
@JoabMendes, can you please explain a bit more on how to create a global chart instance? Tried a couple of things but did not work.

[2015-11-25 11:41] richl5 commented on #1631
Thank you for responding and updating the documentation. I have tried your suggestion and it does not seem to work - I am using Version 2.0.0-alpha chart.min.js. Testing in Chrome, the y-axis maximum and minimum remain aligned with the data points, rather than the suggestedMax and suggestedMin. Perhaps my usage or syntax is incorrect? Here is my html:

    <!doctype html>
    <html>

    <head>

[2015-11-25 17:48] wcatron commented on #1631
Try using the Version: 2.0.0-beta [chart.min.js](https://github.com/nnnick/Chart.js/blob/v2.0-dev/Chart.min.js). Here's a [jsFiddle](https://jsfiddle.net/vwu49qpt/) with it working.

[2015-11-25 18:58] kabirsikand commented on #1358
Annotations would be a great addition - is this planned for v2.0?

[2015-11-25 19:12] derekperkins commented on #1358
It won't be a part of the initial 2.0 release, but should make it for 2.1.

[2015-11-25 20:05] LittleRolex commented on #128
Nick, the barFill.datasets[0].bars[0].fillColor approach works great, except it resets following tooltip / hover activation.  Is this a feature or issue?  Is there a work-around?

Thanks in advance and Cheers!

Jody

[2015-11-25 21:47] rmnlknv commented on #770
Is it possible to stay and tooltips, and show data on the top of bar not through tooltips?
I'd like to have both of these functionalities.

[2015-11-26 00:33] etimberg commented on #1688
@juliusl I created #1696 to address this issue. Tested against Microsoft Edge 20.10240.16384.0

[2015-11-26 09:41] andi-b commented on #1622
@byCedric This update doesn't appear to have worked for me - I'm using IE11, emulating to IE9 and IE10.

I see the work has been done in the core.helpers.js in the retina function: Do I need to include this file or is this already included within chartjs? And do I need to 'switch on' the option to have it work with Retina displays in order for this fix to work?

Many thanks

[2015-11-26 10:10] grabber24 opened #1697 "api list is hijacked"
I need all APIs to be reset to original. Also need to freeze them from anyone

[2015-11-26 10:15] byCedric commented on #1622
@andi-b Did you tried to _recompile_ or _rebuild_ the main `Chart.js` file?

I did change some code in the `helpers.core.js`, that was the part that multiplied by 0 on old browsers. What resulted in the `width="0" height="0"` issue you described. You don't have to change anything within your configurations since the retina calculations are always executed. Unfortunately, if you want to have this f

[2015-11-26 11:07] Samuel1989 opened #1700 "Combine tooltip descriptions (2.0-Beta)"
Morning,

Previously the tooltips were all combined into one mouse over (e.g. I could hover over a single line on the chart and it would display all of the lines values in a mouse over), it now seems this has been changed to show a single lines mouse over by default.

Is there an option to turn multi line tooltips back on?

Also do you guys use IRC or a mailing group? Or is Github issues the best

[2015-11-26 11:19] Samuel1989 commented on #1700
I actually managed to figure this out by looking at the source. I used the following option if anyone else is interested.

[code]

[2015-11-26 11:26] karmamaster opened #1701 "draw multiple chart on a page."
I need to show multiple chart from data which i get from ajax source. But i don't know why Chart.js only show one chart at a time (actually it is the last one) although i made new dataset as well as new canvas for each chart. Please help me, this is the javascript code which i used to draw chart.

this is the stackoverflow question i have posted, please check this to get more information about thi

[2015-11-26 11:40] Samuel1989 commented on #1700
Although the above gives me a combined overlay... The naming convention for each of the lines appears to be wrong...

e.g. with two lines called A and B with values of 100 and 200, I am seeing the following:
[code]

Any thoughts?

[2015-11-26 13:06] etimberg commented on #1700
@Samuel1989 which version are you using? Beta0?

[2015-11-26 14:05] Samuel1989 commented on #1700
@etimberg I believe so yes, 2.0.0-Beta (although in the Chart.js file it says 2.0.0-alpha, but I downloaded it from the 2.0.0-Beta Release).

Sam

[2015-11-26 15:14] JoannaFalkowska commented on #73
+1

[2015-11-26 16:05] tom808 commented on #1701
Probably want to resolve this issue as fixed now.

[2015-11-27 02:08] karmamaster commented on #1701
Yes, everyone please check the link for my problem if you countered one. Cheers

[2015-11-27 02:08] #1701 closed

[2015-11-27 11:27] richl5 commented on #1631
Thank you - I have just had a look in Chrome and IE 11. The results window shows as blank in both browsers in the jsfiddle.

[2015-11-27 12:52] etimberg commented on #1631
@richl5 I updated [here](https://jsfiddle.net/vwu49qpt/1/)

[2015-11-27 12:56] richl5 commented on #1631
Awesome - the update is working now! Thanks for your help.

[2015-11-27 13:27] Marius2805 commented on #1650
Same Here, any idea where to search for the root cause?

[2015-11-27 15:05] roben opened #1705 "y scale labels cut off with small decimal values"
This applies to the latest dev branch.

When displaying a chart with small decimal y scale values, the y scale gets cut off:
![image](https://cloud.githubusercontent.com/assets/812205/11443794/52f959ea-9520-11e5-8e3d-3f5a10829195.png)

Adding a dataset with a larger values (>10?) increases the margin for the scale and everything is fine:
![image](https://cloud.githubusercontent.com/assets/812205/1

[2015-11-27 16:37] etimberg commented on #1705
Something weird must be happening with `ctx.measureText`

I'll try and take a look. Can you please create a JSbin with the issue?

[2015-11-27 16:42] etimberg commented on #1650
The first step is probably the profiler. I'm guessing the issue is related to either the animation system or the event system.

[2015-11-27 19:54] JoabMendes commented on #920
@jeetu3indra @zurez
I was using AngularJS with my chart. So I could add global instances to my app by
`$scope.myLineChart  = new Chart(ctx).Line()` (Add to my scope a Chart.js instance).

However, if you are using pure javascript as I think you are:
From [this example](https://github.com/nnnick/Chart.js/blob/master/samples/line.html)  in the documentation you can use `window.myLine = new Chart(ctx

[2015-11-27 21:45] Radnik commented on #1705
hi, i can confirm this, 2.0.0 beta zip downloaded today.
allso this can be reproduced if beginAtZero: true,

![capture](https://cloud.githubusercontent.com/assets/15200083/11448428/56af1efc-9558-11e5-9ff9-0ba3f1657106.JPG)

[2015-11-27 22:38] etimberg commented on #1705
The good news is that this was fixed in 7f34d8d
We aren't quite ready to release a beta2, but I'll push up new built `Chart.js` and `Chart.min.js` files now.

[2015-11-27 22:38] #1705 closed

[2015-11-28 13:22] roben commented on #1705
Many thanks for the quick response and the new built! Where is the donation button for beer and pizza? :)

[2015-11-28 16:42] etimberg opened #1706 "Dataset hover mode hovers all datasets"
I put the line sample file into `dataset` hover mode. When hovering a point, all points for both datasets have hover styles applied. I think this should mode should be more like `single` but instead highlight the entire dataset of the point that was actually hovered.

[JSBin](http://jsbin.com/gajaxu/edit?html,js,output)

[2015-11-28 17:12] nvartolomei opened #1707 "Line Chart, Y labels frequency"
Hello,

Is there a way to choose frequency for Y labels? My scale is in % from 0 to 100, and I want to show on Y axis only 3 labels: 0, 50, 100. Any way to achieve this?

Thanks!

[2015-11-28 17:33] etimberg opened #1708 "Dataset tooltip mode shows incorrect results"
Does this mode make sense to have? If so, it should work correctly. I personally don't see the use in allowing tooltips to be in this mode.

[2015-11-29 06:49] thebearjew opened #1709 "gh-pages branch - viewport minimal-ui breaks page on Safari 9.0.1"
The page http://www.chartjs.org/docs/ breaks with error `Viewport argument key "minimal-ui" not recognized and ignored.` on the following line of HTML (docs.html:6:104)

[code]

The broken page screenshot on Safari 9.0.1 running on El Capitan 10.11.1:

<img width="1534" alt="screen shot 2015-11-29 at 12 44 08 am" src="https://cloud.githubusercontent.com/assets/5200812/11455728/8424760e-9632-11e5-9

[2015-11-29 14:39] etimberg opened #1710 "Remove unused V2.x tooltip config options"
Currently the following v2 tooltip options appear unused.

* xOffset
* legendColorBackground

They either need to be made to work or removed from the options.

`legendColorBackground` could probably replace the hard coded `#FFFFFF` on https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/core/core.tooltip.js#L467

[2015-11-29 14:48] etimberg opened #1711 "Animation callbacks should actually be called"
## Configuration
The global configuration has two callback functions.
[code]

## Core Controller
The Core controller attaches different functions from the config to the animation object [here](https://github.com/nnnick/Chart.js/blob/v2.0-dev/src/core/core.controller.js#L247-L248)

The controller will call `onAnimationComplete` if the animation duration is 0 milliseconds.

## Animation Controller
T

[2015-11-29 15:58] etimberg opened #1712 "Remove unused scale config options"
The following scale options are not used. They should either be used or removed.

* ticks.minRotation

[2015-11-29 18:17] ksnediker opened #1714 "Program breaks on 6th chart"
I'm a bootcamp student, so please forgive my newbie language. My project group and I are using chart.js for a survey app that we've created, but we keep running into an issue on our 6th question. We're displaying questions and answer on a page, then rendering the chart. Everything works well until the 6th question and then the chart takes about 30 seconds to render. We've swapped the question out

[2015-11-29 18:50] etimberg commented on #1714
@ksnediker is it possible to create a JSBin / JSFiddle that demonstrates the issue?

I assume you're using version 1.0.2, correct? I haven't seen anything before that take that long to render. Are any of the previous charts animating while the 6th is rendering?

You could try the chrome performance tools and see where most of the time is being spent.

[2015-11-29 18:56] etimberg opened #1715 "Animation of new arcs no longer includes rotational movement"
Previously when adding a new arc to a doughnut chart, the arc would rotate starting from the top and ending up at it's final position. This no longer happens.

Could be a conflict with #1653 Some investigation is required.

[2015-11-29 19:07] Radnik opened #1716 "Tooltip breaks on max bar value"
![capture](https://cloud.githubusercontent.com/assets/15200083/11459327/5d3d61f2-96d4-11e5-877b-f9dee8c004c6.JPG)

Now, bar chart doesn't show value max+1, while line works perfect (dunno if this cutting tooltip has anything with it)

I tried with xOffset: +/-10, overflow: visible, z-index: max ...but it seems with no affect.

any ideas
thx

[2015-11-29 19:29] etimberg commented on #1716
@Radnik do you mean the scale on the left? Seems the scale did not calculate the correct maximum value. Was your data attached to the chart as strings or numbers?

[2015-11-29 19:38] Radnik commented on #1716
@etimberg both charts use same dataset and options. type: 'bar', and type: 'line',

labels: DataLabels.split(', '),
datasets: [{ data: DataNumberCalls.split(', '), ... }]

[2015-11-29 19:46] etimberg commented on #1716
Ok, this seems to be related to #1661

[2015-11-29 19:47] etimberg commented on #1716
are you using the latest built version from the v2.0-dev branch?

[2015-11-29 19:48] Radnik commented on #1716
yes, it's v2.0-dev branch

[2015-11-30 02:45] etimberg commented on #1700
@Samuel1989 sorry for the slow reply. I think this has already been fixed. Could you try the latest built file in the v2.0-dev branch?

[2015-11-30 09:46] Samuel1989 commented on #1700
@etimberg No worries, I will give the latest version a go.

Thanks for the reply.

Sam

[2015-11-30 10:04] Samuel1989 commented on #1700
Just to confirm this has been fixed in the latest development branch.

Thanks again.

[2015-11-30 10:42] wwillms opened #1717 "Overlapping and cropped labels on x-axis (time scale)"
Hi,

in our project we're using Chart.js 2.0 - a very nice library, awesome work! However, we're facing a problem while rendering a lot of data. Our input data contains temperature measurements for period of time. Usually, the chart is rendered fine:

![shot1](https://cloud.githubusercontent.com/assets/4222519/11469396/59cf2c80-9756-11e5-9f7d-8fefd3f13466.png)

But when there is a lot of data, the

[2015-11-30 10:58] wwillms opened #1718 "Localized measurement units for time scale?"
Hi,

is it possible to have localized moment.js patterns for the time units for the time scale (Chart.js V2.0)? Currently, the configuration of time unit patterns (for hour, day, week etc.) are stored in a local variable in the 'TimeScale' object, line 25ff. in file 'scale.time.js'. Unfortunately, they are not really suitable for countries that don't use the anglo-american style of a time expressi

[2015-11-30 15:31] etimberg commented on #1700
Awesome, great to hear!

[2015-11-30 15:31] #1700 closed

[2015-11-30 15:32] etimberg commented on #1717
@wwillms I think this can be fixed together with #1598

I'll see if I can get some ideas on how to do that tonight.

[2015-11-30 15:35] etimberg commented on #1718
@wwillms try setting
[code]

[2015-11-30 15:53] Radnik commented on #1716
@etimberg I can confirm max+1 value works with 2digit values.

Tooltip border radius is 0, it compensate "top cut off" and the overall "look and feel", and it's fine..

![capture](https://cloud.githubusercontent.com/assets/15200083/11476069/0e1d726c-9781-11e5-9d23-0fffd1e7cce9.JPG)
![capture1](https://cloud.githubusercontent.com/assets/15200083/11476288/31744a32-9782-11e5-983f-1cff041bccf7.jpg)

[2015-11-30 15:54] wwillms commented on #1718
Yes, that would be possible but as you already wrote I'll have to know the unit that will fit best regarding canvas width and number of ticks on the x-axis, i.e. calculate the best matching unit on my own.

One of the really cool features of Chart.js v2.0 is the automatic recalculation of the best fitting time scale unit even if the chart is resized in the browser. I think that Chart.js is one of

[2015-11-30 16:37] etimberg commented on #1718
Awesome, I have some ideas on how to handle this. I think we can move the unit strings into the config. That way you can override them when creating the chart. Should be relatively easy to do. I'll try and open a PR for that tonight.

[2015-11-30 16:42] wwillms commented on #1718
Very cool, thanks a lot!

[2015-11-30 17:57] thebearjew commented on #1709
I've cloned the charts repository and I'm currently testing locally on the gh-pages branch on several Safari versions.

A pull request will be opened some time next week (if someone else doesn't get to it before I do).

[2015-11-30 18:27] kennyjwilli opened #1719 "Add Closure compiler externs file"
This would help out those of us using the Google Closure compiler. For reference: https://github.com/google/closure-compiler/wiki/FAQ#how-do-i-write-an-externs-file.

[2015-12-01 01:55] etimberg commented on #1718
@wwillms I created and merged #1720 which I think addresses this issue. I've also updated the built files so that you won't need to. You can now change the display format for any time unit using the following.
[code]

If this works for you, please close this issue :)

[2015-12-01 08:31] wwillms commented on #1718
@etimberg Wow, that was _really_ fast, awesome! I've just integrated that into our project and it works perfectly. Using that configuration:

[code]
Thanks a lot, mate!

[2015-12-01 08:31] #1718 closed

[2015-12-01 15:43] DicconTowns commented on #1717
On a similar subject, and illustrated nicely above, it would be nice if we could get rid of the two extra ticks on the right hand side.

[2015-12-01 15:59] danclaydonpm opened #1721 "Timeline for v2"
Hello.

I was wondering if there is a schedule/plan for updating the v2.0 beta release with the newer commits from the v2.0-dev branch?

[2015-12-01 16:02] etimberg commented on #1721
@danclaydonpm we're hoping to have a beta1 out very soon. The docs have been updated and release notes written. We just need to give everything a final check and then it's good to go.

[2015-12-01 16:24] danclaydonpm commented on #1721
Awesome, thanks for the fast response (and great work, obviously).

I've just just started using the latest built Chart.js from the dev branch for now.

[2015-12-01 16:43] danclaydonpm opened #1722 "v2 Pie chart legend HTML"
If I use the data structure from the example (https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/pie.html), and then call generateLegend() the returned response is a bit squiffy because backgroundColor is an array and it is using the label property of each dataset object.

I don't know if I'm making too many assumptions about the data but I think it makes more sense to use the labels propert

[2015-12-01 17:29] hellhoundsx commented on #928
simple.

Im working with this in my work, so I cant develop too much(cant waste time, deadlines :'( )

So what you do is this:

[code]

[code]

[2015-12-01 22:25] davis commented on #1614
+1. I feel like in 2.0 using Chart.js as a module should be the default usecase as build systems such as browserify/webpack and module loaders such as systemjs become the norm.

[2015-12-01 22:32] davis commented on #1479
how do you use chartjs as a module? i find it relies on moment.js to be on the window object. is there a way to get around this?

[2015-12-01 23:15] etimberg commented on #1614
@davis agreed. I've had a look at the issue, not sure what the best way to compile to code on our end is. Right now we just concatenate all the source files together into one larger file. The options I see are
* Add proper AMD headers to all source files
* Change the build to put all of the files into a single IIFE with a proper AMD header

I'm not sure which is the better option for consumers of

[2015-12-02 00:08] gfarrell commented on #1614
Universal Module Definition is designed to solve this problem. The build system of the application itself can compile everything which would allow for more efficient deduplication. Chart.js doesn't need to be compiled unless accessed via a CDN.

On Tue, Dec 1, 2015 at 3:15 PM -0800, "Evert Timberg" <notifications@github.com> wrote:

@davis agreed. I've had a look at the issue, not sure what the be

[2015-12-02 02:18] shangdiyisi opened #1723 "How to update dataset label?"
<c:forEach items="${lineChart.dataSets}" var="dataSet" varStatus="status">
		myLine.data.datasets[${status.index}].label = '${dataSet.label}';
		console.info(myLine.data.datasets[${status.index}].label);
	</c:forEach>
	myLine.update();

	The 3 line console the right label,but the line all label are the first label

[2015-12-02 02:21] etimberg commented on #1717
@wwillms I have a PR for this in #1724

[2015-12-02 02:21] etimberg commented on #1598
@stephanarts I have a PR for this in #1724

[2015-12-02 02:46] etimberg commented on #1614
@gfarrell good call, don't know why I forgot about that :stuck_out_tongue:

I think I can probably whip something up in the next few days unless someone else is already planning on doing this.

[2015-12-02 03:33] shangdiyisi commented on #1723
![qq 20151202113241](https://cloud.githubusercontent.com/assets/5936448/11521579/70596aae-98e8-11e5-96c7-fa2271c6c05d.jpg)

datasets : [ {
                label: "request_amount",
                data: [],
                fill: false
            }, {
                label: 'click_amount',
                data: [],
                fill: false
            }, {
                label: "active_amount",

[2015-12-02 04:14] davis opened #1725 "beginAtZero gets disabled when running .update() (v2 beta)"
rendering the chart initially works fine but when i change the data and do a chart.update()

my chart goes from looking like this:
![screen shot 2015-12-01 at 8 10 34 pm](https://cloud.githubusercontent.com/assets/4855619/11522035/a19adaa2-9867-11e5-88ed-d26e6dc5c680.png)

to this:
![screen shot 2015-12-01 at 8 12 58 pm](https://cloud.githubusercontent.com/assets/4855619/11522067/f36496ca-9867-11e

[2015-12-02 07:07] shangdiyisi commented on #1723
label: function(xLabel, yLabel, index, datasetIndex, data) {
	return this._data.datasets[datasetIndex].label + ': ' + yLabel;
}

The argument datasetIndex always 0??

[2015-12-02 10:37] chenqing opened #1730 "v2.0 and npm"
I use npm in my frontend work and use webpack  , when release v2.0  in npm  ?

[2015-12-02 12:31] etimberg commented on #1712
This has been fixed.

[2015-12-02 12:31] #1712 closed

[2015-12-02 13:58] justanotheranonymoususer opened #1731 "v2 beta: tooltips are sometimes truncated"
![](http://i.imgur.com/uRqTMwR.png)

[2015-12-02 16:41] stephanarts commented on #1598
Nice, I hope I have the time to check this this week.

[2015-12-02 17:56] icb77 opened #1732 "v2 Beta: How can use the pointDot property"
I dont like to view the dotpoints, i do this but the point is there

                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: Datos,
                    options: { pointDot: false }
                });

[2015-12-02 21:08] omar-sr88 commented on #1732
Need the same solution, pointDot on 2.0 isn't working.

[2015-12-02 21:34] omar-sr88 opened #1733 "Ticks userCallback labels behavior skipping, changing on resize"
My x-axis data is an array with dates in the format "yyyy-mm-dd" and my idea is to write, using a callback function, the month of certain dates. What I try to do is write when a month changes.

Done in v2.0 beta-1

Here is the configuration used for it:

[code]
I first tried with Responsive = false and I got
![chart1](https://cloud.githubusercontent.com/assets/1693147/11544856/f22d1f78-9922-11e5-8

[2015-12-03 00:48] shangdiyisi commented on #1723
<!doctype html>
	<html>

	<head>
	    <title>Line Chart with Custom Tooltips</title>
	    <script src="../Chart.js"></script>
	    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
	    <style>

	    #chartjs-tooltip {
	        opacity: 1;
	        position: absolute;
	        background: rgba(0, 0, 0, .7);
	        color: white;
	        border-radius: 3px;
	        -webkit-transi

[2015-12-03 00:48] shangdiyisi commented on #1723
<!doctype html>
	<html>

	<head>
	    <title>Line Chart with Custom Tooltips</title>
	    <script src="../Chart.js"></script>
	    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
	    <style>

	    #chartjs-tooltip {
	        opacity: 1;
	        position: absolute;
	        background: rgba(0, 0, 0, .7);
	        color: white;
	        border-radius: 3px;
	        -webkit-transi

[2015-12-03 00:55] shangdiyisi commented on #1723
![qq 20151203085421](https://cloud.githubusercontent.com/assets/5936448/11548842/8ce84696-999b-11e5-8b03-519593294225.jpg)

[2015-12-03 01:37] etimberg commented on #1723
@shangdiyisi can you try the beta1 release from yesterday?

[2015-12-03 02:04] shangdiyisi commented on #1723
@etimberg   Yes, I use the newest Chart.js,  but problems still exist.

[2015-12-03 02:15] shangdiyisi commented on #1723
Sorry, I tried the newest one and it is ok! Thanks.

[2015-12-03 02:19] etimberg commented on #1723
Great to hear!

[2015-12-03 02:19] #1723 closed

[2015-12-03 02:59] shangdiyisi opened #1735 "I think there is something wrong in the method tooltips.callbacks.afterBody"
The arguments of this method might be wrong.

PS: I am using the newest 2.0.0.

[2015-12-03 03:18] etimberg commented on #1735
@shangdiyisi what arguments are you getting? It looks to be called the same way as the other callbacks.

[2015-12-03 03:22] etimberg commented on #1614
@gfarrell If possible, can you try out the UMD build I proposed in #1736

[2015-12-03 03:42] shangdiyisi commented on #1735
The arg of dataof afterBody  is null !

[2015-12-03 05:37] shangdiyisi opened #1737 "How to set tooltips's width and height?"
How to set tooltips's width and height?

[2015-12-03 05:46] shangdiyisi commented on #1737
![qq 20151203134629](https://cloud.githubusercontent.com/assets/5936448/11552857/4a9239c2-99c4-11e5-8bc7-c43932bd2ff2.jpg)

[2015-12-03 08:27] wwillms commented on #1717
@etimberg your solution looks pretty nice, will integrate that into our project and give you some feedback.

[2015-12-03 08:51] shangdiyisi commented on #1737
footer is ok, afterLabel is not ok.

[2015-12-03 09:18] wwillms commented on #1717
@etimberg works like a charm, thumbs up! Just tried it out with some test data. Before:

![shot3](https://cloud.githubusercontent.com/assets/4222519/11556200/77520272-99a5-11e5-9fc7-3ab03e4eae18.png)

... and after:

![shot4](https://cloud.githubusercontent.com/assets/4222519/11556216/8672f00e-99a5-11e5-9db5-a6a1ee593094.png)

Number of labels on the x-axis is reduced and the labels are not croppe

[2015-12-03 09:18] #1717 closed

[2015-12-03 12:49] etimberg commented on #1737
Hmm, this should be calculated automatically. I'll take a look.

[2015-12-03 12:51] etimberg commented on #1717
@wwillms great to hear that it works on real data :)

[2015-12-03 21:47] juliusl commented on #1688
Sorry I've been on holiday. I'll give this a spin today. Thanks for looking into this.

[2015-12-03 22:04] wadacoder commented on #1451
Agreed, explodable pie slices or explode the selected slice is a very much needed feature. I am able to create a drilldown effect by editing the segments, but not the radius or stokeWidth.

[2015-12-03 22:21] juliusl commented on #1688
It looks like that fixed it! Yay!

It looks like some changes I picked up broke resizing so I'll need to investigate that. Closing for now. Cheers.

[2015-12-03 22:21] #1688 closed

[2015-12-03 22:30] etimberg commented on #1688
Great that it's fixed. Hopefully nothing is too borked with the resizing. I don't recall playing with it recently.

[2015-12-03 22:40] etimberg commented on #1683
Closing since #1695 was merged

[2015-12-03 22:40] #1683 closed

[2015-12-03 23:09] etimberg commented on #1300
@heruan I think this was fixed with the addition of proper UMD headers in #1736

[2015-12-03 23:12] etimberg commented on #1641
Closing since v2.0.0-beta1 was released with a fix.

[2015-12-03 23:12] #1641 closed

[2015-12-03 23:20] etimberg commented on #1648
Closing since I think this was fixed

[2015-12-03 23:20] #1648 closed

[2015-12-03 23:37] etimberg commented on #1735
Can reproduce the bug on my end

[2015-12-03 23:47] etimberg commented on #1735
@shangdiyisi see #1738

[2015-12-03 23:52] etimberg commented on #1721
@danclaydonpm A beta1 version has been released.

[2015-12-03 23:52] #1721 closed

[2015-12-04 02:24] etimberg commented on #1725
Can you please create a JSFiddle demoing this. I have some ideas on what the issue might be.

[2015-12-04 02:32] etimberg commented on #1638
@MakersF Can you try and reproduce this issue again? I think the flicker was fixed in #1696 which shipped in the beta 1 release.

[2015-12-04 03:07] MakersF commented on #1638
@etimberg Looks like it works!
Attached the video (change the extension to mp4)
[fliker.mp4.txt](https://github.com/nnnick/Chart.js/files/51611/fliker.mp4.txt)

[2015-12-04 03:15] etimberg commented on #1638
:D great to hear

[2015-12-04 03:15] #1638 closed

[2015-12-04 03:18] shangdiyisi commented on #1735
Thanks.I am using 'footer ' method instead of this method now.

[2015-12-04 03:18] etimberg commented on #1672
@jt4000 this will be fixed when the v2.0-legend branch is merged into v2.0-dev.

A snapshot of what we have so far:
![legend-line](https://cloud.githubusercontent.com/assets/6757853/11581054/c585ecea-9a0b-11e5-84f9-7d6bf807272b.png)

[2015-12-04 03:28] etimberg commented on #1722
@danclaydonpm I believe that this was fixed in v2.0.0-beta1

[2015-12-04 09:38] ignaciohita commented on #395
pointDot: false not working for me in 1.0.2, and pointDotRadius: 0 neither.
Just in case somebody can find it useful, what I have done is to draw the dots in the same color with alpha 0:

[code]

[2015-12-04 11:22] DONSA commented on #1370
Same here...

[2015-12-04 11:39] aommm commented on #1265
+1, this would be useful.
Btw, thanks @SamMcKay, your workaround works fine for me!

[2015-12-04 12:38] zup1 opened #1739 "Possibility to use series with Date"
In file core.scale.js in function getRightValue I have inserted the test of the type Date so the series can contains in the x axis a value of type Data.
The series contains values as follow:
[{ x: new Date(10), y: 1 }, { x: new Date(20), y: 2 }, { x: new Date(30), y: 3 }, { x: new Date(40), y: 4 }]

		getRightValue: function getRightValue(rawValue) {
			// Null and undefined values first
			if (ra

[2015-12-04 13:12] Rydori95 opened #1740 "No Axis shown when gridLines.drawOnChartArea is false in Chart JS bleeding Edge"
I tried to get rid of the grid lines. but when i try to, the axis also won't show. (The ticks are visible but the axis itself x and y have no line). Is it possible to only draw the axis itself without drawing all the other grid lines?
the following Code is my config for the Chart
<code><pre>  var config = {
            type: 'line',
            data: {
                datasets: [{

[2015-12-04 13:25] mariussoutier commented on #634
+1, also the title should update when `chart.update()` is called.

[2015-12-04 13:38] etimberg commented on #1740
I'm not sure i understand fully, which lines aren't showing up?

[2015-12-04 13:39] Rydori95 commented on #1740
the horizontal line of the x-Axis on which the ticks should be and the vertical line of the y-axis

[2015-12-04 13:51] heruan commented on #1300
Hm, I tried installing with `jspm install chart@v2.0-dev` and I get:
[code]

[2015-12-04 13:58] etimberg commented on #1740
Ah ok, i understand. Should be a relatively easy fix

[2015-12-04 14:39] etimberg commented on #1300
Ok, will look into this further

[2015-12-05 15:00] etimberg commented on #1715
Fixed in #1742

[2015-12-05 15:00] #1715 closed

[2015-12-05 15:01] etimberg commented on #1706
Fixed in #1741

[2015-12-05 15:01] #1706 closed

[2015-12-05 15:01] etimberg commented on #1735
Closing since the fix has been merged.

[2015-12-05 15:01] #1735 closed

[2015-12-05 15:32] etimberg commented on #1650
@alfadog67 I played around with both Firefox 42 and Chrome 47. If I simply let the page sit, nothing in Chart.js is running. Firefox's own performance tool shows the frame rate dropping during scrolling, but there is no JS running at that point. Do you have any more details that may help tracking down the problem?

[2015-12-05 15:44] etimberg commented on #1576
Fixed in #1743

If `options.animation` is set to `false` no animation will take place.

[2015-12-05 15:44] #1576 closed

[2015-12-06 02:57] etimberg commented on #1733
@omar-sr88 the skipping behaviour is expected. It was built in to allow filtering of the ticks. Return an empty string to show the grid lines.

Alternatively you could use the time scale and then set `time.unit` to `'month'` in your config.

[2015-12-06 06:46] jt4000 commented on #1672
Very NICE!

[2015-12-06 12:21] stephanarts commented on #1598
Nice, I love it. I think it works nicely.
![screen shot 2015-12-06 at 13 19 28](https://cloud.githubusercontent.com/assets/1883548/11613298/34e2a800-9c1c-11e5-8264-30242ae84a89.png)

[2015-12-06 12:21] #1598 closed

[2015-12-07 12:55] webnailed commented on #428
in the Modular doughnut example above which is on the chartJS home page, I can replicate everything other than making the segments highlight when hovering on the legend items.  How is this achieved?

[2015-12-07 18:14] andi-b opened #1746 "v2 beta Custom tool tip"
I have just updated to the latest beta version and have almost done so without issues. What I'm trying to achieve is have the custom tooltip background change to the colour of the bar or line(having the same issue with both). I had this working before the latest beta update, but what is now happening is it stays black but occasionally will work, but only if the dots or bars are close together.

I

[2015-12-07 18:17] ruleb commented on #73
+1

[2015-12-07 20:08] etimberg commented on #1739
Closing since #1744 was merged.

[2015-12-07 20:08] #1739 closed

[2015-12-07 20:08] etimberg commented on #1466
Closing since #1744 was merged

[2015-12-07 20:08] #1466 closed

[2015-12-07 22:44] anthonyvialleton opened #1748 "Using unicode character for labels with only one dataset fails"
Hello,

Based on that closed issue : https://github.com/nnnick/Chart.js/issues/401

Displaying unicode characters with FontAwesome is not working on the tooltip when we have only 1 dataset into the Bar Chart.

Here is the jsfiddle that reproduces the issue : http://jsfiddle.net/hwr2m55v/

Based on my jsfiddle example I also need a way to hide X & Y axis and only let the X labels (unicode). Is that

[2015-12-07 23:24] etimberg commented on #1710
Closing since #1745 was merged

[2015-12-07 23:24] #1710 closed

[2015-12-07 23:30] ctbolton commented on #920
@JoabMendes  any chance you'd be able to post up a complete JSBin example with the fix you described.  I can't seem to get mine working properly.  Would greatly appreciate it.

[2015-12-08 01:46] YerkoPalma commented on #394
So is this up to date? I need the [radar](http://www.chartjs.org/docs/#radar-chart) chart in npm module pls :)

[2015-12-08 01:53] etimberg commented on #1748
@anthonyvialleton I got it working by adding
`tooltipFontFamily: "'FontAwesome",` to your config

[2015-12-08 01:53] #1748 closed

[2015-12-08 03:23] etimberg commented on #1672
@jt4000 see #1750

[2015-12-08 03:30] etimberg commented on #54
See #1750

[2015-12-08 03:34] davis commented on #1725
https://jsfiddle.net/fdfru161/1/

[2015-12-08 06:59] zurez commented on #920
@JoabMendes  : Thanks , but there is a problem with destroying chart manually. If using the same canvas, the chart is not recreated automatically if new data is parsed after manual chart destruction.
P.S: your method works though with a little modification. :+1:

[2015-12-08 07:02] zurez commented on #920
Also the timeout fix worked for me . thanks @ifokeev :+1:

[2015-12-08 09:28] anthonyvialleton opened #1751 "Remove grid borders and increase labels size"
I want to know how to hide grid X/Y axis but keeping only the X axis labels (unicode characters in my example) and I need to increase labels font size

Here is the jsfiddle : http://jsfiddle.net/cwe4c8gy/

Thanks!

[2015-12-08 10:19] ShaneJim opened #1752 "Is it available to add some data one the tooltip?"
![123](https://cloud.githubusercontent.com/assets/11598468/11653181/5392b4b8-9dd7-11e5-8c99-7dfc01030a99.png)

I want to add some data after 59,48,52. Thank you.

[2015-12-08 11:09] andi-b commented on #1746
I've been able to fix this by doing:

[code]

[2015-12-08 13:12] etimberg commented on #1752
@ShaneJim this is possible in the beta of v2.

This [sample](https://github.com/nnnick/Chart.js/blob/v2.0-dev/samples/tooltip-hooks.html) shows how to use it. If you need to stay with v1, I would recommend using custom tooltips.

[2015-12-08 13:12] #1752 closed

[2015-12-08 13:12] etimberg commented on #1746
Glad you found a solution :)

[2015-12-08 13:12] #1746 closed

[2015-12-08 13:15] etimberg commented on #1751
You can change the scale font size with the `scaleFontSize` option in your config. The default is 12.

There is no way to hide the rest of the grid lines (other than what was done in your jsfiddle).

[2015-12-08 13:47] anthonyvialleton commented on #1751
great thanks you!

Hidding X/Y axis will be a feature in v2.x ? If not are you planning to add it ?

[2015-12-08 13:59] ShaneJim commented on #1752
@etimberg  ok,thanks a lot.I will try it.

[2015-12-08 14:58] krishnakanthpps opened #1753 "Real time Updates,"
Hi Guys,

I am looking for a charting js which can able to do a real time update from a csv or xml or json log files.

Can I use chart.js for it? Is there an example for extracting from a csv or log file.

Thank you in advance.
Krishna Kanth

[2015-12-08 15:16] Gcampes commented on #73
Any news on this? It seems that a lot of people want this feature.

[2015-12-08 20:00] Marius2805 commented on #1650
Unable to reproduce the problem.
Testet with Chrome 47.

[2015-12-08 20:04] Andrew-Max opened #1754 "Are line chart fills always supposed to fill down and right?"
I have this question up with more detail on stackoverflow at: http://stackoverflow.com/questions/34161616/chart-js-line-graphs-fill-area-above-line-as-opposed-to-below-and-to-the-right?noredirect=1#comment56075183_34161616

I have a chart.js which displays two different lines, on which will always be positive and one which will always be negative.

I want to visualize the area between both lines a

[2015-12-09 00:59] etimberg commented on #1725
@davis I found this issue. See #1755

[2015-12-09 03:27] etimberg commented on #1754
@Andrew-Max I think v1 always fills to the bottom. V2 will fill to the 0 point if it exists. Otherwise the top will be used if the data is negative and the bottom will be used if the data is positive.

[2015-12-09 15:08] Saschafeldmann commented on #1254
Hi kadosh
i am using Angular-Chartjs - Does your workaround also works on that ? When i replace the code snippet with your ones, it does not working...

[2015-12-09 15:23] benjiew opened #1757 "Logarithmic scale in v2.0 beta errors on 0 data values"
When setting up a line chart using a logarithmic scale in v2.0 beta, if any data values are 0 then the chart fails to render.

If I amend these values to 0.1 for example, the chart renders ok.

[2015-12-09 16:35] Saschafeldmann commented on #786
Does anybody have a solution on that ? I am searching the same...

[2015-12-09 17:20] etimberg commented on #1757
@benjiew log(0) is not defined. It does not make sense to have a log scale in this case.

[2015-12-09 17:24] birgersp opened #1758 "Line charts with multiple datasets should have legends created by default"
Hi all,

Having to fiddle to get legends for my charts are, in my personal opinion, a real drawback of this library. A line chart without a legend is a somewhat useless one. Therefore, I think there should be a feature in this library to automatically add legends in charts, and I think it should be enabled by default.

I am aware that I can use ".generateLegend()" on my chart, but why would I want

[2015-12-09 17:35] birgersp opened #1759 "Label backgrounds in generated line chart legend are not colored"
Hi,

I am guessing the text from a label of a generated legend should be inside its corresponding <span>-element, to make the text colored in accordance with the dataset.

Right now, it appears that the text is outside the <span>-element. Thus, the text background is not colored. I attached a screenshot to show how a generated legend looks right now.

![bug](https://cloud.githubusercontent.com/ass

[2015-12-09 17:46] #1757 closed

[2015-12-09 18:50] etimberg commented on #1758
@birgersp check out #1750 which should be merged soon.

[2015-12-09 18:53] birgersp commented on #1758
Should have looked in the pull requests, thank you.

[2015-12-09 18:53] #1758 closed

[2015-12-09 20:42] etimberg commented on #1758
No worries, the pull request is for version 2 which is still in beta. If you're able, using the beta is probably best since it has many fixes over v1. However the config is significantly different which means it's not a simple drop in replacement

[2015-12-10 07:28] birgersp commented on #1758
I'll start using the beta, then. Currently I've only created one chart so the upgrade should be pretty easy. Thanks again

[2015-12-10 08:25] dylmye opened #1760 "legend how-to"
Hi. I'm just migrating to the v2 beta because of #592. I'm trying to figure out how to create a legend but as your beta docs doesn't provide an example anymore I have no clue. [Here's my JSFiddle](http://jsfiddle.net/bkk6f5p0/) showing an excerpt of my code. Thanks!

[2015-12-10 09:37] olyckne commented on #1730
Any ETA on this?

[2015-12-10 09:44] guruparthi19 opened #1761 "Display values outside of pie chart"
Now when i hover on pie chart, the values are displayed in tooltip. But i want to display values outside of pie chart. How to do this? I've attached screenshot. Please find it.
![piechart](https://cloud.githubusercontent.com/assets/7565995/11712059/ad883a5e-9f50-11e5-808d-be70143c5a6d.png)

[2015-12-10 10:05] guruparthi19 commented on #770
Good functions. Is it possible to display values outside of chart in pie chart?
I want to make chart like below image:
![piechart1](https://cloud.githubusercontent.com/assets/7565995/11712500/92190886-9f53-11e5-8e24-debb70057c13.png)

[2015-12-10 12:29] etimberg commented on #1758
Awesome, let me know if you run into any issues. We have docs for v2 hosted at http://nnnick.github.io/Chart.js/

[2015-12-10 12:30] etimberg commented on #1760
@dylmye you can use `generateLegend` to generate a legend similar to v1. Alternatively, take a look at #1750

[2015-12-10 13:00] gfarrell opened #1762 "Making Line chart use straight lines rather than bezier curves"
This isn't documented, but I'm assuming that `tension: 0` (or maybe `tension: 1`?) will make the lines straight?

[2015-12-10 13:00] gfarrell commented on #1762
(in version 2)

[2015-12-10 14:03] etimberg commented on #1762
Tension 0 creates straight lines.

[2015-12-10 14:47] gfarrell commented on #1762
No it doesn't. You must be doing something equivalent to `tension = tension || someDefault` where `tension` is checked for being falsy. `tension = 0` results in the default tension of 0.4 being used, while `tension = 0.001` results in straight lines.

Problems in [controllers/controller.line.js](src/controllers/controller.line.js) (149, 243) and [controllers/controller.radar.js](src/controllers/co

[2015-12-10 17:02] dylmye commented on #1760
I looked at #1750 and copied the global options, then added it to the JSFiddle. Here's my "legend".
[code]
[See here](http://jsfiddle.net/bkk6f5p0/2/)

[2015-12-10 17:21] etimberg commented on #1760
@dylmye did you attach a new built version of chart.js? Since that PR hasn't been merged yet, you won't have the code to build the legend yet.

[2015-12-10 19:44] Andrew-Max commented on #963
Any updates on this. Tooltips seems to be off center for me with as few as 45 data points.

[2015-12-10 20:41] pranshu792 commented on #963
Refer #521.. It's fixed there.

[2015-12-10 20:54] dylmye commented on #1760
Ah right. I'll try the generateLegend method. Thanks!

[2015-12-10 21:31] stereoa commented on #1754
I am trying to fill away from 0. I've spent about 6 hours today trying to figure out how to extend the Line element and do something like this.

[2015-12-11 06:21] eyworldwide opened #1763 "how to generate the doc"
The doc (http://www.chartjs.org/docs/) is very beautiful, but how to generate the doc?

[2015-12-11 06:59] Exor commented on #1461
I'm also looking for this functionality.

The scale.ticks.suggestedMin and scale.ticks.suggestedMax options don't work for radar charts because it uses radial linear scale.

[2015-12-11 08:45] cuongpro2511 commented on #17
@derekperkins + @etimberg  Thanks!

[2015-12-11 09:22] cuongpro2511 commented on #184
@Wikunia Just works on Line2Y but not works on Overlay2Y :cry:

[2015-12-11 10:36] firnasz commented on #920
Thanks @JoabMendes. I created global object like below on top.
[code]
Then just before initializing the chart i destroyed as follows.
[code]

[2015-12-11 11:54] ashiefk opened #1764 "Chart.js : pie chart doesn't provide dynamic colors"
In my case i will be having a set of data (unlike the no.of data) like
{
					value: 300,
                                        label: "Earnings1"
				},
				{
					value: 50,
					label: "Earnings2"
				}
but i can't generate color's for each data. Is there any method to generate different colors for each data?

[2015-12-11 12:46] etimberg commented on #1754
@stereoa are you using v1 or v2?

[2015-12-11 12:46] gfarrell opened #1765 "Stop graph animating new points (2.0)"
I have time series data which I'm pumping into `Chart.Line`. The data are windowed (so, say, only one minute's worth of data are displayed). When new data come in, the data points animate in the y-axis, which is confusing because it suggests the data themselves are changing, when actually we are "scrolling" along the x-axis (if anything they should animate in the x-axis).

I'd like to disable this

[2015-12-11 12:47] etimberg commented on #1763
@eyworldwide the documentation is generated using Jekyll. If you take a look at the gh-pages branch, you can see how it is created.

[2015-12-11 12:47] #1763 closed

[2015-12-11 12:50] gfarrell commented on #1765
Ok, I've done

[code]

which seems to work and according to `src/core/core.controller.js` also removes the overhead of animating at all.

[2015-12-11 12:50] #1765 closed

[2015-12-11 12:57] gfarrell opened #1766 "x-axis labels cut off in window"
I have the chart set to being responsive, and have some padding on its container, but the y-axis labels get cut off (their length must not be being properly defined).

![image](https://cloud.githubusercontent.com/assets/314331/11744257/baebb336-a006-11e5-8508-6d2c1e3c8a59.png)

[2015-12-11 13:11] olyckne opened #1767 "Setting min and max values on yAxes?"
Is there a way to setting min and max value? suggestedMin and suggestedMax isn't really doing it for me.

I'm doing a popularity chart for products, and as you can see on the two charts it's just confusing when they're showing different values on the y axes.

![product 1](https://cloud.githubusercontent.com/assets/1079027/11744245/073e1186-a00f-11e5-81d8-e2c28acc32d8.png)
![product 2](https://clou

[2015-12-11 13:17] etimberg commented on #1766
Interesting, I've seen that before but I thought it was fixed.

[2015-12-11 13:18] etimberg commented on #1767
Definitely on our todo list. I'd be happy to look over a PR for this.

[2015-12-11 13:55] olyckne commented on #1767
Cool. I'll take a stab at it.

[2015-12-11 19:06] nebadom opened #1768 "How to trigger the tooltip from legend"
I have tested the old V1. Works good except for the fact that if the chart wrapper is not visible upon start, then the canvas doesn't gets drawn. Which is a pretty big problem for me. But this is the event listener I was using with chart.js V1:

		// Include a html legend template after the module doughnut itself
		helpers.each(legendHolder.firstChild.childNodes, function(legendNode, index){
			he

[2015-12-11 19:23] bedenko opened #1769 "bar multi axis line"
There is line missing for second Y-axis.
In provided sample **bar-multi-axis.html** the right line is not visible.

Is this something, that can be enabled with settings, or a bug?

[2015-12-11 19:40] etimberg commented on #1769
@bedenko this looks like a bug.

[2015-12-11 20:12] etimberg commented on #1768
I was able to make this work, generally, using the following code inside of the doughut sample.

[code]

It would be much nicer to have a function do this, so I'm tagging as an enhancement.

[2015-12-11 20:31] nebadom commented on #1768
If you tag this as an enhancement, please also add the mouseout event:

		Chart.helpers.each(document.getElementById('legendContainer').firstChild.childNodes, function(legendNode, index) {
			Chart.helpers.addEvent(legendNode, 'mouseover', function() {
				var activeSegment = window.myDoughnut.data.datasets[0].metaData[index];
				window.myDoughnut.tooltip.initialize();
				window.myDoughnut.toolt

[2015-12-11 20:37] #1768 closed

[2015-12-12 00:11] sroussey commented on #1548
Unfortunately, Chart.js uses `new Function` for templating. You will have to change your content security policy to be less safe.

This also is an issue with using this lib in Chrome extensions.

[2015-12-12 00:57] etimberg commented on #1548
The good news is that if you can use v2, this problem will be solved. We've removed the template engine and instead allow passing callback functions to generate text.

[2015-12-12 01:53] derekperkins commented on #1672
Closed by 42976724241907797f341a5db7c4b7f47887b18b

[2015-12-12 01:53] #1672 closed

[2015-12-12 01:53] derekperkins commented on #54
Closed by 42976724241907797f341a5db7c4b7f47887b18b

[2015-12-12 01:53] #54 closed

[2015-12-12 01:53] derekperkins commented on #1760
Closed by 42976724241907797f341a5db7c4b7f47887b18b

[2015-12-12 01:53] #1760 closed

[2015-12-12 05:39] cuongpro2511 commented on #535
same problem with @tracycollins , tooltip not working if use datasetLabel.

[2015-12-12 07:30] levithomason opened #1772 "Uncaught SyntaxError: Unexpected token ="
Experienced similar issues as described in #1116 and #1335.  Version `1.0.2` via cdnjs.  Here was the stack trace:

[code]

Looking at `tmpl` I see it is a string template function from John Resig's blog.  Debugging I found the offending template.  I had converted the default settings shown in the docs to single quotes incorrectly:

[code]

Fixing the quotes and the whitespace issue resolved the e

[2015-12-12 07:58] levithomason commented on #1772
Worth mentioning, I ran the offending template string through [`lodash.template`](https://lodash.com/docs#template) and it outputs the template string itself if it could not parse it.  It is ~180 SLOC and can be installed as a standalone dep without the whole lodash lib `npm i lodash.template`.  Just a thought.

[2015-12-12 13:17] utsavmistry1056 opened #1773 "How can i add new dataset in existing datasets"
I want to add dataset dynamic.So how can i add new dataset in existing datasets